﻿@model CR.CGC.GuiasScoutsWeb.Models.SendFaqViewModel

<div id="ToAdd_Section" class="form_container g_s1024_50p g_s240_100p pad_r_2_1024_st pad_t_15">
    @Html.Action("GetFAQ", "Configuration", new { model = Model })
</div>

<div id="Aggregates_Section" class="pad_t_5_1024_st g_s1024_50p g_s240_100p absolute_tr_1024_st h100p pad_t_2_240_st">
    @Html.Action("GetFAQS", "Configuration", new { FaqModuleId  = Model.FaqModuleId})
</div>




