﻿@model Entities.Faq

@using (Ajax.BeginForm("SaveFAQ", "Configuration", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "CreateContainer",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",

}, new { OnBegin = "OnBegin", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.Hidden("AlertTitle", "Preguntas frecuentes", new { @id = "AlertTitle" })
    @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

    @Html.HiddenFor(m => m.FaqId)

    <div class="mar_b_2">
        <div class="italic c_black fs_12">Módulo</div>
        <div class="hide">
            @Html.DropDownListFor(m => m.Type, (SelectList)ViewBag.ModulesList, "Seleccione una Opción", new { @id = "TypeModule", @name = "TypeModule", placeholder = "Módulo del sistema", selectDisabled = true })
        </div>
        <div id="TypeModuleSelectDiv"></div>
        <p id="TypeModule-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent w100p" aria-hidden="true">Este campo es requerido.</p>
    </div>

    <div class="text-left">
        <div class="italic c_black fs_12">Pregunta</div>
        <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
            @Html.TextBoxFor(m => m.Question, new { @id = "Question", @class = "mdc-text-field__input fs_1", required = true, aria_controls = "Question-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
            @Html.LabelFor(m => m.Question, "Ingrese la pregunta", new { @for = "Question", @class = "mdc-text-field__label" })
            <div class="mdc-line-ripple"></div>
        </div>
        <p id="Question-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
    </div>

    <div class="text-left">
        <div class="italic c_black fs_12">Respuesta</div>
        <div class="mdc-text-field mdc-text-field--textarea w100p msn_text" data-mdc-auto-init="MDCTextField">
            @Html.TextAreaFor(m => m.Answer, new { @id = "Answer", @class = "mdc-text-field__input fs_1", cols = "30", rows = "9", required = true, aria_controls = "Answer-helper-text", MaxLength = "500", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
            @Html.LabelFor(m => m.Answer, "Ingrese la respuesta", new { @for = "Answer", @class = "mdc-text-field__label" })
            <div class="mdc-line-ripple"></div>
        </div>
        <p id="Answer-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
    </div>

    <div class="inline_divs v_mid_all w100p">

        @if (Model.FaqId != null)
        {
            if (Model.FaqId != 0)
            {
                <a class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2 pointer" onclick="ToEditFaq(0, document.getElementById('TypeModule').value)" id="BtnCancel">Cancelar</a>
                <div class="mdl-tooltip" for="BtnCancel"><strong>Cancelar edición</strong></div>
            }
        }

        <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
            <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
        </button>

        <div class="mdl-tooltip" for="BtnSave"><strong>Guardar pregunta</strong></div>

    </div>
}



