﻿@{
    ViewBag.Title = "Preguntas frecuentes";
}

@Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
@Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

<!-- navigation -->
<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>@ViewBag.Title</span>
</div>

<div class="content_wrap_body">

    <div id="GridFAQs">
        @Html.Action("GetGridFAQs", "Configuration")
    </div>

</div>
