﻿@using CR.CGC.GuiasScoutsWeb.Common
@model List<Entities.Logbook>
@{
    List<DateTime> DayList = Model.GroupBy(x => x.ActionDate.Date).Select(x => x.Key).OrderByDescending(x => x).ToList();
    List<Entities.Event> Events = (List<Entities.Event>)ViewBag.EventList;
}

@if (Model.Count > 0)
{
    foreach (var day in DayList)
    {
        <div class="pad_t_3">
            <div class="btn_ovalo bck_body uppercase bold pad_lr_09 c_gray inline fs_07">@(day.Date == DateTime.Now.Date ? "Hoy" : day.ToString("dd \\de MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("es")))</div>
        </div>

        foreach (var record in Model.Where(x => x.ActionDate.Date == day.Date && x.LogbookDetails.Where(y => y.NewData != null).ToList().Count > 0).OrderByDescending(x => x.ActionDate).ToList())
        {
            <div class="pad_t_2">
                <div class="relative column_container v_bottom_all pad_l_3_480_st">

                    <div class="g_s240_100p g_s480_auto pad_b_05 pad_b_0_480_st">
                        <span class="block relative absolute_480_st left_0_480_st top_0_480_st circle @BinnacleConstants.GetLogTypeIcon(record.LogType.Name, true) wh2p5">
                            <span class="center_absolute wh1p5">
                                <span class="wh100p block relative @BinnacleConstants.GetLogTypeIcon(record.LogType.Name) multi_icon bck_pos_white"></span>
                            </span>
                        </span>
                    </div>

                    <div class="g_s240_100p g_s480_auto pad_l_1_480_st c_black">
                        Registro de actividad en <span class="fs_15 bolder">@record.LogType.Name</span>
                        @if (record.LogType.Name == BinnacleConstants.RequestTypeName)
                        {
                            <span class="pad_l_05 underline italic c_turkey bolder">@record.Description</span>
                        }
                    </div>

                    <div class="c_gray fs_08 g_s240_100p opa_50 pad_l_1_480_st">@record.ActionDate.ToString("dd \\de MMMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es"))<span class="bold pad_l_05 c_black">@record.ActionDate.ToString("HH:mm")</span></div>
                </div>
            </div>

            <div class="pad_t_2 pad_l_3_480_st">
                @foreach (var item in record.LogbookDetails)
                {
                    if (item.ActionSubType == null)
                    {
                        @Html.Action("GetDetailItemBinnacle", "Binnacle", new { item = item })
                    }
                    else
                    {
                        <div class="pad_b_2px">
                            <div class="pad_15 bck_body w100p pointer hover_bck_purple">
                                <div class="pad_r_2 relative">
                                    <span class="block absolute_tr_240_st"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionType) multi_icon bck_pos_gray"></span></span>

                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    }
}
else
{
    @Html.Hidden("PageNumber", Model.Count, new { @id = "ScrollEndPage" })

    <div class="pad_t_3 bolder">
        <div class="relative">
            <div class="fs_08 c_gray uppercase opa_50">No hay más registros</div>

            <div class="absolute_default wh100p pad_l_10">
                <div class="relative h100p">
                    <div class="center_absolute w100p h1px"><div class="split_bottom w100p"></div></div>
                </div>
            </div>
        </div>
    </div>
}