﻿@model List<Entities.InterestTheme>
@{
    string searchText = ViewBag.SearchText;
    string tabId = ViewBag.TabId;
}

<div class="relative trans_05">
    <div class="pad_b_1 relative">
        <div class="text-right inline_divs column_container">
            <div class="inline_divs text-right @(searchText == null ? "hide" : "")" id="filterContainerDiv_Subs">
                <div class="relative max_w_25 text-left h2p5 mar_lr_1" style="margin-top:5px;">
                    <a class=" pointer absolute left_0_240_st top_05_240_st z1 icon_view multi_icon icon_hover_fade inline wh1p5 bck_pos_gray" id="SearchDiv_Subs"></a>

                    <div class="mdc-text-field w100p mdc-text-field--upgraded mar_tb_0" data-mdc-auto-init="MDCTextField" style="height:2.5rem;">
                        <input class="mdc-text-field__input pad_lr_25" type="text" placeholder="Buscar" id="inputGridSearch_Subs" value="@(searchText != null ? searchText : "")">
                        <div class="mdc-line-ripple"></div>
                    </div>


                    <a class=" pointer absolute right_0_240_st top_05_240_st z1 icon_close_3 multi_icon inline wh1p5 bck_pos_gray" onclick="javascript:pageFunctions.unhideElem('filterButtonDiv_Subs');pageFunctions.unhideElem('filterContainerDiv_Subs');" id="SearchCloseDiv_Subs"></a>

                </div>
            </div>
            <div class="mdl-tooltip" for="SearchDiv_Subs"><strong>Buscar</strong></div>

            <div class="@(searchText != null ? "hide" : "")" id="filterButtonDiv_Subs">
                <div class="circle_hover pointer relative pad_1" id="FiltDiv_Subs" onclick="javascript:pageFunctions.unhideElem('filterButtonDiv_Subs');pageFunctions.unhideElem('filterContainerDiv_Subs');"><a class="icon_filter multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></a></div>
                <div class="mdl-tooltip" for="FiltDiv_Subs"><strong>Buscar</strong></div>
            </div>
        </div>
    </div>
</div>

<div class="panels">
    <div id="panel-all" class="display_select menu-item-all panel @(tabId == null ? "active" : (tabId == "panel-all" ? "active" : ""))" role="tabpanel" aria-hidden="@(tabId == null ? "false" : (tabId == "panel-all" ? "false" : "true"))">
        <div class="column_container text-center text-left_1024_st ">

            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    bool suscribed = ((List<int>)ViewBag.ListIndividual).Contains((int)item.InterestThemeId);

                    <div class="pad_tb_15 max_w_20 pad_05_700_st  pad_15_900_st post g_s240_100p g_s700_50p g_s1024_100p mar_auto text-left">
                        <div class="r5px border_gray overflow_h">

                            <span class="relative block hover_to_green_all c_black bck_cover h10" style="background-image: url('@(item.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.FileLocation}))')">
                                <span class="absolute_default wh100p bck_vertical_black opa_50"></span>
                            </span>

                            <div class="pad_15 b_bottom_gray relative">
                                <a class="hover_to_green c_black night_white cursor_default">@item.Name</a>
                                <div class="c_gray pad_t_1">@item.Description</div>

                                <div class="absolute top_0_240_st wh2p5 right_1_240_st mar_t_-11 z1">
                                    <div class="circle bck_white wh100p relative">
                                        <span class="center_absolute inline wh1 bck_pos_gray icon_person_2 multi_icon"></span>
                                    </div>
                                    <div class="absolute bottom_100p_240_st left_0_240_st text-center c_white w100p pad_b_03">@item.MemberInterestThemes.Where(x => x.Enabled).ToList().Count</div>
                                </div>

                                @if (suscribed)
                                {
                                    <div class="wh1p7 absolute top_0_240_st mar_t_-07">
                                        <a class="pointer block wh1 center_absolute cursor_default">
                                            <span class="absolute_default block wh100p bck_pos_green icon_check_1 multi_icon z1"></span>
                                        </a>
                                        <span class="circle bck_white absolute_default wh100p"></span>
                                    </div>
                                }
                            </div>

                            @if (suscribed)
                            {
                                <div class="relative pad_15">
                                    <button type="button" class="no_padding uppercase bold pointer block c_gray fs_07 icon_hover_all hover_to_green relative" onclick="removeSubscription(@item.InterestThemeId)">
                                        <span class="absolute left_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1p5 bck_pos_gray icon_close_1 multi_icon icon_hover_fade"></span>
                                        <span class="pad_l_2 block text-left">Cancelar suscripción</span>
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div class="relative pad_lr_15 pad_tb_1">
                                    <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" onclick="addSubscription(@item.InterestThemeId)" id="@("BtnAddSub" + item.InterestThemeId)">
                                        <span class="wh1 icon_add multi_icon bck_pos_white block z1 relative"></span>
                                    </button>
                                    <div class="mdl-tooltip" for="@("BtnAddSub" + item.InterestThemeId)"><strong>Agregar suscripción</strong></div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <h5>No existen registros.</h5>
            }

        </div>
    </div>
    <div id="panel-me" class="display_select menu-item-all panel @(tabId != null ? (tabId == "panel-me" ? "active" : "") : "")" role="tabpanel" aria-hidden="@(tabId == null ? "true" : (tabId == "panel-me" ? "false" : "true"))">
        <div class="column_container text-center text-left_1024_st ">

            @if (Model.Where(x => ((List<int>)ViewBag.ListIndividual).Contains((int)x.InterestThemeId)).ToList().Count > 0)
            {
                foreach (var item in Model.Where(x => ((List<int>)ViewBag.ListIndividual).Contains((int)x.InterestThemeId)).ToList())
                {
                    <div class="pad_tb_15 max_w_20 pad_05_700_st  pad_15_900_st post g_s240_100p g_s700_50p g_s1024_100p mar_auto text-left">
                        <div class="r5px border_gray overflow_h">

                            <span class="relative block hover_to_green_all c_black bck_cover h10" style="background-image: url('@(item.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.FileLocation}))')">
                                <span class="absolute_default wh100p bck_vertical_black opa_50"></span>
                            </span>

                            <div class="pad_15 b_bottom_gray relative">
                                <a class="hover_to_green c_black night_white cursor_default">@item.Name</a>
                                <div class="c_gray pad_t_1">@item.Description</div>

                                <div class="absolute top_0_240_st wh2p5 right_1_240_st mar_t_-11 z1">
                                    <div class="circle bck_white wh100p relative">
                                        <span class="center_absolute inline wh1 bck_pos_gray icon_person_2 multi_icon"></span>
                                    </div>
                                    <div class="absolute bottom_100p_240_st left_0_240_st text-center c_white w100p pad_b_03">@item.MemberInterestThemes.Where(x => x.Enabled).ToList().Count</div>
                                </div>

                                <div class="wh1p7 absolute top_0_240_st mar_t_-07">
                                    <a class="pointer block wh1 center_absolute cursor_default">
                                        <span class="absolute_default block wh100p bck_pos_green icon_check_1 multi_icon z1"></span>
                                    </a>
                                    <span class="circle bck_white absolute_default wh100p"></span>
                                </div>

                            </div>

                            <div class="relative pad_15">
                                <button type="button" class="no_padding uppercase bold pointer block c_gray fs_07 icon_hover_all hover_to_green relative" onclick="removeSubscription(@item.InterestThemeId)">
                                    <span class="absolute left_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1p5 bck_pos_gray icon_close_1 multi_icon icon_hover_fade"></span>
                                    <span class="pad_l_2 block text-left">Cancelar suscripción</span>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h5>No existen registros.</h5>
            }

        </div>
    </div>
</div>

