﻿@model CR.CGC.GuiasScoutsWeb.Models.RolModel
@{ 
    string[] listDefaultMethods = ViewBag.listDefaultMethods;
}

@using (Ajax.BeginForm("SavePermissions", "Security", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "OnBegin",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    OnComplete = "OnComplete"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AlertTitle, new { @id = "AlertTitle" })
    @Html.HiddenFor(model => model.AlertText, new { @id = "AlertText" })
    @Html.HiddenFor(model => model.VerificationText, new { @id = "VerificationText" })

    @Html.Hidden("model.IdRol", Model.IdRol)
    @Html.Hidden("model.NombreRol", Model.NombreRol)
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NombreRol)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NombreRol)
            </dd>
        </dl>
    </div>

        <table class="table">
            <thead>
                <tr>
                    <td colspan="2"></td>
                    <th>Index</th>
                    <th>Show</th>
                    <th>Create</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @{ int indice = 0;}
                @foreach (var item in Model.VisualPermissions)
                {
                    <tr>
                        <td colspan="2">@item.ControllerName</td>
                        @foreach (var method in listDefaultMethods)
                        {
                            if (item.Methods.Find(x => (x == method)) != null)
                            {
                                <td>
                                    @if (Model.Permisos.Find(x => (x.NombreController == item.ControllerName && x.NombrePermiso == method)) != null)
                                    {
                                        @Html.Hidden("model.Permisos[" + indice + "].NombrePermiso", method, new { @id = "model.Permisos[" + indice + "].NombrePermiso" })
                                        @Html.Hidden("model.Permisos[" + indice + "].NombreController", item.ControllerName, new { @id = "model.Permisos[" + indice + "].NombreController" })
                                        @Html.CheckBox(method, true, new { @class = "ckbPermission", data_indice = indice, data_method = method, data_controller = item.ControllerName })
                                    }
                                    else
                                    {
                                        @Html.Hidden("model.Permisos[" + indice + "].NombrePermiso", "", new { @id = "model.Permisos[" + indice + "].NombrePermiso" })
                                        @Html.Hidden("model.Permisos[" + indice + "].NombreController", "", new { @id = "model.Permisos[" + indice + "].NombreController" })
                                        @Html.CheckBox(method, false, new { @class = "ckbPermission", data_indice = indice, data_method = method, data_controller = item.ControllerName })
                                    }
                                </td>
                                indice += 1;
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        }
                    </tr>
                    foreach (var special in item.Special)
                    {
                        <tr>
                            <td></td>
                            <td>
                                <span class="glyphicon glyphicon-arrow-right"></span> @special
                                @if (Model.Permisos.Find(x => (x.NombreController == item.ControllerName && x.NombrePermiso == special)) != null)
                                {
                                    @Html.Hidden("model.Permisos[" + indice + "].NombrePermiso", special, new { @class = "hfPermission", @id = "model.Permisos[" + indice + "].NombrePermiso" })
                                    @Html.Hidden("model.Permisos[" + indice + "].NombreController", item.ControllerName, new { @class = "hfPermission", @id = "model.Permisos[" + indice + "].NombreController" })
                                    @Html.CheckBox(special, true, new { @class = "ckbPermission", data_indice = indice, data_method = special, data_controller = item.ControllerName })
                                }
                                else
                                {
                                    @Html.Hidden("model.Permisos[" + indice + "].NombrePermiso", "", new { @class = "hfPermission", @id = "model.Permisos[" + indice + "].NombrePermiso" })
                                    @Html.Hidden("model.Permisos[" + indice + "].NombreController", "", new { @class = "hfPermission", @id = "model.Permisos[" + indice + "].NombreController" })
                                    @Html.CheckBox(special, false, new { @class = "ckbPermission", data_indice = indice, data_method = special, data_controller = item.ControllerName })
                                }
                            </td>
                            @{indice += 1;}
                        </tr>
                                    }
                                }
            </tbody>
        </table>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
                                }




