﻿@model CR.CGC.GuiasScoutsWeb.Models.RolModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div id="rolForm">
    @Html.Action("GetForm", new { model = Model })
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Scripts.Render("~/Scripts/Views/Security/Create.js")
