﻿@model CR.CGC.GuiasScoutsWeb.Models.RolModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div id="rolForm">
    @Html.Action("GetForm", new { model = Model })
</div>

<div>
    @Html.ActionLink("Edit Permissions", "EditPermissions", new { id = Model.IdRol }) |
    @Html.ActionLink("Back to List", "Index")
</div>

@Scripts.Render("~/Scripts/Views/Security/Create.js")
