﻿@model CR.CGC.GuiasScoutsWeb.Models.RolModel
@{
    ViewBag.Title = "Edit Permissions";
}

<h2>EditPermissions</h2>
<div id="permissionForm">
    @Html.Action("GetPermissions", new { model = Model })
</div>

<p>
    @Html.ActionLink("Edit Record", "Edit", new { id = Model.IdRol }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Scripts.Render("~/Scripts/Views/Security/EditPermissions.js")