﻿@model IEnumerable<CR.CGC.GuiasScoutsWeb.Models.RolModel>
@{
    ViewBag.Title = "Index";
    //ViewBag.ApplicationTitle = "Rol - Security"; //uncomment for customize the title
}
@Html.Hidden("url_delete", Url.Action("Delete", "Security"))

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreRol)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRol)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdRol }) |
                @Html.ActionLink("Show", "Show", new { id = item.IdRol }) |
                @Html.ActionLink("Edit Permissions", "EditPermissions", new { id = item.IdRol }) |
                <a onclick="deleteRecord(@item.IdRol)">Delete</a>
            </td>
        </tr>
    }

</table>

@Scripts.Render("~/Scripts/Views/Security/Index.js")