﻿@model CR.CGC.GuiasScoutsWeb.Models.RolModel
@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>
<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreRol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdRol }) |
    @Html.ActionLink("Edit Permissions", "EditPermissions", new { id = Model.IdRol }) |
    @Html.ActionLink("Back to List", "Index")
</p>


