﻿@using CR.CGC.GuiasScoutsWeb.Models
@model List<Entities.InterestTheme>
@{
    PaginationToolsViewModel pagination = (PaginationToolsViewModel)ViewBag.Pagination;
    pagination.ActualRows = Model.Count;

    TableToolsViewModel toolbar = new TableToolsViewModel()
    {
        DeleteFunction = "DeleteInterestThemes()",
        DeleteTooltip = "Activar / Desactivar tema de interés",
        UrlAdd = Url.Action("NewInterestTheme", "Publication"),
        AddTooltip = "Agregar nuevo tema de interés",

        SearchText = pagination.SearchText,
        UrlGet = Url.Action("GetGridInterestTheme", "Publication"),
        GridContainerId = "GridInterestTheme"
    };
}

@Html.Partial("_TableToolsPartial", toolbar)

<!-- table -->
<div class="overflow_auto">
    <table class="mdl-data-table mdl-js-data-table @((Model.Count > 0) ? "mdl-data-table--selectable" : "") w100p overflow_h">
        <thead class="c_purple01_all bolder fs_1">
            <tr class="pad_1_divs">
                <th class="mdl-data-table__cell--non-numeric w2"></th>
                <th class="mdl-data-table__cell--non-numeric">Nombre del tema de interés</th>
                <th class="mdl-data-table__cell--non-numeric">Suscritos</th>
                <th class="mdl-data-table__cell--non-numeric">Publicaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr class="@(item.Enabled ? "" : "disable")" data="@item.InterestThemeId">
                        <td class="mdl-data-table__cell--non-numeric">
                            <div class="@(item.Enabled ? "" : "multi_icon")">
                                <div class="wh2 icon circle" style="background-image: url('@Url.Action("ViewFile", "Publication", new { FileUrl = item.FileLocation})');"></div>
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">@item.Name</td>

                        <td class="mdl-data-table__cell--non-numeric">@item.MemberInterestThemes.Where(x => x.Enabled).ToList().Count</td>
                        <td class="mdl-data-table__cell--non-numeric">@item.Publications.Where(x => x.Enabled).ToList().Count</td>

                        <td class="pad_lr_1">

                            <div class="relative">
                                <div class="actions h4 z1 absolute_tr_240_st text-right">
                                    <div class="wh2 inline multi_icon bck_pos_gray absolute_tr_240_st icon_points mar_auto bottom_0_240_st"></div>

                                    <div class="action_buttons text-right absolute h2p5 inline_divs v_mid_all w10 inline_divs">
                                        <a class="circle_hover pointer relative pad_05" id="BtnEdit@(item.InterestThemeId)" href="@(item.Enabled ? Url.Action("NewInterestTheme", "Publication", new { InterestThemeId = item.InterestThemeId }) : "#")">
                                            <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </a>

                                        <a class="circle_hover pointer relative pad_05" id="BtnDetails@(item.InterestThemeId)" href="@(item.Enabled ? Url.Action("InterestThemeDetails", "Publication", new { InterestThemeId = item.InterestThemeId }) : "#")">
                                            <div class="icon_view multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </a>

                                        <div class="circle_hover pointer relative pad_05 disable_container" id="BtnDel@(item.InterestThemeId)" onclick="DeleteInterestTheme(@item.InterestThemeId)">
                                            <div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mdl-tooltip" for="BtnEdit@(item.InterestThemeId)"><strong>Editar registro</strong></div>
                            <div class="mdl-tooltip" for="BtnDetails@(item.InterestThemeId)"><strong>Ver detalles del registro</strong></div>
                            <div class="mdl-tooltip" for="BtnDel@(item.InterestThemeId)"><strong>@(item.Enabled ? "Desactivar" : "Activar") registro</strong></div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric" colspan="6">No existen registros.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- pagination -->
@if (Model.Count > 0)
{
    @Html.Partial("_TablePaginationPartial", pagination)
}






