﻿@model Entities.InterestTheme
@{
    ViewBag.Title = (Model.InterestThemeId != null && Model.InterestThemeId != 0 ? "Editar" : "Nuevo") + " tema de interés";
}

@Html.Hidden("Url_DefaultImage", Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }))

<div class="bck_white sh_body relative z2">

    <div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
        <a href="@Url.Action("InterestTheme", "Publication")" id="DivToList"> Catálogos / Temas de interés </a>
        <span>/ @ViewBag.Title</span>
    </div>
    <div class="mdl-tooltip" for="DivToList"><strong>Ver temas</strong></div>


    <div class="content_wrap_body">

        <div>
            <a href="@Url.Action("InterestTheme", "Publication")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
        </div>

        <div class="italic fs_12 c_black row_lm">@(Model.InterestThemeId != null && Model.InterestThemeId != 0 ? Model.Name : "Agregue un nuevo tema de interés")</div>

        <div class="pad_t_4_240_st">

            @using (Ajax.BeginForm("SaveInterestTheme", "Publication", new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "CreateContainer",
                OnFailure = "OnFailure",

            }, new { OnBegin = "OnBegin", OnSuccess = "OnSuccess_InterestTheme", validateFunc = "ValidateInterestTheme", enctype = "multipart/form-data", @class = "relative", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.Hidden("AlertTitle", "Temas de interés", new { @id = "AlertTitle" })
                @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

                @Html.HiddenFor(m => m.InterestThemeId)
                @Html.HiddenFor(m => m.FileLocation, new { @id = "FileLocation" })
                @Html.HiddenFor(m => m.BackgroundFileLocation, new { @id = "BackgroundFileLocation" })

                <div class="relative">
                    <div class="relative_240_st absolute_tl_1366_st w20_1366_st">
                        <div>
                            @Html.TextBoxFor(m => m.BackgroundSendFile, new { @type = "file", @class = "hide imageInput", @id = "BackgroundSendFile", accept = ".jpg,.png", @for = "BackgroundSendFile-InputView" })
                            <div id="BackgroundSendFile-helper-text" class="relative w100p h15_240_st h10_1366_st mar_auto hover_to_green hover_icon_all pointer " onclick="document.getElementById('BackgroundSendFile').click()">
                                <div class="profile relative w100p h15_240_st h10_1366_st  mar_auto border_gray">
                                    <img id="BackgroundSendFile-InputView" class="center_absolute wh100p z1 bck_cover" src="@(Model.BackgroundFileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = Model.BackgroundFileLocation}))" />
                                </div>

                                <div class="absolute_br_240_st wh2p5 only_360">
                                    <div class="circle pad_05 bck_white relative z1 mar_t_1 border_gray wh2p5 right_05_240_st">
                                        <div class="icon_cam pointer multi_icon inline wh1p5 icon_hover_fade bck_pos_gray bck_hover_gray center_absolute absolute"></div>
                                    </div>
                                </div>
                            </div>

                            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg absolute top_0_240_st left_0_240_st inline pad_lr_05 r3px z1 ba" aria-hidden="true">Este campo es requerido.</p>
                        </div>

                        <div>
                            @Html.TextBoxFor(m => m.SendFile, new { @type = "file", @class = "hide imageInput", @id = "SendFile", accept = ".jpg,.png", @for = "SendFile-InputView" })
                            <div id="SendFile-helper-text" class="absolute w8 h8 mar_auto hover_to_green hover_icon_all pointer top_67p_240_st top_50p_1366_st left_0_240_st right_0_240_st z1" onclick="document.getElementById('SendFile').click()">
                                <div class="profile circle border_gray relative w8 h8 overflow_h mar_auto">
                                    <div class="center_absolute wh100p z1 bck_cover bck_white">
                                        <img id="SendFile-InputView" class="absolute_tl_240_st w100p" src="@(Model.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = Model.FileLocation}))" />
                                    </div>
                                </div>

                                <div class="circle wh2 bck_white absolute_br_240_st z1 border_gray">
                                    <div class="icon_cam pointer multi_icon inline wh1p3 icon_hover_fade bck_pos_gray bck_hover_gray center_absolute absolute"></div>
                                </div>
                            </div>

                            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg absolute top_100p_240_st w100p left_0_240_st text-center pad_t_35" aria-hidden="true">Este campo es requerido.</p>
                        </div>
                    </div>

                    <div class="pad_t_6p5 pad_b_1 to_1366"><div class="split_bottom_dashed h100p"></div></div>
                    <div class="absolute top_0_240_st left_20_1366_st only_1366 h100p mar_l_3"><div class="split_icon h100p"></div></div>

                    <div class="pad_l_25r_1366_st max_w_55 ">

                        <div class="text-left">
                            <div class="mdc-text-field w100p mar_0" data-mdc-auto-init="MDCTextField">
                                @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "mdc-text-field__input fs_1 pad_r_4", required = true, aria_controls = "Name-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                @Html.LabelFor(m => m.Name, "Nombre del tema de interés", new { @for = "Name", @class = "mdc-text-field__label" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg w100p text-right" role="alert">Este campo es requerido.</p>
                        </div>

                        <div class="text-left">
                            <div class="mdc-text-field mdc-text-field--textarea w100p msn_text mdc-text-field--upgraded mar_0" data-mdc-auto-init="MDCTextField">
                                @Html.TextAreaFor(m => m.Description, new { @id = "description", @rows = 7, @class = "mdc-text-field__input fs_1 pad_r_4", required = true, aria_controls = "Name-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                @Html.LabelFor(m => m.Description, "Breve descripción del tema", new { @for = "Name", @class = "mdc-text-field__label" })
                                <div class="mdc-line-ripple" style="transform-origin: 45px center"></div>
                            </div>
                            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg w100p text-right" role="alert">Este campo es requerido.</p>
                        </div>
                    </div>
                </div>

                <div class="pad_t_3 text-right">
                    <div class="inline_divs v_mid_all w100p">
                        <a href="@Url.Action("InterestTheme", "Publication")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2" data-ajax="false">Cancelar</a>

                        <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
                            <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                        </button>
                        <div class="mdl-tooltip" for="BtnSave"><strong>Guardar tema</strong></div>

                    </div>
                </div>

            }

        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Views/Publication/InterestTheme/Create.js")

