﻿@model Entities.InterestTheme
@{
    ViewBag.Title = "Detalles de tema de interés";
}

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_bottom_all c_black_all lh_2">
    <a href="@Url.Action("InterestTheme", "Publication")" id="DivToList">Catálogos / Temas de interés</a>
    <span>/ Detalles</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver temas</strong></div>

<div class="content_wrap_body">

    <div class="italic fs_12 c_black">@Model.Name</div>

    <div class="pad_t_4_240_st">
        <div class="relative">

            <div class="relative">
                <div class="relative_240_st w25_1366_st">

                    <div class="relative max_w_30 mar_auto">
                        <div class="relative w100p h15_240_st h10_1366_st mar_auto hover_to_green hover_icon_all pointer ">
                            <div class="profile relative w100p h15_240_st h10_1366_st  mar_auto">
                                <div class="center_absolute wh100p z1 bck_cover" style="background-image: url('@Url.Action("ViewFile", "Publication", new { FileUrl = Model.BackgroundFileLocation})')"></div>
                            </div>
                        </div>
                    </div>

                    <div class="absolute w8 h8 mar_auto hover_to_green hover_icon_all pointer top_67p_240_st top_50p_1366_st left_0_240_st right_0_240_st">
                        <div class="profile circle relative w8 h8 overflow_h mar_auto">
                            <div class="center_absolute wh100p z1 bck_cover">
                                <img class="wh100p absolute_tl_240_st" src="@Url.Action("ViewFile", "Publication", new { FileUrl = Model.FileLocation})">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w25_1366_st pad_t_5">
                    <div class="max_w_30 mar_auto">
                        <div class="c_black fs_15 text-center">@Model.Name</div>
                        <div class="row_lm">@Model.Description</div>
                    </div>
                </div>

                <div class="pad_t_3 pad_b_1 to_1366 max_w_30 mar_auto"><div class="split_bottom_dashed h100p"></div></div>
                <div class="absolute top_0_240_st left_25_1366_st only_1366 h100p mar_l_3"><div class="split_icon h100p"></div></div>

                <div class="absolute_1366_st left_25_1366_st pad_l_3_1366_st top_0_1366_st h100p">
                    <div class="c_gray pad_tb_2 opa_50 pad_l_3_1366_st pad_t_0_1366_st max_w_30 mar_auto">

                        <div class="v_bottom_all fs_11">
                            <span class="icon_person_2 multi_icon bck_pos_gray inline wh1p3 mar_r_05"></span> Miembros <span class="pad_l_2">0</span>
                        </div>

                        <div class="pad_t_1">
                            <div class="v_bottom_all fs_11">
                                <span class="icon_list multi_icon bck_pos_gray inline wh1p3 mar_r_05"></span>  Publicaciones <span class="pad_l_2">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pad_t_3 text-right">
                <a href="@Url.Action("InterestTheme", "Publication")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green" data-ajax="false">
                    <span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver
                </a>
            </div>
        </div>
    </div>
</div>
