﻿@using CR.CGC.GuiasScoutsWeb.Models
@model List<Entities.Publication>
@{
    PaginationToolsViewModel pagination = (PaginationToolsViewModel)ViewBag.Pagination;
    pagination.ActualRows = Model.Count;

    TableToolsViewModel toolbar = new TableToolsViewModel()
    {
        DeleteFunction = "DeletePublications()",
        DeleteTooltip = "Activar / Desactivar publicación",
        UrlAdd = Url.Action("NewPublication", "Publication"),
        AddTooltip = "Agregar nueva publicación",

        SearchText = pagination.SearchText,
        UrlGet = Url.Action("GetGridPublications", "Publication"),
        GridContainerId = "GridPublications"
    };
}

@Html.Partial("_TableToolsPartial", toolbar)

<div class="overflow_auto">
    <table class="mdl-data-table mdl-js-data-table @((Model.Count > 0) ? "mdl-data-table--selectable" : "") w100p overflow_h">
        <thead class="c_purple01_all bolder fs_1">
            <tr class="pad_1_divs">
                <th class="mdl-data-table__cell--non-numeric">Publicaciones</th>
                <th class="mdl-data-table__cell--non-numeric w2"></th>
                <th class="mdl-data-table__cell--non-numeric">Tema de interés</th>
                <th class="mdl-data-table__cell--non-numeric">Fecha de inicio</th>
                <th class="mdl-data-table__cell--non-numeric">Fecha de fin</th>
                <th class="mdl-data-table__cell--non-numeric">Valoración</th>
                <th class="mdl-data-table__cell--non-numeric">Visualizaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    item.PublicationAssessments = item.PublicationAssessments.Where(x => x.Enabled).ToList();
                    <tr class="@(item.Enabled ? "" : "disable")" data="@item.PublicationId">
                        <td class="mdl-data-table__cell--non-numeric">@item.Title</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <div class="@(item.Enabled ? "" : "multi_icon")">
                                <div class="wh2 icon circle bck_cover" style="background-image: url('@Url.Action("ViewFile", "Member", new { FileUrl = item.InterestTheme.FileLocation})');"></div>
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">@item.InterestTheme.Name</td>
                        <td class="mdl-data-table__cell--non-numeric">@item.StartDate.ToString("dd-MM-yyyy")</td>
                        <td class="mdl-data-table__cell--non-numeric">@item.EndDate.ToString("dd-MM-yyyy")</td>
                        <td class="mdl-data-table__cell--non-numeric">@(item.PublicationAssessments.Count == 0 ? (decimal)0.0 : Decimal.Round((item.PublicationAssessments.Sum(x => x.Assessment) / item.PublicationAssessments.Count), 1))</td>
                        <td class="mdl-data-table__cell--non-numeric">@item.ViewsNumber</td>
                        <td class="pad_lr_1">

                            <div class="relative">
                                <div class="actions h4 z1 absolute_tr_240_st text-right">
                                    <div class="wh2 inline multi_icon bck_pos_gray absolute_tr_240_st icon_points mar_auto bottom_0_240_st"></div>

                                    <div class="action_buttons text-right absolute h2p5 inline_divs v_mid_all w10 inline_divs">
                                        <a class="circle_hover pointer relative pad_05" id="BtnEdit@(item.PublicationId)" href="@(item.Enabled ? Url.Action("NewPublication", "Publication", new { PublicationId = item.PublicationId }) : "#")">
                                            <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </a>

                                        <a class="circle_hover pointer relative pad_05" id="BtnView@(item.PublicationId)" href="@(item.Enabled ? Url.Action("PublicationDetails", "Publication", new { PublicationId = item.PublicationId }) : "#")">
                                            <div class="icon_view multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </a>

                                        <div class="circle_hover pointer relative pad_05 disable_container" id="BtnDel@(item.PublicationId)" onclick="DeletePublication(@item.PublicationId)">
                                            <div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mdl-tooltip" for="BtnEdit@(item.PublicationId)"><strong>Editar registro</strong></div>
                            <div class="mdl-tooltip" for="BtnView@(item.PublicationId)"><strong>Visualizar registro</strong></div>
                            <div class="mdl-tooltip" for="BtnDel@(item.PublicationId)"><strong>@(item.Enabled ? "Desactivar" : "Activar") registro</strong></div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric" colspan="8">No existen registros.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.Count > 0)
{
    @Html.Partial("_TablePaginationPartial", pagination)
}