﻿@model Entities.InterestTheme

<div class="pad_r_15 pad_b_2 pad_t_1 b_bottom_gray relative block c_black">
    <a class="c_black fs_12 pad_l_4_360_st pad_l_5_1024_st pad_tb_05 hover_to_green_all cursor_default">

        <span class="only_360">
            <span class="absolute left_0_240_st top_0_240_st bottom_1_240_st mar_auto w3 h3 w4_480_st h4_480_st w4p5_1024_st h4p5_1024_st" style="margin: 0;">
                <span class="profile circle relative wh100p overflow_h mar_auto block">


                    <span class="center_absolute wh100p z1 bck_cover">
                        <img class="wh100p absolute_tl_240_st" src="@(Model.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = Model.FileLocation}))">
                    </span>

                </span>
            </span>
        </span>

        <span class="pad_l_1_480_st bolder block">@Model.Name</span>
    </a>
</div>
