﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Publication
@{
    ViewBag.Title = (Model.PublicationId != null && Model.PublicationId != 0 ? "Editar Publicación" : "Nueva Publicación");
}
@Html.Hidden("Url_Theme", Url.Action("GetThemePartial", "Publication"), new { @id = "Url_Theme" })
@Html.Hidden("Url_PublicationAgeRange", Url.Action("GetPublicationAgeRangePartial", "Publication"), new { @id = "Url_PublicationAgeRange" })

@section Styles{
    @*@Styles.Render("~/Content/assets/stylesheets/bootstrap.css")
        @Styles.Render("~/Content/assets/stylesheets/summernote.css")*@
    @Styles.Render("~/Content/assets/stylesheets/summernote-lite.css")
    @Styles.Render("~/Content/assets/stylesheets/bootstrap-tagsinput.css")
}

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2" id="sectionBreadCrumbEdit">
    <a href="@Url.Action("Publications", "Publication")" id="DivToList"> Registros</a>
    <span>/ @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver publicaciones</strong></div>

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2 hide" id="sectionBreadCrumbPrev">
    <a href="@Url.Action("Publications", "Publication")" id="DivToListPrev"> Registros</a>
    <a class="pointer" id="DivToEditPrev">/ @(Model.PublicationId != null && Model.PublicationId != 0 ? Model.Title : "Nuevo")</a>
    <span>/ Previsualizar</span>
</div>
<div class="mdl-tooltip" for="DivToListPrev"><strong>Ver publicaciones</strong></div>
<div class="mdl-tooltip" for="DivToEditPrev"><strong>Editar</strong></div>

@using (Ajax.BeginForm("SavePublication", "Publication", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,

}, new { OnBegin = "OnBegin", OnSuccess = "OnSuccess_Publication", validateFunc = "ValidatePublication", enctype = "multipart/form-data", @class = "content_wrap_body", autocomplete = "off", @id = "PublicationForm" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("AlertTitle", "Publicaciones", new { @id = "AlertTitle" })
    @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

    @Html.HiddenFor(m => m.PublicationId, new { @id = "PublicationId" })
    @Html.HiddenFor(m => m.FileLocation, new { @id = "FileLocation" })

    <div id="sectionEdit">
        <div class="italic fs_12 c_black row_lm">Agregue una nueva publicación</div>

        <div class="relative pad_t_3_1366_st">
            <div class="pad_b_4 max_w_75">
                <div class="relative min_h_30_1024_st">
                    <div class="column_container">

                        <div class="g_s1366_40p g_s240_100p pad_r_2_1366_st pad_t_15 pad_t_0_1366_st pad_r_3_1366_st z1 relative">

                            <div class="text-left">
                                <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                    @Html.TextBoxFor(m => m.Title, new { @id = "Title", @class = "mdc-text-field__input fs_1", required = true, aria_controls = "Title-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                    @Html.LabelFor(m => m.Title, "Título de la publicación", new { @for = "Title", @class = "mdc-text-field__label" })
                                    <div class="mdc-line-ripple"></div>
                                </div>
                                <p id="Title-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                            </div>

                            <div class="text-left">
                                <div class="hide">
                                    @Html.DropDownListFor(m => m.InterestThemeId, (SelectList)ViewBag.ThemesList, "Seleccione un tema de interés", new { @id = "InterestThemeId", placeholder = "Tema de interés" })
                                </div>
                                <div id="InterestThemeIdSelectDiv"></div>
                            </div>

                            <div class="column_container">

                                <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                    <div class="text-left">
                                        <div class="mdc-text-field mdc-text-field--upgraded w100p mar_0" data-mdc-auto-init="MDCTextField">
                                            <label for="StartDate" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                                            @Html.TextBoxFor(m => m.StartDate, "{0:dd-MM-yyyy}", new { @id = "StartDate", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", required = true, aria_controls = "StartDate-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                            @Html.LabelFor(m => m.StartDate, "Fecha de inicio", new { @for = "StartDate", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                                            <div class="mdc-line-ripple"></div>
                                        </div>
                                        <p id="StartDate-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                    </div>
                                </div>

                                <div class="g_s240_100p g_s480_50p pad_l_15_480_st">
                                    <div class="text-left">
                                        <div class="mdc-text-field mdc-text-field--upgraded w100p mar_0" data-mdc-auto-init="MDCTextField">
                                            <label for="EndDate" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                                            @Html.TextBoxFor(m => m.EndDate, "{0:dd-MM-yyyy}", new { @id = "EndDate", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", required = true, aria_controls = "EndDate-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                            @Html.LabelFor(m => m.EndDate, "Fecha de fin", new { @for = "EndDate", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                                            <div class="mdc-line-ripple"></div>
                                        </div>
                                        <p id="EndDate-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                    </div>
                                </div>
                                <p id="Date-helper-text" class="fs_075 c_red w100p hide">Revise el orden de las fechas.</p>
                            </div>

                            <div class="column_container v_bottom_all">

                                <div class="g_s240_100p g_s700_50p pad_r_1_700_st g_s1366_100p  pad_r_0_1366_st">
                                    <div class="text-left">
                                        <div class="mdc-text-field mdc-text-field--textarea w100p msn_text" data-mdc-auto-init="MDCTextField">
                                            @Html.TextAreaFor(m => m.Description, new { @id = "Description", @class = "mdc-text-field__input fs_1", cols = "30", rows = "9", required = true, aria_controls = "Description-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                            @Html.LabelFor(m => m.Description, "Breve descripción de la publicación", new { @for = "Description", @class = "mdc-text-field__label" })
                                            <div class="mdc-line-ripple"></div>
                                        </div>
                                        <p id="Description-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                    </div>
                                </div>


                                <div class="relative g_s240_100p g_s700_50p g_s1366_100p pad_l_1_700_st pad_t_0_700_st pad_t_2_240_st pad_b_2_700_st pad_l_0_1366_st pad_b_0_1366_st">
                                    <div class="italic c_black fs_12 pad_b_1 pad_t_2_700_st pad_t_0_1366_st">Imagen principal</div>

                                    @Html.TextBoxFor(m => m.SendFile, new { @type = "file", @class = "hide imageInput", @id = "SendFile", accept = ".jpg,.png", @for = "SendFile-InputView" })
                                    <div id="SendFile-helper-text" class="relative w100p h15_240_st mar_auto hover_to_green hover_icon_all pointer" onclick="document.getElementById('SendFile').click()">
                                        <div class="profile relative w100p h100p mar_auto border_gray">

                                            <div class="profile relative wh100p mar_auto">
                                                <img id="SendFile-InputView" class="center_absolute wh100p z1 bck_cover" src="@(Model.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_1.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = Model.FileLocation }))" />
                                            </div>

                                            <div class="absolute_default wh100p midd_container black fs_13 fs_2_1024_st text-center c_white bck_body">
                                                <label class="center_absolute wh3" for="picker_upload">
                                                    <span class="icon_cam pointer wh3 multi_icon inline wh1p5 bck_pos_white"></span>
                                                </label>
                                            </div>

                                        </div>

                                        <div class="absolute_br_240_st wh2p5 only_360">
                                            <div class="circle pad_05 bck_white relative z1 mar_t_1 border_gray wh2p5 right_05_240_st">
                                                <div class="icon_cam pointer multi_icon inline wh1p5 icon_hover_fade bck_pos_gray bck_hover_gray center_absolute absolute"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg absolute top_0_240_st left_0_240_st inline bck_white pad_lr_05 r3px pad_l_1_700_st bck_transparent" aria-hidden="true">Este campo es requerido.</p>
                                </div>
                            </div>

                            <div class="text-left pad_t_1">
                                <div class="italic c_black fs_12 pad_t_1">Rangos de edad<span class="pad_l_05 c_gray fs_08">(Al no agregarse rangos, significa que la publicación está dirigida a cualquier público)</span></div>
                                <div id="PublicationAgeRangeContainer">
                                    @{
                                        int cont = 0;
                                        foreach (var item in Model.PublicationAgeRanges)
                                        {
                                            <div class="column_container relative pad_r_4 AgeRangeContainer">
                                                <input name="@("PublicationAgeRanges[" + cont + "].PublicationAgeRangeId")" id="@("PublicationAgeRanges_PublicationAgeRangeId_" + cont)" type="hidden" value="@item.PublicationAgeRangeId">

                                                <div class="text-left w100p">
                                                    <div class="hide">
                                                        @Html.DropDownList("PublicationAgeRanges[" + cont + "].AgeRangeId", new SelectList((List<Entities.AgeRange>)ViewBag.AgeRangesList, "AgeRangeId", "Name", item.AgeRangeId), "Seleccione una opción", new { @id = "PublicationAgeRanges_AgeRangeId_" + cont, Placeholder = "Rango de edades" })
                                                    </div>
                                                    <div id="@("PublicationAgeRanges_AgeRangeId_" + cont + "SelectDiv")" class="visualSelectContainer"></div>
                                                </div>

                                                <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                    <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeAgeRange">
                                                        <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                    </a>
                                                </div>
                                            </div>

                                            cont++;
                                        }
                                    }
                                </div>

                                <a id="btnAddAgeRange" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                                    <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                    Agregar otro rango
                                </a>
                            </div>
                        </div>

                        <div class="absolute top_0_240_st left_40p_1366_st only_1366 h100p"><div class="split_icon h100p"></div></div>

                        <div class="pad_t_0_1366_st g_s1366_60p g_s240_100p h100p pad_t_2_240_st pad_l_3_1366_st">
                            <div class="to_1366 split_bottom mar_b_2"></div>

                            <div class="relative h100p">
                                <div class="text-left">
                                    @Html.TextAreaFor(m => m.Body, new { @id = "Body", @class = "", cols = "30", rows = "29", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                </div>

                                <div id="ElemsFileContainer" class="hide">
                                    @if (Model.PublicationId != null && Model.PublicationId > 0)
                                    {
                                        int files = 0;
                                        foreach (var item in Model.PublicationFiles)
                                        {
                                            <input type="hidden" for="PublicationFile-InputView_@files" class="PublicationFile" id="PublicationFile_PublicationFileId_@files" name="PublicationFiles[@files].PublicationFileId" value="@item.PublicationFileId" />

                                            files++;
                                        }
                                    }

                                    <input type="file" for="PublicationSendFile-InputView_0" class="hide PublicationSendFile" id="PublicationSendFile_0" name="PublicationSendFiles[0]" />
                                </div>

                                <div class="text-left relative pad_t_1" id="FileZoneContainer">
                                    <!--drag div-->
                                    <div class="fixed_default wh100p bck_white opa_90 z99 hide" id="FileZone_drag"></div>
                                    <div class="absolute_default wh100p z100 text-center hide" id="FileZone_drop">
                                        <div class="midd_container wh100p border_gray border_w_2px relative">
                                            <div class="italic c_gray fs_09 relative midd_cell wh100p">Suelte el archivo para agregarlo..</div>
                                        </div>
                                    </div>

                                    <div class="text-left w100p pad_1 inline_divs border_gray border_w_2px dashed relative v_mid_all" id="FileZone">

                                        @if (Model.PublicationId != null && Model.PublicationId > 0)
                                        {
                                            int files = 0;
                                            foreach (var item in Model.PublicationFiles)
                                            {
                                                if (item.FileLocation.Contains(".png") || item.FileLocation.Contains(".PNG") || item.FileLocation.Contains(".jpg") || item.FileLocation.Contains(".JPG"))
                                                {
                                                    <div id="PublicationFile-InputView_@files" class="relative image_drag mar_05 w5 bck_turkey_light r2 z5 pad_0 FileContainer PublicationFile">
                                                        <div class="bck_body relative circle wh2 overflow_h">
                                                            <img class="w100p absolute_default scale_15" src="@(item.FileLocation == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Application", new { FileUrl = item.FileLocation}))">
                                                        </div>
                                                        <div class="absolute top_0_240_st right_05_240_st bottom_0_240_st mar_auto block wh1p5 bck_pos_green icon_close_1 multi_icon z1 pointer" onclick="deleteFile(this);"></div>

                                                        <!--hover tooltip-->
                                                        <div class="z2 absolute left_-5p5_240_st bottom_100p_240_st w15 bck_black_01 pad_1 box_sizing  hover_image_drag trans_05 mar_b_1 r1">
                                                            <img class="w100p" src="@(item.FileLocation == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Application", new { FileUrl = item.FileLocation}))">

                                                            <div class="absolute top_100p_240_st left_0_240_st right_0_240_st mar_auto">
                                                                <div class="arrow bck_black_01_arrow"></div>
                                                            </div>

                                                            <div class="absolute_bl_240_st fs_08 pad_1 w100p box_sizing">
                                                                <div class="relative">
                                                                    <a class="block ellipsis w100p pad_b_05 pad_t_3 pad_lr_1 text-right italic c_white box_sizing z1 relative cursor_default">@item.Name</a>
                                                                    <div class="vertical_degrade_black absolute_default wh100p opa_50"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div id="PublicationFile-InputView_@files" class="btn_ovalo bck_turkey_light relative image_drag inline w100p_240_st wauto_480_st mar_05 FileContainer PublicationFile">
                                                        <div class="absolute top_0_240_st bottom_0_240_st right_05_240_st mar_auto block wh1p5 bck_pos_green icon_close_1 multi_icon z1 pointer" onclick="deleteFile(this);"></div>
                                                        <div class="pad_r_1_240_st pad_r_2_480_st ellipsis italic fs_09 max_w_10">@item.Name</div>
                                                    </div>
                                                }

                                                files++;
                                            }
                                        }

                                        <div class="inline_divs v_mid_all pointer button_drag fileSelector" onclick="document.getElementById('PublicationSendFile_0').click()">
                                            <div class="wh2 bck_turkey_light bck_turkey_light_hover hover_to_green pointer relative circle">
                                                <span class="wh1 center_absolute icon_add multi_icon inline bck_pos_green"></span>
                                            </div>
                                            <div class="mar_lr_05 italic c_gray fs_08 trans_05 label_button_drag">Agregue el archivo</div>
                                        </div>

                                    </div>
                                </div>

                                <div class="pad_t_1 text-right">
                                    <div class="relative pad_r_15 inline c_gray italic fs_09">
                                        <div class="absolute right_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1p5 bck_pos_green icon_clip multi_icon"></div>
                                        <div>Adjuntar archivos</div>
                                    </div>
                                </div>

                                <div class="text-left simulated_field mar_t_3">
                                    <div class="mdc-text-field w100p mar_b_0 relative">

                                        <div class="mdc-text-field__input simulated relative z1">
                                            @Html.TextBoxFor(m => m.Keywords, new { @id = "Keywords", @class = "mdc-text-field__input fs_1 text-center", required = true, aria_controls = "Keywords-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido.", data_role = "tagsinput" })
                                        </div>

                                        <label class="mdc-text-field__label pad_r_3 absolute_default text-left active scale_0">Agregar palabras claves</label>
                                        <div class="mdc-line-ripple"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="sectionPrev" class="hide">
        <div class="action_toggle_container unselected">
            <div class="text-center relative overflow_h min_h_30 max_w_80 trans_05">
                <div class="pad_b_4 pad_r_3_1366_st relative unselected body_plus_panelright">

                    <div class="text-left" id="theme_prev_container">

                    </div>

                    <div class="pad_t_3 text-left overflow_auto">
                        <div class="bolder" id="titlePrev"></div>

                        <div class="row_lm">

                            <div class="clear_floats">
                                <div class="f_left mar_r_2 mar_b_2 max_w_20">
                                    <img id="SendFilePrev" src="" class="w100p min_w_15">
                                    <div class="pad_t_1 italic">
                                        <a id="keywordsPrev" class="c_purple01 hover_to_green_all pad_r_05 cursor_default"></a>
                                    </div>
                                </div>
                               
                                <div  id="contentPrev" class="note-editor"></div>
                            </div>

                            <div class="italic fs_12 mar_t_2">Archivos adjuntos</div>

                            <div class="text-left relative">
                                <div class="text-left w100p pad_tb_1 inline_divs border_w_2px relative v_mid_all">
                                    @if (Model.PublicationFiles.Count == 0)
                                    {
                                        <label for="" class="midd_container absolute_default wh100p">
                                            <span class="c_gray pad_tb_05">No existen archivos adjuntos</span>
                                        </label>
                                    }
                                    else
                                    {
                                        foreach (var item in Model.PublicationFiles)
                                        {
                                            <div id="RequestFile_@item.PublicationFileId" class="btn_ovalo bck_turkey_light relative image_drag inline w100p_240_st wauto_480_st mar_r_05 FileContainer pointer" onclick="downloadFile('@(item.FileLocation == null ? Url.Action("DownloadFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("DownloadFile", "Application", new { FileUrl = item.FileLocation }))');">
                                                <div class="ellipsis italic fs_09 max_w_10">@item.Name</div>
                                            </div>
                                            <div class="mdl-tooltip" for="RequestFile_@item.PublicationFileId"><strong>Descargar archivo</strong></div>
                                        }
                                    }
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="pad_t_3 text-right" id="sectionBtnEdit">
        <div class="inline_divs v_mid_all w100p">
            <a href="@Url.Action("Publications", "Publication")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2">cancelar</a>

            <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnPrev">
                <span class="wh1p3 icon_view multi_icon bck_pos_white block z1 relative"></span>
            </button>
            <div class="mdl-tooltip" for="BtnPrev"><strong>Previsualizar</strong></div>
        </div>
    </div>

    <div class="pad_t_3 text-right hide" id="sectionBtnPrev">
        <div class="inline_divs v_mid_all w100p">
            <a class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2 pointer" id="BtnEditPub">Editar</a>

            <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
                <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
            </button>
            <div class="mdl-tooltip" for="BtnSave"><strong>Guardar publicación</strong></div>
        </div>
    </div>
}


@section Scripts{
    @*@Scripts.Render("~/Content/assets/javascripts/bootstrap.js")
        @Scripts.Render("~/Content/assets/javascripts/summernote.js")*@
    @Scripts.Render("~/Content/assets/javascripts/summernote-lite.js")
    @Scripts.Render("~/Content/assets/javascripts/summernote-es-ES.js")
    @Scripts.Render("~/Content/assets/javascripts/bootstrap-tagsinput.js")

    @Scripts.Render("~/Scripts/Views/Publication/Publications/Create.js")
    <script>
        function downloadFile(url) {
            imagesInputs.downloadFiles(url);
        }
    </script>
}