﻿@model Entities.Publication
@{
    ViewBag.Title = "Ver Publicación";
    Model.PublicationAssessments = Model.PublicationAssessments.Where(x => x.Enabled).ToList();
}

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2" id="sectionBreadCrumbEdit">
    <a href="@Url.Action("Publications", "Publication")" id="DivToList"> Registros</a>
    <span>/ @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver publicaciones</strong></div>

<div class="content_wrap_body">
    <div class="action_toggle_container unselected" id="action_toggle_container">

        <div class="relative max_w_80 trans_05">
            <div class="pad_b_3 relative">
                <div class="text-left text-left inline_divs column_container">
                    <div>
                        <a href="@Url.Action("Publications", "Publication")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green" data-ajax="false"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center relative overflow_h min_h_20 max_w_80 trans_05">

            <div class="pad_r_3_1366_st relative unselected body_plus_panelright" id="action_toggle_body">
                <div class=" pad_r_20r_1366_st  body_plus_panelright_content scroll-container">

                    <div class="text-left">
                        <div class="pad_r_15 pad_b_2 pad_t_1 b_bottom_gray relative block c_black">
                            <a class="c_black fs_12 pad_l_4_360_st pad_l_5_1024_st pad_tb_05 hover_to_green_all cursor_default">
                                <span class="only_360">
                                    <span class="absolute left_0_240_st top_0_240_st bottom_1_240_st mar_auto w3 h3 w4_480_st h4_480_st w4p5_1024_st h4p5_1024_st">
                                        <span class="profile circle relative wh100p overflow_h mar_auto block">
                                            <span class="center_absolute wh100p z1 bck_cover">
                                                <img class="wh100p absolute_tl_240_st" src="@(Model.InterestTheme.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = Model.InterestTheme.FileLocation}))" />
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="pad_l_1_480_st bolder block">@Model.InterestTheme.Name</span>
                            </a>
                        </div>
                    </div>



                    <div class="pad_t_3 text-left overflow_auto">
                        <div class="bolder">@Model.Title</div>

                        <div class="row_lm">

                            <div class="note-editor clear_floats">

                                <div class="f_left mar_r_2 mar_b_2 max_w_20 clear_floats">
                                    <img src="@(Model.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = Model.FileLocation}))" class="w100p min_w_15">
                                    <div class="pad_t_1 italic">
                                        <a class="c_purple01 hover_to_green_all pad_r_05 cursor_default">@Model.Keywords</a>
                                    </div>
                                </div>

                                @Html.Raw(Model.Body)
                            </div>
                        </div>
                        <br />
                        <div class="italic fs_12 mar_t_2">Archivos adjuntos</div>

                        <div class="text-left relative">
                            <div class="text-left w100p pad_tb_1 inline_divs border_w_2px relative v_mid_all">
                                @if (Model.PublicationFiles.Count == 0)
                                {
                                    <label for="" class="midd_container absolute_default wh100p">
                                        <span class="c_gray pad_tb_05">No existen archivos adjuntos</span>
                                    </label>
                                }
                                else
                                {
                                    foreach (var item in Model.PublicationFiles)
                                    {
                                        <div id="RequestFile_@item.PublicationFileId" class="btn_ovalo bck_turkey_light relative image_drag inline w100p_240_st wauto_480_st mar_r_05 FileContainer pointer" onclick="downloadFile('@(item.FileLocation == null ? Url.Action("DownloadFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("DownloadFile", "Application", new { FileUrl = item.FileLocation }))');">
                                            <div class="ellipsis italic fs_09 max_w_10">@item.Name</div>
                                        </div>
                                        <div class="mdl-tooltip" for="RequestFile_@item.PublicationFileId"><strong>Descargar archivo</strong></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="text-left w20_1366_st absolute_tr_1366_st pad_l_3_1366_st pad_t_3 pad_t_0_1366_st z1 panelright unselected h100p" id="action_toggle_panel">
                <div class="to_1366 split_bottom mar_b_2"></div>

                <div class="column_container">

                    <div class="g_s240_100p g_s700_50p g_s1366_100p pad_r_15_700_st pad_r_0_1366_st">

                        <div class="pad_b_2">
                            <div class="c_gray pad_b_05">Visitas</div>
                            <div class="relative pad_l_2">
                                <div class="absolute left_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1p5 bck_pos_green icon_visibility multi_icon"></div>
                                <div>@Model.ViewsNumber</div>
                            </div>
                        </div>

                        <div class="pad_b_2">
                            <div class="c_gray pad_b_05">Valoración</div>
                            <div class="relative pad_l_2">
                                <div id="rate_readonly" class="absolute left_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1p5"></div>
                                <div class="c_black">@(Model.PublicationAssessments.Count == 0 ? (decimal)0.0 : Decimal.Round((Model.PublicationAssessments.Sum(x => x.Assessment) / Model.PublicationAssessments.Count), 1)) (@Model.PublicationAssessments.Count)</div>
                            </div>
                        </div>

                    </div>

                    <div class="g_s240_100p g_s700_50p g_s1366_100p pad_l_15_700_st pad_l_0_1366_st">

                        <div class="pad_b_2">
                            <div class="c_gray pad_b_05">Fecha de inicio</div>
                            <div class="relative pad_l_2">
                                <div class="absolute left_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1p5 bck_pos_green icon_date multi_icon"></div>
                                <div>@Model.StartDate.ToString("dd-MM-yyyy")</div>
                            </div>
                        </div>

                        <div class="pad_b_2">
                            <div class="c_gray pad_b_05">Fecha de finalización</div>
                            <div class="relative pad_l_2">
                                <div class="absolute left_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1p5 bck_pos_green icon_date multi_icon"></div>
                                <div>@Model.EndDate.ToString("dd-MM-yyyy")</div>
                            </div>
                        </div>

                        <div class="pad_b_2">
                            <div class="c_gray pad_b_05">Rango de edades</div>
                            <div class="relative pad_l_2">
                                <div class="absolute left_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1p5 bck_pos_green icon_miembro multi_icon"></div>
                                @if (Model.PublicationAgeRanges.Count == 0)
                                {
                                    
                                    <div class="c_gray pad_tb_05">Todo público</div>
                                }
                                else
                                {
                                    foreach (var item in Model.PublicationAgeRanges)
                                    {
                                        <div class="c_gray pad_tb_05">@item.AgeRange.Name</div>
                                    }
                                }
                            </div>
                        </div>

                    </div>
                </div>

                <div class="absolute top_0_240_st right_20_240_st only_1366 h100p"><div class="split_icon h100p"></div></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Content/assets/javascripts/rateyo_min.js")

    <script>
        $(function () {
            $('#rate_readonly').rateYo({
                maxValue: 1,
                rating: 1,
                numStars: 1,
                starWidth: "15px",
                readOnly: true,
            });
        });

        function downloadFile(url) {
            imagesInputs.downloadFiles(url);
        }
    </script>

}
