﻿@model List<CR.CGC.GuiasScoutsWeb.Models.DetailTestModel>

@foreach (var item in Model)
{
    <tr>
        <td class="hidden">@Html.Hidden("Id", item.Id, new { @id = "Id", @class = "modelAttr" }) </td>
        <td>@Html.TextBox("Nombre", item.Nombre, new { @id = "Nombre", @class = "modelAttr" })</td>
        <td><button type="button" class="btn btn-sm btn-danger" onclick="rmvChild(this)"><span class="glyphicon glyphicon-remove"></span></button></td>
    </tr>
}