﻿@model CR.CGC.GuiasScoutsWeb.Models.DetailTestModel

<tr>
    <td class="hidden">@Html.Hidden("Id", Model.Id, new { @id = "Id", @class = "modelAttr" }) </td>
    <td>@Html.TextBox("Nombre", Model.Nombre, new { @id = "Nombre", @class = "modelAttr" })</td>
    <td><button type="button" class="btn btn-sm btn-danger" onclick="rmvChild(this)"><span class="glyphicon glyphicon-remove"></span></button></td>
</tr>