﻿@model CR.CGC.GuiasScoutsWeb.Models.TestModel



@using (Ajax.BeginForm("Save", "TestModels", new AjaxOptions {
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "OnBegin",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    OnComplete = "OnComplete"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TestModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AlertTitle, new { @id = "AlertTitle" })
        @Html.HiddenFor(model => model.AlertText, new { @id = "AlertText" })
        @Html.HiddenFor(model => model.VerificationText, new { @id = "VerificationText" })

        <div class="form-group">
            @Html.LabelFor(model => model.NombreDummy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreDummy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreDummy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionDummy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescripcionDummy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescripcionDummy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Save</button>

            </div>
        </div>
    </div>
}