﻿@model CR.CGC.GuiasScoutsWeb.Models.MasterTestModel

@using (Ajax.BeginForm("SaveMasterDetail", "TestModels", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "OnBegin",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    OnComplete = "OnComplete"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Master Detail Model</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AlertTitle, new { @id = "AlertTitle" })
        @Html.HiddenFor(model => model.AlertText, new { @id = "AlertText" })
        @Html.HiddenFor(model => model.VerificationText, new { @id = "VerificationText" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.IdForeign, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.IdForeign, new List<SelectListItem>(), new { @class = "form-control", @id = "IdForeignMaster" })
                @Html.ValidationMessageFor(model => model.IdForeign, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" onclick="addChild()"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>

        <div id="detailForm">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td class="hidden">Id</td>
                        <td>Nombre</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody id="tblChilds">
                    @Html.Action("GetPartial", new { partial = "~/Views/TestModels/_ChildsPartial.cshtml", model = Model.Childs })
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>

    </div>
}