﻿@model CR.CGC.GuiasScoutsWeb.Models.TestModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div id="testForm">
    @Html.Action("GetForm", new { model = Model })
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Scripts.Render("~/Scripts/Views/Test/Create.js")