﻿@model IEnumerable<CR.CGC.GuiasScoutsWeb.Models.TestModel>

@{
    ViewBag.Title = "Index";
}
@Html.Hidden("url_delete", Url.Action("Delete", "TestModels"))

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreDummy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionDummy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioMod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaMod)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDummy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionDummy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioMod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaMod)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Show", "Show", new { id=item.Id }) |
            <a onclick="deleteDummy(@item.Id)">Delete</a>
        </td>
    </tr>
}

</table>

@Scripts.Render("~/Scripts/Views/Test/Index.js")