﻿@model CR.CGC.GuiasScoutsWeb.Models.MasterTestModel
@{
    ViewBag.Title = "Master - Detail";
}

@Html.Hidden("url_newChild", Url.Action("GetChild", "TestModels"))
@Html.Hidden("url_chargeSelect", Url.Action("GetSelect", "TestModels"))

<h2>MasterDetail</h2>

<div id="masterForm">
    @Html.Action("GetPartial", new { partial = "~/Views/TestModels/_MasterPartial.cshtml", model = Model })
</div>

@Scripts.Render("~/Scripts/Views/Test/MasterDetail.js")