﻿@model CR.CGC.GuiasScoutsWeb.Models.TestModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreDummy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDummy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionDummy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionDummy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioMod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioMod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaMod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
