﻿
@{
    ViewBag.Title = "Información de miembros";
}

@Html.Hidden("Url_Get_Binnacle", Url.Action("GetGridInformationBinnacle", "Binnacle"), new { @id = "Url_Get_Binnacle" })
@Html.Hidden("ContentContainer_Scroll", "BinnacleContainer", new { @id = "ContentContainer_Scroll" })

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>@ViewBag.Title</span>
</div>

<div class="content_wrap_body">
    <div class="max_w_80">
        @Html.Hidden("AlertTitle", "Bitácora", new { @id = "AlertTitle" })
        @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })
        <div class="italic fs_12 v_mid_all c_black">Registros a la fecha de hoy</div>

        <div id="BinnacleContainer">
            @Html.Action("GetGridInformationBinnacle", "Binnacle")
        </div>

        @Html.Partial("_InfiniteScrollPartial")
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Content/assets/javascripts/rateyo_min.js")
    @Scripts.Render("~/Scripts/Views/Binnacle/Activity.js")

    @Scripts.Render("~/Scripts/Utilities/InfiniteScrollAnimation.js")
    @Scripts.Render("~/Scripts/Utilities/InfiniteScrollInit.js")
}