﻿@model Entities.Progression

@{
    ViewBag.Title = "Nueva progresión";
}

@Html.Hidden("Url_DefaultImage", Url.Action("ViewFile", "Member", new { FileUrl = "~/Documents/Default/default_image_1.png" }))

<div class="bck_white sh_body relative z2">

    <div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
        <a href="@Url.Action("Progressions", "Member")" id="DivToList"> Catálogos / Complemento de progresión y etapas </a>
        <span>/ @ViewBag.Title</span>
    </div>
    <div class="mdl-tooltip" for="DivToList"><strong>Ver progresiones</strong></div>


    <div class="content_wrap_body">
        <div>
            <a href="@Url.Action("Progressions", "Member")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
        </div>

        <div class="italic fs_12 c_black row_lm">Agregue una nueva etapa o progresión</div>

        <div class="pad_t_4_240_st pad_t_2_700_st">

            @using (Ajax.BeginForm("SaveProgression", "Member", new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,

            }, new { OnBegin = "OnBegin", OnSuccess = "OnSuccess_Progression", validateFunc = "ValidateProgression", enctype = "multipart/form-data", @class = "relative", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.Hidden("AlertTitle", "Complemento de progresión y etapas", new { @id = "AlertTitle" })
                @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

                @Html.HiddenFor(m => m.ProgressionId)
                @Html.HiddenFor(m => m.FileLocation, new { @id = "FileLocation" })

                <div class="max_w_45_1024_st relative">


                    @Html.TextBoxFor(m => m.SendFile, new { @type = "file", @class = "hide imageInput", @id = "SendFile", accept = ".jpg,.png", @for = "SendFile-InputView" })
                    <div class="pad_b_7_1024_st1 absolute_700_st left_1_700_st top_2_700_st">
                        <div id="SendFile-helper-text" class="relative w6 h6 hover_to_green hover_icon_all pointer" onclick="document.getElementById('SendFile').click()">
                            <div class="profile circle relative w6 h6 overflow_h mar_auto bck_transfer border_gray">
                                <div class="center_absolute wh60p z1 bck_cover">
                                    <img id="SendFile-InputView" class="absolute_default w100p" src="@(Model.FileLocation == null ? Url.Action("ViewFile", "Member", new { FileUrl = "~/Documents/Default/default_image_1.png" }) : Url.Action("ViewFile", "Member", new { FileUrl = Model.FileLocation}))" />
                                </div>
                            </div>
                            <div class="circle pad_05 bck_white absolute left_4_240_st top_4_240_st z1">
                                <div class="icon_cam pointer multi_icon inline wh1p5 icon_hover_fade bck_pos_gray"></div>
                            </div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent w6 text-center lh_1 pad_t_1 c_red" aria-hidden="true">Este campo es requerido.</p>
                    </div>

                    <div class="pad_l_10_700_st pad_t_2">
                        <div class="text-left">
                            <div class="italic c_black fs_12">Nombre</div>
                            <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
                                @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "mdc-text-field__input fs_1 pad_r_4", required = true, aria_controls = "Name-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                @Html.LabelFor(m => m.Name, "Ingrese el nombre de la progresión", new { @for = "Name", @class = "mdc-text-field__label" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="Name-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                        </div>

                        <div class="g_s240_100p">
                            <div class="italic c_black fs_12">Sección</div>
                            <div class="hide">
                                @Html.DropDownListFor(m => m.SectionId, (SelectList)ViewBag.SectionList, "Seleccione una opción", new { @id = "SectionId", @name = "SectionId", placeholder = "Seleccione una sección", TextInBlank = "No existen registros de secciones."})
                            </div>
                            <div id="SectionIdSelectDiv"></div>
                        </div>

                        <div class="max_w_15 mar_t_2">
                            <div class="italic c_black fs_12">Estado</div>
                            <div class="hide">
                                @Html.DropDownListFor(m => m.SystemStatusId, (SelectList)ViewBag.StatusList, "Seleccione una opción", new { @id = "SystemStatusId", @name = "SystemStatusId", placeholder = "Seleccione un estado"})
                            </div>
                            <div id="SystemStatusIdSelectDiv"></div>
                        </div>

                    </div>

                </div>


                <div class="pad_t_3 text-right">
                    <div class="inline_divs v_mid_all w100p">

                        <a href="@Url.Action("Progressions", "Member")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2" data-ajax="false">Cancelar</a>

                        <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
                            <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                        </button>
                        <div class="mdl-tooltip" for="BtnSave"><strong>Guardar progresión</strong></div>

                    </div>
                </div>
            }

        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Views/Member/Progressions/Create.js")

