﻿@using CR.CGC.GuiasScoutsWeb.Models
@using CR.CGC.GuiasScoutsWeb.Common
@model List<Entities.MemberAlert>
@{
    PaginationToolsViewModel pagination = (PaginationToolsViewModel)ViewBag.Pagination;
    pagination.ActualRows = Model.Count;

    List<DateTime> DayList = Model.GroupBy(x => x.CreationDate.Date).Select(x => x.Key).OrderByDescending(x => x).ToList();
}

@if (Model.Count > 0)
{
    foreach (var day in DayList)
    {
        <div class="pad_t_3">
            <div class="btn_ovalo bck_body uppercase bold pad_lr_09 c_gray inline fs_07">@(day.Date == DateTime.Now.Date ? "Hoy" : day.ToString("dd \\de MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("es")))</div>
        </div>

        foreach (var notification in Model.Where(x => x.CreationDate.Date == day.Date).ToList())
        {
            <div class="pad_t_2">
                <div class="relative column_container v_bottom_all pad_l_3_480_st">

                    <div class="g_s240_100p g_s480_auto pad_b_05 pad_b_0_480_st">
                        <span class="block relative absolute_480_st left_0_480_st top_0_480_st circle @(notification.AlertType.Other ? "bck_miembro" : AlertIconConstants.GetAlertColor(notification.AlertType.Name)) wh2p5 ">
                            <span class="center_absolute wh1p5">
                                <span class="wh100p block relative @(notification.AlertType.Other ? (notification.AlertType.Name == "Cumpleaños" ? "icon_cake" : "icon_chispero") : AlertIconConstants.GetAlertIcon(notification.AlertType.Name)) multi_icon bck_pos_white"></span>
                            </span>
                        </span>
                    </div>

                    <div class="g_s240_100p g_s480_auto pad_l_1_480_st c_black">
                        Registro de actividad en <span class="fs_15 bolder">@notification.AlertType.Name</span>
                    </div>

                    <div class="c_gray fs_08 g_s240_100p opa_50 pad_l_1_480_st">@notification.CreationDate.ToString("dd \\de MMMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es"))<span class="bold pad_l_05 c_black">@notification.CreationDate.ToString("HH:mm")</span></div>
                </div>
            </div>

            <div class="pad_t_2 pad_l_3_480_st">
                <div class="pad_b_2px">
                    <a class="pad_15 @(notification.Reading ? "bck_body" : "bck_turkey_light") w100p pointer hover_bck_purple notificationItem" data-href="@notification.Url" data-MemberAlertId="@notification.MemberAlertId">
                        <div class="pad_r_2 relative">
                            <span class="block absolute_tr_240_st"><span class="wh1p5 block relative icon_bell_fill multi_icon bck_pos_gray"></span></span>
                            @*<div class="bolder pad_b_1">Title</div>*@
                            <div class="c_gray">@notification.Message</div>
                        </div>
                    </a>
                </div>
            </div>
        }
    }

    <div class="pad_t_3 bolder">
        <div class="relative">
            <div class="absolute_default wh100p">
                <div class="relative h100p"><div class="center_absolute w100p h1px"><div class="split_bottom w100p"></div></div></div>
            </div>
        </div>
    </div>

    @Html.Partial("_TablePaginationPartial", pagination)
}
else
{
    <div class="pad_t_3 bolder">
        <div class="relative">
            <div class="fs_08 c_gray uppercase opa_50">No hay registros</div>

            <div class="absolute_default wh100p pad_l_10">
                <div class="relative h100p">
                    <div class="center_absolute w100p h1px"><div class="split_bottom w100p"></div></div>
                </div>
            </div>
        </div>
    </div>
}
