﻿@{
    ViewBag.Title = "Notificaciones";
}

@Html.Hidden("Url_Get_Pagination", Url.Action("GetGridNotifications", "Configuration"), new { @id = "Url_Get_Pagination" })
@Html.Hidden("Container_Grid_Pagination", "GridNotifications", new { @id = "Container_Grid_Pagination" })

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>Notificaciones</span>
</div>

<div class="content_wrap_body">
    <div class="max_w_80">
        @Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
        @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })
        <div class="italic fs_12 v_mid_all c_black">Registros a la fecha de hoy</div>

        <div id="GridNotifications">
            @Html.Action("GetGridNotifications", "Configuration")
        </div>
    </div>
</div>