﻿@model IEnumerable<Entities.PositionType>

@Html.Hidden("Url_ToEdit", Url.Action("GetPositionType", "Configuration"))

<div class="relative h100p">

    <div class="text-right pad_b_1px absolute_1024_st bottom_100p_1024_st right_0_240_st">
        <div class="pad_tb_05 pad_lr_15 bck_body c_gray inline bolder fs_09 v_bottom_all">
            Historial <span class="icon_historia wh1p5 inline multi_icon bck_pos_black relative opa_30 mar_l_05"></span>
        </div>
    </div>

    <div class="pad_15 bck_body absolute_1024_st top_0_1024_st left_0_240_st h100p overflow_auto w100p">
        <div class="list_block">

            @foreach (Entities.PositionType type in Model)
            {
                <div class="bck_white pad_15 relative overflow_h">
                    <div class="relative">

                        <div class="pointer pad_r_3 pad_l_2" onclick="javascript:unhide('type_@(type.PositionTypeId)');unhide('name_@(type.PositionTypeId)');">
                            @type.Name
                            <div class="w1 h05 absolute left_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                <div class="arrow gray_arrow w1 h05 unselected" id="name_@(type.PositionTypeId)"></div>
                            </div>
                        </div>

                        <div class="actions h5 z1 absolute_tr_240_st text-right">
                            <div class="wh2 inline multi_icon bck_pos_gray relative icon_points absolute_tr_240_st icon_points mar_auto bottom_0_240_st"></div>
                            <div class="action_buttons text-right absolute h2 inline_divs v_mid_all w10 inline_divs">

                                <div class="circle_hover pointer relative pad_05" onclick="ToEditPositionType(@type.PositionTypeId)" id="BtnEdit@(type.PositionTypeId)">
                                    <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                </div>

                                <div class="mdl-tooltip" for="BtnEdit@(type.PositionTypeId)"><strong>Editar tipo</strong></div>

                            </div>
                        </div>

                    </div>

                    <div class="toggle_height unselected" id="type_@(type.PositionTypeId)">

                        <div class="pad_tb_15"><div class="split_bottom"></div></div>

                        <div class="c_gray">
                            <p>Categoría: <b>@type.BaseCatalog.Name</b></p>
                            <p>Género: <b>@type.Gender.Name</b></p>
                            <p>Rango de edad: <b>@(type.AgeRange.Name + " / " + type.AgeRange.MinimumAge.ToString() + " - " + type.AgeRange.MaximumAge.ToString())</b></p>
                            <p>@type.Description</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>





