﻿@model Entities.PositionType

@using (Ajax.BeginForm("SavePositionType", "Configuration", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "CreateContainer",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",

}, new { OnBegin = "OnBegin", validateFunc = "ValidatePositionType", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.Hidden("AlertTitle", "Tipo de cargo", new { @id = "AlertTitle" })
    @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

    @Html.HiddenFor(m => m.PositionTypeId)


    <div class="text-left">
        <div class="italic c_black fs_12">Nombre</div>
        <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
            @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "mdc-text-field__input fs_1", required = true, aria_controls = "Name-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
            @Html.LabelFor(m => m.Name, "Ingrese el nombre", new { @for = "Name", @class = "mdc-text-field__label" })
            <div class="mdc-line-ripple"></div>
        </div>
        <p id="Name-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
    </div>

    <div class="mar_b_2">
        <div class="italic c_black fs_12">Categoría</div>
        <div class="hide">
            @Html.DropDownListFor(m => m.CategoryId, (SelectList)ViewBag.CategoriesList, "Seleccione una opción", new { @id = "CategoryId", @name = "CategoryId", placeholder = "Seleccione una categoría" })
        </div>
        <div id="CategoryIdSelectDiv"></div>
    </div>

    <div class="mar_b_2">
        <div class="italic c_black fs_12">Género</div>
        <div class="hide">
            @Html.DropDownListFor(m => m.GenderId, (SelectList)ViewBag.GendersList, "Seleccione una opción", new { @id = "GenderId", @name = "GenderId", placeholder = "Seleccione un género" })
        </div>
        <div id="GenderIdSelectDiv"></div>
    </div>

    <div class="mar_b_2">
        <div class="italic c_black fs_12">Rango de edades</div>
        <div class="hide">
            @Html.DropDownListFor(m => m.AgeRangeId, (SelectList)ViewBag.AgeRangesList, "Seleccione una opción", new { @id = "AgeRangeId", @name = "AgeRangeId", placeholder = "Seleccione un rango" })
        </div>
        <div id="AgeRangeIdSelectDiv"></div>
    </div>

    <div class="text-left">
        <div class="italic c_black fs_12">Descripción</div>
        <div class="mdc-text-field mdc-text-field--textarea w100p msn_text" data-mdc-auto-init="MDCTextField">
            @Html.TextAreaFor(m => m.Description, new { @id = "Description", @class = "mdc-text-field__input fs_1", cols = "30", rows = "9", aria_controls = "Description-helper-text", MaxLength = "250", title = "Ingrese la descripción." })
            @Html.LabelFor(m => m.Description, "Ingrese la descripción", new { @for = "Description", @class = "mdc-text-field__label" })
            <div class="mdc-line-ripple"></div>
        </div>
        <p id="Description-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
    </div>

    <div class="inline_divs v_mid_all w100p">

        @if (Model.PositionTypeId != null)
        {
            if (Model.PositionTypeId != 0)
            {
                <a class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2 pointer" onclick="ToEditPositionType(0)" id="BtnCancel">Cancelar</a>
                <div class="mdl-tooltip" for="BtnCancel"><strong>Cancelar edición</strong></div>
            }
        }

        <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
            <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
        </button>

        <div class="mdl-tooltip" for="BtnSave"><strong>Guardar tipo de cargo</strong></div>

    </div>
}




