﻿@model Entities.SectionType

@{
    if (Model.AgeRange == null)
    {
        Model.AgeRange = new Entities.AgeRange();
    }
}

<div class="italic c_black fs_12 pad_b_1">Rango de edades</div>

<div class="pad_lr_4 relative">
    <div class="capitalize absolute left_0_240_st bottom_0_240_st bottom_auto_360_st top_1_360_st c_gray">Min</div>

    <div class="mdc-slider mdc-slider--discrete doc-slider only_360" id="MinimumAge-input-slider" tabindex="1" role="slider" aria-valuemin="6" aria-valuemax="99" aria-valuenow="6" aria-label="Select Value" aria-disabled="true">
        <div class="mdc-slider__track-container"><div class="mdc-slider__track"></div></div>
        <div class="mdc-slider__thumb-container">
            <div class="mdc-slider__pin"><span class="mdc-slider__pin-value-marker"></span></div>
            <svg class="mdc-slider__thumb" width="21" height="21"><circle cx="10.5" cy="10.5" r="7.875"></circle></svg>
            <div class="mdc-slider__focus-ring"></div>
        </div>
    </div>

    <div class="capitalize absolute_360_st right_0_360_st bottom_1_360_st c_gray w3_360_st w4_240_st pad_b_08_360_st">
        <div class="mdc-text-field w100p mar_tb_0 mdc-text-field--disabled" data-mdc-auto-init="MDCTextField">
            @Html.TextBox("MinimumAge", Model.AgeRange.MinimumAge, new { @id = "MinimumAge", @class = "mdc-text-field__input fs_1 c_gray numeric text-center input-slider", @for = "MinimumAge-input-slider", MaxLength = "2", @readonly = true })
            <div class="mdc-line-ripple"></div>
        </div>
    </div>
</div>

<div class="pad_lr_4 relative">
    <div class="capitalize absolute left_0_240_st bottom_0_240_st bottom_auto_360_st top_1_360_st c_gray">Max</div>

    <div class="mdc-slider mdc-slider--discrete doc-slider only_360" id="MaximumAge-input-slider" tabindex="1" role="slider" aria-valuemin="6" aria-valuemax="99" aria-valuenow="6" aria-label="Select Value" aria-disabled="true">
        <div class="mdc-slider__track-container"><div class="mdc-slider__track"></div></div>
        <div class="mdc-slider__thumb-container">
            <div class="mdc-slider__pin"><span class="mdc-slider__pin-value-marker"></span></div>
            <svg class="mdc-slider__thumb" width="21" height="21"><circle cx="10.5" cy="10.5" r="7.875"></circle></svg>
            <div class="mdc-slider__focus-ring"></div>
        </div>
    </div>

    <div class="capitalize absolute_360_st right_0_360_st bottom_1_360_st c_gray w3_360_st w4_240_st pad_b_08_360_st">
        <div class="mdc-text-field w100p mar_tb_0 mdc-text-field--disabled" data-mdc-auto-init="MDCTextField">
            @Html.TextBox("MaximumAge", Model.AgeRange.MaximumAge, new { @id = "MaximumAge", @class = "mdc-text-field__input fs_1 c_gray numeric text-center input-slider", @for = "MaximumAge-input-slider", MaxLength = "2", @readonly = true })
            <div class="mdc-line-ripple"></div>
        </div>
    </div>
</div>
