﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Member

<div class="row_lm">
    <div class="italic fs_12 c_black">Agregue un nuevo miembro juvenil</div>

    <div class="pad_t_4_240_st pad_t_2_700_st">
        @using (Ajax.BeginForm("SaveMember_Young", "Member", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,

        }, new { OnBegin = "OnBegin", OnSuccess = "OnSuccess_Member", validateFunc = "ValidateMember_Young", enctype = "multipart/form-data", @class = "relative", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.MemberId, new { @id = "MemberId_Young", @Name = "Young.MemberId", Value = (Model.MemberId == null ? 0 : Model.MemberId) })
            @Html.HiddenFor(m => m.Photo, new { @id = "Photo_Young", @Name = "Young.Photo" })

            <div class="min_h_65 relative">

                <div class="absolute_tl_1366_st w20_1366_st overflow_y_h_auto overflow_x_h">

                    @Html.TextBoxFor(m => m.SendFile, new { @type = "file", @class = "hide imageInput", @id = "SendFile_Young", @Name = "Young.SendFile", accept = ".jpg,.png", @for = "SendFile_Young-InputView" })
                    <div class="pad_b_3 split_bottom_dashed">
                        <div id="SendFile_Young-helper-text" class="relative w9 h9 mar_auto hover_to_green hover_icon_all pointer" onclick="document.getElementById('SendFile_Young').click()">
                            <div class="profile circle relative w9 h9 overflow_h mar_auto">
                                <img id="SendFile_Young-InputView" class="center_absolute wh100p z1" src="@(Model.Photo == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Application", new { FileUrl = Model.Photo}))" />
                            </div>
                            <div class="circle pad_03 bck_white absolute_br_240_st z1">
                                <div class="icon_cam pointer multi_icon inline wh1p3 icon_hover_fade bck_pos_gray bck_hover_gray"></div>
                            </div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent w100p text-center lh_1 pad_t_1 c_red" aria-hidden="true">Este campo es requerido.</p>
                    </div>

                    <div class="pad_t_2">

                        <div class="text-left">
                            <div class="hide">
                                @Html.DropDownListFor(m => m.NationalityId, (SelectList)ViewBag.ListNationality, "Seleccione una opción", new { @id = "NationalityId_Young", @Name = "Young.NationalityId", placeholder = "Nacionalidad" })
                            </div>
                            <div id="NationalityId_YoungSelectDiv"></div>
                        </div>

                        <div class="text-left">
                            <div class="hide">
                                @Html.DropDownListFor(m => m.IDType, (SelectList)ViewBag.ListTypes, "Seleccione una opción", new { @id = "IDType_Young", @Name = "Young.IDType", placeholder = "Tipo de Identificación" })
                            </div>
                            <div id="IDType_YoungSelectDiv"></div>
                        </div>

                        @Html.Hidden("IDTypeBlank_Young", CustomSession.CurrentSession.CatalogConstants.IdentificationTypeBlankId, new { @id = "IDTypeBlank_Young" })
                        <div class="text-left">
                            <div class="mdc-text-field w100p msn_text @(Model.IDType == 0 || Model.IDType == CustomSession.CurrentSession.CatalogConstants.IdentificationTypeBlankId ? "mdc-text-field--disabled" : "")" data-mdc-auto-init="MDCTextField">
                                <label for="IDNumber_Young" class="multi_icon icon_id bck_pos_gray icon_hover_fade wh2 absolute right_0_240_st bottom_05_240_st"></label>
                                @if (Model.IDType == 0 || Model.IDType == CustomSession.CurrentSession.CatalogConstants.IdentificationTypeBlankId)
                                {
                                    @Html.TextBoxFor(m => m.IDNumber, new { @id = "IDNumber_Young", @class = "mdc-text-field__input fs_1 pad_r_3", @Name = "Young.IDNumber", @readonly = true, disabled = true, aria_controls = "IDNumber_Young-helper-text", MaxLength = "50", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.IDNumber, new { @id = "IDNumber_Young", @class = "mdc-text-field__input fs_1 pad_r_3", @Name = "Young.IDNumber", required = true, aria_controls = "IDNumber_Young-helper-text", MaxLength = "50", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                }
                                @Html.LabelFor(m => m.IDNumber, "ID", new { @for = "IDNumber_Young", @class = "mdc-text-field__label" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="IDNumber_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                        </div>

                        <div class="italic c_black fs_12 pad_t_3">General</div>

                        <div class="text-left">
                            <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
                                @Html.TextBoxFor(m => m.Names, new { @id = "Names_Young", @class = "mdc-text-field__input fs_1", @Name = "Young.Names", required = true, aria_controls = "Names_Young-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                @Html.LabelFor(m => m.Names, "Nombres", new { @for = "Names_Young", @class = "mdc-text-field__label" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="Names_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                        </div>

                        <div class="text-left">
                            <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
                                @Html.TextBoxFor(m => m.Surnames, new { @id = "Surnames_Young", @class = "mdc-text-field__input fs_1", @Name = "Young.Surnames", required = true, aria_controls = "Surnames_Young-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                @Html.LabelFor(m => m.Surnames, "Apellidos", new { @for = "Surnames_Young", @class = "mdc-text-field__label" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="Surnames_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                        </div>

                        <div class="text-left">
                            <div class="mdc-text-field mdc-text-field--upgraded w100p mar_0" data-mdc-auto-init="MDCTextField">
                                <label for="BirthDate_Young" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                                @Html.TextBoxFor(m => m.BirthDate, "{0:dd-MM-yyyy}", new { @id = "BirthDate_Young", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", @Name = "Young.BirthDate", required = true, aria_controls = "BirthDate_Young-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido.", maxDate = DateTime.Now.ToString("dd-MM-") + (DateTime.Now.Year - 4).ToString() })
                                @Html.LabelFor(m => m.BirthDate, "Fecha de nacimiento", new { @for = "BirthDate_Young", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="BirthDate_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                        </div>

                        <div class="text-left">
                            <div class="hide">
                                @Html.DropDownListFor(m => m.GenderId, (SelectList)ViewBag.ListGender, "Seleccione una opción", new { @id = "GenderId_Young", @Name = "Young.GenderId", placeholder = "Género" })
                            </div>
                            <div id="GenderId_YoungSelectDiv"></div>
                        </div>
                    </div>
                </div>

                <div class="pad_t_3 pad_b_1 to_1366"><div class="split_bottom_dashed h100p"></div></div>
                <div class="absolute top_0_240_st left_20_1366_st only_1366 h100p mar_l_3"><div class="split_icon h100p"></div></div>

                <div class="pad_l_25r_1366_st max_w_80 ">
                    <div class="list_block pad_l_1_1366_st">

                        <div class="relative">
                            <div class="pad_tb_15 b_bottom_gray b_transparent_change relative overflow_h unselected containerForValidation_Young" id="container_item_1_Young">

                                <div class="relative">
                                    <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation_Young" onclick="javascript:unhide('item_1_Young');unhide('name_1_Young');unhide('container_item_1_Young');unhide('icon_item_1_Young');">

                                        <div class="pad_l_3 ellipsis relative h2 lh_2">
                                            <span class="multi_icon icon_folder bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_1_Young"></span>
                                            Información del miembro
                                        </div>

                                        <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                            <div class="arrow gray_arrow w1 h05 unselected" id="name_1_Young"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="toggle_height unselected containerBodyForValidation_Young" id="item_1_Young">
                                    <div class="pad_t_15"><div class="split_bottom"></div></div>

                                    <div class="column_container">

                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                            <div class="text-left">
                                                <div class="mdc-text-field mdc-text-field--upgraded w100p mar_0" data-mdc-auto-init="MDCTextField">
                                                    <label for="StartDate_Young__" id="StartDate_Young_clear" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                                                    @Html.TextBoxFor(m => m.StartDate, "{0:dd-MM-yyyy}", new { @id = "StartDate_Young", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", @Name = "Young.StartDate", aria_controls = "StartDate_Young-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido.", maxDate = DateTime.Now.ToString("dd-MM-yyyy") })
                                                    @Html.LabelFor(m => m.StartDate, "Fecha de ingreso", new { @for = "StartDate_Young", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                                                    <div class="mdc-line-ripple"></div>
                                                </div>
                                                @*<p id="StartDate_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>*@
                                            </div>
                                        </div>

                                        <div class="g_s240_100p g_s480_50p pad_l_15_480_st">
                                            <div class="hide">
                                                @Html.DropDownListFor(m => m.MemberStatusId, (SelectList)ViewBag.StatusList, "Seleccione una opción", new { @id = "MemberStatusId_Young", @Name = "Young.MemberStatusId", placeholder = "Estado" })
                                            </div>
                                            <div id="MemberStatusId_YoungSelectDiv"></div>
                                        </div>
                                    </div>

                                    <div class="column_container">
                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                            <div id="MemberPositionContainerYoung">
                                                @if (Model.MemberPositions == null || Model.MemberPositions.Count == 0)
                                                {
                                                    <div class="column_container relative PositionContainerYoung">
                                                        <input name="Young.MemberPositions[0].MemberPositionId" id="MemberPositions_MemberPositionId_0_Young" type="hidden" value="0">

                                                        <div class="text-left w100p">
                                                            <div class="hide">
                                                                @Html.DropDownList("Young.MemberPositions[0].PositionId", (SelectList)ViewBag.PositionList_Young, "Seleccione una opción", new
                                                                {
                                                                    @id = "MemberPositions_PositionId_0_Young",
                                                                    placeholder = "Cargo"
                                                                })
                                                            </div>
                                                            <div id="MemberPositions_PositionId_0_YoungSelectDiv" class="visualSelectContainer"></div>
                                                        </div>

                                                    </div>
                                                }
                                                else
                                                {
                                                    int i = 0;
                                                    foreach (var item in Model.MemberPositions)
                                                    {
                                                        if (i == 0)
                                                        {
                                                            <div class="column_container relative PositionContainerYoung">
                                                                <input name="Young.MemberPositions[@i].MemberPositionId" id="@("MemberPositions_MemberPositionId_" + i + "_Young")" type="hidden" value="@item.MemberPositionId">

                                                                <div class="text-left w100p">
                                                                    <div class="hide">
                                                                        @Html.DropDownList("Young.MemberPositions[" + i + "].PositionId", new SelectList(((SelectList)ViewBag.PositionList_Young).Items, ((SelectList)ViewBag.PositionList_Young).DataValueField, ((SelectList)ViewBag.PositionList_Young).DataTextField, item.PositionId), "Seleccione una opción", new
                                                                        {
                                                                            @id = "MemberPositions_PositionId_" + i + "_Young",
                                                                            @Value = item.PositionId,
                                                                            placeholder = "Cargo"
                                                                        })
                                                                    </div>
                                                                    <div id="@("MemberPositions_PositionId_" + i + "_YoungSelectDiv")" class="visualSelectContainer"></div>
                                                                </div>

                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="column_container relative pad_r_4 PositionContainerYoung">
                                                                <input name="Young.MemberPositions[@i].MemberPositionId" id="@("MemberPositions_MemberPositionId_" + i + "_Young")" type="hidden" value="@item.MemberPositionId">

                                                                <div class="text-left w100p">
                                                                    <div class="hide">
                                                                        @Html.DropDownList("Young.MemberPositions[" + i + "].PositionId", new SelectList(((SelectList)ViewBag.PositionList_Young).Items, ((SelectList)ViewBag.PositionList_Young).DataValueField, ((SelectList)ViewBag.PositionList_Young).DataTextField, item.PositionId), "Seleccione una opción", new
                                                                        {
                                                                            @id = "MemberPositions_PositionId_" + i + "_Young",
                                                                            @value = item.PositionId,
                                                                            placeholder = "Cargo"
                                                                        })
                                                                    </div>
                                                                    <div id="@("MemberPositions_PositionId_" + i + "_YoungSelectDiv")" class="visualSelectContainer"></div>
                                                                </div>

                                                                <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                                    <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removePositionYoung">
                                                                        <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        }

                                                        i++;
                                                    }
                                                }
                                            </div>

                                            <a id="btnAddPositionYoung" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                                                <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                                Agregar otro cargo
                                            </a>
                                        </div>

                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                            <div class="mdc-form-field fs_12 c_black h6">
                                                <div class="mdc-checkbox">
                                                    @Html.CheckBoxFor(m => m.IsGorS, new { @id = "IsGorS_Young", @Name = "Young.IsGorS", @class = "mdc-checkbox__native-control" })
                                                    <div class="mdc-checkbox__background">
                                                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path></svg>
                                                        <div class="mdc-checkbox__mixedmark"></div>
                                                    </div>
                                                </div>

                                                <label for="IsGorS_Young" class="c_gray pointer italic fs_1 hover_to_green ellipsis hover_icon_all pointer">¿Es Miembro Guía y Scout?</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected containerForValidation_Young" id="container_item_2_Young">

                            <div class="relative">
                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation_Young" onclick="javascript:unhide('item_2_Young');unhide('name_2_Young');unhide('container_item_2_Young');unhide('icon_item_2_Young');">

                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                        <span class="multi_icon icon_group bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_2_Young"></span>
                                        Parentesco
                                    </div>

                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_2_Young"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="toggle_height unselected containerBodyForValidation_Young" id="item_2_Young">
                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                <div id="MemberKinshipContainerYoung">
                                    @{
                                        int ind = 0;
                                        foreach (var item in Model.MemberKinships)
                                        {
                                            <div class="column_container relative pad_r_4 KinshipContainerYoung">
                                                <input name="@("Young.MemberKinships[" + ind + "].MemberKinshipId")" id="@("MemberKinships_MemberKinshipId_" + ind + "_Young")" type="hidden" value="@item.MemberKinshipId">

                                                <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                                    <div class="text-left">
                                                        <div class="hide">
                                                            @Html.DropDownList("Young.MemberKinships[" + ind + "].KinId", new SelectList(((SelectList)ViewBag.ListMember).Items, ((SelectList)ViewBag.ListMember).DataValueField, ((SelectList)ViewBag.ListMember).DataTextField, item.KinId), "Seleccione una opción", new
                                                            {
                                                                @id = "MemberKinships_KinId_" + ind + "_Young",
                                                                placeholder = "Miembro",
                                                                data = "KinId"
                                                            })
                                                        </div>
                                                        <div id="@("MemberKinships_KinId_" + ind + "_YoungSelectDiv")" class="visualSelectContainer" data="KinId"></div>
                                                    </div>
                                                </div>

                                                <div class="g_s240_100p g_s480_50p pad_l_15_480_st ">
                                                    <div class="text-left">
                                                        <div class="hide">
                                                            @Html.DropDownList("Young.MemberKinships[" + ind + "].KinshipId", new SelectList(((SelectList)ViewBag.ListKinship).Items, ((SelectList)ViewBag.ListKinship).DataValueField, ((SelectList)ViewBag.ListKinship).DataTextField, item.KinshipId), "Seleccione una opción", new
                                                            {
                                                                @id = "MemberKinships_KinshipId_" + ind + "_Young",
                                                                placeholder = "Parentesco",
                                                                data = "KinshipId"
                                                            })
                                                        </div>
                                                        <div id="@("MemberKinships_KinshipId_" + ind + "_YoungSelectDiv")" class="visualSelectContainer" data="KinshipId"></div>
                                                    </div>
                                                </div>

                                                <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                    <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeKinshipYoung">
                                                        <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                    </a>
                                                </div>

                                            </div>

                                            ind++;
                                        }
                                    }
                                </div>

                                <div class="">
                                    <a id="btnAddKinshipYoung" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                                        <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                        Agregar otro pariente
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected containerForValidation_Young" id="container_item_3_Young">

                            <div class="relative">
                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation_Young" onclick="javascript:unhide('item_3_Young');unhide('name_3_Young');unhide('container_item_3_Young');unhide('icon_item_3_Young');">

                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                        <span class="multi_icon icon_address bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_3_Young"></span>
                                        Ubicación
                                    </div>

                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_3_Young"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="toggle_height unselected containerBodyForValidation_Young" id="item_3_Young">
                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                <div class="">

                                    <div class="text-left">
                                        <div class="mdc-text-field mdc-text-field--textarea w100p msn_text" data-mdc-auto-init="MDCTextField">
                                            @Html.TextAreaFor(m => m.Address, new { @id = "Address_Young", @class = "mdc-text-field__input fs_1", @Name = "Young.Address", cols = "30", rows = "4", required = true, aria_controls = "Address_Young-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                            @Html.LabelFor(m => m.Address, "Ingrese su dirección", new { @for = "Address_Young", @class = "mdc-text-field__label" })
                                            <div class="mdc-line-ripple"></div>
                                        </div>
                                        <p id="Address_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                    </div>

                                    @if (Model.MemberId != null && Model.MemberId != 0)
                                    {
                                        @Html.Hidden("ProvinceId_hf", Model.District.Canton.ProvinceId, new { @id = "ProvinceId_hf", @dataTabType = "Young" })
                                        @Html.Hidden("CantonId_hf", Model.District.CantonId, new { @id = "CantonId_hf", @dataTabType = "Young" })
                                        @Html.Hidden("DistrictId_hf", Model.DistrictId, new { @id = "DistrictId_hf", @dataTabType = "Young" })
                                    }
                                    <div class="column_container">

                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                            <div class="hide">
                                                @Html.DropDownList("ProvinceId", (SelectList)ViewBag.ProvinceList, "Seleccione una Opción", new { @id = "ProvinceId_Young", @Name = "Young.ProvinceId", placeholder = "Provincia" })
                                            </div>
                                            <div id="ProvinceId_YoungSelectDiv"></div>
                                        </div>

                                        <div class="g_s240_100p g_s480_50p pad_l_15_480_st" id="CantonContainer_Young">
                                            <div class="hide">
                                                @Html.DropDownList("CantonId", (SelectList)ViewBag.CantonList, "Seleccione una Opción", new { @id = "CantonId_Young", @Name = "Young.CantonId", placeholder = "Cantón", TextInBlank = "Debe seleccionar una provincia." })
                                            </div>
                                            <div id="CantonId_YoungSelectDiv"></div>
                                        </div>
                                    </div>

                                    <div class="column_container pad_r_15_480_st">

                                        <div class="g_s240_100p g_s480_25p pad_r_15_480_st" id="DistrictContainer_Young">
                                            <div class="hide">
                                                @Html.DropDownList("DistrictId", (SelectList)ViewBag.DistrictList, "Seleccione una Opción", new { @id = "DistrictId_Young", @Name = "Young.DistrictId", placeholder = "Distrito", TextInBlank = "Debe seleccionar un cantón." })
                                            </div>
                                            <div id="DistrictId_YoungSelectDiv"></div>
                                        </div>

                                        <div class="g_s240_100p g_s480_25p pad_l_15_480_st">
                                            <div class="text-left">
                                                <div class="mdc-text-field w100p mdc-text-field--disabled mdc-text-field--upgraded" data-mdc-auto-init="MDCTextField">
                                                    @Html.TextBoxFor(m => m.PostalCode, new { @id = "PostalCode_Young", @class = "mdc-text-field__input fs_1 text-center numeric", @Name = "Young.PostalCode", aria_controls = "PostalCode_Young-helper-text", MaxLength = "5", @readonly = true, @Value = (Model.MemberId != null && Model.MemberId != 0 ? (Model.PostalCode ?? "00000") : "00000"), oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                    @Html.LabelFor(m => m.PostalCode, "Código postal", new { @for = "PostalCode_Young", @class = "mdc-text-field__label mdc-floating-label--float-above" })
                                                    <div class="mdc-line-ripple"></div>
                                                </div>
                                                <p id="PostalCode_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="relative">
                            <div class="pad_tb_15 b_bottom_gray b_transparent_change relative overflow_h unselected containerForValidation_Young" id="container_item_4_Young" data-social_menu="social_menu_new_Young">

                                <div class="relative">
                                    <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation_Young" onclick="javascript:unhide('item_4_Young');unhide('name_4_Young');unhide('container_item_4_Young');unhide('icon_item_4_Young');">

                                        <div class="pad_l_3 ellipsis relative h2 lh_2">
                                            <span class="multi_icon icon_contact bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_4_Young"></span>
                                            Contacto
                                        </div>

                                        <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                            <div class="arrow gray_arrow w1 h05 unselected" id="name_4_Young"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="toggle_height unselected containerBodyForValidation_Young" id="item_4_Young">
                                    <div class="pad_t_15"><div class="split_bottom"></div></div>

                                    <div class="column_container">
                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                            <div class="text-left">
                                                <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
                                                    <label for="Email_Young" class="multi_icon icon_mail bck_pos_gray icon_hover_fade wh1p5 absolute right_0_240_st bottom_05_240_st"></label>
                                                    @Html.TextBoxFor(m => m.Email, new { @id = "Email_Young", @class = "mdc-text-field__input fs_1 pad_r_25", @Name = "Young.Email", required = true, aria_controls = "Email_Young-helper-text", MaxLength = "100", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$", oninvalid = "this.setCustomValidity('Debe cumplir con el formato de correo electrónico.')", oninput = "this.setCustomValidity('')", title = "Debe cumplir con el formato de correo electrónico." })
                                                    @Html.LabelFor(m => m.Email, "Correo electrónico", new { @for = "Email_Young", @class = "mdc-text-field__label pad_r_25" })
                                                    <div class="mdc-line-ripple"></div>
                                                </div>
                                                <p id="Email_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de correo electrónico</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="column_container">

                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">

                                            <div id="MemberSocialNetworkContainerYoung">
                                                @if (Model.MemberId == null || Model.MemberId == 0)
                                                {
                                                    <div class="text-left SocialNetworkContainerYoung">
                                                        <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                            <input name="Young.MemberSocialNetworks[0].MemberSocialNetworkId" id="MemberSocialNetworks_MemberSocialNetworkId_0_Young" data="id" type="hidden" value="0">
                                                            <input name="Young.MemberSocialNetworks[0].TypeId" id="MemberSocialNetworks_TypeId_0_Young" data="type" type="hidden" value="@CustomSession.CurrentSession.SocialNetworkConstants.FacebookId">

                                                            <label for="MemberSocialNetworks_Nickname_0_Young" class="multi_icon icon_social_fb bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_fb" data-tab-type="Young"></label>
                                                            <input name="Young.MemberSocialNetworks[0].Nickname" id="MemberSocialNetworks_Nickname_0_Young" aria-controls="MemberSocialNetworks_Nickname_0_Young-helper-text" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_Social" required maxlength="100" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="setCustomValidity('')" title="Este campo es requerido.">
                                                            <label for="MemberSocialNetworks_Nickname_0_Young" class="mdc-text-field__label pad_r_25">Nombre de usuario</label>
                                                            <div class="mdc-line-ripple"></div>
                                                        </div>
                                                        <p id="MemberSocialNetworks_Nickname_0_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    int i = 0;
                                                    foreach (var item in Model.MemberSocialNetworks)
                                                    {
                                                        <div class="text-left SocialNetworkContainerYoung">
                                                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                                <input name="Young.MemberSocialNetworks[@i].MemberSocialNetworkId" id="@("MemberSocialNetworks_MemberSocialNetworkId_" + i + "_Young")" data="id" type="hidden" value="@item.MemberSocialNetworkId">
                                                                <input name="Young.MemberSocialNetworks[@i].TypeId" id="@("MemberSocialNetworks_TypeId_" + i + "_Young")" data="type" type="hidden" value="@item.TypeId">

                                                                @if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.FacebookId)
                                                                {
                                                                    <label for="@("MemberSocialNetworks_Nickname_" + i + "_Young")" class="multi_icon icon_social_fb bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_fb" data-tab-type="Young"></label>
                                                                }
                                                                else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.TwitterId)
                                                                {
                                                                    <label for="@("MemberSocialNetworks_Nickname_" + i + "_Young")" class="multi_icon icon_social_tw bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_tw" data-tab-type="Young"></label>
                                                                }
                                                                else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.InstagramId)
                                                                {
                                                                    <label for="@("MemberSocialNetworks_Nickname_" + i + "_Young")" class="multi_icon icon_social_inst bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_inst" data-tab-type="Young"></label>
                                                                }
                                                                else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.GoogleId)
                                                                {
                                                                    <label for="@("MemberSocialNetworks_Nickname_" + i + "_Young")" class="multi_icon icon_social_gp bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_gp" data-tab-type="Young"></label>
                                                                }
                                                                else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.YoutubeId)
                                                                {
                                                                    <label for="@("MemberSocialNetworks_Nickname_" + i + "_Young")" class="multi_icon icon_social_yt bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_yt" data-tab-type="Young"></label>
                                                                }
                                                                else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.LinkedInId)
                                                                {
                                                                    <label for="@("MemberSocialNetworks_Nickname_" + i + "_Young")" class="multi_icon icon_social_in bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_in" data-tab-type="Young"></label>
                                                                }
                                                                <input name="Young.MemberSocialNetworks[@i].Nickname" id="@("MemberSocialNetworks_Nickname_" + i + "_Young")" aria-controls="@("MemberSocialNetworks_Nickname_" + i + "_Young-helper-text")" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_Social" required maxlength="100" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido." value="@item.Nickname">
                                                                <label for="@("MemberSocialNetworks_Nickname_" + i + "_Young")" class="mdc-text-field__label pad_r_25">Nombre de usuario</label>
                                                                <div class="mdc-line-ripple"></div>
                                                            </div>
                                                            <p id="@("MemberSocialNetworks_Nickname_" + i + "_Young-helper-text")" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                                        </div>

                                                        i++;
                                                    }
                                                }
                                            </div>

                                            <div class="relative mdc-menu-anchor">
                                                <div id="btnAddSocialNetworkYoung" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer menu-button social_menu social_network_menu" data-menuel="social_menu_new_Young">
                                                    <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                                    Agregar red social
                                                </div>

                                                <div class="mdc-menu mdc-menu--animating-open zoom_font mar_t_15_240_st right_0_240_st top_5_240_st" tabindex="-1" id="social_menu_new_Young" style="min-width:11rem;">
                                                    <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                                                        <li class="mdc-list-item text-left no_padding hide" role="menuitem" tabindex="0">
                                                            <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector_Young" data="@CustomSession.CurrentSession.SocialNetworkConstants.FacebookId"><span class="inline wh1p5 bck_pos_gray icon_social_fb multi_icon mar_r_1 icon_hover_fade"></span>Facebook</a>
                                                        </li>
                                                        <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                                            <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector_Young" data="@CustomSession.CurrentSession.SocialNetworkConstants.TwitterId"><span class="inline wh1p5 bck_pos_gray icon_social_tw multi_icon mar_r_1 icon_hover_fade"></span>Twitter</a>
                                                        </li>
                                                        <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                                            <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector_Young" data="@CustomSession.CurrentSession.SocialNetworkConstants.InstagramId"><span class="inline wh1p5 bck_pos_gray icon_social_inst multi_icon mar_r_1 icon_hover_fade"></span>Instagram</a>
                                                        </li>
                                                        <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                                            <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector_Young" data="@CustomSession.CurrentSession.SocialNetworkConstants.GoogleId"><span class="inline wh1p5 bck_pos_gray icon_social_gp multi_icon mar_r_1 icon_hover_fade"></span>Google plus</a>
                                                        </li>
                                                        <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                                            <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector_Young" data="@CustomSession.CurrentSession.SocialNetworkConstants.YoutubeId"><span class="inline wh1p5 bck_pos_gray icon_social_yt multi_icon mar_r_1 icon_hover_fade"></span>Youtube</a>
                                                        </li>
                                                        <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                                            <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector_Young" data="@CustomSession.CurrentSession.SocialNetworkConstants.LinkedInId"><span class="inline wh1p5 bck_pos_gray icon_social_in multi_icon mar_r_1 icon_hover_fade"></span>Linkedin</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="g_s240_100p g_s480_50p pad_l_15_480_st">

                                            <div id="MemberPhoneNumberContainerYoung">
                                                @if (Model.MemberPhoneNumbers == null || Model.MemberPhoneNumbers.Count == 0)
                                                {
                                                    <div class="text-left PhoneNumberContainerYoung">
                                                        <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                            <input name="Young.MemberPhoneNumbers[0].MemberPhoneNumberId)" id="MemberPhoneNumbers_MemberPhoneNumberId_0_Young" type="hidden" value="0">

                                                            <label for="MemberPhoneNumbers_PhoneNumber_0_Young" class="multi_icon icon_number bck_pos_gray icon_hover_fade wh1p5 absolute right_0_240_st bottom_05_240_st" data-tab-type="Young"></label>
                                                            <input name="Young.MemberPhoneNumbers[0].PhoneNumber" id="MemberPhoneNumbers_PhoneNumber_0_Young" aria-controls="MemberPhoneNumbers_PhoneNumber_0_Young-helper-text" type="text" class="mdc-text-field__input fs_1 pad_r_25 inputPhone" required maxlength="15" pattern="\++\(+[0-9]+\)+([0-9]{4})+-+([0-9]{4})$" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido." value="+(506)">
                                                            <label for="MemberPhoneNumbers_PhoneNumber_0_Young" class="mdc-text-field__label pad_r_25">Teléfono</label>
                                                            <div class="mdc-line-ripple"></div>
                                                        </div>
                                                        <p id="MemberPhoneNumbers_PhoneNumber_0_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de número telefónico +(000)0000-0000</p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    int i = 0;
                                                    foreach (var item in Model.MemberPhoneNumbers)
                                                    {
                                                        if (i == 0)
                                                        {
                                                            <div class="text-left PhoneNumberContainerYoung">
                                                                <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                                    <input name="@("Young.MemberPhoneNumbers[" + i + "].MemberPhoneNumberId")" id="@("MemberPhoneNumbers_MemberPhoneNumberId_" + i + "_Young")" type="hidden" value="@item.MemberPhoneNumberId">

                                                                    <label for="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Young")" class="multi_icon icon_number bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st" data-tab-type="Young"></label>
                                                                    <input name="@("Young.MemberPhoneNumbers[" + i + "].PhoneNumber")" id="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Young")" aria-controls="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Young-helper-text")" type="text" class="mdc-text-field__input fs_1 pad_r_25 inputPhone" required maxlength="15" pattern="\++\(+[0-9]+\)+([0-9]{4})+-+([0-9]{4})$" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido." value="@item.PhoneNumber">
                                                                    <label for="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Young")" class="mdc-text-field__label pad_r_25">Teléfono</label>
                                                                    <div class="mdc-line-ripple"></div>
                                                                </div>
                                                                <p id="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Young-helper-text")" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de número telefónico +(000)0000-0000</p>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="text-left PhoneNumberContainerYoung">
                                                                <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                                    <input name="@("Young.MemberPhoneNumbers[" + i + "].MemberPhoneNumberId")" id="@("MemberPhoneNumbers_MemberPhoneNumberId_" + i + "_Young")" type="hidden" value="@item.MemberPhoneNumberId">

                                                                    <label for="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Young")" class="multi_icon icon_number bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_PhoneNumber" data-tab-type="Young"></label>
                                                                    <input name="@("Young.MemberPhoneNumbers[" + i + "].PhoneNumber")" id="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Young")" aria-controls="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Young-helper-text")" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_PhoneNumber inputPhone" required maxlength="15" pattern="\++\(+[0-9]+\)+([0-9]{4})+-+([0-9]{4})$" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido." value="@item.PhoneNumber">
                                                                    <label for="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Young")" class="mdc-text-field__label pad_r_25">Teléfono</label>
                                                                    <div class="mdc-line-ripple"></div>
                                                                </div>
                                                                <p id="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Young-helper-text")" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de número telefónico +(000)0000-0000</p>
                                                            </div>
                                                        }

                                                        i++;
                                                    }
                                                }
                                            </div>

                                            <a id="btnAddPhoneNumberYoung" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                                                <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1">
                                                    <span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                </span>
                                                Agregar otro Teléfono
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected containerForValidation_Young" id="container_item_5_Young">

                            <div class="relative">
                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation_Young" onclick="javascript:unhide('item_5_Young');unhide('name_5_Young');unhide('container_item_5_Young');unhide('icon_item_5_Young');">

                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                        <span class="multi_icon icon_smile bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_5_Young"></span>
                                        @("Tutor o encargad@")
                                    </div>

                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_5_Young"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="toggle_height unselected containerBodyForValidation_Young" id="item_5_Young">
                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                <div class="">
                                    <div id="MemberTutorContainerYoung">
                                        @{
                                            ind = 0;
                                            foreach (var item in Model.MemberTutors)
                                            {
                                                <div class="column_container v_bottom_all TutorContainerYoung">
                                                    <input name="@("Young.MemberTutors[" + ind + "].MemberTutorId")" id="@("MemberTutors_MemberTutorId_" + ind + "_Young")" type="hidden" value="@item.MemberTutorId" data="MemberTutorId">
                                                    <input name="@("Young.MemberTutors[" + ind + "].TutorId")" id="@("MemberTutors_TutorId_" + ind + "_Young")" type="hidden" value="@item.TutorId" data="TutorId">

                                                    <div class="g_s240_100p g_s700_50p pad_r_15_700_st">
                                                        <div class="text-left">
                                                            <div class="mdc-text-field w100p mdc-text-field--disabled" data-mdc-auto-init="MDCTextField">
                                                                <input id="name" type="text" class="mdc-text-field__input fs_1" disabled value="@(item.Tutor.Names + " " + item.Tutor.Surnames)">
                                                                <label for="name" class="mdc-text-field__label mdc-floating-label">Nombre y apellidos del tutor</label>
                                                                <div class="mdc-line-ripple"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="g_s240_100p g_s700_25p pad_l_15_700_st mar_b_05">
                                                        <div class="text-left">
                                                            <a class="c_gray italic fs_09 hover_to_green pad_l_2 relative ellipsis block hover_icon_all h1p5 lh_15 pointer removeTutorYoung">
                                                                <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1p5"><span class="wh1p5 block relative pointer icon_close_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                                                Eliminar tutor
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                ind++;
                                            }
                                        }
                                    </div>

                                    <div class="column_container v_bottom_all">
                                        <div class="text-left">

                                            <a id="btnAddTutorYoung" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                                                <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1">
                                                    <span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                </span>
                                                Agregar otro tutor
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected containerForValidation_Young" id="container_item_6_Young">

                            <div class="relative">
                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation_Young" onclick="javascript:unhide('item_6_Young');unhide('name_6_Young');unhide('container_item_6_Young');unhide('icon_item_6_Young');">

                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                        <span class="multi_icon icon_lang bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_6_Young"></span>
                                        Idioma
                                    </div>

                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_6_Young"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="toggle_height unselected containerBodyForValidation_Young" id="item_6_Young">
                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                <div class="">

                                    <div id="MemberLanguageContainerYoung">
                                        @{
                                            ind = 0;
                                            foreach (var item in Model.MemberLanguages)
                                            {
                                                <div class="column_container relative pad_r_4 pad_33p_fl_0_hd_st LanguageContainerYoung">
                                                    <input name="Young.MemberLanguages[@ind].MemberLanguageId" id="@("MemberLanguages_MemberLanguageId_" + ind + "_Young")" type="hidden" value="@item.MemberLanguageId">

                                                    <div class="g_s240_100p g_s480_50p g_shd_25p pad_r_15_480_st pad_lr_15_hd_st">
                                                        <div class="text-left">
                                                            <div class="hide">
                                                                @Html.DropDownList("Young.MemberLanguages[" + ind + "].LanguageId", new SelectList(((SelectList)ViewBag.ListLanguage).Items, ((SelectList)ViewBag.ListLanguage).DataValueField, ((SelectList)ViewBag.ListLanguage).DataTextField, item.LanguageId), "Seleccione una opción", new
                                                                {
                                                                    @id = "MemberLanguages_LanguageId_" + ind + "_Young",
                                                                    placeholder = "Idioma",
                                                                    data = "LanguageId"
                                                                })
                                                            </div>
                                                            <div id="@("MemberLanguages_LanguageId_" + ind + "_YoungSelectDiv")" class="visualSelectContainer" data="LanguageId"></div>
                                                        </div>
                                                    </div>

                                                    <div class="g_s240_100p g_s480_50p g_shd_25p pad_l_15_480_st pad_lr_15_hd_st">
                                                        <div class="text-left">
                                                            <div class="hide">
                                                                @Html.DropDownList("Young.MemberLanguages[" + ind + "].LanguageReadingId", new SelectList(((SelectList)ViewBag.ListLanguageLevel).Items, ((SelectList)ViewBag.ListLanguageLevel).DataValueField, ((SelectList)ViewBag.ListLanguageLevel).DataTextField, item.LanguageReadingId), "Seleccione una opción", new
                                                                {
                                                                    @id = "MemberLanguages_LanguageReadingId_" + ind + "_Young",
                                                                    placeholder = "Nivel de lectura",
                                                                    data = "LanguageReadingId"
                                                                })
                                                            </div>
                                                            <div id="@("MemberLanguages_LanguageReadingId_" + ind + "_YoungSelectDiv")" class="visualSelectContainer" data="LanguageReadingId"></div>
                                                        </div>
                                                    </div>

                                                    <div class="g_s240_100p g_s480_50p g_shd_25p pad_r_15_480_st pad_lr_15_hd_st">
                                                        <div class="text-left">
                                                            <div class="hide">
                                                                @Html.DropDownList("Young.MemberLanguages[" + ind + "].LanguageWritingId", new SelectList(((SelectList)ViewBag.ListLanguageLevel).Items, ((SelectList)ViewBag.ListLanguageLevel).DataValueField, ((SelectList)ViewBag.ListLanguageLevel).DataTextField, item.LanguageWritingId), "Seleccione una opción", new
                                                                {
                                                                    @id = "MemberLanguages_LanguageWritingId_" + ind + "_Young",
                                                                    placeholder = "Nivel de escritura",
                                                                    data = "LanguageWritingId"
                                                                })
                                                            </div>
                                                            <div id="@("MemberLanguages_LanguageWritingId_" + ind + "_YoungSelectDiv")" class="visualSelectContainer" data="LanguageWritingId"></div>
                                                        </div>
                                                    </div>

                                                    <div class="g_s240_100p g_s480_50p g_shd_25p pad_l_15_480_st pad_lr_15_hd_st">
                                                        <div class="text-left">
                                                            <div class="hide">
                                                                @Html.DropDownList("Young.MemberLanguages[" + ind + "].LanguageConversationId", new SelectList(((SelectList)ViewBag.ListLanguageLevel).Items, ((SelectList)ViewBag.ListLanguageLevel).DataValueField, ((SelectList)ViewBag.ListLanguageLevel).DataTextField, item.LanguageConversationId), "Seleccione una opción", new
                                                                {
                                                                    @id = "MemberLanguages_LanguageConversationId_" + ind + "_Young",
                                                                    placeholder = "Nivel de conversación",
                                                                    data = "LanguageConversationId"
                                                                })
                                                            </div>
                                                            <div id="@("MemberLanguages_LanguageConversationId_" + ind + "_YoungSelectDiv")" class="visualSelectContainer" data="LanguageConversationId"></div>
                                                        </div>
                                                    </div>

                                                    <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                        <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeLanguageYoung">
                                                            <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                        </a>
                                                    </div>

                                                </div>

                                                ind++;
                                            }
                                        }
                                    </div>

                                    <div class="pad_tb_15"><div class="split_bottom_dashed"></div></div>
                                    <a id="btnAddLanguageYoung" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                                        <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                        Agregar otro idioma
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected containerForValidation_Young" id="container_item_7_Young">

                            <div class="relative">
                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation_Young" onclick="javascript:unhide('item_7_Young');unhide('name_7_Young');unhide('container_item_7_Young');unhide('icon_item_7_Young');">

                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                        <span class="multi_icon icon_hand bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_7_Young"></span>
                                        Promesa
                                    </div>

                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_7_Young"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="toggle_height unselected containerBodyForValidation_Young" id="item_7_Young">
                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                <div class="column_container">
                                    <div class="g_s240_100p g_s700_50p pad_r_15_480_st">

                                        <div class="text-left">
                                            <div class="mdc-text-field mdc-text-field--upgraded w100p mar_0" data-mdc-auto-init="MDCTextField">
                                                <label for="PromiseDate_Young__" id="PromiseDate_Young_clear" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                                                @Html.TextBoxFor(m => m.PromiseDate, "{0:dd-MM-yyyy}", new { @id = "PromiseDate_Young", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", @Name = "Young.PromiseDate", aria_controls = "PromiseDate_Young-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                @Html.LabelFor(m => m.PromiseDate, "Fecha de promesa", new { @for = "PromiseDate_Young", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                                                <div class="mdc-line-ripple"></div>
                                            </div>
                                            @*<p id="PromiseDate_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>*@
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected containerForValidation_Young" id="container_item_8_Young">

                            <div class="relative">
                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation_Young" onclick="javascript:unhide('item_8_Young');unhide('name_8_Young');unhide('container_item_8_Young');unhide('icon_item_8_Young');">

                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                        <span class="multi_icon icon_notes bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_8_Young"></span>
                                        Adicional
                                    </div>

                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_8_Young"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="toggle_height unselected containerBodyForValidation_Young" id="item_8_Young">
                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                <div class="">
                                    <div class="column_container">

                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                            <div class="text-left">
                                                <div class="hide">
                                                    @Html.DropDownListFor(m => m.ReligionId, (SelectList)ViewBag.ListReligion, "Seleccione una opción", new { @id = "ReligionId_Young", @Name = "Young.ReligionId", placeholder = "Religión" })
                                                </div>
                                                <div id="ReligionId_YoungSelectDiv"></div>
                                            </div>
                                        </div>

                                        <div class="g_s240_100p g_s480_50p pad_l_15_480_st">
                                            <div class="text-left">
                                                <div class="hide">
                                                    @Html.DropDownListFor(m => m.EducationLevelId, (SelectList)ViewBag.ListEducationLevel, "Seleccione una opción", new { @id = "EducationLevelId_Young", @Name = "Young.EducationLevelId", placeholder = "Nivel Educativo" })
                                                </div>
                                                <div id="EducationLevelId_YoungSelectDiv"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="column_container">

                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                            <div class="text-left">
                                                <div class="hide">
                                                    @Html.DropDownListFor(m => m.SchoolId, (SelectList)ViewBag.ListSchool, "Seleccione una opción", new { @id = "SchoolId_Young", @Name = "Young.SchoolId", placeholder = "Centro Educativo" })
                                                </div>
                                                <div id="SchoolId_YoungSelectDiv"></div>
                                            </div>
                                        </div>

                                        <div class="g_s240_100p g_s480_50p pad_l_15_480_st">
                                            <div class="text-left">
                                                <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
                                                    @Html.TextBoxFor(m => m.Workplace, new { @id = "Workplace_Young", @class = "mdc-text-field__input fs_1", @Name = "Young.Workplace", aria_controls = "Workplace_Young-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                    @Html.LabelFor(m => m.Workplace, "Lugar de trabajo", new { @for = "Workplace_Young", @class = "mdc-text-field__label" })
                                                    <div class="mdc-line-ripple"></div>
                                                </div>
                                                <p id="Workplace_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected containerForValidation_Young" id="container_item_9_Young">

                            <div class="relative">
                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation_Young" onclick="javascript:unhide('item_9_Young');unhide('name_9_Young');unhide('container_item_9_Young');unhide('icon_item_9_Young');">

                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                        <span class="multi_icon icon_check_1 bck_pos_gray icon_hover_fade wh1p5  absolute left_05_240_st top_0_240_st mar_auto bottom_0_240_st unselected" id="icon_item_9_Young"></span>
                                        Términos y condiciones
                                    </div>

                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_9_Young"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="toggle_height unselected containerBodyForValidation_Young" id="item_9_Young">
                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                <div class="overflow_auto b_bottom_gray">

                                    <div class="max_h_20 c_gray pad_tb_2">
                                        <div class="italic fs_12">Lorem ipsum dolor sit amet.</div>

                                        <br>
                                        <div class="pad_b_2">
                                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae nisi rem fuga pariatur quidem, cumque, illum enim, deserunt sed voluptates vel sint praesentium? Quo unde ipsum sapiente, dolore facere! Necessitatibus.</div>
                                            <br>
                                            <div>Ipsum dolorem officia, illum repellat a, veritatis autem aperiam, amet minus velit aliquam repudiandae facere ab, modi aliquid illo voluptate distinctio. Perspiciatis quod odit porro, ut quas quasi laboriosam aperiam.</div>
                                            <br>
                                            <div>Ratione voluptatibus perspiciatis recusandae expedita nostrum hic, aliquam, mollitia harum cum dicta nesciunt commodi. Ullam nihil consequuntur, tempora inventore dolores quae vero ex! Neque, aperiam enim cumque magnam, iure hic.</div>
                                            <br>
                                            <div>Dignissimos earum non voluptatem quas nemo saepe accusantium, nobis dolorem repellendus tenetur dolorum quod voluptatibus vitae optio numquam, consequuntur totam et ab labore, sunt aspernatur debitis officia! Odit, ducimus, rerum?</div>
                                            <br>
                                            <div>Voluptate cumque, fuga aliquam corporis temporibus suscipit? Eligendi minima ipsa quod ab, voluptatibus tempore, quam quibusdam fugit ad impedit, perferendis doloremque ducimus nihil omnis, voluptate voluptas voluptatem! Totam iste, dolor.</div>
                                            <br>
                                            <div>Nulla repudiandae, impedit iusto quod, ut rerum qui perspiciatis cupiditate labore, tenetur modi a unde laboriosam iste cum placeat quae ad accusantium. Porro fuga sed labore deserunt, cum laboriosam iure.</div>
                                            <br>
                                            <div>Sequi itaque quidem voluptatibus excepturi nemo, reiciendis odit maiores deserunt officiis aliquam eum sed iure consequuntur voluptates architecto in enim. Voluptatum rerum, nisi, odio ratione aut voluptatem assumenda fugiat! Reiciendis.</div>
                                            <br>
                                            <div>Mollitia accusamus, aut veritatis voluptate vitae. Fugiat libero laudantium in ad voluptas minus, quo soluta facere laboriosam. Perferendis obcaecati dolor itaque maxime ex quam, voluptatum porro ducimus ratione delectus est.</div>
                                            <br>
                                            <div>Animi porro inventore soluta nulla dicta optio aut voluptatum, distinctio est fuga voluptatem pariatur fugit cumque, voluptas laudantium ipsa, sed voluptate nihil fugiat provident ullam! Velit, minus officiis laboriosam tempore.</div>
                                            <br>
                                            <div>Amet perspiciatis ex nihil repudiandae ipsa repellat nam sapiente! Numquam temporibus reprehenderit iusto consequatur at soluta fuga itaque placeat! Tempore quas, error sit impedit accusamus. Ducimus ipsa, ad tenetur vel!</div>
                                            <br>
                                            <div>Voluptatem dolorum nulla perferendis nisi, asperiores ratione cum nihil magnam natus porro. Cum assumenda est qui sed impedit alias quas repellat, sunt aliquid in, veritatis placeat! Libero nobis magni recusandae.</div>
                                            <br>
                                            <div>Sapiente temporibus maiores numquam provident, amet hic enim, natus. Asperiores nemo praesentium illum quas quisquam obcaecati error, cupiditate est officiis quaerat odio, eos deleniti. Cum deleniti, molestiae blanditiis minima! Sequi.</div>
                                            <br>
                                            <div>Exercitationem optio, consequuntur? Porro incidunt fuga aut et dicta beatae delectus vel provident doloremque aliquid facilis architecto, perspiciatis velit officiis sed itaque eaque sequi dolor distinctio similique illo, corporis, eos.</div>
                                            <br>
                                            <div>Quasi esse quas obcaecati natus aliquam magni fuga voluptas nulla, accusamus harum illum cumque et ipsa earum doloremque, est, impedit, accusantium quia nisi aliquid iure minima. Qui quibusdam enim cum!</div>
                                            <br>
                                            <div>Recusandae eos aut error tenetur pariatur atque adipisci sit, quos sed consequuntur, explicabo eum nostrum, beatae obcaecati magni libero cumque possimus. Veniam aperiam nam harum reiciendis rem inventore corporis quo.</div>
                                        </div>
                                    </div>


                                </div>

                                <div class="relative pad_tb_15 text-right">
                                    <div class="mdc-switch v_mid">
                                        <input type="checkbox" id="accept_Young" class="mdc-switch__native-control" @(Model.MemberId != null && Model.MemberId != 0 ? "checked" : "") />
                                        <div class="mdc-switch__background"><div class="mdc-switch__knob final_de_linea"></div></div>
                                    </div>
                                    <label for="accept_Young" class="mdc-switch-label pad_lr_05 v_mid fs_08 text_login bold uppercase pointer"><span class="c_gray mdc-text-field__label mdc-text-field__label_normal">Aceptar</span></label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pad_t_3 text-right">
                <div class="inline_divs v_mid_all w100p">
                    <a href="@Url.Action("Members", "Member")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2" data-ajax="false">Cancelar</a>

                    <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSaveYoung">
                        <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                    </button>
                    <div class="mdl-tooltip" for="BtnSaveYoung"><strong>Guardar miembro</strong></div>
                </div>
            </div>
        }

    </div>
</div>

