﻿@using CR.CGC.GuiasScoutsWeb.Common
@using CR.CGC.GuiasScoutsWeb.Models
@model List<Entities.Member>
@{
    PaginationToolsViewModel pagination = (PaginationToolsViewModel)ViewBag.Pagination;
    pagination.ActualRows = Model.Count;

    TableToolsViewModel toolbar = new TableToolsViewModel()
    {
        DeleteFunction = "DeleteMembers()",
        DeleteTooltip = "Activar / Desactivar miembros",
        UrlAdd = Url.Action("NewMember", "Member"),
        AddTooltip = "Agregar nuevo miembro",

        SearchText = pagination.SearchText,
        UrlGet = Url.Action("GetGridMembers", "Member"),
        GridContainerId = "GridMembers"
    };
}

@Html.Partial("_TableToolsPartial", toolbar)

<!-- table -->
<div class="overflow_auto">
    <table class="mdl-data-table mdl-js-data-table @((Model.Count > 0) ? "mdl-data-table--selectable" : "") w100p overflow_h">
        <thead class="c_purple01_all bolder fs_1">
            <tr class="pad_1_divs">
                <th class="mdl-data-table__cell--non-numeric w2"></th>
                <th class="mdl-data-table__cell--non-numeric">Nombre del miembro</th>
                <th class="mdl-data-table__cell--non-numeric">Grupo - Sección</th>
                <th class="mdl-data-table__cell--non-numeric">Fecha de ingreso</th>
                <th class="mdl-data-table__cell--non-numeric">Condecoraciones</th>
                <th class="mdl-data-table__cell--non-numeric">Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr class="@(item.Enabled ? "" : "disable")" @(item.User.Role != null ? "data=" + item.MemberId.ToString() : "" )>
                        <td class="mdl-data-table__cell--non-numeric">
                            <div class="@(item.Enabled ? "" : "multi_icon")">
                                <div class="wh2 icon circle" style="background-image: url('@Url.Action("ViewFile", "Member", new { FileUrl = item.Photo})');"></div>
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">@(item.Names + " " + item.Surnames)</td>
                        <td class="mdl-data-table__cell--non-numeric">@(item.MemberGroups.Count > 0 ? item.MemberGroups.OrderByDescending(x => x.MemberGroupId).Select(x => x.Group.Name + " - " + x.Section.Name).First() : "")</td>
                        <td class="mdl-data-table__cell--non-numeric">@(item.StartDate == null ? " " : ((DateTime)item.StartDate).ToString("dd-MM-yyyy"))</td>
                        <td class="mdl-data-table__cell--non-numeric">@item.MemberRecognitions.Count</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <div class="pad_l_2 relative h1">
                                <span class="circle w4px h4px absolute_240_st top_05_240_st left_05_240_st" style="background-color: @item.MemberStatus.Color; -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); box-shadow:0px 0px 10px 1px @item.MemberStatus.Color"></span>
                                @item.MemberStatus.Name
                            </div>
                        </td>
                        <td class="pad_lr_1">
                            @if (item.User.RoleId != null)
                            {
                                <div class="relative">
                                    <div class="actions h4 z1 absolute_tr_240_st text-right">
                                        <div class="wh2 inline multi_icon bck_pos_gray absolute_tr_240_st icon_points mar_auto bottom_0_240_st"></div>

                                        <div class="action_buttons text-right absolute h2p5 inline_divs v_mid_all w17 inline_divs">
                                            <a class="circle_hover pointer relative pad_05" id="BtnEdit@(item.MemberId)" href="@(item.Enabled ? Url.Action("NewMember", "Member", new { MemberId = item.MemberId }) : "#")">
                                                <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                            </a>

                                            <a class="circle_hover pointer relative pad_05" id="BtnView@(item.MemberId)" href="@(item.Enabled ? Url.Action("GetMemberDetails", "Member", new { MemberId = item.MemberId }) : "#")">
                                                <div class="icon_view multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                            </a>

                                            @if (item.IsGorS)
                                            {
                                                if (item.MemberPositions.First().Position.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeOldId)
                                                {
                                                    <a class="circle_hover pointer relative pad_05" id="BtnEval@(item.MemberId)" href="@(item.Enabled ? Url.Action("NewMemberCompetenceEvaluation", "Member", new { MemberId = item.MemberId, EvaluationDate = DateTime.Now }) : "#")">
                                                        <div class="icon_stats multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                                    </a>
                                                }

                                                <a class="circle_hover pointer relative pad_05" id="BtnGroup@(item.MemberId)" href="@(item.Enabled ? Url.Action("NewMemberGroup", "Member", new { MemberId = item.MemberId }) : "#")">
                                                    <div class="icon_house multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                                </a>

                                                <a class="circle_hover pointer relative pad_05" id="BtnRecog@(item.MemberId)" href="@(item.Enabled ? Url.Action("NewMemberRecognition", "Member", new { MemberId = item.MemberId }) : "#")">
                                                    <div class="icon_medall multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                                </a>
                                            }

                                            <div class="circle_hover pointer relative pad_05 disable_container" id="BtnDel@(item.MemberId)" onclick="DeleteMember(@item.MemberId)">
                                                <div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mdl-tooltip" for="BtnEdit@(item.MemberId)"><strong>Editar registro</strong></div>
                                <div class="mdl-tooltip" for="BtnView@(item.MemberId)"><strong>Información del registro</strong></div>
                                <div class="mdl-tooltip" for="BtnEval@(item.MemberId)"><strong>Evaluaciones</strong></div>
                                <div class="mdl-tooltip" for="BtnGroup@(item.MemberId)"><strong>Grupo / Sección / Etapa</strong></div>
                                <div class="mdl-tooltip" for="BtnRecog@(item.MemberId)"><strong>Reconocimientos / Condecoraciones</strong></div>
                                <div class="mdl-tooltip" for="BtnDel@(item.MemberId)"><strong>@( item.Enabled ? "Desactivar" : "Activar" ) registro</strong></div>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric" colspan="7">No existen registros.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- pagination -->
@if (Model.Count > 0)
{
    @Html.Partial("_TablePaginationPartial", pagination)
}
