﻿@model int

<div class="column_container relative pad_r_4 @("PositionContainer" + (string)ViewBag.ModelName)">
    <input name="@((string)ViewBag.ModelName + ".MemberPositions[" + Model + "].MemberPositionId")" id="@("MemberPositions_MemberPositionId_" + Model + "_" + (string)ViewBag.ModelName)" type="hidden" value="0">

    <div class="text-left w100p">
        <div class="hide">
            @Html.DropDownList((string)ViewBag.ModelName + ".MemberPositions[" + Model + "].PositionId", (string)ViewBag.ModelName == "Young" ? (SelectList)ViewBag.PositionList_Young : (SelectList)ViewBag.PositionList_Old, "Seleccione una opción", new
            {
                @id = "MemberPositions_PositionId_" + Model + "_" + (string)ViewBag.ModelName,
                placeholder = "Cargo"
            })
        </div>
        <div id="@("MemberPositions_PositionId_" + Model + "_" + (string)ViewBag.ModelName + "SelectDiv")" class="visualSelectContainer"></div>
    </div>

    <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
        <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p @("removePosition" + (string)ViewBag.ModelName)">
            <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
        </a>
    </div>
</div>

