﻿@model int

<div class="column_container relative pad_r_4 pad_33p_fl_0_hd_st @("LanguageContainer" + (string)ViewBag.ModelName)">
    <input name="@((string)ViewBag.ModelName + ".MemberLanguages[" + Model + "].MemberLanguageId")" id="@("MemberLanguages_MemberLanguageId_" + Model + "_" + (string)ViewBag.ModelName)" type="hidden" value="0">

    <div class="g_s240_100p g_s480_50p g_shd_25p pad_r_15_480_st pad_lr_15_hd_st">
        <div class="text-left">
            <div class="hide">
                @Html.DropDownList((string)ViewBag.ModelName + ".MemberLanguages[" + Model + "].LanguageId", (SelectList)ViewBag.ListLanguage, "Seleccione una opción", new
                {
                    @id = "MemberLanguages_LanguageId_" + Model + "_" + (string)ViewBag.ModelName,
                    placeholder = "Idioma",
                    data = "LanguageId"
                })
            </div>
            <div id="@("MemberLanguages_LanguageId_" + Model + "_" + (string)ViewBag.ModelName + "SelectDiv")" class="visualSelectContainer" data="LanguageId"></div>
        </div>
    </div>

    <div class="g_s240_100p g_s480_50p g_shd_25p pad_l_15_480_st pad_lr_15_hd_st">
        <div class="text-left">
            <div class="hide">
                @Html.DropDownList((string)ViewBag.ModelName + ".MemberLanguages[" + Model + "].LanguageReadingId", (SelectList)ViewBag.ListLanguageLevel, "Seleccione una opción", new
                {
                    @id = "MemberLanguages_LanguageReadingId_" + Model + "_" + (string)ViewBag.ModelName,
                    placeholder = "Nivel de lectura",
                    data = "LanguageReadingId"
                })
            </div>
            <div id="@("MemberLanguages_LanguageReadingId_" + Model + "_" + (string)ViewBag.ModelName + "SelectDiv")" class="visualSelectContainer" data="LanguageReadingId"></div>
        </div>
    </div>

    <div class="g_s240_100p g_s480_50p g_shd_25p pad_r_15_480_st pad_lr_15_hd_st">
        <div class="text-left">
            <div class="hide">
                @Html.DropDownList((string)ViewBag.ModelName + ".MemberLanguages[" + Model + "].LanguageWritingId", (SelectList)ViewBag.ListLanguageLevel, "Seleccione una opción", new
                {
                    @id = "MemberLanguages_LanguageWritingId_" + Model + "_" + (string)ViewBag.ModelName,
                    placeholder = "Nivel de escritura",
                    data = "LanguageWritingId"
                })
            </div>
            <div id="@("MemberLanguages_LanguageWritingId_" + Model + "_" + (string)ViewBag.ModelName + "SelectDiv")" class="visualSelectContainer" data="LanguageWritingId"></div>
        </div>
    </div>

    <div class="g_s240_100p g_s480_50p g_shd_25p pad_l_15_480_st pad_lr_15_hd_st">
        <div class="text-left">
            <div class="hide">
                @Html.DropDownList((string)ViewBag.ModelName + ".MemberLanguages[" + Model + "].LanguageConversationId", (SelectList)ViewBag.ListLanguageLevel, "Seleccione una opción", new
                {
                    @id = "MemberLanguages_LanguageConversationId_" + Model + "_" + (string)ViewBag.ModelName,
                    placeholder = "Nivel de conversación",
                    data = "LanguageConversationId"
                })
            </div>
            <div id="@("MemberLanguages_LanguageConversationId_" + Model + "_" + (string)ViewBag.ModelName + "SelectDiv")" class="visualSelectContainer" data="LanguageConversationId"></div>
        </div>
    </div>

    <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
        <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p @("removeLanguage" + (string)ViewBag.ModelName)">
            <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
        </a>
    </div>

</div>