﻿@model int

<div class="column_container relative pad_r_4 @("KinshipContainer" + (string)ViewBag.ModelName)">
    <input name="@((string)ViewBag.ModelName + ".MemberKinships[" + Model + "].MemberKinshipId")" id="@("MemberKinships_MemberKinshipId_" + Model + "_" + (string)ViewBag.ModelName)" type="hidden" value="0">

    <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
        <div class="mar_t_05 MemberSearchElemContainer">
            <div class="w100p mar_b_0"><label class="fs_08 c_gray_2 text-left">Jefe de grupo</label></div>
            <div class="text-left simulated_field">
                <div class="mdc-text-field w100p mar_b_0 relative">
                    <div class="mdc-text-field__input pad_b_0 simulated relative z1">
                        <button type="button" class="w100p text-left pointer pad_lr_0 pad_tb_05 bck_turkey_light_hover BtnMemberSearchDialog" data-KinSelectId="@("MemberKinships_KinId_" + Model + "_" + (string)ViewBag.ModelName)">Seleccione un miembro</button>
                    </div>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>
        </div>
        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p c_red mar_0" role="alert">Este campo es requerido.</p>

        <div class="text-left hide">
            <div class="hide">
                @Html.DropDownList((string)ViewBag.ModelName + ".MemberKinships[" + Model + "].KinId", new SelectList(new List<SelectListItem>()), "Seleccione una opción", new { @id = "MemberKinships_KinId_" + Model + "_" + (string)ViewBag.ModelName, placeholder = "Miembro", data = "KinId" })
            </div>
            <div id="@("MemberKinships_KinId_" + Model + "_" + (string)ViewBag.ModelName + "SelectDiv")" class="visualSelectContainer MemberSearchElem" data="KinId"></div>
        </div>

        @*<div class="text-left hide">
            <div class="hide">
                @Html.DropDownList((string)ViewBag.ModelName + ".MemberKinships[" + Model + "].KinId", (SelectList)ViewBag.ListMember, "Seleccione una opción", new { @id = "MemberKinships_KinId_" + Model + "_" + (string)ViewBag.ModelName, placeholder = "Miembro", data = "KinId" })
            </div>
            <div id="@("MemberKinships_KinId_" + Model + "_" + (string)ViewBag.ModelName + "SelectDiv")" class="visualSelectContainer" data="KinId"></div>
        </div>*@
    </div>

    <div class="g_s240_100p g_s480_50p pad_l_15_480_st ">
        <div class="text-left">
            <div class="hide">
                @Html.DropDownList((string)ViewBag.ModelName + ".MemberKinships[" + Model + "].KinshipId", (SelectList)ViewBag.ListKinship, "Seleccione una opción", new { @id = "MemberKinships_KinshipId_" + Model + "_" + (string)ViewBag.ModelName, placeholder = "Parentesco", data = "KinshipId" })
            </div>
            <div id="@("MemberKinships_KinshipId_" + Model + "_" + (string)ViewBag.ModelName + "SelectDiv")" class="visualSelectContainer" data="KinshipId"></div>
        </div>
    </div>

    <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
        <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p @("removeKinship" + (string)ViewBag.ModelName)">
            <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
        </a>
    </div>

</div>
