﻿@model int

<div class="column_container relative pad_r_4_240_st @("OtherStudyContainer" + (string)ViewBag.ModelName)">
    <input name="@((string)ViewBag.ModelName + ".MemberOtherStudies[" + Model + "].MemberOtherStudyId")" id="@("MemberOtherStudies_MemberOtherStudyId_" + Model + "_" + (string)ViewBag.ModelName)" type="hidden" value="0">

    <div class="text-left w100p">
        <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">

            @Html.TextBox((string)ViewBag.ModelName + ".MemberOtherStudies[" + Model + "].StudyName", null, new
            {
                @id = "MemberOtherStudies_StudyName_" + Model + "_" + (string)ViewBag.ModelName,
                @class = "mdc-text-field__input fs_1",
                aria_controls = "MemberOtherStudies_StudyName_" + Model + "_" + (string)ViewBag.ModelName + "-helper-text",
                MaxLength = "100",
                Required = true,
                oninvalid = "this.setCustomValidity('Este campo es requerido.')",
                oninput = "this.setCustomValidity('')",
                title = "Este campo es requerido."
            })
            <label for="@("MemberOtherStudies_StudyName_" + Model + "_" + (string)ViewBag.ModelName)" class="mdc-text-field__label pad_r_3">Otros estudios</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <p id="@("MemberOtherStudies_StudyName_" + Model + "_" + (string)ViewBag.ModelName + "-helper-text")" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
    </div>

    <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
        <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p @("removeOtherStudy" + (string)ViewBag.ModelName)">
            <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
        </a>
    </div>
</div>