﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Member

@{
    if (ViewBag.ActiveTutor == null)
    {
        ViewBag.ActiveTutor = false;
    }
}

@using (Ajax.BeginForm("SaveMember_Tutor", "Member", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,

}, new { OnBegin = "OnBegin", OnSuccess = "OnSuccess_MemberTutor", validateFunc = "ValidateMember_Tutor", @class = "relative", enctype = "multipart/form-data", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.MemberId, new { @id = "MemberId_Tutor", @Name = "Tutor.MemberId", Value = (Model.MemberId == null ? 0 : Model.MemberId) })
    @Html.HiddenFor(m => m.Photo, new { @id = "Photo_Tutor", @Name = "Tutor.Photo" })

    <div class="min_h_50 relative">

        <div class="absolute_tl_1366_st w20_1366_st overflow_y_h_auto overflow_x_h">

            @Html.TextBoxFor(m => m.SendFile, new { @type = "file", @class = "hide imageInput", @id = "SendFile_Tutor", @Name = "Tutor.SendFile", accept = ".jpg,.png", @for = "SendFile_Tutor-InputView" })
            <div class="pad_b_3 split_bottom_dashed">
                @if ((bool)ViewBag.ActiveTutor)
                {
                    <div id="SendFile_Tutor-helper-text" class="relative w9 h9 mar_auto hover_to_green hover_icon_all">
                        <div class="profile circle relative w9 h9 overflow_h mar_auto">
                            <img id="SendFile_Tutor-InputView" class="center_absolute wh100p z1" src="@(Model.Photo == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Application", new { FileUrl = Model.Photo}))" />
                        </div>
                    </div>
                }
                else
                {
                    <div id="SendFile_Tutor-helper-text" class="relative w9 h9 mar_auto hover_to_green hover_icon_all pointer" onclick="document.getElementById('SendFile_Tutor').click()">
                        <div class="profile circle relative w9 h9 overflow_h mar_auto">
                            <img id="SendFile_Tutor-InputView" class="center_absolute wh100p z1" src="@(Model.Photo == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Application", new { FileUrl = Model.Photo}))" />
                        </div>

                        <div class="circle pad_03 bck_white absolute_br_240_st z1">
                            <div class="icon_cam pointer multi_icon inline wh1p3 icon_hover_fade bck_pos_gray bck_hover_gray mdc-text-field--disabled"></div>
                        </div>
                    </div>
                }
                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent w100p text-center lh_1 pad_t_1 c_red" aria-hidden="true">Este campo es requerido.</p>
            </div>

            <div class="pad_t_2">

                <div class="relative pad_tb_15">
                    <div class="mdc-switch v_mid">
                        <input type="checkbox" id="ActiveMember" class="mdc-switch__native-control" @((bool)ViewBag.ActiveTutor ? "checked" : "") />
                        <div class="mdc-switch__background"><div class="mdc-switch__knob final_de_linea"></div></div>
                    </div>
                    <label for="ActiveMember" class="mdc-switch-label pad_lr_05 v_mid fs_08 opa_50 text_login bold italic pointer"><span class="c_gray">¿Es miembro activo?</span></label>
                </div>

                <div class="italic c_black fs_12 pad_t_1">General</div>

                @if ((bool)ViewBag.ActiveTutor)
                {
                    <div class="text-left" id="NamesSurnames_TutorContainer">
                        <div class="hide">
                            @Html.DropDownListFor(m => m.MemberId, (SelectList)ViewBag.ListMember, "Seleccione una opción", new { @id = "NamesSurnames_Tutor", @Name = "NamesSurnamesTutor", placeholder = "Nombre del miembro", InModal = true })
                        </div>
                        <div id="NamesSurnames_TutorSelectDiv"></div>
                    </div>
                }
                else
                {
                    <div class="text-left" id="Names_TutorContainer">
                        <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
                            @Html.TextBoxFor(m => m.Names, new { @id = "Names_Tutor", @class = "mdc-text-field__input fs_1", @Name = "Tutor.Names", required = true, aria_controls = "Names_Tutor-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                            @Html.LabelFor(m => m.Names, "Nombres", new { @for = "Names_Tutor", @class = "mdc-text-field__label" })
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p id="Names_Tutor-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                    </div>

                    <div class="text-left" id="Surnames_TutorContainer">
                        <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
                            @Html.TextBoxFor(m => m.Surnames, new { @id = "Surnames_Tutor", @class = "mdc-text-field__input fs_1", @Name = "Tutor.Surnames", required = true, aria_controls = "Surnames_Tutor-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                            @Html.LabelFor(m => m.Surnames, "Apellidos", new { @for = "Surnames_Tutor", @class = "mdc-text-field__label" })
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p id="Surnames_Tutor-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                    </div>
                }

                <div class="text-left">
                    <div class="mdc-text-field mdc-text-field--upgraded w100p mar_0 @((bool)ViewBag.ActiveTutor ? "mdc-text-field--disabled" : "")" data-mdc-auto-init="MDCTextField">
                        <label for="BirthDate_Young" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                        @if ((bool)ViewBag.ActiveTutor)
                        {
                            @Html.TextBoxFor(m => m.BirthDate, "{0:dd-MM-yyyy}", new { @id = "BirthDate_Tutor", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", @Name = "Tutor.BirthDate", required = true, aria_controls = "BirthDate_Tutor-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido.", disabled = true, maxDate = DateTime.Now.ToString("dd-MM-") + (DateTime.Now.Year - 4).ToString() })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.BirthDate, "{0:dd-MM-yyyy}", new { @id = "BirthDate_Tutor", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", @Name = "Tutor.BirthDate", required = true, aria_controls = "BirthDate_Tutor-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido.", maxDate = DateTime.Now.ToString("dd-MM-") + (DateTime.Now.Year - 4).ToString() })
                        }

                        @Html.LabelFor(m => m.BirthDate, "Fecha de nacimiento", new { @for = "BirthDate_Tutor", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p id="BirthDate_Tutor-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                </div>

                <div class="text-left">
                    <div class="hide">
                        @if ((bool)ViewBag.ActiveTutor)
                        {
                            @Html.DropDownListFor(m => m.GenderId, (SelectList)ViewBag.ListGender, "Seleccione una opción", new { @id = "GenderId_Tutor", @Name = "Tutor.GenderId", placeholder = "Género", InModal = true, selectDisabled = true })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.GenderId, (SelectList)ViewBag.ListGender, "Seleccione una opción", new { @id = "GenderId_Tutor", @Name = "Tutor.GenderId", placeholder = "Género", InModal = true })
                        }
                    </div>
                    <div id="GenderId_TutorSelectDiv"></div>
                </div>

                <div class="text-left">
                    <div class="hide">
                        @if ((bool)ViewBag.ActiveTutor)
                        {
                            @Html.DropDownListFor(m => m.NationalityId, (SelectList)ViewBag.ListNationality, "Seleccione una opción", new { @id = "NationalityId_Tutor", @Name = "Tutor.NationalityId", placeholder = "Nacionalidad", InModal = true, selectDisabled = true })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.NationalityId, (SelectList)ViewBag.ListNationality, "Seleccione una opción", new { @id = "NationalityId_Tutor", @Name = "Tutor.NationalityId", placeholder = "Nacionalidad", InModal = true })
                        }
                    </div>
                    <div id="NationalityId_TutorSelectDiv"></div>
                </div>

                <div class="text-left">
                    <div class="hide">
                        @if ((bool)ViewBag.ActiveTutor)
                        {
                            @Html.DropDownListFor(m => m.IDType, (SelectList)ViewBag.ListTypes, "Seleccione una opción", new { @id = "IDType_Tutor", @Name = "Tutor.IDType", placeholder = "Tipo de Identificación", InModal = true, selectDisabled = true })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.IDType, (SelectList)ViewBag.ListTypes, "Seleccione una opción", new { @id = "IDType_Tutor", @Name = "Tutor.IDType", placeholder = "Tipo de Identificación", InModal = true })
                        }
                    </div>
                    <div id="IDType_TutorSelectDiv"></div>
                </div>

                @Html.Hidden("IDTypeBlank_Tutor", CustomSession.CurrentSession.CatalogConstants.IdentificationTypeBlankId, new { @id = "IDTypeBlank_Tutor" })
                <div class="text-left">
                    <div class="mdc-text-field w100p msn_text @((bool)ViewBag.ActiveTutor || Model.IDType == 0 || Model.IDType == CustomSession.CurrentSession.CatalogConstants.IdentificationTypeBlankId ? "mdc-text-field--disabled" : "")" data-mdc-auto-init="MDCTextField">
                        <label for="IDNumber_Tutor" class="multi_icon icon_id bck_pos_gray icon_hover_fade wh2 absolute right_0_240_st bottom_05_240_st"></label>
                        @if (Model.IDType == 0 || Model.IDType == CustomSession.CurrentSession.CatalogConstants.IdentificationTypeBlankId)
                        {
                            @Html.TextBoxFor(m => m.IDNumber, new { @id = "IDNumber_Tutor", @class = "mdc-text-field__input fs_1 pad_r_3", @Name = "Tutor.IDNumber", @readonly = true, disabled = true, aria_controls = "IDNumber_Tutor-helper-text", MaxLength = "50", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                        }
                        else
                        {
                            if ((bool)ViewBag.ActiveTutor)
                            {
                                @Html.TextBoxFor(m => m.IDNumber, new { @id = "IDNumber_Tutor", @class = "mdc-text-field__input fs_1 pad_r_3", @Name = "Tutor.IDNumber", required = true, aria_controls = "IDNumber_Tutor-helper-text", MaxLength = "50", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido.", disabled = true })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.IDNumber, new { @id = "IDNumber_Tutor", @class = "mdc-text-field__input fs_1 pad_r_3", @Name = "Tutor.IDNumber", required = true, aria_controls = "IDNumber_Tutor-helper-text", MaxLength = "50", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                            }
                        }
                        @Html.LabelFor(m => m.IDNumber, "ID", new { @for = "IDNumber_Tutor", @class = "mdc-text-field__label" + ((bool)ViewBag.ActiveTutor ? " mdc-floating-label" : "") })
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p id="IDNumber_Tutor-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                </div>

            </div>

            <div class="absolute top_0_240_st left_20_1366_st only_1366 h100p mar_l_3"><div class="split_icon h100p"></div></div>
        </div>

        <div class="pad_t_3 pad_b_1 to_1366"><div class="split_bottom_dashed h100p"></div></div>

        <div class="pad_l_25r_1366_st max_w_80 ">
            <div class="list_block pad_l_1_1366_st">

                <div class="relative">
                    <div class="pad_tb_15 b_bottom_gray b_transparent_change relative overflow_h @((bool)ViewBag.ActiveTutor ? "selected" : "unselected") containerForValidation_Tutor" id="container_item_1_popup" data-social_menu="social_menu_new_Tutor">

                        <div class="relative">
                            <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation_Tutor" onclick="javascript:unhide('item_1_popup');unhide('name_1_popup');unhide('container_item_1_popup');unhide('icon_item_1_popup');">

                                <div class="pad_l_3 ellipsis relative h2 lh_2">
                                    <span class="multi_icon icon_contact bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st @((bool)ViewBag.ActiveTutor ? "selected" : "unselected")" id="icon_item_1_popup"></span>
                                    Contacto
                                </div>

                                <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                    <div class="arrow gray_arrow w1 h05 @((bool)ViewBag.ActiveTutor ? "selected" : "unselected")" id="name_1_popup"></div>
                                </div>
                            </div>
                        </div>

                        <div class="toggle_height @((bool)ViewBag.ActiveTutor ? "selected" : "unselected") containerBodyForValidation_Tutor" id="item_1_popup">
                            <div class="pad_t_15"><div class="split_bottom"></div></div>

                            <div class="column_container">
                                <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                    <div class="text-left">
                                        <div class="mdc-text-field w100p msn_text @((bool)ViewBag.ActiveTutor ? "mdc-text-field--disabled" : "")" data-mdc-auto-init="MDCTextField">
                                            <label for="Email_Tutor" class="multi_icon icon_mail bck_pos_gray icon_hover_fade wh1p5 absolute right_0_240_st bottom_05_240_st"></label>
                                            @if ((bool)ViewBag.ActiveTutor)
                                            {
                                                @Html.TextBoxFor(m => m.Email, new { @id = "Email_Tutor", @class = "mdc-text-field__input fs_1 pad_r_25", @Name = "Tutor.Email", required = true, aria_controls = "Email_Tutor-helper-text", MaxLength = "100", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido.", disabled = true })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.Email, new { @id = "Email_Tutor", @class = "mdc-text-field__input fs_1 pad_r_25", @Name = "Tutor.Email", required = true, aria_controls = "Email_Tutor-helper-text", MaxLength = "100", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                            }
                                            @Html.LabelFor(m => m.Email, "Correo electrónico", new { @for = "Email_Tutor", @class = "mdc-text-field__label pad_r_25" + ((bool)ViewBag.ActiveTutor ? " mdc-floating-label" : "") })
                                            <div class="mdc-line-ripple"></div>
                                        </div>
                                        <p id="Email_Tutor-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="column_container">

                                <div class="g_s240_100p g_s480_50p pad_r_15_480_st">

                                    <div id="MemberSocialNetworkContainerTutor">
                                        @if (Model.MemberSocialNetworks == null || Model.MemberSocialNetworks.Count == 0)
                                        {
                                            <div class="text-left SocialNetworkContainerTutor">
                                                <div class="mdc-text-field w100p @((bool)ViewBag.ActiveTutor ? "mdc-text-field--disabled" : "")" data-mdc-auto-init="MDCTextField">
                                                    <input name="Tutor.MemberSocialNetworks[0].MemberSocialNetworkId" id="MemberSocialNetworks_MemberSocialNetworkId_0_Tutor" data="id" type="hidden" value="0">
                                                    <input name="Tutor.MemberSocialNetworks[0].TypeId" id="MemberSocialNetworks_TypeId_0_Tutor" data="type" type="hidden" value="@CustomSession.CurrentSession.SocialNetworkConstants.FacebookId">

                                                    <label for="MemberSocialNetworks_Nickname_0_Tutor" class="multi_icon icon_social_fb bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_fb" data-tab-type="Tutor"></label>
                                                    <input name="Tutor.MemberSocialNetworks[0].Nickname" id="MemberSocialNetworks_Nickname_0_Tutor" aria-controls="MemberSocialNetworks_Nickname_0_Tutor-helper-text" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_Social" required maxlength="100" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido." @((bool)ViewBag.ActiveTutor ? "disabled" : "")>
                                                    <label for="MemberSocialNetworks_Nickname_0_Tutor" class="mdc-text-field__label pad_r_25 @((bool)ViewBag.ActiveTutor ? "mdc-floating-label" : "")">Nombre de usuario</label>
                                                    <div class="mdc-line-ripple"></div>
                                                </div>
                                                <p id="MemberSocialNetworks_Nickname_0_Tutor-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                            </div>
                                        }
                                        else
                                        {
                                            int i = 0;
                                            foreach (var item in Model.MemberSocialNetworks)
                                            {
                                                <div class="text-left SocialNetworkContainerTutor">
                                                    <div class="mdc-text-field w100p mdc-text-field--disabled" data-mdc-auto-init="MDCTextField">
                                                        <input name="Tutor.MemberSocialNetworks[@i].MemberSocialNetworkId" id="@("MemberSocialNetworks_MemberSocialNetworkId_" + i + "_Tutor")" data="id" type="hidden" value="@item.MemberSocialNetworkId">
                                                        <input name="Tutor.MemberSocialNetworks[@i].TypeId" id="@("MemberSocialNetworks_TypeId_" + i + "_Tutor")" data="type" type="hidden" value="@item.TypeId">

                                                        @if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.FacebookId)
                                                        {
                                                            <label for="@("MemberSocialNetworks_Nickname_" + i + "_Tutor")" class="multi_icon icon_social_fb bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_fb" data-tab-type="Tutor"></label>
                                                        }
                                                        else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.TwitterId)
                                                        {
                                                            <label for="@("MemberSocialNetworks_Nickname_" + i + "_Tutor")" class="multi_icon icon_social_tw bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_tw" data-tab-type="Tutor"></label>
                                                        }
                                                        else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.InstagramId)
                                                        {
                                                            <label for="@("MemberSocialNetworks_Nickname_" + i + "_Tutor")" class="multi_icon icon_social_inst bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_inst" data-tab-type="Tutor"></label>
                                                        }
                                                        else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.GoogleId)
                                                        {
                                                            <label for="@("MemberSocialNetworks_Nickname_" + i + "_Tutor")" class="multi_icon icon_social_gp bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_gp" data-tab-type="Tutor"></label>
                                                        }
                                                        else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.YoutubeId)
                                                        {
                                                            <label for="@("MemberSocialNetworks_Nickname_" + i + "_Tutor")" class="multi_icon icon_social_yt bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_yt" data-tab-type="Tutor"></label>
                                                        }
                                                        else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.LinkedInId)
                                                        {
                                                            <label for="@("MemberSocialNetworks_Nickname_" + i + "_Tutor")" class="multi_icon icon_social_in bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_in" data-tab-type="Tutor"></label>
                                                        }
                                                        <input name="Tutor.MemberSocialNetworks[@i].Nickname" id="@("MemberSocialNetworks_Nickname_" + i + "_Tutor")" aria-controls="@("MemberSocialNetworks_Nickname_" + i + "_Tutor-helper-text")" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_Social" required maxlength="100" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido." value="@item.Nickname" disabled>
                                                        <label for="@("MemberSocialNetworks_Nickname_" + i + "_Tutor")" class="mdc-text-field__label pad_r_25 mdc-floating-label">Nombre de usuario</label>
                                                        <div class="mdc-line-ripple"></div>
                                                    </div>
                                                    <p id="@("MemberSocialNetworks_Nickname_" + i + "_Tutor-helper-text")" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                                </div>

                                                i++;
                                            }
                                        }
                                    </div>

                                    @if (!((bool)ViewBag.ActiveTutor))
                                    {
                                        <div class="relative mdc-menu-anchor">
                                            <div id="btnAddSocialNetworkTutor" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer menu-button social_menu social_network_menu" data-menuel="social_menu_new_Tutor">
                                                <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                                Agregar red social
                                            </div>

                                            <div class="mdc-menu mdc-menu--animating-open zoom_font mar_t_15_240_st right_0_240_st top_5_240_st" tabindex="-1" id="social_menu_new_Tutor" style="min-width:11rem;">
                                                <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                                                    <li class="mdc-list-item text-left no_padding hide" role="menuitem" tabindex="0">
                                                        <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector_Tutor" data="@CustomSession.CurrentSession.SocialNetworkConstants.FacebookId"><span class="inline wh1p5 bck_pos_gray icon_social_fb multi_icon mar_r_1 icon_hover_fade"></span>Facebook</a>
                                                    </li>
                                                    <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                                        <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector_Tutor" data="@CustomSession.CurrentSession.SocialNetworkConstants.TwitterId"><span class="inline wh1p5 bck_pos_gray icon_social_tw multi_icon mar_r_1 icon_hover_fade"></span>Twitter</a>
                                                    </li>
                                                    <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                                        <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector_Tutor" data="@CustomSession.CurrentSession.SocialNetworkConstants.InstagramId"><span class="inline wh1p5 bck_pos_gray icon_social_inst multi_icon mar_r_1 icon_hover_fade"></span>Instagram</a>
                                                    </li>
                                                    <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                                        <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector_Tutor" data="@CustomSession.CurrentSession.SocialNetworkConstants.GoogleId"><span class="inline wh1p5 bck_pos_gray icon_social_gp multi_icon mar_r_1 icon_hover_fade"></span>Google plus</a>
                                                    </li>
                                                    <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                                        <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector_Tutor" data="@CustomSession.CurrentSession.SocialNetworkConstants.YoutubeId"><span class="inline wh1p5 bck_pos_gray icon_social_yt multi_icon mar_r_1 icon_hover_fade"></span>Youtube</a>
                                                    </li>
                                                    <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                                        <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector_Tutor" data="@CustomSession.CurrentSession.SocialNetworkConstants.LinkedInId"><span class="inline wh1p5 bck_pos_gray icon_social_in multi_icon mar_r_1 icon_hover_fade"></span>Linkedin</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }

                                </div>

                                <div class="g_s240_100p g_s480_50p pad_l_15_480_st">

                                    <div id="MemberPhoneNumberContainerTutor">
                                        @if (Model.MemberPhoneNumbers == null || Model.MemberPhoneNumbers.Count == 0)
                                        {
                                            <div class="text-left PhoneNumberContainerTutor">
                                                <div class="mdc-text-field w100p @((bool)ViewBag.ActiveTutor ? "mdc-text-field--disabled" : "")" data-mdc-auto-init="MDCTextField">
                                                    <input name="Tutor.MemberPhoneNumbers[0].MemberPhoneNumberId)" id="MemberPhoneNumbers_MemberPhoneNumberId_0_Tutor" type="hidden" value="0">

                                                    <label for="MemberPhoneNumbers_PhoneNumber_0_Tutor" class="multi_icon icon_number bck_pos_gray icon_hover_fade wh1p5 absolute right_0_240_st bottom_05_240_st" data-tab-type="Tutor"></label>
                                                    <input name="Tutor.MemberPhoneNumbers[0].PhoneNumber" id="MemberPhoneNumbers_PhoneNumber_0_Tutor" aria-controls="MemberPhoneNumbers_PhoneNumber_0_Tutor-helper-text" type="text" class="mdc-text-field__input fs_1 pad_r_25 inputPhone" required maxlength="15" pattern="\++\(+[0-9]+\)+([0-9]{4})+-+([0-9]{4})$" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido." @((bool)ViewBag.ActiveTutor ? "disabled" : "") value="+(506)">
                                                    <label for="MemberPhoneNumbers_PhoneNumber_0_Tutor" class="mdc-text-field__label pad_r_25 @((bool)ViewBag.ActiveTutor ? "mdc-floating-label" : "")">Teléfono</label>
                                                    <div class="mdc-line-ripple"></div>
                                                </div>
                                                <p id="MemberPhoneNumbers_PhoneNumber_0_Tutor-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de número telefónico +(000)0000-0000</p>
                                            </div>
                                        }
                                        else
                                        {
                                            int i = 0;
                                            foreach (var item in Model.MemberPhoneNumbers)
                                            {
                                                if (i == 0)
                                                {
                                                    <div class="text-left PhoneNumberContainerTutor">
                                                        <div class="mdc-text-field w100p mdc-text-field--disabled" data-mdc-auto-init="MDCTextField">
                                                            <input name="@("Tutor.MemberPhoneNumbers[" + i + "].MemberPhoneNumberId")" id="@("MemberPhoneNumbers_MemberPhoneNumberId_" + i + "_Tutor")" type="hidden" value="@item.MemberPhoneNumberId">

                                                            <label for="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Tutor")" class="multi_icon icon_number bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st" data-tab-type="Tutor"></label>
                                                            <input name="@("Tutor.MemberPhoneNumbers[" + i + "].PhoneNumber")" id="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Tutor")" aria-controls="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Tutor-helper-text")" type="text" class="mdc-text-field__input fs_1 pad_r_25 inputPhone" required maxlength="15" pattern="\++\(+[0-9]+\)+([0-9]{4})+-+([0-9]{4})$" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido." value="@item.PhoneNumber" disabled>
                                                            <label for="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Tutor")" class="mdc-text-field__label pad_r_25 mdc-floating-label">Teléfono</label>
                                                            <div class="mdc-line-ripple"></div>
                                                        </div>
                                                        <p id="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Tutor-helper-text")" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de número telefónico +(000)0000-0000</p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="text-left PhoneNumberContainerTutor">
                                                        <div class="mdc-text-field w100p mdc-text-field--disabled" data-mdc-auto-init="MDCTextField">
                                                            <input name="@("Tutor.MemberPhoneNumbers[" + i + "].MemberPhoneNumberId")" id="@("MemberPhoneNumbers_MemberPhoneNumberId_" + i + "_Tutor")" type="hidden" value="@item.MemberPhoneNumberId">

                                                            <label for="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Tutor")" class="multi_icon icon_number bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_PhoneNumber" data-tab-type="Young"></label>
                                                            <input name="@("Tutor.MemberPhoneNumbers[" + i + "].PhoneNumber")" id="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Tutor")" aria-controls="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Tutor-helper-text")" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_PhoneNumber inputPhone" required maxlength="15" pattern="\++\(+[0-9]+\)+([0-9]{4})+-+([0-9]{4})$" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido." value="@item.PhoneNumber" disabled>
                                                            <label for="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Tutor")" class="mdc-text-field__label pad_r_25 mdc-floating-label">Teléfono</label>
                                                            <div class="mdc-line-ripple"></div>
                                                        </div>
                                                        <p id="@("MemberPhoneNumbers_PhoneNumber_" + i + "_Tutor-helper-text")" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de número telefónico +(000)0000-0000</p>
                                                    </div>
                                                }

                                                i++;
                                            }
                                        }
                                    </div>

                                    @if (!((bool)ViewBag.ActiveTutor))
                                    {
                                        <a id="btnAddPhoneNumberTutor" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                                            <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1">
                                                <span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span>
                                            </span>
                                            Agregar otro Teléfono
                                        </a>
                                    }

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="pad_tb_15 b_bottom_gray b_transparent_change @((bool)ViewBag.ActiveTutor ? "selected" : "unselected") containerForValidation_Tutor" id="container_item_2_popup">

                    <div class="relative">
                        <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation_Tutor" onclick="javascript:unhide('item_2_popup');unhide('name_2_popup');unhide('container_item_2_popup');unhide('icon_item_2_popup');">

                            <div class="pad_l_3 ellipsis relative h2 lh_2">
                                <span class="multi_icon icon_address bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st @((bool)ViewBag.ActiveTutor ? "selected" : "unselected")" id="icon_item_2_popup"></span>
                                Ubicación
                            </div>

                            <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                <div class="arrow gray_arrow w1 h05 @((bool)ViewBag.ActiveTutor ? "selected" : "unselected")" id="name_2_popup"></div>
                            </div>
                        </div>
                    </div>

                    <div class="toggle_height @((bool)ViewBag.ActiveTutor ? "selected" : "unselected") containerBodyForValidation_Tutor" id="item_2_popup">
                        <div class="pad_t_15"><div class="split_bottom"></div></div>

                        <div class="">

                            <div class="text-left">
                                <div class="mdc-text-field mdc-text-field--textarea w100p msn_text @((bool)ViewBag.ActiveTutor ? "mdc-text-field--disabled" : "")" data-mdc-auto-init="MDCTextField">
                                    @if ((bool)ViewBag.ActiveTutor)
                                    {
                                        @Html.TextAreaFor(m => m.Address, new { @id = "Address_Tutor", @class = "mdc-text-field__input fs_1", @Name = "Tutor.Address", cols = "30", rows = "4", required = true, aria_controls = "Address_Tutor-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido.", disabled = true })
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(m => m.Address, new { @id = "Address_Tutor", @class = "mdc-text-field__input fs_1", @Name = "Tutor.Address", cols = "30", rows = "4", required = true, aria_controls = "Address_Tutor-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                    }
                                    @Html.LabelFor(m => m.Address, "Ingrese su dirección", new { @for = "Address_Tutor", @class = "mdc-text-field__label" + ((bool)ViewBag.ActiveTutor ? " mdc-floating-label" : "") })
                                    <div class="mdc-line-ripple"></div>
                                </div>
                                <p id="Address_Tutor-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                            </div>

                            @if (Model.MemberId != null && Model.MemberId != 0)
                            {
                                @Html.Hidden("ProvinceId_hf_Tutor", Model.District.Canton.ProvinceId, new { @id = "ProvinceId_hf_Tutor", @dataTabType = "Tutor" })
                                @Html.Hidden("CantonId_hf_Tutor", Model.District.CantonId, new { @id = "CantonId_hf_Tutor", @dataTabType = "Tutor" })
                                @Html.Hidden("DistrictId_hf_Tutor", Model.DistrictId, new { @id = "DistrictId_hf_Tutor", @dataTabType = "Tutor" })
                            }
                            <div class="column_container">

                                <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                    <div class="hide">
                                        @if ((bool)ViewBag.ActiveTutor)
                                        {
                                            @Html.DropDownList("ProvinceId", (SelectList)ViewBag.ProvinceList, "Seleccione una Opción", new { @id = "ProvinceId_Tutor", @Name = "Tutor.ProvinceId", placeholder = "Provincia", InModal = true, selectDisabled = true })
                                        }
                                        else
                                        {
                                            @Html.DropDownList("ProvinceId", (SelectList)ViewBag.ProvinceList, "Seleccione una Opción", new { @id = "ProvinceId_Tutor", @Name = "Tutor.ProvinceId", placeholder = "Provincia", InModal = true })
                                        }
                                    </div>
                                    <div id="ProvinceId_TutorSelectDiv"></div>
                                </div>

                                <div class="g_s240_100p g_s480_50p pad_l_15_480_st" id="CantonContainer_Tutor">
                                    <div class="hide">
                                        @if ((bool)ViewBag.ActiveTutor)
                                        {
                                            @Html.DropDownList("CantonId", (SelectList)ViewBag.CantonList, "Seleccione una Opción", new { @id = "CantonId_Tutor", @Name = "Tutor.CantonId", placeholder = "Cantón", InModal = true, selectDisabled = true })
                                        }
                                        else
                                        {
                                            @Html.DropDownList("CantonId", (SelectList)ViewBag.CantonList, "Seleccione una Opción", new { @id = "CantonId_Tutor", @Name = "Tutor.CantonId", placeholder = "Cantón", InModal = true })
                                        }
                                    </div>
                                    <div id="CantonId_TutorSelectDiv"></div>
                                </div>
                            </div>

                            <div class="column_container">

                                <div class="g_s240_100p g_s480_50p pad_r_15_480_st" id="DistrictContainer_Tutor">
                                    <div class="hide">
                                        @if ((bool)ViewBag.ActiveTutor)
                                        {
                                            @Html.DropDownList("DistrictId", (SelectList)ViewBag.DistrictList, "Seleccione una Opción", new { @id = "DistrictId_Tutor", @Name = "Tutor.DistrictId", placeholder = "Distrito", InModal = true, selectDisabled = true })
                                        }
                                        else
                                        {
                                            @Html.DropDownList("DistrictId", (SelectList)ViewBag.DistrictList, "Seleccione una Opción", new { @id = "DistrictId_Tutor", @Name = "Tutor.DistrictId", placeholder = "Distrito", InModal = true })
                                        }
                                    </div>
                                    <div id="DistrictId_TutorSelectDiv"></div>
                                </div>

                                <div class="g_s240_100p g_s480_50p pad_l_15_480_st">
                                    <div class="text-left">
                                        <div class="mdc-text-field w100p mdc-text-field--disabled mdc-text-field--upgraded" data-mdc-auto-init="MDCTextField">
                                            @Html.TextBoxFor(m => m.PostalCode, new { @id = "PostalCode_Tutor", @class = "mdc-text-field__input fs_1 text-center numeric", @Name = "Tutor.PostalCode", required = true, aria_controls = "PostalCode_Tutor-helper-text", MaxLength = "5", @Value = (Model.MemberId != null && Model.MemberId != 0 ? (Model.PostalCode ?? "00000") : "00000"), oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido.", @readonly = true })
                                            @Html.LabelFor(m => m.PostalCode, "Código postal", new { @for = "PostalCode_Tutor", @class = "mdc-text-field__label mdc-floating-label--float-above" })
                                            <div class="mdc-line-ripple"></div>
                                        </div>
                                        <p id="PostalCode_Tutor-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    if ((bool)ViewBag.ActiveTutor)
    {
        <button type="button" class="hide" id="BtnSaveTutor" onclick="AddMemberTutor();"></button>
    }
    else
    {
        <button type="submit" class="hide" id="BtnSaveTutor"></button>
    }
}