﻿@model int

<div class="text-left @("PhoneNumberContainer" + (string)ViewBag.ModelName)">
    <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
        <input name="@((string)ViewBag.ModelName + ".MemberPhoneNumbers[" + Model + "].MemberPhoneNumberId")" id="@("MemberPhoneNumbers_MemberPhoneNumberId_" + Model + "_" + (string)ViewBag.ModelName)" type="hidden" value="0">

        <label for="@("MemberPhoneNumbers_PhoneNumber_" + Model + "_" + (string)ViewBag.ModelName)" class="multi_icon icon_number bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_PhoneNumber" data-tab-type="@((string)ViewBag.ModelName)"></label>
        <input name="@((string)ViewBag.ModelName + ".MemberPhoneNumbers[" + Model + "].PhoneNumber")" id="@("MemberPhoneNumbers_PhoneNumber_" + Model + "_" + (string)ViewBag.ModelName)" aria-controls="@("MemberPhoneNumbers_PhoneNumber_" + Model + "_" + (string)ViewBag.ModelName + "-helper-text")" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_PhoneNumber inputPhone" required maxlength="15" pattern="\++\(+[0-9]+\)+([0-9]{4})+-+([0-9]{4})$" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="setCustomValidity('')" title="Este campo es requerido." value="+(506)">
        <label for="@("MemberPhoneNumbers_PhoneNumber_" + Model + "_" + (string)ViewBag.ModelName)" class="mdc-text-field__label pad_r_25">Teléfono</label>
        <div class="mdc-line-ripple"></div>
    </div>
    <p id="@("MemberPhoneNumbers_PhoneNumber_" + Model + "_" + (string)ViewBag.ModelName + "-helper-text")" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de número telefónico +(000)0000-0000</p>
</div>
