﻿@model Entities.Member

<div class="column_container v_bottom_all TutorContainerYoung">
    <input name="@("Young.MemberTutors[" + -1 + "].MemberTutorId")" id="@("MemberTutors_MemberTutorId_" + -1 + "_Young")" type="hidden" value="0" data="MemberTutorId">
    <input name="@("Young.MemberTutors[" + -1 + "].TutorId")" id="@("MemberTutors_TutorId_" + -1 + "_Young")" type="hidden" value="@Model.MemberId" data="TutorId">

    <div class="g_s240_100p g_s700_50p pad_r_15_700_st">
        <div class="text-left">
            <div class="mdc-text-field w100p mdc-text-field--disabled" data-mdc-auto-init="MDCTextField">
                <input id="name" type="text" class="mdc-text-field__input fs_1" disabled value="@(Model.Names + " " + Model.Surnames)">
                <label for="name" class="mdc-text-field__label mdc-floating-label">Nombre y apellidos del tutor</label>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
    </div>

    <div class="g_s240_100p g_s700_25p pad_l_15_700_st mar_b_05">
        <div class="text-left">
            <a class="c_gray italic fs_09 hover_to_green pad_l_2 relative ellipsis block hover_icon_all h1p5 lh_15 pointer removeTutorYoung">
                <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1p5"><span class="wh1p5 block relative pointer icon_close_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                Eliminar tutor
            </a>
        </div>
    </div>
</div>