﻿@model int

<div class="column_container relative pad_r_2_240_st @("CourseContainer" + (string)ViewBag.ModelName)">
    <input name="@((string)ViewBag.ModelName + ".MemberCourses[" + Model + "].MemberCourseId")" id="@("MemberCourses_MemberCourseId_" + Model + "_" + (string)ViewBag.ModelName)" type="hidden" value="0">

    <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
        <div class="text-left">
            <div class="hide">
                @Html.DropDownList((string)ViewBag.ModelName + ".MemberCourses[" + Model + "].CourseId", (SelectList)ViewBag.ListCourse, "Seleccione una opción", new
                {
                    @id = "MemberCourses_CourseId_" + Model + "_" + (string)ViewBag.ModelName,
                    placeholder = "Curso"
                })
            </div>
            <div id="@("MemberCourses_CourseId_" + Model + "_" + (string)ViewBag.ModelName + "SelectDiv")" class="visualSelectContainer"></div>
        </div>
    </div>

    <div class="g_s240_100p g_s480_50p pad_l_15_480_st max_w_15 relative_480_st">
        <div class="text-left">
            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                <label for="@("MemberCourses_CourseDate_" + Model + "_" + (string)ViewBag.ModelName)" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st" data-tab-type="@((string)ViewBag.ModelName)"></label>
                @Html.TextBox((string)ViewBag.ModelName + ".MemberCourses[" + Model + "].CourseDate", DateTime.Now.ToString("dd-MM-yyyy"), new
                {
                    @id = "MemberCourses_CourseDate_" + Model + "_" + (string)ViewBag.ModelName,
                    @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker",
                    aria_controls = "MemberCourses_CourseDate_" + Model + "_" + (string)ViewBag.ModelName + "-helper-text",
                    MaxLength = "10",
                    Required = true,
                    oninvalid = "this.setCustomValidity('Este campo es requerido.')",
                    oninput = "this.setCustomValidity('')",
                    title = "Este campo es requerido."
                })
                <label for="@("MemberCourses_CourseDate_" + Model + "_" + (string)ViewBag.ModelName)" class="mdc-text-field__label pad_r_3">Fecha del curso</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <p id="@("MemberCourses_CourseDate_" + Model + "_" + (string)ViewBag.ModelName + "-helper-text")" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
        </div>

        <div class="absolute top_0_480_st top_2_240_st bottom_0_480_st mar_auto wh1 left_auto_240_st right_0_240_st left_100p_480_st right_auto_480_st pad_l_1_480_st ">
            <span class="wh1p5 block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray @("removeCourse" + (string)ViewBag.ModelName)"></span>
        </div>
    </div>
</div>
