﻿@using CR.CGC.GuiasScoutsWeb.Common
@model CR.CGC.GuiasScoutsWeb.Models.SocialNetworkViewModel

<div class="text-left @("SocialNetworkContainer" + (string)ViewBag.ModelName)">
    <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
        <input name="@((string)ViewBag.ModelName + ".MemberSocialNetworks[" + Model.Index + "].MemberSocialNetworkId")" id="@("MemberSocialNetworks_MemberSocialNetworkId_" + Model.Index + "_" + (string)ViewBag.ModelName)" data="id" type="hidden" value="0">
        <input name="@((string)ViewBag.ModelName + ".MemberSocialNetworks[" + Model.Index + "].TypeId")" id="@("MemberSocialNetworks_TypeId_" + Model.Index + "_" + (string)ViewBag.ModelName)" data="type" type="hidden" value="@Model.TypeId">

        @if (Model.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.FacebookId)
        {
            <label for="@("MemberSocialNetworks_Nickname_" + Model.Index + "_" + (string)ViewBag.ModelName)" class="multi_icon icon_social_fb bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_fb" data-tab-type="@((string)ViewBag.ModelName)"></label>
        }
        else if (Model.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.TwitterId)
        {
            <label for="@("MemberSocialNetworks_Nickname_" + Model.Index + "_" + (string)ViewBag.ModelName)" class="multi_icon icon_social_tw bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_tw" data-tab-type="@((string)ViewBag.ModelName)"></label>
        }
        else if (Model.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.InstagramId)
        {
            <label for="@("MemberSocialNetworks_Nickname_" + Model.Index + "_" + (string)ViewBag.ModelName)" class="multi_icon icon_social_inst bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_inst" data-tab-type="@((string)ViewBag.ModelName)"></label>
        }
        else if (Model.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.GoogleId)
        {
            <label for="@("MemberSocialNetworks_Nickname_" + Model.Index + "_" + (string)ViewBag.ModelName)" class="multi_icon icon_social_gp bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_gp" data-tab-type="@((string)ViewBag.ModelName)"></label>
        }
        else if (Model.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.YoutubeId)
        {
            <label for="@("MemberSocialNetworks_Nickname_" + Model.Index + "_" + (string)ViewBag.ModelName)" class="multi_icon icon_social_yt bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_yt" data-tab-type="@((string)ViewBag.ModelName)"></label>
        }
        else if (Model.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.LinkedInId)
        {
            <label for="@("MemberSocialNetworks_Nickname_" + Model.Index + "_" + (string)ViewBag.ModelName)" class="multi_icon icon_social_in bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_in" data-tab-type="@((string)ViewBag.ModelName)"></label>
        }
        <input name="@((string)ViewBag.ModelName + ".MemberSocialNetworks[" + Model.Index + "].Nickname")" id="@("MemberSocialNetworks_Nickname_" + Model.Index + "_" + (string)ViewBag.ModelName)" aria-controls="@("MemberSocialNetworks_Nickname_" + Model.Index + "_" + (string)ViewBag.ModelName + "-helper-text")" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_Social" required maxlength="100" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido.">
        <label for="@("MemberSocialNetworks_Nickname_" + Model.Index + "_" + (string)ViewBag.ModelName)" class="mdc-text-field__label pad_r_25">Nombre de usuario</label>
        <div class="mdc-line-ripple"></div>
    </div>
    <p id="@("MemberSocialNetworks_Nickname_" + Model.Index + "_" + (string)ViewBag.ModelName + "-helper-text")" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
</div>
