﻿@model SelectList

<div class="hide">
    @if ((bool)ViewBag.selectDisabled)
    {
        @Html.DropDownList("MemberGroup.ProgressionId", Model, "Seleccione una Opción", new { @id = "ProgressionId", selectDisabled = true, placeholder = "Etapa" })
    }
    else
    {
        @Html.DropDownList("MemberGroup.ProgressionId", Model, "Seleccione una Opción", new { @id = "ProgressionId", placeholder = "Etapa" })
    }
</div>
<div id="ProgressionIdSelectDiv"></div>
