﻿@model Entities.Member

@{
    ViewBag.Title = "Asignación de Reconocimientos";
    Entities.MemberRecognition sendModel = null;
    if ((int)ViewBag.MemberRecognitionId != 0)
    {
        sendModel = Model.MemberRecognitions.Where(x => x.MemberRecognitionId == (int)ViewBag.MemberRecognitionId).First();
    }
}

@Html.Hidden("Url_Delete", Url.Action("DeleteMemberRecognition", "Member"))

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("Members", "Member")" id="DivToList">Registros / @(Model.Names + " " + Model.Surnames)</a>
    <span>/ Reconocimientos y condecoraciones</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver miembros</strong></div>

<div class="content_wrap_body">
    <div>
        <a href="@Url.Action("Members", "Member")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
    </div>
    <div class="italic fs_12 c_black row_lm">Asigne un reconocimiento o condecoración</div>

    <div class="relative">
        <div class="pad_b_3 max_w_75 pad_t_2">

            <div class="relative min_h_35_1024_st">

                @using (Ajax.BeginForm("SaveMemberRecognition", "Member", new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "CreateContainer",
                    OnSuccess = "OnSuccess_MemberRecognition",
                    OnFailure = "OnFailure"

                }, new { OnBegin = "OnBegin", validateFunc = "ValidateMemberRecognition", @class = "form_container g_s1024_50p g_s240_100p pad_r_2_1024_st pad_t_15" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    @Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
                    @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

                    <div class="relative w8 h8">
                        <div class="profile circle relative w8 h8 overflow_h mar_auto">
                            <div class="center_absolute wh100p z1 bck_cover" style="background-image: url('@Url.Action("ViewFile", "Application", new { FileUrl = Model.Photo})');"></div>
                        </div>
                    </div>

                    @Html.Hidden("MemberRecognition.MemberRecognitionId", sendModel == null ? 0 : sendModel.MemberRecognitionId, new { @id = "MemberRecognitionId" })
                    @Html.Hidden("MemberRecognition.MemberId", Model.MemberId, new { @id = "MemberId" })

                    <div class="pad_t_2">
                        <div class="italic c_black fs_12">Reconocimiento</div>
                        <div class="row_lm">
                            <div class="hide">
                                @if (sendModel == null)
                                {
                                    @Html.DropDownList("MemberRecognition.RecognitionId", (SelectList)ViewBag.ListRecognition, "Seleccione una Opción", new { @id = "RecognitionId", placeholder = "Seleccione el reconocimiento / condecoración" })
                                }
                                else
                                {
                                    @Html.DropDownList("MemberRecognition.RecognitionId", new SelectList(((SelectList)ViewBag.ListRecognition).Items, ((SelectList)ViewBag.ListRecognition).DataValueField, ((SelectList)ViewBag.ListRecognition).DataTextField, sendModel.RecognitionId), "Seleccione una Opción", new { @id = "RecognitionId", placeholder = "Seleccione el reconocimiento / condecoración", selectDisabled = true })
                                }
                            </div>
                            <div id="RecognitionIdSelectDiv"></div>
                        </div>
                    </div>

                    <div class="text-left">
                        <div class="mdc-text-field mdc-text-field--upgraded w100p mar_0 max_w_15" data-mdc-auto-init="MDCTextField">
                            <label for="DateAssignment" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                            @Html.TextBox("MemberRecognition.DateAssignment", sendModel == null ? DateTime.Now : sendModel.DateAssignment, "{0:dd-MM-yyyy}", new { @id = "DateAssignment", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", required = true, aria_controls = "DateAssignment-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                            @Html.Label("Fecha de asignación", "Fecha de asignación", new { @for = "FoundationDate", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p id="DateAssignment-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                    </div>

                    <div class="inline_divs v_mid_all w100p mar_t_3">
                        @if ((int)ViewBag.MemberRecognitionId != 0)
                        {
                            <a href="@Url.Action("NewMemberRecognition", "Member", new { MemberId = Model.MemberId })" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2">cancelar</a>

                            <button type="submit" id="BtnSaveOld" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09">
                                <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                            </button>
                        }
                        else
                        {
                            <button type="submit" id="BtnSaveOld" class="pad_1 bck_turkey_light bck_turkey_light_hover italic r5px cursor fs_11 v_mid_all hover_to_green pointer inline c_black">
                                <span class="w1p7 h1p7 relative icon_add_btn multi_icon inline bck_pos_green mar_r_05"></span>
                                Agregar otro
                            </button>
                        }
                        <a href="@Url.Action("NewMemberRecognition", "Member", new { MemberId = Model.MemberId })" class="hide" id="toSaveMemberRecognition">cancelar</a>
                        <div class="mdl-tooltip" for="BtnSaveOld"><strong>Guardar Reconocimiento</strong></div>
                    </div>
                }

                <div class="g_s1024_50p g_s240_100p absolute_tr_1024_st h100p pad_t_2_240_st">
                    <div class="relative h100p">
                        <div class="pad_15 bck_body absolute_1024_st top_0_1024_st left_0_240_st h100p overflow_h w100p">
                            <div class="overflow_auto list_block h100p">

                                @{
                                    int ind = 1;
                                    foreach (var item in Model.MemberRecognitions.Where(x => x.Enabled).ToList())
                                    {
                                        <div class="bck_white pad_1 relative overflow_h">

                                            <div class="relative">
                                                <div class="pointer pad_r_3 pad_l_2" onclick="javascript:unhide('item_@ind');unhide('name_@ind');">
                                                    <div class="absolute top_0_240_st left_2_240_st wh2p5">
                                                        <div class="circle wh100p icon" style="background-image: url('@Url.Action("ViewFile", "Application", new { FileUrl = item.Recognition.FileLocation})');"></div>
                                                    </div>

                                                    <div class="pad_l_4">
                                                        <div>@item.Recognition.Name</div>
                                                        <div class="c_gray opa_50">@item.DateAssignment.ToString("dd-MM-yyyy")</div>
                                                    </div>

                                                    <div class="w1 h05 absolute left_0_240_st top_1_240_st text-center">
                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_@ind"></div>
                                                    </div>
                                                </div>

                                                <div class="actions h5 z1 absolute_tr_240_st text-right">
                                                    <div class="wh2 inline multi_icon bck_pos_gray absolute right_0_240_st top_1_240_st icon_points "></div>

                                                    <div class="action_buttons text-right absolute h100p pad_t_1 inline_divs v_mid_all w10 inline_divs">

                                                        <div class="circle_hover pointer relative pad_05" id="@("BtnDelete" + ind)" onclick="DeleteMemberRecognition(@Model.MemberId, @item.MemberRecognitionId);">
                                                            <div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                                        </div>

                                                        <a class="circle_hover pointer relative pad_05" id="@("BtnEdit" + ind)" href="@Url.Action("NewMemberRecognition", "Member", new { MemberId = Model.MemberId, MemberRecognitionId = item.MemberRecognitionId })">
                                                            <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                                        </a>

                                                        <div class="mdl-tooltip" for="@("BtnDelete" + ind)"><strong>Eliminar registro</strong></div>
                                                        <div class="mdl-tooltip" for="@("BtnEdit" + ind)"><strong>Editar registro</strong></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="toggle_height unselected" id="item_@ind">
                                                <div class="pad_tb_15"><div class="split_bottom"></div></div>

                                                <div class="">@item.Recognition.Description</div>
                                            </div>
                                        </div>

                                        ind++;
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/Member/Members/AddMemberRecognition.js")
}
