﻿@model Entities.Member

@{
    ViewBag.Title = "Evaluación de Competencias";
    List<Entities.RoleCompetence> sendModel = null;
    if (Model.MemberCompetenceEvaluations.Where(x => x.EvaluationDate.Date == ((DateTime)ViewBag.EvaluationDate).Date && x.Enabled).ToList().Count == 0)
    {
        sendModel = (List<Entities.RoleCompetence>)ViewBag.ListCompetence;
    }
}

@Html.Hidden("Url_Delete", Url.Action("DeleteMemberCompetenceEvaluation", "Member"))

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("Members", "Member")" id="DivToList">Registros / @(Model.Names + " " + Model.Surnames)</a>
    <span>/ Evaluaciones</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver miembros</strong></div>

<div class="content_wrap_body">
    <div>
        <a href="@Url.Action("Members", "Member")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
    </div>
    <div class="italic fs_12 c_black row_lm">Asigne un nivel para cada competencia</div>

    @using (Ajax.BeginForm("SaveMemberCompetenceEvaluation", "Member", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "CreateContainer",
        OnSuccess = "OnSuccess_MemberCompetenceEvaluation",
        OnFailure = "OnFailure"

    }, new { OnBegin = "OnBegin", validateFunc = "ValidateMemberCompetenceEvaluation", @class = "relative pad_t_3" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
        @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

        <div class="pad_b_3 max_w_75">
            <div class="relative min_h_36_1024_st pad_r_3_1024_st">

                <div class="form_container g_s1024_50p g_s240_100p pad_r_2_1024_st pad_t_15 pad_b_2" id="select_form_container">

                    <div class="text-center pad_b_2">
                        <div class="relative w8 h8 mar_auto">
                            <div class="profile circle relative w8 h8 overflow_h mar_auto">
                                <div class="center_absolute wh100p z1 bck_cover" style="background-image: url('@Url.Action("ViewFile", "Application", new { FileUrl = Model.Photo})');"></div>
                            </div>
                        </div>
                    </div>

                    <div class="c_gray">
                        <div class="fs_12 italic text-center c_black">@(Model.Names + " " + Model.Surnames)</div>
                    </div>

                    <div class="pad_tb_2 relative z1 mar_auto"><div class="split_bottom_dashed h100p"></div></div>

                    @if (sendModel == null)
                    {
                        int indM = 0;
                        foreach (var item in (List<Entities.RoleCompetence>)ViewBag.ListCompetence)
                        {
                            var evaluationModel = Model.MemberCompetenceEvaluations.Where(x => x.EvaluationDate.Date == ((DateTime)ViewBag.EvaluationDate).Date && x.CompetenceId == item.CompetenceId && x.Enabled).FirstOrDefault();
                            <div class="relative pad_r_5_480_st pad_b_2_480_st pad_t_1_480_st">
                                <div class="pad_r_1_480_st">@item.Competence.Name</div>

                                @Html.Hidden("MemberCompetenceEvaluations[" + indM + "].MemberCompetenceEvaluationId", evaluationModel == null ? 0 : evaluationModel.MemberCompetenceEvaluationId, new { @id = "MemberCompetenceEvaluations_MemberCompetenceEvaluationId_" + indM })
                                @Html.Hidden("MemberCompetenceEvaluations[" + indM + "].MemberId", Model.MemberId, new { @id = "MemberCompetenceEvaluations_MemberId_" + indM })
                                @Html.Hidden("MemberCompetenceEvaluations[" + indM + "].CompetenceId", evaluationModel == null ? item.CompetenceId : evaluationModel.CompetenceId, new { @id = "MemberCompetenceEvaluations_CompetenceId_" + indM })
                                @Html.Hidden("MemberCompetenceEvaluations[" + indM + "].EvaluationDate", evaluationModel == null ? ((DateTime)ViewBag.EvaluationDate).ToString("dd-MM-yyyy") : evaluationModel.EvaluationDate.ToString("dd-MM-yyyy"), new { @id = "MemberCompetenceEvaluations_EvaluationDate_" + indM })

                                <div class="absolute_480_st w5_480_st top_0_480_st right_0_480_st">
                                    <div class="hide">
                                        @if (evaluationModel == null)
                                        {
                                            @Html.DropDownList("MemberCompetenceEvaluations[" + indM + "].LevelId", (SelectList)ViewBag.ListLevel, "Seleccione una Opción", new { @id = "MemberCompetenceEvaluations_LevelId_" + indM, placeholder = "Nivel", iconAlert = true })
                                        }
                                        else
                                        {
                                            @Html.DropDownList("MemberCompetenceEvaluations[" + indM + "].LevelId", new SelectList(((SelectList)ViewBag.ListLevel).Items, ((SelectList)ViewBag.ListLevel).DataValueField, ((SelectList)ViewBag.ListLevel).DataTextField, evaluationModel.LevelId), "Seleccione una Opción", new { @id = "MemberCompetenceEvaluations_LevelId_" + indM, placeholder = "Nivel", iconAlert = true })
                                        }
                                    </div>
                                    <div id="@("MemberCompetenceEvaluations_LevelId_" + indM + "SelectDiv")"></div>
                                </div>
                            </div>

                            <div class="pad_tb_2 to_480"><div class="split_bottom h100p"></div></div>
                            indM++;
                        }
                    }
                    else
                    {
                        int indM = 0;
                        foreach (var item in sendModel)
                        {
                            <div class="relative pad_r_5_480_st pad_b_2_480_st pad_t_1_480_st">
                                <div class="pad_r_1_480_st">@item.Competence.Name</div>
                                @Html.Hidden("MemberCompetenceEvaluations[" + indM + "].MemberCompetenceEvaluationId", 0, new { @id = "MemberCompetenceEvaluations_MemberCompetenceEvaluationId_" + indM })
                                @Html.Hidden("MemberCompetenceEvaluations[" + indM + "].MemberId", Model.MemberId, new { @id = "MemberCompetenceEvaluations_MemberId_" + indM })
                                @Html.Hidden("MemberCompetenceEvaluations[" + indM + "].CompetenceId", item.CompetenceId, new { @id = "MemberCompetenceEvaluations_CompetenceId_" + indM })
                                @Html.Hidden("MemberCompetenceEvaluations[" + indM + "].EvaluationDate", ((DateTime)ViewBag.EvaluationDate).ToString("dd-MM-yyyy"), new { @id = "MemberCompetenceEvaluations_EvaluationDate_" + indM })

                                <div class="absolute_480_st w5_480_st top_0_480_st right_0_480_st">
                                    <div class="hide">
                                        @Html.DropDownList("MemberCompetenceEvaluations[" + indM + "].LevelId", (SelectList)ViewBag.ListLevel, "Seleccione una Opción", new { @id = "MemberCompetenceEvaluations_LevelId_" + indM, placeholder = "Nivel", iconAlert = true })
                                    </div>
                                    <div id="@("MemberCompetenceEvaluations_LevelId_" + indM + "SelectDiv")"></div>
                                </div>
                            </div>

                            <div class="pad_tb_2 to_480"><div class="split_bottom h100p"></div></div>
                            indM++;
                        }
                    }

                </div>

                <div class="pad_t_5_1024_st g_s1024_50p g_s240_100p absolute_tr_1024_st h100p pad_t_1_240_st">
                    <div class="relative h100p">
                        <div class="pad_15 bck_body absolute_1024_st top_0_1024_st left_0_240_st h100p overflow_h w100p">
                            <div class="max_h_28 overflow_auto list_block">

                                @{
                                    int ind = 1;
                                    foreach (var item in Model.MemberCompetenceEvaluations.Where(x => x.Enabled).GroupBy(x => x.EvaluationDate).Select(x => x.Key).ToList())
                                    {
                                        <div class="bck_white pad_1 relative overflow_h">

                                            <div class="relative">
                                                <div class="pointer pad_r_3 pad_l_2" onclick="javascript:unhide('item_@ind');unhide('name_@ind');">

                                                    <div class="absolute top_0_240_st left_2_240_st wh2">
                                                        <span class="multi_icon icon_date bck_pos_green wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st"></span>
                                                    </div>

                                                    <div class="pad_l_3 lh_2">@item.ToString("dd-MM-yyyy")</div>

                                                    <div class="w1 h05 absolute left_0_240_st top_1_240_st text-center">
                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_@ind"></div>
                                                    </div>
                                                </div>

                                                <div class="actions h5 z1 absolute_tr_240_st text-right">
                                                    <div class="wh2 inline multi_icon bck_pos_gray absolute right_0_240_st top_1_240_st icon_points "></div>

                                                    <div class="action_buttons text-right absolute h100p pad_t_1 inline_divs v_mid_all w10 inline_divs">

                                                        <div class="circle_hover pointer relative pad_05" id="@("BtnDelete" + ind)" onclick="DeleteMemberCompetenceEvaluation(@Model.MemberId, '@item.ToString("dd-MM-yyyy")');">
                                                            <div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                                        </div>

                                                        <a class="circle_hover pointer relative pad_05" id="@("BtnEdit" + ind)" href="@Url.Action("NewMemberCompetenceEvaluation", "Member", new { MemberId = Model.MemberId, EvaluationDate = item })">
                                                            <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                                        </a>

                                                        <div class="mdl-tooltip" for="@("BtnDelete" + ind)"><strong>Eliminar registro</strong></div>
                                                        <div class="mdl-tooltip" for="@("BtnEdit" + ind)"><strong>Editar registro</strong></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="toggle_height unselected" id="item_@ind">
                                                <div class="pad_tb_15"><div class="split_bottom"></div></div>

                                                @foreach (var competence in (List<Entities.RoleCompetence>)ViewBag.ListCompetence)
                                                {
                                                    var competenceModel = Model.MemberCompetenceEvaluations.Where(x => x.Enabled && x.EvaluationDate.Date == item.Date && x.CompetenceId == competence.CompetenceId).FirstOrDefault();
                                                    <div class="pad_lr_1 pad_tb_05 column_container hover_bck_white v_mid_all">
                                                        <div class="g_s240_100p g_s480_50p ellipsis">@competence.Competence.Name</div>

                                                        <div class="g_s240_100p g_s480_50p inline_divs text-left_240_st pad_t_05_240_st pad_t_0_480_st text-right_480_st">

                                                            <div class="text-center">
                                                                <div class="fs_08 c_gray">Obtenido</div>
                                                                <div class="relative italic fs_12">@(competenceModel == null ? "-" : competenceModel.CompetenceLevel.Level.ToString() )</div>
                                                            </div>

                                                            <div class="pad_l_1">
                                                                <div class="text-center">
                                                                    <div class="fs_08 c_gray">Esperado</div>
                                                                    <div class="relative italic fs_12">@competence.CompetenceLevel.Level</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="pad_lr_1">
                                                        <div class="pad_tb_05 to_480"><div class="split_bottom"></div></div>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        ind++;
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inline_divs v_mid_all w100p">
            @if (sendModel == null)
            {
                <a href="@Url.Action("NewMemberCompetenceEvaluation", "Member", new { MemberId = Model.MemberId, EvaluationDate = DateTime.Now })" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2">cancelar</a>

                <button type="submit" id="BtnSave" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09">
                    <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                </button>
            }
            else
            {
                <button type="submit" id="BtnSave" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09">
                    <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                </button>
            }
            <a href="@Url.Action("NewMemberCompetenceEvaluation", "Member", new { MemberId = Model.MemberId, EvaluationDate = DateTime.Now })" class="hide" id="toSaveMemberCompetenceEvaluation">cancelar</a>
            <div class="mdl-tooltip" for="BtnSave"><strong>Guardar Registro</strong></div>
        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/Member/Members/AddMemberCompetenceEvaluation.js")
}