﻿@model Entities.Member

@{
    ViewBag.Title = "Asignación de grupo, sección, etapa";
    Entities.MemberGroup sendModel = null;
    if ((int)ViewBag.MemberGroupId != 0)
    {
        sendModel = Model.MemberGroups.Where(x => x.MemberGroupId == (int)ViewBag.MemberGroupId).First();
    }
}

@Html.Hidden("Url_Delete", Url.Action("DeleteMemberGroup", "Member"))
@Html.Hidden("Url_SelectProgression", Url.Action("GetSelectProgressionPartial", "Member"))

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("Members", "Member")" id="DivToList">Registros / @(Model.Names + " " + Model.Surnames)</a>
    <span>/ Grupo, Sección, Etapa</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver miembros</strong></div>

<div class="content_wrap_body">
    <div>
        <a href="@Url.Action("Members", "Member")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
    </div>
    <div class="italic fs_12 c_black row_lm">Asocie un grupo, sección o etapa al miembro</div>

    <div class="relative">
        <div class="pad_b_3 max_w_75 pad_t_2">

            <div class="relative min_h_35_1024_st">

                @using (Ajax.BeginForm("SaveMemberGroup", "Member", new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "CreateContainer",
                    OnSuccess = "OnSuccess_MemberGroup",
                    OnFailure = "OnFailure"

                }, new { OnBegin = "OnBegin", validateFunc = "ValidateMemberGroup", @class = "form_container g_s1024_50p g_s240_100p pad_r_2_1024_st pad_t_15" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    @Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
                    @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

                    <div class="relative w8 h8">
                        <div class="profile circle relative w8 h8 overflow_h mar_auto">
                            <div class="center_absolute wh100p z1 bck_cover" style="background-image: url('@Url.Action("ViewFile", "Application", new { FileUrl = Model.Photo})');"></div>
                        </div>
                    </div>

                    @Html.Hidden("MemberGroup.MemberGroupId", sendModel == null ? 0 : sendModel.MemberGroupId, new { @id = "MemberGroupId" })
                    @Html.Hidden("MemberGroup.MemberId", Model.MemberId, new { @id = "MemberId" })

                    <div class="pad_t_2">
                        <div class="italic c_black fs_12">@(Model.Names + " " + Model.Surnames)</div>
                        <div class="row_lm">
                            <div class="hide">
                                @if (sendModel == null)
                                {
                                    @Html.DropDownList("MemberGroup.GroupId", (SelectList)ViewBag.ListGroup, "Seleccione una opción", new { @id = "GroupId", placeholder = "Grupo" })
                                }
                                else
                                {
                                    @Html.DropDownList("MemberGroup.GroupId", new SelectList(((SelectList)ViewBag.ListGroup).Items, ((SelectList)ViewBag.ListGroup).DataValueField, ((SelectList)ViewBag.ListGroup).DataTextField, sendModel.GroupId), "Seleccione una Opción", new { @id = "GroupId", selectDisabled = true, placeholder = "Grupo" })
                                }
                            </div>
                            <div id="GroupIdSelectDiv"></div>
                        </div>
                    </div>

                    <div class="text-left">
                        <div class="hide">
                            @if (sendModel == null)
                            {
                                @Html.DropDownList("MemberGroup.SectionId", (SelectList)ViewBag.ListSection, "Seleccione una opción", new { @id = "SectionId", placeholder = "Sección" })
                            }
                            else
                            {
                                @Html.DropDownList("MemberGroup.SectionId", new SelectList(((SelectList)ViewBag.ListSection).Items, ((SelectList)ViewBag.ListSection).DataValueField, ((SelectList)ViewBag.ListSection).DataTextField, sendModel.SectionId), "Seleccione una Opción", new { @id = "SectionId", selectDisabled = true, placeholder = "Sección" })
                            }
                        </div>
                        <div id="SectionIdSelectDiv"></div>
                    </div>

                    if (sendModel != null)
                    {
                        @Html.Hidden("ProgressionId_hf", sendModel.ProgressionId, new { @id = "ProgressionId_hf" })
                    }
                    <div class="text-left" id="progressionSelectContainer">
                        <div class="hide">
                            @if (sendModel == null)
                            {
                                @Html.DropDownList("MemberGroup.ProgressionId", (SelectList)ViewBag.ListProgression, "Seleccione una opción", new { @id = "ProgressionId", placeholder = "Etapa", TextInBlank = "Debe seleccionar una sección." })
                            }
                            else
                            {
                                @Html.DropDownList("MemberGroup.ProgressionId", (SelectList)ViewBag.ListProgression, "Seleccione una opción", new { @id = "ProgressionId", selectDisabled = true, placeholder = "Etapa" })
                            }
                        </div>
                        <div id="ProgressionIdSelectDiv"></div>
                    </div>

                    <div class="column_container">
                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                            <div class="text-left">
                                <div class="mdc-text-field mdc-text-field--upgraded w100p mar_0" data-mdc-auto-init="MDCTextField">
                                    <label for="StartDate" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                                    @Html.TextBox("MemberGroup.StartDate", sendModel == null ? DateTime.Now : sendModel.StartDate, "{0:dd-MM-yyyy}", new { @id = "StartDate", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", required = true, aria_controls = "StartDate-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                    @Html.Label("Fecha de inicio", "Fecha de inicio", new { @for = "StartDate", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                                    <div class="mdc-line-ripple"></div>
                                </div>
                                <p id="StartDate-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                            </div>
                        </div>

                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                            <div class="text-left">
                                <div class="mdc-text-field mdc-text-field--upgraded w100p mar_0" data-mdc-auto-init="MDCTextField">
                                    <label for="EndingDate__" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2 absolute right_0_240_st bottom_05_240_st z1" id="EndingDate_clear"></label>
                                    @if (sendModel == null)
                                    {
                                        @Html.TextBox("MemberGroup.EndingDate", "", "{0:dd-MM-yyyy}", new { @id = "EndingDate", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", aria_controls = "EndingDate-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                    }
                                    else
                                    {
                                        @Html.TextBox("MemberGroup.EndingDate", sendModel.EndingDate, "{0:dd-MM-yyyy}", new { @id = "EndingDate", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", aria_controls = "EndingDate-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                    }
                                    @Html.Label("Fecha de fin", "Fecha de fin", new { @for = "EndingDate", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                                    <div class="mdc-line-ripple"></div>
                                </div>
                                @*<p id="EndingDate-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>*@
                            </div>
                        </div>
                    </div>
                    <p id="Date-helper-text" class="fs_075 c_red w100p hide">Revise el orden de las fechas.</p>



                    <div class="inline_divs v_mid_all w100p mar_t_3">
                        @if ((int)ViewBag.MemberGroupId != 0)
                        {
                            <a href="@Url.Action("NewMemberGroup", "Member", new { MemberId = Model.MemberId })" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2">cancelar</a>

                            <button type="submit" id="BtnSaveOld" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09">
                                <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                            </button>
                        }
                        else
                        {
                            <button type="submit" id="BtnSaveOld" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09">
                                <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                            </button>
                        }
                        <a href="@Url.Action("NewMemberGroup", "Member", new { MemberId = Model.MemberId })" class="hide" id="toSaveMemberGroup">Cancelar</a>
                        <div class="mdl-tooltip" for="BtnSaveOld"><strong>Guardar registro</strong></div>
                    </div>
                }

                <div class="g_s1024_50p g_s240_100p absolute_tr_1024_st h100p pad_t_2_240_st">
                    <div class="relative h100p">
                        <div class="pad_15 bck_body absolute_1024_st top_0_1024_st left_0_240_st h100p overflow_h w100p">
                            <div class="overflow_auto list_block h100p">

                                @{
                                    int ind = 1;
                                    foreach (var item in Model.MemberGroups.Where(x => x.Enabled).ToList())
                                    {
                                        <div class="bck_white pad_1 relative overflow_h">

                                            <div class="relative">
                                                <div class="pointer pad_r_3 pad_l_2" onclick="javascript:unhide('item_@ind');unhide('name_@ind');">
                                                    <div class="absolute top_0_240_st left_2_240_st wh2p5">
                                                        <div class="circle wh100p icon" style="background-image: url('@Url.Action("ViewFile", "Application", new { FileUrl = item.Group.HeadkerchiefImage})');"></div>
                                                    </div>

                                                    <div class="pad_l_4">
                                                        <div>@item.Group.Name</div>
                                                        <div class="c_gray opa_50">Número de grupo: @item.Group.Number</div>
                                                    </div>

                                                    <div class="w1 h05 absolute left_0_240_st top_1_240_st text-center">
                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_@ind"></div>
                                                    </div>
                                                </div>

                                                <div class="actions h5 z1 absolute_tr_240_st text-right">
                                                    <div class="wh2 inline multi_icon bck_pos_gray absolute right_0_240_st top_1_240_st icon_points "></div>

                                                    <div class="action_buttons text-right absolute h100p pad_t_1 inline_divs v_mid_all w10 inline_divs">

                                                        <div class="circle_hover pointer relative pad_05" id="@("BtnDelete" + ind)" onclick="DeleteMemberGroup(@Model.MemberId, @item.MemberGroupId);">
                                                            <div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                                        </div>

                                                        <a class="circle_hover pointer relative pad_05" id="@("BtnEdit" + ind)" href="@Url.Action("NewMemberGroup", "Member", new { MemberId = Model.MemberId, MemberGroupId = item.MemberGroupId })">
                                                            <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                                        </a>

                                                        <div class="mdl-tooltip" for="@("BtnDelete" + ind)"><strong>Eliminar registro</strong></div>
                                                        <div class="mdl-tooltip" for="@("BtnEdit" + ind)"><strong>Editar registro</strong></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="toggle_height unselected" id="item_@ind">
                                                <div class="pad_tb_15"><div class="split_bottom"></div></div>

                                                <div class="column_container pad_t_1_700_st pad_t_0_240_st ">

                                                    <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                        <div class="text-left">
                                                            <div class="fs_08">Sección</div>
                                                            <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                @item.Section.Name
                                                                <div class="multi_icon wh2  absolute left_0_240_st top_0_240_st">
                                                                    <img src="@Url.Action("ViewFile", "Application", new { FileUrl = item.Section.FileLocation})" alt="" class="w100p center-absolute">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="g_s240_100p g_s700_50p pad_l_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                        <div class="text-left">
                                                            <div class="fs_08">Etapa</div>
                                                            <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                @item.Progression.Name
                                                                <div class="multi_icon wh2  absolute left_0_240_st top_0_240_st">
                                                                    <img src="@Url.Action("ViewFile", "Application", new { FileUrl = item.Progression.FileLocation})" alt="" class="w100p center-absolute">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="column_container pad_t_1_700_st pad_t_0_240_st">

                                                    <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                        <div class="fs_08 pad_b_05">Fecha inicio</div>
                                                        <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                            @item.StartDate.ToString("dd-MM-yyyy")
                                                            <div class="multi_icon icon_date bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                                        </div>
                                                    </div>

                                                    <div class="g_s240_100p g_s700_50p pad_l_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                        <div class="fs_08 pad_b_05">Fecha fin</div>
                                                        <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                            @(item.EndingDate == null ? "Actualidad" : ((DateTime)item.EndingDate).ToString("dd-MM-yyyy"))
                                                            <div class="multi_icon icon_date bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        ind++;
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/Member/Members/AddMemberGroup.js")
}
