﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Member

@section Styles{
    @Styles.Render("~/Content/assets/stylesheets/select2.css")
}

@{
    ViewBag.Title = "Nuevo Miembro";
    //if (Model.MemberPositions == null || Model.MemberPositions.Count == 0  sition == null)
    //{
    //    Model.MemberPositions = new List<Entities.MemberPosition>() { };
    //    Model.Position = new Entities.Position();
    //    Model.Position.PositionType = new Entities.PositionType();
    //}
}

@if (CustomSession.CurrentSession.CurrentUser.Member.User.UserName == Constants.saName)
{
    @Html.Partial("~/Views/Configuration/Security/Roles/_AdminPartial.cshtml", "Members")
}

@Html.Hidden("Url_SearchMember", Url.Action("GetSearchMembers", "Member"))
@Html.Hidden("Url_SearchMemberImg", Url.Action("ViewFile", "Application"))

@Html.Hidden("Url_SelectCanton", Url.Action("GetSelectCantonPartial", "Member"))
@Html.Hidden("Url_SelectDistrict", Url.Action("GetSelectDistrictPartial", "Member"))

@Html.Hidden("Url_MemberPosition", Url.Action("GetMemberPositionPartial", "Member"))
@Html.Hidden("Url_MemberKinship", Url.Action("GetMemberKinshipPartial", "Member"))
@Html.Hidden("Url_MemberSocialNetwork", Url.Action("GetMemberSocialNetworkPartial", "Member"))
@Html.Hidden("Url_MemberPhoneNumber", Url.Action("GetMemberPhoneNumberPartial", "Member"))
@Html.Hidden("Url_MemberLanguage", Url.Action("GetMemberLanguagePartial", "Member"))
@Html.Hidden("Url_MemberNationalEvent", Url.Action("GetMemberNationalEventPartial", "Member"))
@Html.Hidden("Url_MemberInternationalEvent", Url.Action("GetMemberInternationalEventPartial", "Member"))
@Html.Hidden("Url_MemberCourse", Url.Action("GetMemberCoursePartial", "Member"))
@Html.Hidden("Url_MemberWorkshop", Url.Action("GetMemberWorkshopPartial", "Member"))
@Html.Hidden("Url_MemberActivity", Url.Action("GetMemberActivityPartial", "Member"))
@Html.Hidden("Url_MemberOtherStudy", Url.Action("GetMemberOtherStudyPartial", "Member"))

@Html.Hidden("Url_MemberTutor", Url.Action("GetMemberTutorPartial", "Member"))
@Html.Hidden("Url_MemberTutorDialog", Url.Action("GetMemberTutorDialogPartial", "Member"))

@Html.Hidden("IDType_National", CustomSession.CurrentSession.CatalogConstants.IdentificationTypeNationalId, new { @id = "IDType_National" })
@Html.Hidden("IDType_International", CustomSession.CurrentSession.CatalogConstants.IdentificationTypeInternationalId, new { @id = "IDType_International" })

<div class="bck_white sh_body relative z2">

    <div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
        <a href="@Url.Action("Members", "Member")" id="DivToList"> Registros </a>
        <span>/ Nuevo</span>
    </div>
    <div class="mdl-tooltip" for="DivToList"><strong>Ver miembros</strong></div>


    <div class="content_wrap_body">
        @Html.Hidden("AlertTitle", "Miembros", new { @id = "AlertTitle" })
        @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

        <div class="b_bottom_gray tab_icon_colors">
            <div class="no_highlighting icon_tab top_indicator">
                <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                    <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                        <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_back multi_icon icon_hover_fade inline"></span></a>
                    </div>

                    <div class="mdc-tab-bar-scroller__scroll-frame">
                        <nav id="tab-bar-Position" class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0" role="tablist">

                            <a class="mdc-tab w2p5 h2p5 @(Model.MemberPositions == null || Model.MemberPositions.Count == 0 || Model.MemberPositions.First().Position.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeYoungId ? "mdc-tab--active" : "")" role="tab" aria-controls="panel-young" href="#">
                                <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline">
                                    <span class="italic inline_divs v_mid_all">
                                        <span class="wh2 relative pointer icon_young multi_icon icon_hover_fade bck_pos_gray pos_hover_to_black inline"></span>
                                        <span class="pad_l_05">Juveniles</span>
                                    </span>
                                </span>
                            </a>

                            <a class="mdc-tab w2p5 h2p5 @(Model.MemberPositions != null && Model.MemberPositions.Count > 0 && Model.MemberPositions.First().Position.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeOldId ? "mdc-tab--active" : "")" role="tab" aria-controls="panel-old" href="#">
                                <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline">
                                    <span class="italic inline_divs v_mid_all">
                                        <span class="wh2 relative pointer icon_face multi_icon icon_hover_fade bck_pos_gray pos_hover_to_black inline"></span>
                                        <span class="pad_05_1">Adultos</span>
                                    </span>
                                </span>
                            </a>

                            <span class="mdc-tab-bar__indicator"></span>
                        </nav>
                    </div>

                    <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                        <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_next multi_icon icon_hover_fade inline"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="pad_t_25 panels">
            <div id="panel-young" class="display_select menu-item-all panel @(Model.MemberPositions == null || Model.MemberPositions.Count == 0 || Model.MemberPositions.First().Position.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeYoungId ? "active" : "")" role="tabpanel" aria-hidden="false">
                @Html.Partial("~/Views/Member/Records/Members/_CreateYoungPartial.cshtml", (Model.MemberPositions == null || Model.MemberPositions.Count == 0 || Model.MemberPositions.First().Position.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeYoungId ? Model : new Entities.Member()))
            </div>
            <div id="panel-old" class="display_select menu-item-all panel @(Model.MemberPositions != null && Model.MemberPositions.Count > 0 && Model.MemberPositions.First().Position.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeOldId ? "active" : "")" role="tabpanel" aria-hidden="true">
                @Html.Partial("~/Views/Member/Records/Members/_CreateOldPartial.cshtml", (Model.MemberPositions != null && Model.MemberPositions.Count > 0 && Model.MemberPositions.First().Position.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeOldId ? Model : new Entities.Member()))
            </div>
        </div>

    </div>
</div>

@section Dialogs{
    <aside id="mdc-dialog_Tutor" class="mdc-dialog z99" role="alertdialog" aria-labelledby="my-mdc-dialog-label" aria-describedby="my-mdc-dialog-description">
        <div class="mdc-dialog__surface bck_white sh_body">
            <div class="bck_turkey h4 w03 absolute_tr_240_st"></div>
            <div class="bck_turkey h03 w4 absolute_bl_240_st"></div>

            <header class="mdc-dialog__header pad_lr_2 pad_t_2 block ">
                <div class="w100p">

                    <div class="b_bottom_gray tab_icon_colors">
                        <div class="no_highlighting icon_tab top_indicator">
                            <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                                    <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_back multi_icon icon_hover_fade inline"></span></a>
                                </div>

                                <div class="mdc-tab-bar-scroller__scroll-frame">
                                    <nav class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0" role="tablist">

                                        <a class="mdc-tab w2p5 h2p5 mdc-tab--active" data-rel="menu-item-confirmations">
                                            <span class="fs_11 inline_divs v_mid_all pad_b_25 pad_t_1 inline capitalize cursor_default">
                                                <span class="italic inline_divs v_mid_all"><span class="pad_05_1">@("Agregue un tutor o encargad@")</span></span>
                                            </span>
                                        </a>

                                        <span class="mdc-tab-bar__indicator"></span>
                                    </nav>
                                </div>

                                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                                    <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_next multi_icon icon_hover_fade inline"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </header>

            <section id="MemberTutorDialogContainer" class="mdc-dialog__body overflow_auto pad_2 mar_0">
                @Html.Partial("~/Views/Member/Records/Members/_MemberTutorDialogPartial.cshtml", new Entities.Member())
            </section>

            <footer class="mdc-dialog__footer pad_t_2 pad_lr_2 pad_b_2 mar_0 block">
                <div class="text-right">
                    <div class="inline_divs v_mid_all w100p">
                        <a id="" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2 pointer mdc-dialog__footer__button--cancel" data-ajax="false">cancelar</a>

                        <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" onclick="document.getElementById('BtnSaveTutor').click()">
                            <span class="wh1 icon_add multi_icon bck_pos_white block mar_lr_04"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
        <div class="mdc-dialog__backdrop"></div>
    </aside>

    @Html.Partial("_MemberSearchDialogPartial")
}

@section scripts {
    <script>
        var dynamicTabBar = new mdc.tabs.MDCTabBar(document.querySelector('#tab-bar-Position'));
        var panels = document.querySelector('.panels');

        dynamicTabBar.tabs.forEach(function (tab) { tab.preventDefaultOnClick = true; });

        function updatePanel(index) {
            var activePanel = panels.querySelector('.panel.active');
            if (activePanel) {
                activePanel.classList.remove('active');
            }
            var newActivePanel = panels.querySelector('.panel:nth-child(' + (index + 1) + ')');
            if (newActivePanel) {
                newActivePanel.classList.add('active');
            }
        }

        dynamicTabBar.listen('MDCTabBar:change', function (tabs) {
            updatePanel(tabs.detail.activeTabIndex);
        });

        //PopUp
        var dialogTutor = new mdc.dialog.MDCDialog(document.querySelector('#mdc-dialog_Tutor'));

        document.querySelector('#btnAddTutorYoung').addEventListener('click', function (evt) {
            //dialog.lastFocusedTarget = evt.target;
            dialogTutor.show();
        })

        //Social Menu
        var socialMenu = document.querySelectorAll('.social_menu');
        if (socialMenu != null) {
            Array.prototype.forEach.call(socialMenu, function (social_menu_item) {
                social_menu_item.addEventListener('click', function (evt) {
                    var socialParent = $(social_menu_item).parents('[data-social_menu]')[0];
                    if (socialParent.className.indexOf('social_menu_new_popup') != -1) {
                        socialParent.className = socialParent.className.replace(' social_menu_new_popup', '');
                    } else {
                        socialParent.className += " social_menu_new_popup";
                    }
                });
            });
        }
    </script>

    @Scripts.Render("~/Scripts/Views/Member/Members/Create.js")
}
