﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Member

@{
    ViewBag.Title = "Detalles de Registro";
    List<Entities.RoleCompetence> sendModel = (List<Entities.RoleCompetence>)ViewBag.ListCompetence;
}

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("Members", "Member")" id="DivToList">Registros / @(Model.Names + " " + Model.Surnames)</a>
    <span>/ Ver información de registro</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver miembros</strong></div>

<div class="content_wrap_body">

    <div class="b_bottom_gray tab_icon_colors">
        <div class="no_highlighting icon_tab top_indicator">
            <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                    <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_back multi_icon icon_hover_fade inline"></span></a>
                </div>

                <div class="mdc-tab-bar-scroller__scroll-frame">
                    <nav id="tab-bar-MemberView" class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0" role="tablist">

                        <a class="mdc-tab w2p5 h2p5 mdc-tab--active" role="tab" aria-controls="panel-record" href="#">
                            <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline">
                                <span class="italic inline_divs v_mid_all">
                                    <span class="wh2  relative pointer icon_register multi_icon icon_hover_fade bck_pos_gray pos_hover_to_black inline"></span>
                                    <span class="pad_l_05">Registros</span>
                                </span>
                            </span>
                        </a>

                        @if (Model.IsGorS)
                        {
                            <a class="mdc-tab w2p5 h2p5" role="tab" aria-controls="panel-feature" href="#">
                                <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline">
                                    <span class="italic inline_divs v_mid_all">
                                        <span class="wh2  relative pointer icon_flag multi_icon icon_hover_fade bck_pos_gray pos_hover_to_black inline"></span>
                                        <span class="pad_05_1">Características</span>
                                    </span>
                                </span>
                            </a>
                        }

                        <span class="mdc-tab-bar__indicator"></span>
                    </nav>
                </div>

                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                    <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_next multi_icon icon_hover_fade inline"></span></a>
                </div>

            </div>
        </div>
    </div>

    <div class="pad_t_25 panels">

        <div id="panel-record" class="display_select menu-item-all panel active" role="tabpanel" aria-hidden="false">
            <div class="pad_t_25">
                <div class="row_lm">
                    <div class="pad_t_4_240_st pad_t_2_700_st">
                        <div class="relative">
                            <div class="min_h_50 relative">

                                <div class="absolute_tl_1366_st w20_1366_st max_h_55 overflow_y_h_auto overflow_x_h">

                                    <div class="pad_b_3 split_bottom_dashed">
                                        <div class="relative w9 h9 mar_auto hover_to_green hover_icon_all pointer">
                                            <div class="profile circle relative w9 h9 overflow_h mar_auto">
                                                <div class="center_absolute wh100p z1 bck_cover" style="background-image: url('@Url.Action("ViewFile", "Application", new { FileUrl = Model.Photo})');"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pad_t_2">

                                        <div>
                                            <div class="fs_08">Nacionalidad</div>
                                            <div class="c_gray pad_tb_05">@Model.Nationality.Name</div>
                                        </div>

                                        <div class="pad_t_2">
                                            <div class="fs_08">Tipo de identificación</div>
                                            <div class="c_gray pad_tb_05">@Model.Type.Name</div>
                                        </div>

                                        <div class="pad_t_2">
                                            <div class="fs_08 pad_b_05">ID</div>
                                            <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                @(Model.IDNumber ?? "---")<div class="multi_icon icon_id bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                            </div>
                                        </div>

                                        <div class="italic c_black fs_12 pad_t_3">General</div>

                                        <div class="pad_t_2">
                                            <div class="fs_08"> Nombre</div>
                                            <div class="c_gray pad_tb_05">@(Model.Names + " " + Model.Surnames)</div>
                                        </div>

                                        <div class="pad_t_2">
                                            <div class="fs_08 pad_b_05">Fecha de nacimiento</div>
                                            <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                @Model.BirthDate.ToString("dd-MM-yyyy")<div class="multi_icon icon_date bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                            </div>
                                        </div>

                                        <div class="pad_t_2">
                                            <div class="fs_08">Género</div>
                                            <div class="c_gray pad_tb_05">@Model.Gender.Name</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pad_t_3 pad_b_1 to_1366"><div class="split_bottom_dashed h100p"></div></div>
                                <div class="absolute top_0_240_st left_20_1366_st only_1366 h100p mar_l_3"><div class="split_icon h100p"></div></div>

                                <div class="pad_l_25r_1366_st max_w_80 ">
                                    <div class="list_block pad_l_1_1366_st">

                                        <div class="relative">
                                            <div class="pad_tb_15 b_bottom_gray b_transparent_change relative overflow_h unselected" id="container_item_record_1">

                                                <div class="relative">
                                                    <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_record_1');unhide('name_record_1');unhide('container_item_record_1');unhide('icon_item_record_1');">

                                                        <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                            <span class="multi_icon icon_folder bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_record_1"></span>
                                                            Información del miembro
                                                        </div>

                                                        <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                            <div class="arrow gray_arrow w1 h05 unselected" id="name_record_1"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="toggle_height unselected" id="item_record_1">
                                                    <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                    <div class="column_container pad_t_2_700_st pad_t_0_240_st">

                                                        <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="fs_08 pad_b_05">Fecha de ingreso</div>
                                                            <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                @(Model.StartDate == null ? "__-__-____" : ((DateTime)Model.StartDate).ToString("dd-MM-yyyy"))<div class="multi_icon icon_date bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                                            </div>
                                                        </div>

                                                        <div class="g_s240_100p g_s700_50p pad_l_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="fs_08 pad_b_05">Estado</div>
                                                            <div class="relative pad_t_05">
                                                                <div class="pad_l_2 relative">
                                                                    <span class="circle w4px h4px absolute_240_st top_0_240_st bottom_0_240_st left_0_240_st mar_auto" style="background-color: @Model.MemberStatus.Color; -moz-box-shadow: 0px 0px 10px 0px @Model.MemberStatus.Color; -webkit-box-shadow: 0px 0px 10px 0px @Model.MemberStatus.Color; box-shadow:0px 0px 10px 0px @Model.MemberStatus.Color"></span>
                                                                    @Model.MemberStatus.Name
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="column_container pad_t_2">

                                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                                            <div class="text-left">
                                                                <div class="fs_08">Cargos</div>

                                                                @foreach (var item in Model.MemberPositions)
                                                                {
                                                                    <div class="c_gray pad_tb_05">@item.Position.Name - @item.Position.PositionType.Name</div>
                                                                }

                                                            </div>
                                                        </div>

                                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                                            <div class="text-left">
                                                                <div class="fs_08 pad_b_05">¿Es Miembro Guía y Scout?</div>
                                                                <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                    <div class="multi_icon @(Model.IsGorS ? "icon_check_3" : "icon_close_3") bck_pos_gray wh2 absolute left_0_240_st top_0_240_st"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected" id="container_item_record_2">

                                            <div class="relative">
                                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_record_2');unhide('name_record_2');unhide('container_item_record_2');unhide('icon_item_record_2');">

                                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                        <span class="multi_icon icon_group bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_record_2"></span>
                                                        Parentesco
                                                    </div>

                                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_record_2"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="toggle_height unselected" id="item_record_2">
                                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                @if (Model.MemberKinships.Count > 0)
                                                {
                                                    foreach (var item in Model.MemberKinships)
                                                    {
                                                        <div class="column_container pad_t_2_700_st pad_t_0_240_st">

                                                            <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                                <div class="text-left">
                                                                    <div class="fs_08">Miembro</div>
                                                                    <div class="c_gray pad_tb_05">@(item.Kin.Names + " " + item.Kin.Surnames)</div>
                                                                </div>
                                                            </div>

                                                            <div class="g_s240_100p g_s700_50p pad_l_15_700_st pad_t_0_700_st pad_t_2_240_st ">
                                                                <div class="fs_08">Parentesco</div>
                                                                <div class="c_gray pad_tb_05">@item.Kinship.Name</div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="column_container pad_t_2_700_st pad_t_0_240_st">

                                                        <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="text-left">
                                                                <div class="fs_08">No existen registros.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>

                                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected" id="container_item_record_3">

                                            <div class="relative">
                                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_record_3');unhide('name_record_3');unhide('container_item_record_3');unhide('icon_item_record_3');">

                                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                        <span class="multi_icon icon_address bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_record_3"></span>
                                                        Ubicación
                                                    </div>

                                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_record_3"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="toggle_height unselected" id="item_record_3">
                                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                <div class="">

                                                    <div class="pad_t_2">
                                                        <div class="text-left">
                                                            <div class="fs_08">Direccion del miembro</div>
                                                            <div class="c_gray pad_tb_05">@Model.Address</div>
                                                        </div>
                                                    </div>

                                                    <div class="column_container pad_t_2_700_st pad_t_0_240_st">

                                                        <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="fs_08">Provincia</div>
                                                            <div class="c_gray pad_tb_05">@Model.District.Canton.Province.Name</div>
                                                        </div>

                                                        <div class="g_s240_100p g_s700_50p pad_l_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="fs_08">Cantón</div>
                                                            <div class="c_gray pad_tb_05">@Model.District.Canton.Name</div>
                                                        </div>
                                                    </div>

                                                    <div class="column_container pad_t_2_700_st pad_t_0_240_st">

                                                        <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="fs_08">Distrito</div>
                                                            <div class="c_gray pad_tb_05">@Model.District.Name</div>
                                                        </div>

                                                        <div class="g_s240_100p g_s700_50p pad_l_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="fs_08">Código Postal</div>
                                                            <div class="c_gray pad_tb_05">@Model.PostalCode</div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="relative">
                                            <div class="pad_tb_15 b_bottom_gray b_transparent_change relative overflow_h unselected" id="container_item_record_4">

                                                <div class="relative">
                                                    <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_record_4');unhide('name_record_4');unhide('container_item_record_4');unhide('icon_item_record_4');">

                                                        <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                            <span class="multi_icon icon_contact bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_record_4"></span>
                                                            Contacto
                                                        </div>

                                                        <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                            <div class="arrow gray_arrow w1 h05 unselected" id="name_record_4"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="toggle_height unselected" id="item_record_4">
                                                    <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                    <div class="column_container pad_t_2_700_st pad_t_0_240_st">
                                                        <div class="g_s240_100p pad_r_15_700_st pad_t_2 pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="fs_08 pad_b_05">Correo del miembro</div>
                                                            <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                <a href="@("mailto:" + Model.Email)" class="c_gray ellipsis block underline">@Model.Email</a>
                                                                <a href="@("mailto:" + Model.Email)" class="multi_icon icon_mail bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="column_container pad_t_2_700_st pad_t_0_240_st">

                                                        <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="text-left">
                                                                <div class="fs_08 pad_b_05">Redes Sociales</div>

                                                                @if (Model.MemberSocialNetworks.Count > 0)
                                                                {
                                                                    foreach (var item in Model.MemberSocialNetworks)
                                                                    {
                                                                        <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                            <a class="c_gray ellipsis block underline">@item.Nickname</a>
                                                                            @if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.FacebookId)
                                                                            {
                                                                                <a class="multi_icon icon_social_fb bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></a>
                                                                            }
                                                                            else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.TwitterId)
                                                                            {
                                                                                <a class="multi_icon icon_social_tw bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></a>
                                                                            }
                                                                            else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.InstagramId)
                                                                            {
                                                                                <a class="multi_icon icon_social_inst bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></a>
                                                                            }
                                                                            else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.GoogleId)
                                                                            {
                                                                                <a class="multi_icon icon_social_gp bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></a>
                                                                            }
                                                                            else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.YoutubeId)
                                                                            {
                                                                                <a class="multi_icon icon_social_yt bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></a>
                                                                            }
                                                                            else if (item.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.LinkedInId)
                                                                            {
                                                                                <a class="multi_icon icon_social_in bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></a>
                                                                            }
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                        <a class="c_gray ellipsis block underline">No existen registros.</a>
                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>

                                                        <div class="g_s240_100p g_s700_50p pad_l_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="fs_08 pad_b_05">Números telefónicos</div>

                                                            @if (Model.MemberPhoneNumbers.Count > 0)
                                                            {
                                                                foreach (var item in Model.MemberPhoneNumbers)
                                                                {
                                                                    <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                        <a class="c_gray ellipsis block underline">@item.PhoneNumber</a>
                                                                        <a class="multi_icon icon_number bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></a>
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                    <a class="c_gray ellipsis block underline">No existen registros.</a>
                                                                </div>
                                                            }

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected" id="container_item_record_5">

                                            <div class="relative">
                                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_record_5');unhide('name_record_5');unhide('container_item_record_5');unhide('icon_item_record_5');">

                                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                        <span class="multi_icon icon_smile bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_record_5"></span>
                                                        @("Tutor o encargad@")
                                                    </div>

                                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_record_5"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="toggle_height unselected" id="item_record_5">
                                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                @if (Model.MemberTutors.Count > 0)
                                                {
                                                    foreach (var item in Model.MemberTutors)
                                                    {
                                                        <div class="column_container v_bottom_all pad_t_2">
                                                            <div class="g_s240_100p">
                                                                <div class="fs_08">Nombre del tutor</div>
                                                                <div class="c_gray pad_tb_05">@(item.Tutor.Names + " " + item.Tutor.Surnames)</div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="column_container v_bottom_all pad_t_2">
                                                        <div class="g_s240_100p">
                                                            <div class="fs_08">No existen registros.</div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>

                                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected" id="container_item_record_6">

                                            <div class="relative">
                                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_record_6');unhide('name_record_6');unhide('container_item_record_6');unhide('icon_item_record_6');">

                                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                        <span class="multi_icon icon_lang bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_record_6"></span>
                                                        Idioma
                                                    </div>

                                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_record_6"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="toggle_height unselected" id="item_record_6">
                                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                <div class="">

                                                    @if (Model.MemberLanguages.Count > 0)
                                                    {
                                                        foreach (var item in Model.MemberLanguages)
                                                        {
                                                            <div class="column_container pad_33p_fl_0_hd_st">

                                                                <div class="g_s240_100p g_s700_50p g_shd_25p pad_r_15_700_st pad_lr_15_hd_st pad_t_2_240_st">
                                                                    <div class="fs_08">Idioma</div>
                                                                    <div class="c_gray pad_tb_05">@item.Language.Name</div>
                                                                </div>

                                                                <div class="g_s240_100p g_s700_50p g_shd_25p pad_l_15_700_st pad_lr_15_hd_st pad_t_2_240_st">
                                                                    <div class="fs_08">Nivel de Lectura</div>
                                                                    <div class="c_gray pad_tb_05">@item.LanguageReading.Name</div>
                                                                </div>

                                                                <div class="g_s240_100p g_s700_50p g_shd_25p pad_r_15_700_st pad_lr_15_hd_st pad_t_2_240_st">
                                                                    <div class="fs_08">Nivel de escritura</div>
                                                                    <div class="c_gray pad_tb_05">@item.LanguageWriting.Name</div>
                                                                </div>

                                                                <div class="g_s240_100p g_s700_50p g_shd_25p pad_l_15_700_st pad_lr_15_hd_st pad_t_2_240_st">
                                                                    <div class="fs_08">Nivel de conversación</div>
                                                                    <div class="c_gray pad_tb_05">@item.LanguageConversation.Name</div>
                                                                </div>

                                                            </div>

                                                            <div class="pad_t_15"><div class="split_bottom_dashed"></div></div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="column_container v_bottom_all pad_t_2">
                                                            <div class="g_s240_100p">
                                                                <div class="fs_08">No existen registros.</div>
                                                            </div>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>

                                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected" id="container_item_record_7">

                                            <div class="relative">
                                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_record_7');unhide('name_record_7');unhide('container_item_record_7');unhide('icon_item_record_7');">

                                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                        <span class="multi_icon icon_hand bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_record_7"></span>
                                                        Promesa
                                                    </div>

                                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_record_7"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="toggle_height unselected" id="item_record_7">
                                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                <div class="column_container pad_t_2">
                                                    <div class="g_s240_100p">
                                                        <div class="fs_08 pad_b_05">Fecha de ingreso</div>
                                                        <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                            @(Model.PromiseDate == null ? "__-__-____" : ((DateTime)Model.PromiseDate).ToString("dd-MM-yyyy"))<div class="multi_icon icon_date bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="relative">
                                            <div class="pad_tb_15 b_bottom_gray b_transparent_change relative overflow_h unselected" id="container_item_record_8">

                                                <div class="relative">
                                                    <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_record_8');unhide('name_record_8');unhide('container_item_record_8');unhide('icon_item_record_8');">

                                                        <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                            <span class="multi_icon icon_rope bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_record_8"></span>
                                                            Cursos y talleres
                                                        </div>

                                                        <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                            <div class="arrow gray_arrow w1 h05 unselected" id="name_record_8"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="toggle_height unselected" id="item_record_8">
                                                    <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                    <div class="pad_t_1">

                                                        <div class="relative overflow_h hover_bck_purple unselected mar_t_1" id="container_course_record">

                                                            <div class="pad_1">
                                                                <div class="pointer pad_r_3 pad_l_3 pad_t_05 relative" onclick="javascript:unhide('item_course_record');unhide('name_course_record');unhide('container_course_record');">
                                                                    <div class="ellipsis c_gray">Cursos</div>
                                                                    <span class="multi_icon icon_rope bck_pos_green wh2 absolute left_0_240_st top_0_240_st bottom_0_240_st"></span>

                                                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_course_record"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="toggle_height unselected" id="item_course_record">
                                                                @if (Model.MemberCourses.Count > 0)
                                                                {
                                                                    foreach (var item in Model.MemberCourses)
                                                                    {
                                                                        <div class="pad_lr_1 pad_tb_05 column_container hover_bck_white v_mid_all">
                                                                            <div class="g_s240_100p g_s480_50p ellipsis">
                                                                                <div class="fs_08 c_gray pad_b_05">Curso</div>
                                                                                <div class="c_gray pad_tb_05">@item.Course.Name</div>
                                                                            </div>

                                                                            <div class="g_s240_100p g_s480_50p ellipsis">
                                                                                <div class="fs_08 c_gray pad_b_05">Fecha del curso</div>
                                                                                <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                                    @item.CourseDate.ToString("dd-MM-yyyy")<div class="multi_icon icon_date bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="pad_lr_1">
                                                                            <div class="pad_tb_05 to_480"><div class="split_bottom"></div></div>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="pad_lr_1 pad_tb_05 column_container hover_bck_white v_mid_all">
                                                                        <div class="g_s240_100p g_s480_50p ellipsis">No existen registros.</div>
                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>

                                                        <div class="relative overflow_h hover_bck_purple unselected mar_t_1" id="container_workshop_record">

                                                            <div class="pad_1">
                                                                <div class="pointer pad_r_3 pad_l_3 pad_t_05 relative" onclick="javascript:unhide('item_workshop_record');unhide('name_workshop_record');unhide('container_workshop_record');">
                                                                    <div class="ellipsis c_gray">Talleres</div>
                                                                    <span class="multi_icon icon_rope bck_pos_green wh2 absolute left_0_240_st top_0_240_st bottom_0_240_st"></span>

                                                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_workshop_record"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="toggle_height unselected" id="item_workshop_record">
                                                                @if (Model.MemberWorkshops.Count > 0)
                                                                {
                                                                    foreach (var item in Model.MemberWorkshops)
                                                                    {
                                                                        <div class="pad_lr_1 pad_tb_05 column_container hover_bck_white v_mid_all">
                                                                            <div class="g_s240_100p g_s480_50p ellipsis">
                                                                                <div class="fs_08 c_gray pad_b_05">Taller</div>
                                                                                <div class="c_gray pad_tb_05">@item.Workshop.Name</div>
                                                                            </div>

                                                                            <div class="g_s240_100p g_s480_50p ellipsis">
                                                                                <div class="fs_08 c_gray pad_b_05">Fecha del taller</div>
                                                                                <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                                    @item.WorkshopDate.ToString("dd-MM-yyyy")<div class="multi_icon icon_date bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="pad_lr_1">
                                                                            <div class="pad_tb_05 to_480"><div class="split_bottom"></div></div>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="pad_lr_1 pad_tb_05 column_container hover_bck_white v_mid_all">
                                                                        <div class="g_s240_100p g_s480_50p ellipsis">No existen registros.</div>
                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>

                                                        <div class="relative overflow_h hover_bck_purple unselected mar_t_1" id="container_activity_record">

                                                            <div class="pad_1">
                                                                <div class="pointer pad_r_3 pad_l_3 pad_t_05 relative" onclick="javascript:unhide('item_activity_record');unhide('name_activity_record');unhide('container_activity_record');">
                                                                    <div class="ellipsis c_gray">Actividades</div>
                                                                    <span class="multi_icon icon_rope bck_pos_green wh2 absolute left_0_240_st top_0_240_st bottom_0_240_st"></span>

                                                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_activity_record"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="toggle_height unselected" id="item_activity_record">
                                                                @if (Model.MemberActivities.Count > 0)
                                                                {
                                                                    foreach (var item in Model.MemberActivities)
                                                                    {
                                                                        <div class="pad_lr_1 pad_tb_05 column_container hover_bck_white v_mid_all">
                                                                            <div class="g_s240_100p g_s480_50p ellipsis">
                                                                                <div class="fs_08 c_gray pad_b_05">Actividad</div>
                                                                                <div class="c_gray pad_tb_05">@item.Activity.Name</div>
                                                                            </div>

                                                                            <div class="g_s240_100p g_s480_50p ellipsis">
                                                                                <div class="fs_08 c_gray pad_b_05">Fecha de la actividad</div>
                                                                                <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                                    @item.ActivityDate.ToString("dd-MM-yyyy")<div class="multi_icon icon_date bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="pad_lr_1">
                                                                            <div class="pad_tb_05 to_480"><div class="split_bottom"></div></div>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="pad_lr_1 pad_tb_05 column_container hover_bck_white v_mid_all">
                                                                        <div class="g_s240_100p g_s480_50p ellipsis">No existen registros.</div>
                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="relative">
                                            <div class="pad_tb_15 b_bottom_gray b_transparent_change relative overflow_h unselected" id="container_item_record_9">

                                                <div class="relative">
                                                    <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_record_9');unhide('name_record_9');unhide('container_item_record_9');unhide('icon_item_record_9');">

                                                        <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                            <span class="multi_icon icon_snack bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_record_9"></span>
                                                            Eventos
                                                        </div>

                                                        <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                            <div class="arrow gray_arrow w1 h05 unselected" id="name_record_9"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="toggle_height unselected" id="item_record_9">
                                                    <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                    <div class="pad_t_1">

                                                        <div class="relative overflow_h hover_bck_purple unselected mar_t_1" id="container_nationalEvent_record">

                                                            <div class="pad_1">
                                                                <div class="pointer pad_r_3 pad_l_3 pad_t_05 relative" onclick="javascript:unhide('item_nationalEvent_record');unhide('name_nationalEvent_record');unhide('container_nationalEvent_record');">
                                                                    <div class="ellipsis c_gray">Eventos Nacionales</div>
                                                                    <span class="multi_icon icon_snack bck_pos_green wh2 absolute left_0_240_st top_0_240_st bottom_0_240_st"></span>

                                                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_nationalEvent_record"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="toggle_height unselected" id="item_nationalEvent_record">
                                                                @if (Model.MemberNationalEvents.Count > 0)
                                                                {
                                                                    foreach (var item in Model.MemberNationalEvents)
                                                                    {
                                                                        <div class="pad_lr_1 pad_tb_05 column_container hover_bck_white v_mid_all">
                                                                            <div class="g_s240_100p g_s480_50p ellipsis">
                                                                                <div class="fs_08 c_gray pad_b_05">Evento</div>
                                                                                <div class="c_gray pad_tb_05">@item.NationalEvent.Name</div>
                                                                            </div>

                                                                            <div class="g_s240_100p g_s480_50p ellipsis">
                                                                                <div class="fs_08 c_gray pad_b_05">Fecha del evento</div>
                                                                                <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                                    @item.NationalEventDate.ToString("dd-MM-yyyy")<div class="multi_icon icon_date bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="pad_lr_1">
                                                                            <div class="pad_tb_05 to_480"><div class="split_bottom"></div></div>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="pad_lr_1 pad_tb_05 column_container hover_bck_white v_mid_all">
                                                                        <div class="g_s240_100p g_s480_50p ellipsis">No existen registros.</div>
                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>

                                                        <div class="relative overflow_h hover_bck_purple unselected mar_t_1" id="container_internationalEvent_record">

                                                            <div class="pad_1">
                                                                <div class="pointer pad_r_3 pad_l_3 pad_t_05 relative" onclick="javascript:unhide('item_internationalEvent_record');unhide('name_internationalEvent_record');unhide('container_internationalEvent_record');">
                                                                    <div class="ellipsis c_gray">Eventos Internacionales</div>
                                                                    <span class="multi_icon icon_snack bck_pos_green wh2 absolute left_0_240_st top_0_240_st bottom_0_240_st"></span>

                                                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_internationalEvent_record"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="toggle_height unselected" id="item_internationalEvent_record">
                                                                @if (Model.MemberInternationalEvents.Count > 0)
                                                                {
                                                                    foreach (var item in Model.MemberInternationalEvents)
                                                                    {
                                                                        <div class="pad_lr_1 pad_tb_05 column_container hover_bck_white v_mid_all">
                                                                            <div class="g_s240_100p g_s480_50p ellipsis">
                                                                                <div class="fs_08 c_gray pad_b_05">Evento</div>
                                                                                <div class="c_gray pad_tb_05">@item.InternationalEvent.Name</div>
                                                                            </div>

                                                                            <div class="g_s240_100p g_s480_50p ellipsis">
                                                                                <div class="fs_08 c_gray pad_b_05">Fecha del evento</div>
                                                                                <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                                    @item.InternationalEventDate.ToString("dd-MM-yyyy")<div class="multi_icon icon_date bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="pad_lr_1">
                                                                            <div class="pad_tb_05 to_480"><div class="split_bottom"></div></div>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="pad_lr_1 pad_tb_05 column_container hover_bck_white v_mid_all">
                                                                        <div class="g_s240_100p g_s480_50p ellipsis">No existen registros.</div>
                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected" id="container_item_record_10">

                                            <div class="relative">
                                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_record_10');unhide('name_record_10');unhide('container_item_record_10');unhide('icon_item_record_10');">

                                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                        <span class="multi_icon icon_notes bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_record_10"></span>
                                                        Adicional
                                                    </div>

                                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                        <div class="arrow gray_arrow w1 h05 unselected" id="name_record_10"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="toggle_height unselected" id="item_record_10">
                                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                <div class="">

                                                    <div class="column_container pad_t_2_700_st pad_t_0_240_st">

                                                        <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="fs_08">Religión</div>
                                                            <div class="c_gray pad_tb_05">@(Model.Religion == null ? "---" : Model.Religion.Name )</div>
                                                        </div>

                                                        <div class="g_s240_100p g_s700_50p pad_l_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="fs_08">Nivel educativo</div>
                                                            <div class="c_gray pad_tb_05">@(Model.EducationLevel == null ? "---" : Model.EducationLevel.Name )</div>
                                                        </div>
                                                    </div>

                                                    <div class="column_container pad_t_2_700_st pad_t_0_240_st">

                                                        <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="fs_08">Profesión u oficio</div>
                                                            <div class="c_gray pad_tb_05">@(Model.Profession == null ? "---" : Model.Profession.Name )</div>
                                                        </div>

                                                        <div class="g_s240_100p g_s700_50p pad_l_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="text-left">
                                                                <div class="fs_08">Lugar de Trabajo</div>
                                                                <div class="c_gray pad_tb_05">@(Model.Workplace == null ? "---" : Model.Workplace )</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="column_container pad_t_2_700_st pad_t_0_240_st">

                                                        <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="fs_08">Centro educativo</div>
                                                            <div class="c_gray pad_tb_05">@(Model.School == null ? "---" : Model.School.Name )</div>
                                                        </div>

                                                        <div class="g_s240_100p g_s700_50p pad_l_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                            <div class="text-left">
                                                                <div class="fs_08">Otros estudios</div>

                                                                @if (Model.MemberOtherStudies.Count > 0)
                                                                {
                                                                    foreach (var item in Model.MemberOtherStudies)
                                                                    {
                                                                        <div class="c_gray pad_tb_05">@item.StudyName</div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="c_gray pad_tb_05">---</div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="panel-feature" class="display_select menu-item-all panel" role="tabpanel" aria-hidden="true">
            <div class="pad_t_25">
                <div class="row_lm">
                    <div class="pad_t_4_240_st pad_t_2_700_st">
                        <div class="relative">
                            <div class="min_h_50 relative">

                                <div class="absolute_tl_1366_st w20_1366_st max_h_55 overflow_y_h_auto overflow_x_h">

                                    <div class="pad_b_3 split_bottom_dashed">
                                        <div class="relative w9 h9 mar_auto hover_to_green hover_icon_all pointer">
                                            <div class="profile circle relative w9 h9 overflow_h mar_auto">
                                                <div class="center_absolute wh100p z1 bck_cover" style="background-image: url('@Url.Action("ViewFile", "Application", new { FileUrl = Model.Photo})');"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pad_t_2">

                                        <div>
                                            <div class="fs_08">Nacionalidad</div>
                                            <div class="c_gray pad_tb_05">@Model.Nationality.Name</div>
                                        </div>

                                        <div class="pad_t_2">
                                            <div class="fs_08">Tipo de identificación</div>
                                            <div class="c_gray pad_tb_05">@Model.Type.Name</div>
                                        </div>

                                        <div class="pad_t_2">
                                            <div class="fs_08 pad_b_05">ID</div>
                                            <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                @(Model.IDNumber ?? "---")<div class="multi_icon icon_id bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                            </div>
                                        </div>

                                        <div class="italic c_black fs_12 pad_t_3">General</div>

                                        <div class="pad_t_2">
                                            <div class="fs_08"> Nombre</div>
                                            <div class="c_gray pad_tb_05">@(Model.Names + " " + Model.Surnames)</div>
                                        </div>

                                        <div class="pad_t_2">
                                            <div class="fs_08 pad_b_05">Fecha de nacimiento</div>
                                            <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                @Model.BirthDate.ToString("dd-MM-yyyy")<div class="multi_icon icon_date bck_pos_gray wh2  absolute left_0_240_st top_0_240_st"></div>
                                            </div>
                                        </div>

                                        <div class="pad_t_2">
                                            <div class="fs_08">Género</div>
                                            <div class="c_gray pad_tb_05">@Model.Gender.Name</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pad_t_3 pad_b_1 to_1366"><div class="split_bottom_dashed h100p"></div></div>
                                <div class="absolute top_0_240_st left_20_1366_st only_1366 h100p mar_l_3"><div class="split_icon h100p"></div></div>

                                <div class="pad_l_25r_1366_st max_w_80 ">
                                    <div class="list_block pad_l_1_1366_st">

                                        <div class="relative">
                                            <div class="pad_tb_15 b_bottom_gray b_transparent_change relative overflow_h unselected" id="container_item_feature_1">

                                                <div class="relative">
                                                    <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_feature_1');unhide('name_feature_1');unhide('container_item_feature_1');unhide('icon_item_feature_1');">

                                                        <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                            <span class="multi_icon icon_house bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_feature_1"></span>
                                                            Grupo, sección y  etapa
                                                        </div>

                                                        <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                            <div class="arrow gray_arrow w1 h05 unselected" id="name_feature_1"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="toggle_height unselected" id="item_feature_1">
                                                    <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                    @if (Model.MemberGroups.Count > 0)
                                                    {
                                                        Entities.MemberGroup groupModel = Model.MemberGroups.OrderByDescending(x => x.StartDate).First();

                                                        <div class="column_container pad_t_2">
                                                            <div class="g_s240_100p pad_r_15_480_st">
                                                                <div class="text-left">
                                                                    <div class="fs_08">Grupo</div>
                                                                    <div class="c_gray pad_tb_05">
                                                                        <div class="btn_ovalo bck_turkey_light relative inline w100p_240_st wauto_480_st overflow_h">
                                                                            <div class="profile circle absolute_tl_240_st w2p5 h2p5 overflow_h only_480">
                                                                                <div class="center_absolute wh100p z1 bck_cover">
                                                                                    <img src="@Url.Action("ViewFile", "Application", new { FileUrl = groupModel.Group.HeadkerchiefImage})" class="center-absolute wh100p">
                                                                                </div>
                                                                            </div>
                                                                            <div class="pad_l_1_240_st pad_l_3_480_st pad_r_1 ellipsis">@groupModel.Group.Name</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="column_container  pad_t_2_700_st pad_t_0_240_st">

                                                            <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                                <div class="text-left">
                                                                    <div class="fs_08">Sección</div>
                                                                    <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                        @groupModel.Section.Name
                                                                        <div class="multi_icon wh2  absolute left_0_240_st top_0_240_st">
                                                                            <img src="@Url.Action("ViewFile", "Application", new { FileUrl = groupModel.Section.FileLocation})" alt="" class="w100p center-absolute">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="g_s240_100p g_s700_50p pad_l_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                                <div class="text-left">
                                                                    <div class="fs_08">Etapa</div>
                                                                    <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                        @groupModel.Progression.Name
                                                                        <div class="multi_icon wh2  absolute left_0_240_st top_0_240_st">
                                                                            <img src="@Url.Action("ViewFile", "Application", new { FileUrl = groupModel.Progression.FileLocation})" alt="" class="w100p center-absolute">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="column_container pad_t_2_700_st pad_t_0_240_st">

                                                            <div class="g_s240_100p g_s700_50p pad_r_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                                <div class="fs_08 pad_b_05">Fecha inicio</div>
                                                                <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                    @groupModel.StartDate.ToString("dd-MM-yyyy")
                                                                    <div class="multi_icon icon_date bck_pos_gray wh2 absolute left_0_240_st top_0_240_st"></div>
                                                                </div>
                                                            </div>

                                                            <div class="g_s240_100p g_s700_50p pad_l_15_700_st pad_t_0_700_st pad_t_2_240_st">
                                                                <div class="fs_08 pad_b_05">Fecha fin</div>
                                                                <div class="c_gray pad_tb_05 pad_l_3 relative">
                                                                    @(groupModel.EndingDate == null ? "Actualidad" : ((DateTime)groupModel.EndingDate).ToString("dd-MM-yyyy"))
                                                                    <div class="multi_icon icon_date bck_pos_gray wh2 absolute left_0_240_st top_0_240_st"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="column_container pad_t_2">
                                                            <div class="g_s240_100p pad_r_15_480_st">
                                                                <div class="text-left">
                                                                    <div class="fs_08">No se encuentra asociado a ningun grupo.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>

                                        <div class="relative">
                                            <div class="pad_tb_15 b_bottom_gray b_transparent_change relative overflow_h unselected" id="container_item_feature_2">

                                                <div class="relative">
                                                    <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_feature_2');unhide('name_feature_2');unhide('container_item_feature_2');unhide('icon_item_feature_2');">

                                                        <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                            <span class="multi_icon icon_medall bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_feature_2"></span>
                                                            Reconocimientos - Condecoraciones
                                                        </div>

                                                        <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                            <div class="arrow gray_arrow w1 h05 unselected" id="name_feature_2"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="toggle_height unselected" id="item_feature_2">
                                                    <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                    <div class="column_container pad_t_1">
                                                        <div class="g_s240_100p">
                                                            <div class="text-left inline_divs pad_r_3 relative">

                                                                @if (Model.MemberRecognitions.Count > 0)
                                                                {
                                                                    foreach (var item in Model.MemberRecognitions)
                                                                    {
                                                                        <div class="wh2p5 circle overflow_h relative mar_r_1 mar_t_1" id="item_recognition_@item.MemberRecognitionId">
                                                                            <img src="@Url.Action("ViewFile", "Application", new { FileUrl = item.Recognition.FileLocation})" class="w100p center_absolute">
                                                                        </div>

                                                                        <div class="mdl-tooltip" for="item_recognition_@item.MemberRecognitionId"><strong>@item.Recognition.Name</strong><br />Fecha: @item.DateAssignment.ToString("dd-MM-yyyy")</div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="wh2p5"></div>
                                                                }

                                                                <div class="absolute right_0_240_st top_1_240_st pad_05 bck_body fs_08 italic c_gray lh_08">Total @Model.MemberRecognitions.Count</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="relative">
                                            <div class="pad_tb_15 b_bottom_gray b_transparent_change relative overflow_h unselected" id="container_item_feature_3">

                                                <div class="relative">
                                                    <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all" onclick="javascript:unhide('item_feature_3');unhide('name_feature_3');unhide('container_item_feature_3');unhide('icon_item_feature_3');">

                                                        <div class="pad_l_3 ellipsis relative h2 lh_2">
                                                            <span class="multi_icon icon_stats bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_feature_3"></span>
                                                            Evaluaciones
                                                        </div>
                                                        <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                            <div class="arrow gray_arrow w1 h05 unselected" id="name_feature_3"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="toggle_height unselected" id="item_feature_3">
                                                    <div class="pad_t_15"><div class="split_bottom"></div></div>

                                                    <div class="pad_t_1">

                                                        @{
                                                            int ind = 1;
                                                            foreach (var item in Model.MemberCompetenceEvaluations.Where(x => x.Enabled).GroupBy(x => x.EvaluationDate).Select(x => x.Key).ToList())
                                                            {
                                                                <div class="relative overflow_h hover_bck_purple unselected mar_t_1" id="container_evaluation_feature_@ind">

                                                                    <div class="pad_1">
                                                                        <div class="pointer pad_r_3 pad_l_3 pad_t_05 relative" onclick="javascript:unhide('item_evaluation_feature_@ind');unhide('name_evaluation_feature_@ind');unhide('container_evaluation_feature_@ind');">
                                                                            <div class="ellipsis c_gray">@item.ToString("dd-MM-yyyy")</div>
                                                                            <span class="multi_icon icon_date bck_pos_green wh2 absolute left_0_240_st top_0_240_st bottom_0_240_st"></span>

                                                                            <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                                                                                <div class="arrow gray_arrow w1 h05 unselected" id="name_evaluation_feature_@ind"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="toggle_height unselected" id="item_evaluation_feature_@ind">

                                                                        @foreach (var competence in (List<Entities.RoleCompetence>)ViewBag.ListCompetence)
                                                                        {
                                                                            var competenceModel = Model.MemberCompetenceEvaluations.Where(x => x.Enabled && x.EvaluationDate.Date == item.Date && x.CompetenceId == competence.CompetenceId).FirstOrDefault();
                                                                            <div class="pad_lr_1 pad_tb_05 column_container hover_bck_white v_mid_all">
                                                                                <div class="g_s240_100p g_s480_50p ellipsis">@competence.Competence.Name</div>

                                                                                <div class="g_s240_100p g_s480_50p inline_divs text-left_240_st pad_t_05_240_st pad_t_0_480_st text-right_480_st">

                                                                                    <div class="text-center">
                                                                                        <div class="fs_08 c_gray">Obtenido</div>
                                                                                        <div class="relative italic fs_12">@(competenceModel == null ? "-" : competenceModel.CompetenceLevel.Level.ToString() )</div>
                                                                                    </div>

                                                                                    <div class="pad_l_1">
                                                                                        <div class="text-center">
                                                                                            <div class="fs_08 c_gray">Esperado</div>
                                                                                            <div class="relative italic fs_12">@competence.CompetenceLevel.Level</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="pad_lr_1">
                                                                                <div class="pad_tb_05 to_480"><div class="split_bottom"></div></div>
                                                                            </div>
                                                                        }

                                                                    </div>
                                                                </div>

                                                                ind++;
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pad_t_3 text-right">
        <div class="inline_divs v_mid_all w100p">

            <a href="@Url.Action("Members", "Member")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>

        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/Member/Members/Details.js")
}
