﻿@using CR.CGC.GuiasScoutsWeb.Common
@{
    ViewBag.Title = "Miembros";

    string appPath = Request.ApplicationPath != "/" ? Request.ApplicationPath : "";
    appPath = appPath != "" ? Request.Url.AbsolutePath.Replace(appPath, "") : Request.Url.AbsolutePath;

    List<string> actualPath = appPath.Split('/').ToList();
}

@if (CustomSession.CurrentSession.CurrentUser.Member.User.UserName == Constants.saName)
{
    @Html.Partial("~/Views/Configuration/Security/Roles/_AdminPartial.cshtml", "Members")
}

@Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
@Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

@Html.Hidden("Url_Delete", Url.Action("DeleteMember", "Member"))

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>Registro</span>
</div>

<div class="content_wrap_body">

    <div id="GridMembers">
        @Html.Action("GetGridMembers", "Member")
    </div>

</div>

@Scripts.Render("~/Scripts/Views/Member/Members/Index.js")

