﻿@model  CR.CGC.GuiasScoutsWeb.Models.ProfileViewModel
@{
    ViewBag.Title = "Editar Perfil de Usuario";
}

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>@ViewBag.Title</span>
</div>

<div class="content_wrap_body">
    @Html.Hidden("AlertTitle", "Perfil de Usuario", new { @id = "AlertTitle" })
    @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })
    <div class="b_bottom_gray tab_icon_colors">
        <div class="no_highlighting icon_tab top_indicator">
            <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                    <a class="mdc-tab-bar-scroller__indicator__inner pointer"><span class="wh1 relative icon_back multi_icon bck_pos_gray icon_hover_fade inline"></span></a>
                </div>

                <div class="mdc-tab-bar-scroller__scroll-frame">
                    <nav class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0">

                        <a class="mdc-tab mdc-tab--active" data-rel="tab_profile">
                            <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline pad_tb_13_1024_st">
                                <span class="italic">Perfil de usuario</span>
                            </span>
                        </a>

                        <a class="mdc-tab" data-rel="tab_profileSecurity">
                            <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline pad_tb_13_1024_st">
                                <span class="italic">Cambiar contrase&ntilde;a</span>
                            </span>
                        </a>

                        <span class="mdc-tab-bar__indicator"></span>
                    </nav>
                </div>

                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                    <a class="mdc-tab-bar-scroller__indicator__inner pointer"><span class="wh1 relative icon_next multi_icon bck_pos_gray icon_hover_fade inline"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="pad_t_25">
        <div id="tab_profile" class="display_select tab_profile active">
            <div class="italic fs_12 c_black row_lm">Presione el botón guardar</div>

            @using (Ajax.BeginForm("SaveProfile", "Configuration", new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,

            }, new { OnBegin = "OnBegin", OnSuccess = "OnSuccess_Profile", validateFunc = "ValidateProfile", enctype = "multipart/form-data", @class = "relative pad_t_2_240_st pad_t_3_480_st max_w_30 max_w_none_1366_st mar_auto", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.Member.MemberId, new { @id = "MemberId_Profile", Value = (Model.Member.MemberId == null ? 0 : Model.Member.MemberId) })
                @Html.HiddenFor(m => m.Member.Photo, new { @id = "Photo_Profile" })

                <div class="relative w20_1366_st pad_r_3_1366_st">

                    <div class="pad_b_2_240_st split_bottom_dashed text-center">
                        @Html.TextBoxFor(m => m.Member.SendFile, new { @type = "file", @class = "hide imageInput", @id = "SendFile_Profile", accept = ".jpg,.png", @for = "SendFile_Profile-InputView" })
                        <div id="SendFile_Profile-helper-text" class="relative w8 h8 mar_auto hover_to_green hover_icon_all pointer" onclick="document.getElementById('SendFile_Profile').click()">
                            <div class="profile circle relative w8 h8 overflow_h mar_auto">
                                <img id="SendFile_Profile-InputView" class="center_absolute wh100p z1 bck_cover" src="@(Model.Member.Photo == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Application", new { FileUrl = Model.Member.Photo}))" />
                            </div>

                            <div class="circle pad_03 bck_white absolute_br_240_st z1">
                                <div class="icon_cam pointer multi_icon inline wh1p3 icon_hover_fade bck_pos_gray bck_hover_gray"></div>
                            </div>
                        </div>

                        <div class="row_lm">
                            <div class="c_turkey fs_12">@(Model.Member.Names + " " + Model.Member.Surnames)</div>
                            <div id="divUName" class="c_gray fs_1 opa_50">@Model.Member.User.UserName</div>
                        </div>
                        <div class="mdl-tooltip" for="divUName"><strong>Nombre de usuario</strong></div>
                    </div>

                    <div class="c_gray pad_tb_2 opa_50">
                        <div id="divURole" class="v_bottom_all fs_11">
                            <span class="icon_rol multi_icon bck_pos_gray inline wh1p3 mar_r_05"></span>@Model.Member.User.Role.Name
                        </div>
                        <div class="mdl-tooltip" for="divURole"><strong>Rol de usuario</strong></div>

                        <div class="pad_t_1">
                            <div class="fs_09 capitalize italic">Miembro desde:</div>
                            <div class="v_bottom_all fs_11">
                                <span class="icon_date multi_icon bck_pos_gray inline wh1p3 mar_r_05"></span>@(Model.Member.StartDate == null ? "__-__-____" : ((DateTime)Model.Member.StartDate).ToString("dd-MM-yyyy"))
                            </div>
                        </div>
                    </div>

                    <div class="absolute top_0_240_st right_0_1366_st only_1366 h100p"><div class="split_icon h100p"></div></div>
                </div>

                <div class="pad_tb_2 to_1366"><div class="split_bottom h100p"></div></div>

                <div class="absolute_1366_st top_3_1366_st right_0_1366_st pad_l_20r_1366_st w100p">
                    <div class="pad_l_3_1366_st max_w_30">

                        <div class="text-left">
                            <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
                                <label for="Email_Old" class="multi_icon icon_mail bck_pos_gray icon_hover_fade wh1p5 absolute right_0_240_st bottom_05_240_st"></label>
                                @Html.TextBoxFor(m => m.Member.Email, new { @id = "Email_Profile", @class = "mdc-text-field__input fs_1 pad_r_25", required = true, aria_controls = "Email_Profile-helper-text", MaxLength = "100", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$", oninvalid = "this.setCustomValidity('Debe cumplir con el formato de correo electrónico')", oninput = "this.setCustomValidity('')", title = "Debe cumplir con el formato de correo electrónico" })
                                @Html.LabelFor(m => m.Member.Email, "Correo electrónico", new { @for = "Email_Profile", @class = "mdc-text-field__label pad_r_25" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="Email_Profile-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de correo electrónico</p>
                        </div>

                        <div class="text-left">
                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                <label for="Email_Old" class="multi_icon icon_lock bck_pos_gray icon_hover_fade wh2 absolute right_0_240_st bottom_05_240_st"></label>
                                @Html.PasswordFor(m => m.ActualPassword, new { @class = "mdc-text-field__input fs_1", @id = "actualpass", aria_controls = "pw-validation-msg-actual", autocomplete = "current-password", pattern = ".{8,}", MaxLength = 12 })
                                @Html.LabelFor(m => m.ActualPassword, "Contraseña actual", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "actualpass" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text_login" id="pw-validation-msg-actual">Debe tener almenos 8 caracteres</p>
                        </div>

                    </div>
                </div>

                <div class="pad_t_4 text-right">
                    <div class="inline_divs v_mid_all w100p">
                        <a href="@Url.Action("ProfileView", "Configuration")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2" id="DivToList">Cancelar</a>

                        <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnToSave">
                            <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                        </button>
                        <div class="mdl-tooltip" for="BtnToSave"><strong>Guardar información</strong></div>
                    </div>
                </div>
            }
        </div>
        <div id="tab_profileSecurity" class="display_select tab_profileSecurity">
            <div class="italic fs_12 c_black row_lm">Presione el botón guardar</div>

            @using (Ajax.BeginForm("SaveProfilePassword", "Configuration", new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,

            }, new { OnBegin = "OnBegin", OnSuccess = "OnSuccess_Profile", validateFunc = "ValidateProfileSecurity", enctype = "multipart/form-data", @class = "relative pad_t_2_240_st pad_t_3_480_st max_w_30 max_w_none_1366_st mar_auto", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.Member.MemberId, new { @id = "MemberId_ProfileSecurity", Value = (Model.Member.MemberId == null ? 0 : Model.Member.MemberId) })

                <div class="relative w20_1366_st pad_r_3_1366_st">

                    <div class="pad_b_2_240_st split_bottom_dashed text-center">
                        @Html.TextBoxFor(m => m.Member.SendFile, new { @type = "file", @class = "hide imageInput", @id = "SendFile_ProfileSecurity", accept = ".jpg,.png", @for = "SendFile_Profile-InputView" })
                        <div id="SendFile_Profile-helper-text-Security" class="relative w8 h8 mar_auto hover_to_green hover_icon_all pointer" onclick="document.getElementById('SendFile_Profile').click()">
                            <div class="relative w8 h8 mar_auto">
                                <div class="profile circle relative w8 h8 overflow_h mar_auto">
                                    <div class="center_absolute wh100p z1 bck_cover" style="background-image: url('@(Model.Member.Photo == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Application", new { FileUrl = Model.Member.Photo}))');"></div>
                                </div>
                            </div>

                            <div class="circle pad_03 bck_white absolute_br_240_st z1">
                                <div class="icon_cam pointer multi_icon inline wh1p3 icon_hover_fade bck_pos_gray bck_hover_gray"></div>
                            </div>
                        </div>

                        <div class="row_lm">
                            <div class="c_turkey fs_12">@(Model.Member.Names + " " + Model.Member.Surnames)</div>
                            <div id="divUName" class="c_gray fs_1 opa_50">@Model.Member.User.UserName</div>
                        </div>
                        <div class="mdl-tooltip" for="divUName"><strong>Nombre de usuario</strong></div>
                    </div>

                    <div class="c_gray pad_tb_2 opa_50">
                        <div id="divURole" class="v_bottom_all fs_11">
                            <span class="icon_rol multi_icon bck_pos_gray inline wh1p3 mar_r_05"></span>@Model.Member.User.Role.Name
                        </div>
                        <div class="mdl-tooltip" for="divURole"><strong>Rol de usuario</strong></div>

                        <div class="pad_t_1">
                            <div class="fs_09 capitalize italic">Miembro desde:</div>
                            <div class="v_bottom_all fs_11">
                                <span class="icon_date multi_icon bck_pos_gray inline wh1p3 mar_r_05"></span>@(Model.Member.StartDate == null ? "__-__-____" : ((DateTime)Model.Member.StartDate).ToString("dd-MM-yyyy"))
                            </div>
                        </div>
                    </div>

                    <div class="absolute top_0_240_st right_0_1366_st only_1366 h100p"><div class="split_icon h100p"></div></div>
                </div>

                <div class="pad_tb_2 to_1366"><div class="split_bottom h100p"></div></div>

                <div class="absolute_1366_st top_3_1366_st right_0_1366_st pad_l_20r_1366_st w100p">
                    <div class="pad_l_3_1366_st max_w_30">

                        <div class="text-left">
                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                <label for="Email_Old" class="multi_icon icon_lock bck_pos_gray icon_hover_fade wh2 absolute right_0_240_st bottom_05_240_st"></label>
                                @Html.PasswordFor(m => m.ActualPassword, new { @class = "mdc-text-field__input fs_1", @id = "actualpassSecurity", aria_controls = "pw-validation-msg-actual", autocomplete = "current-password", pattern = ".{8,}", MaxLength = 12 })
                                @Html.LabelFor(m => m.ActualPassword, "Contraseña actual", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "actualpassSecurity" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text_login" id="pw-validation-msg-actual">Debe tener almenos 8 caracteres</p>
                        </div>

                        <div class="text-left">
                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                <label for="Email_Old" class="multi_icon icon_lock bck_pos_gray icon_hover_fade wh2 absolute right_0_240_st bottom_05_240_st"></label>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "mdc-text-field__input fs_1", @id = "newpass", aria_controls = "pw-validation-msg-new", autocomplete = "current-password", pattern = "^(?=.*\\d)(?=.*\\W)(?=.*[A-Z])\\S{8,12}$", MaxLength = 12 })
                                @Html.LabelFor(m => m.NewPassword, "Contraseña nueva", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "newpass" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text_login" id="pw-validation-msg-new">Debe coincidir con el formato de contraseña: al menos una letra mayúscula, un número, un carácter especial y contar con un mínimo de 8 caracteres.</p>
                        </div>

                        <div class="text-left">
                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                <label for="Email_Old" class="multi_icon icon_check_1 bck_pos_gray icon_hover_fade wh2 absolute right_0_240_st bottom_05_240_st"></label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "mdc-text-field__input fs_1", @id = "confirmpass", aria_controls = "pw-validation-msg-confirm", autocomplete = "current-password", pattern = "^(?=.*\\d)(?=.*\\W)(?=.*[A-Z])\\S{8,12}$", MaxLength = 12 })
                                @Html.LabelFor(m => m.ConfirmPassword, "Confirmar contraseña", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "confirmpass" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text_login" id="pw-validation-msg-confirm">Debe coincidir con el formato de contraseña: al menos una letra mayúscula, un número, un carácter especial y contar con un mínimo de 8 caracteres.</p>
                        </div>

                    </div>
                </div>

                <div class="pad_t_4 text-right">
                    <div class="inline_divs v_mid_all w100p">
                        <a href="@Url.Action("ProfileView", "Configuration")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2" id="DivToListSecurity">Cancelar</a>

                        <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnToSaveSecurity">
                            <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                        </button>
                        <div class="mdl-tooltip" for="BtnToSave"><strong>Guardar información</strong></div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/Configuration/Profiles/Create.js")
}
