﻿@model Entities.Member
@{
    ViewBag.Title = "Perfil de Usuario";
}

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>@ViewBag.Title</span>
</div>


<div class="content_wrap_body">
    <div class="italic fs_12 c_black row_lm">Presione el botón editar para modificar su información</div>

    <div class="relative pad_t_2_240_st pad_t_3_480_st  max_w_30 max_w_none_1366_st mar_auto">

        <div class="relative w20_1366_st pad_r_3_1366_st">

            <div class="pad_b_2_240_st split_bottom_dashed text-center">
                <div class="relative w8 h8 mar_auto">
                    <div class="profile circle relative w8 h8 overflow_h mar_auto">
                        <div class="center_absolute wh100p z1 bck_cover" style="background-image: url('@(Model.Photo == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Application", new { FileUrl = Model.Photo}))');"></div>
                    </div>
                </div>

                <div class="row_lm">
                    <div class="c_turkey fs_12">@(Model.Names + " " + Model.Surnames)</div>
                    <div id="divUName" class="c_gray fs_1 opa_50">@Model.User.UserName</div>
                </div>
                <div class="mdl-tooltip" for="divUName"><strong>Nombre de usuario</strong></div>
            </div>

            <div class="c_gray pad_tb_2 opa_50">
                <div id="divURole" class="v_bottom_all fs_11">
                    <span class="icon_rol multi_icon bck_pos_gray inline wh1p3 mar_r_05"></span>@Model.User.Role.Name
                </div>
                <div class="mdl-tooltip" for="divURole"><strong>Rol de usuario</strong></div>

                <div class="pad_t_1">
                    <div class="fs_09 capitalize italic">Miembro desde:</div>
                    <div class="v_bottom_all fs_11">
                        <span class="icon_date multi_icon bck_pos_gray inline wh1p3 mar_r_05"></span>@(Model.StartDate == null ? "__-__-____" : ((DateTime)Model.StartDate).ToString("dd-MM-yyyy"))
                    </div>
                </div>
            </div>

            <div class="absolute top_0_240_st right_0_1366_st only_1366 h100p"><div class="split_icon h100p"></div></div>
        </div>

        <div class="pad_tb_2 to_1366"><div class="split_bottom h100p"></div></div>

        <div class="absolute_1366_st top_3_1366_st right_0_1366_st pad_l_20r_1366_st w100p">
            <div class="pad_l_3_1366_st max_w_30">

                <div class="text-left">
                    <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p mdc-text-field--disabled" data-mdc-auto-init="MDCTextField">
                        <div class="multi_icon icon_mail bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st"></div>
                        <input id="user" type="text" class="mdc-text-field__input fs_1" disabled value="@Model.Email">
                        <label for="user" class="mdc-text-field__label mdc-floating-label uppercase fs_08 bolder">Correo electrónico</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>

                <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p mdc-text-field--disabled" data-mdc-auto-init="MDCTextField">
                    <label for="Email_Old" class="multi_icon icon_lock bck_pos_gray icon_hover_fade wh2 absolute right_0_240_st bottom_05_240_st"></label>
                    <input id="pass" type="password" class="mdc-text-field__input fs_1" disabled pattern=".{8,}" aria-controls="pw-validation-msg" autocomplete="current-password" value="********">
                    <label for="pass" class="mdc-text-field__label mdc-floating-label uppercase fs_08 bolder">Contraseña</label>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>
        </div>

        <div class="pad_t_4 text-right">
            <div class="inline_divs v_mid_all w100p">

                <a href="@Url.Action("ProfileEdit", "Configuration")" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnToEdit">
                    <span class="wh1p3 icon_edit multi_icon bck_pos_white block z1 relative"></span>
                </a>
                <div class="mdl-tooltip" for="BtnToEdit"><strong>Editar información</strong></div>
            </div>
        </div>

    </div>
</div>
