﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Template
@{
    /**/

    ViewBag.Title = "Nueva plantilla";
}

@section Styles{
    @Styles.Render("~/Content/assets/stylesheets/summernote-lite.css")
}

@Html.Hidden("Url_SendEmail", Url.Action("SendEmailTest", "Activity"), new { @id = "Url_SendEmail" })

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("Templates", "Activity")" id="DivToList"> Catálogo de plantillas </a>
    <span>/ @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver plantillas</strong></div>

@using (Ajax.BeginForm("SaveTemplate", "Activity", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,

}, new { OnBegin = "OnBegin", OnSuccess = "OnSuccess_Template", validateFunc = "ValidateTemplate", enctype = "multipart/form-data", @class = "content_wrap_body", autocomplete = "off", @id = "TemplateForm" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("AlertTitle", "Plantillas", new { @id = "AlertTitle" })
    @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

    @Html.HiddenFor(m => m.TemplateId, new { @id = "TemplateId" })

    <div class="italic fs_12 c_black row_lm">Crea tu nueva plantilla de correos</div>

    <div class="text-center relative overflow_h max_w_80 trans_05 min_h_30">

        <div class="pad_b_2 pad_b_0_1366_st pad_r_3_1366_st relative body_plus_panelright">
            <div class="pad_r_25r_1366_st  body_plus_panelright_content scroll-container">
                <div class="text-left">
                    <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                        @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "mdc-text-field__input fs_1", required = true, aria_controls = "Name-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                        @Html.LabelFor(m => m.Name, "Nombre de la plantilla", new { @for = "Name", @class = "mdc-text-field__label" })
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p id="Name-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                </div>

                <div class="relative h100p">
                    <div class="text-left">
                        @Html.TextAreaFor(m => m.Body, new { @id = "Body", @class = "", cols = "30", rows = "29", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                    </div>
                </div>
            </div>
        </div>

        <div class="absolute top_0_240_st right_25_240_st only_1366 h100p split_v_panel trans_05"><div class="split_icon h100p"></div></div>

        <div class="text-left w25_1366_st absolute_tr_1366_st pad_l_3_1366_st z1 panelright h100p overflow_y_auto overflow_x_h">
            <div class="split_bottom mar_tb_2 to_1366"></div>

            <div class="relative">
                <div class="vertical_toggle_panel unselected trans_05  pad_t_2_240_st pad_t_0_1366_st" id="vertical_toggle_panel">
                    <div class="italic fs_12 c_black row_lm pad_b_1">Enviar prueba de correo</div>

                    <div class="pad_lr_1 c_gray" id="EmailContainer">
                        @*<div class="inline_divs pad_tb_03">
                                <label class="EmailToSend">armanjbustos596@gmai.com</label>
                                <a class="mar_lr_05 wh1 bck_pos_green icon_close_3 multi_icon pointer"></a>
                            </div>*@
                    </div>

                    <div class="text-left inline_divs pad_t_1 v_mid_all">
                        <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnAddEmail">
                            <span class="wh07 icon_add multi_icon bck_pos_white block z1 relative"></span>
                        </button>
                        <label for="BtnAddEmail" class="c_gray italic pad_l_05 fs_09 opa_50 pointer">Agregar correo</label>
                    </div>

                </div>
            </div>

            <div class="max_h_30 pad_tb_2 text-left">
                <div class="italic fs_12 c_black pad_b_1">Etiquetas</div>
                <div class="overflow_auto max_h_30">
                    <div class="help-list-item"></div><div class="column_container mar_tb_05">
                        <div class="g_s240_100p g_s480_50p pad_r_05_480_st mar_b_05"><kbd class="bck_black c_white night_text pad_03 inline">[[FULLNAME]]</kbd></div>
                        <div class="g_s240_100p g_s480_50p pad_l_05_480_st mar_b_05">Nombre completo</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="pad_t_1 max_w_80 text-right">
        <div class="inline_divs v_mid_all w100p">
            <a href="@Url.Action("Templates", "Activity")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2">cancelar</a>

            <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
                <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
            </button>
            <div class="mdl-tooltip" for="BtnSave"><strong>Guardar plantilla</strong></div>
        </div>
    </div>
}

@section Dialogs{
    <aside id="mdc-dialog_Template" class="mdc-dialog z99" role="alertdialog" aria-labelledby="my-mdc-dialog-label" aria-describedby="my-mdc-dialog-description">
        <div class="w100p text-center max_w_35">
            <div class="mdc-dialog__surface mdc-dialog__short bck_white sh_body text-left">
                <div class="bck_turkey h4 w03 absolute_tr_240_st"></div>
                <div class="bck_turkey h03 w4 absolute_bl_240_st"></div>

                <header class="mdc-dialog__header pad_lr_2 pad_t_2 block ">
                    <div class="w100p">
                        <div class="b_bottom_gray tab_icon_colors">
                            <div class="no_highlighting icon_tab top_indicator">
                                <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                                    <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                                        <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_back multi_icon icon_hover_fade inline"></span></a>
                                    </div>

                                    <div class="mdc-tab-bar-scroller__scroll-frame">
                                        <nav class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0" role="tablist">

                                            <a class="mdc-tab w2p5 h2p5 mdc-tab--active" data-rel="menu-item-confirmations">
                                                <span class="fs_11 inline_divs v_mid_all pad_b_25 pad_t_1 inline cursor_default">
                                                    <span class="italic inline_divs v_mid_all"><span class="pad_05_1">Prueba de correo</span></span>
                                                </span>
                                            </a>

                                            <span class="mdc-tab-bar__indicator"></span>
                                        </nav>
                                    </div>

                                    <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                                        <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_next multi_icon icon_hover_fade inline"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <section class="mdc-dialog__body overflow_auto pad_2 mar_0">
                    <form class="wh100p" autocomplete="off" id="FormEmailTemplate">
                        <div class="text-left">
                            <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
                                <label for="Email" class="multi_icon icon_mail bck_pos_gray icon_hover_fade wh1p5 absolute right_0_240_st bottom_05_240_st"></label>
                                @Html.TextBox("Email", null, new { @id = "Email", @class = "mdc-text-field__input fs_1 pad_r_25", required = true, aria_controls = "Email-helper-text", MaxLength = "100", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$", oninvalid = "this.setCustomValidity('Debe cumplir con el formato de correo electrónico')", oninput = "this.setCustomValidity('')", title = "Debe cumplir con el formato de correo electrónico", @Value = CustomSession.CurrentSession.CurrentUser.Member.Email })
                                @Html.LabelFor(m => m.Name, "Correo de prueba", new { @for = "Email", @class = "mdc-text-field__label pad_r_25" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="Email-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de correo electrónico.</p>
                        </div>
                        <button type="submit" id="BtnValidateEmail" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                            <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                            Agregar otro correo
                        </button>
                        <button type="submit" class="hide" id="BtnSendEmail"></button>
                    </form>
                </section>

                <footer class="mdc-dialog__footer pad_t_2 pad_lr_2 pad_b_2 mar_0 block">
                    <div class="text-right">
                        <div class="inline_divs v_mid_all w100p">
                            <a class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2 pointer mdc-dialog__footer__button--cancel" data-ajax="false">cancelar</a>

                            <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnVisualSend" onclick="document.getElementById('BtnSendEmail').click()">
                                <span class="wh1 icon_send multi_icon bck_pos_white block mar_lr_04"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <div class="mdc-dialog__backdrop"></div>
    </aside>
}

@section Scripts {
    @Scripts.Render("~/Content/assets/javascripts/summernote-lite.js")
    @Scripts.Render("~/Content/assets/javascripts/summernote-es-ES.js")
    @Scripts.Render("~/Scripts/Views/Activity/Templates/Create.js")
}
