﻿@{
    ViewBag.Title = "Catálogo de plantillas";
}

@Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
@Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

@Html.Hidden("Url_Delete", Url.Action("DeleteTemplate", "Activity"))

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>@ViewBag.Title</span>
</div>

<div class="content_wrap_body">

    <div id="GridTemplates">
        @Html.Action("GetGridTemplates", "Activity")
    </div>

</div>

@Scripts.Render("~/Scripts/Views/Activity/Templates/Index.js")