html, body{
	font-size: 13px;
}


/*inputs*/
::-webkit-input-placeholder { /* WebKit browsers */
	font-family: 'Lato', sans-serif; letter-spacing: 0;
	text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-family: 'Lato', sans-serif; letter-spacing: 0;
	text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-family: 'Lato', sans-serif; letter-spacing: 0;
	text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
}
textarea,input,.mdc-select__label,.mdc-dialog__body{
	font-family: 'Lato', sans-serif; letter-spacing: 0;
}


/*placeholder*/

/*textarea*/
.mdc-text-field--textarea .mdc-text-field__input{
	padding-right: 0;
	padding-left: 0;
}
.mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled),
.mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-text-field__input:focus,
.mdc-text-field--textarea:not(.mdc-text-field--disabled){
	border-color: transparent;
}
.mdc-text-field--textarea{
	position: relative;
}
.mdc-text-field--textarea:before{
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	height: 1px;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.mdc-text-field--textarea .mdc-text-field__label{
	left: 0;
	margin-left: 0;
	padding-left: 0;
}
.mdc-text-field--textarea .mdc-text-field__label{
	background-color: transparent;
}
.mdc-text-field--textarea .mdc-text-field__label--float-above {
	-webkit-transform: translateY(-50%) scale(0.755);
	transform: translateY(-50%) scale(0.755);
}
/*invalid*/
.mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled){
	border-color: transparent;
}


/*select*/
.mdc-select{
	margin: 0.8rem 0rem;
}
.form_container .mdc-text-field.mar_0,
.form_container .mdc-select.mar_0,
.mdc-text-field.mar_0,
.mdc-select.mar_0,
.mar_0.mdc-select{
	margin: 0;
}
.form_container .mdc-text-field,
.form_container .mdc-select{
	margin: 0.8rem 0rem 2.5rem;
}
.form_container .mdc-text-field.msn_text,
.form_container .mdc-select.msn_text{
	margin-bottom: 0.8rem;
}
/*helper-text*/
.form_container .mdc-text-field.msn_text + .mdc-text-field-helper-text,
.form_container .mdc-select.msn_text + .mdc-text-field-helper-text{
	margin-bottom: 2.5rem;
}
/*last*/
.form_container > div:last-of-type .mdc-text-field.msn_text + .mdc-text-field-helper-text,
.form_container > div:last-of-type .mdc-select.msn_text + .mdc-text-field-helper-text{
	margin-bottom: 0;
}
/*helper text - margin 0*/
.form_container .mdc-text-field.msn_text + .mdc-text-field-helper-text.mar_0,
.form_container .mdc-select.msn_text + .mdc-text-field-helper-text.mar_0{
	margin-bottom: 0rem;
}
/*last*/
.form_container > div:last-of-type .mdc-text-field.msn_text + .mdc-text-field-helper-text.mar_0,
.form_container > div:last-of-type .mdc-select.msn_text + .mdc-text-field-helper-text.mar_0{
	margin-bottom: 0;
}

/*font*/
.fs_075{ font-size: 0.75rem; }

.mdc-select__surface{
	padding-bottom: 0;
}
/*select placeholder*/
.placeholder.mdc-select__label.mdc-select__label--float-above{
	visibility: hidden;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/*arrow ellipsis*/
.mdc-select__label{
	width: 100%;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1.2rem;
    /*box-sizing*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-size: 1rem;
}


/*selected eclipse*/
.mdc-select__selected-text{
	padding-right: 26px;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
}
/*field input*/
.mdc-text-field__label{
	width: 100%;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



/*switch*/
.mdc-switch .mdc-switch__native-control:enabled:checked ~ .mdc-switch__background .mdc-switch__knob{
	/*background size*/
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain
	background-size: contain;
}
.mdc-switch__knob.final_de_linea:after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	width: 35%;
	height: 35%;
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

	background: -moz-linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	background: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=1 );

}
.mdc-switch .mdc-switch__native-control:enabled:not(:checked) ~ .mdc-switch__background .mdc-switch__knob.final_de_linea:after{
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}
.mdc-switch .mdc-switch__native-control:enabled:checked ~ .mdc-switch__background::before{ background-color: rgba(0,0,0,0.7); }
.mdc-switch .mdc-switch__native-control:enabled:not(:checked) ~ .mdc-switch__background::before{ background-color: rgba(0,0,0,0.3); }




/*field to rem*/
/*rem*/
.mar_tb_0.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) { margin-bottom: 0rem; margin-top: 0rem; }
.mar_b_0.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) { margin-bottom: 0rem; }
.mar_t_0.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) { margin-top: 0rem; }
.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box){ margin-top: 0.8rem; }
.mdc-text-field{ margin-bottom: 0.8rem; }


.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box){ margin-top: 0.8rem; }
.mdc-text-field{ margin-bottom: 0.8rem; }
.mdc-text-field--with-trailing-icon .mdc-text-field__input{
	padding-left: 0rem;
	/*padding-left: 1.1rem;*/
    padding-right: 3.6rem;
}
/*danger*/
.mdc-text-field.mdc-text-field--focused.mdc-text-field--invalid .multi_icon.icon_hover_fade:after,
.mdc-text-field.mdc-text-field--invalid .multi_icon.icon_hover_fade:after{ 
	background-position: 0% 0%;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

/*anim*/
.mdc-text-field-helper-text{
	max-height: 0;
	overflow: hidden;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.mdc-text-field--invalid ~ .mdc-text-field-helper-text{
	max-height: 100px;
}


/*menu draw*/
/*px to rem*/
.mdc-drawer--temporary .mdc-drawer__header-content{ padding: 1rem; }

/*slider*/
.mdc-slider{ height: 3.7rem; }
.mdc-slider__thumb-container{ top: 1.11rem; }


/*tabs configuration*/
.mdc-menu .mdc-list-item,.mdc-tab{ font-family: 'Lato', sans-serif; letter-spacing: 0; cursor: pointer }
.no_highlighting .mdc-tab::after,
.no_highlighting .mdc-tab::before,
.no_highlighting .mdc-tab.mdc-ripple-upgraded::after,
.no_highlighting .mdc-tab.mdc-ripple-upgraded::before{
	content: none;
}
/*indicador*/
.no_indicator .mdc-tab-bar__indicator{
	display: none;
}

.mdc-tab{  min-height: 0; }
.mdc-tab-bar{ height: auto; }
.mdc-tab-bar-scroller__indicator--back{
	width: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
.mdc-tab-bar-scroller__indicator--enabled{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	width: 2rem;
}
.mdc-tab-bar-scroller__indicator--forward{
	width: 2rem;
}

/*icons*/
.icon_tab .mdc-tab {
    min-width: 2.5rem;
    padding: 0 2rem;
}
.mdc-tab:first-of-type {
	padding-left: 0;	
}


/*degrade indicator*/
.mdc-tab-bar-scroller__indicator{
	position: relative;
}
.mdc-tab-bar-scroller__indicator .mdc-tab-bar-scroller__indicator__inner{
	padding: 1rem 0;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.top_indicator .mdc-tab-bar-scroller__indicator .mdc-tab-bar-scroller__indicator__inner{
	padding: 0 0 2.3rem;
}
.mdc-tab-bar-scroller__indicator:before{
	content: "";
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 2rem;
	z-index: 1;
	top: 0;
}
.body_interface .mdc-tab-bar-scroller__indicator:before{
	top: -1rem;
}

.mdc-tab-bar-scroller__indicator--back:before{
	left: 100%;
}
.mdc-tab-bar-scroller__indicator--forward:before{
	right: 100%;
}
/*colors*/
.bck_white.mdc-tab-bar-scroller  .mdc-tab-bar-scroller__indicator--back:before,
.bck_white.mdc-tab-bar-scroller  .mdc-tab-bar-scroller__indicator--forward:before{
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.bck_body.mdc-tab-bar-scroller  .mdc-tab-bar-scroller__indicator--back:before,
.bck_body.mdc-tab-bar-scroller  .mdc-tab-bar-scroller__indicator--forward:before{
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(245,246,250,1) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(245,246,250,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(245,246,250,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f5f6fa',GradientType=1 );
}





/*tables*/
.mdl-data-table th{ color: inherit; font-size: inherit; padding-top: 1.5rem; padding-bottom: 1.5rem;}
.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding-left: 18px;
	width: 52px;
}
.mdl-checkbox.is-upgraded{
	padding: 0;
}
.mdl-data-table {
	border: 0; 
	/*transition*/
	-moz-transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}


/*checkboxes*/
.mdc-form-field{
	font-family: 'Lato', sans-serif; letter-spacing: 0;
}
.mdc-checkbox{
	width: 16px;
	height: 16px;
	ms-flex: 0 0 16px;
    flex: 0 0 16px;
    padding: 1rem;
}
.mdc-checkbox__background{
	width: 16px;
	height: 16px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.mdc-checkbox::before, .mdc-checkbox::after{
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin-top: auto;
}
/*maybe ;)*/
.mdc-checkbox:before,
.mdc-checkbox:after{
	content: none;
}


/*popup*/
.mdc-dialog,
.mdc-dialog__surface{
	min-width: 0;
}
.mdc-dialog__footer,
.mdc-dialog__body,
.mdc-dialog__header,
.mdc-dialog__surface{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	font-size: 1rem;
	line-height: 150%;
}

.mdc-dialog__footer,
.mdc-dialog__body,
.mdc-dialog__header{
	width: 100%;
}

.mdc-dialog__surface{
	max-height: calc(100% - 100px);
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.mdc-dialog__backdrop{
	background: rgba(255,255,255,1);
}
.mdc-dialog--open .mdc-dialog__backdrop{
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}



/*bug*/
/*test*/

.mdc-dialog{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}
.mdc-dialog .mdc-select {
  position: relative !important;
}

.mdc-dialog .mdc-select__menu {
  top: 0 !important;
  left: 0 !important;

  max-height: calc(100vh - 64px)!important;

  margin-top: 0;
}


.mdc-select__menu.fixed {
	position: fixed;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}
.mdc-select__menu.absolute {
  position: absolute !important;
}
.mdc-menu.mdc-menu--open{
	margin-bottom: 5px; 
}
.mdc-dialog-scroll-lock .mdc-dialog .absolute_tl_1366_st.overflow_y_h_auto,
.mdc-dialog-scroll-lock .mdc-dialog .absolute_tl_1366_st.overflow_h,
.mdc-dialog-scroll-lock .mdc-dialog .absolute_tl_1366_st.overflow_auto,
.mdc-dialog-scroll-lock .mdc-dialog .absolute_tl_1366_st.overflow_y_h_auto,
.mdc-dialog-scroll-lock .mdc-dialog .absolute_tl_1366_st.overflow_x_h{
	overflow: visible;
}

.mdc-dialog-scroll-lock .mdc-dialog .mdc-dialog__body.overflow_y_h_auto,
.mdc-dialog-scroll-lock .mdc-dialog .mdc-dialog__body.overflow_h,
.mdc-dialog-scroll-lock .mdc-dialog .mdc-dialog__body.overflow_auto,
.mdc-dialog-scroll-lock .mdc-dialog .mdc-dialog__body.overflow_y_h_auto,
.mdc-dialog-scroll-lock .mdc-dialog .mdc-dialog__body.overflow_x_h{
	overflow-y: visible;
	overflow-x: hidden;
}

.visible.mdc-tab-bar__indicator{
	visibility: visible;
}
.mdc-select-scroll-lock.mdc-dialog-scroll-lock .toggle_height.selected{
	overflow: visible;
}


.mdc-dialog__surface{	
    -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.09), 0px 24px 38px 3px rgba(0, 0, 0, 0.05), 0px 9px 46px 8px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.09), 0px 24px 38px 3px rgba(0, 0, 0, 0.05), 0px 9px 46px 8px rgba(0, 0, 0, 0.07);
}

.social_menu_new_popup,.social_menu_new_popup .toggle_height{
	overflow: visible;
}





/*rate*/
.jq-ry-container{
	padding:0;
}


.mdc-text-field__label.mdc-text-field__label_normal {
    position: relative;
    bottom: auto;
    left: auto;
    -webkit-transform-origin: initial;
    transform-origin: initial;
    -moz-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    cursor: text;
    width: auto;
    overflow: initial;
    white-space: initial;
    text-overflow: initial;
}



/*header title*/
.mdc-dialog__header .icon_tab .mdc-tab{
	padding-right: 0;
	cursor: default;
}
.mdc-dialog__header .mdc-tab-bar{
	text-transform: none;
}

.mdl-tooltip{
    font-size:10px !important;
}
.multi_icon:focus, .multi_icon:active{
    border:0;
    outline:0;
}