/*default*/
.inline_1024_st{ display: inline-block; }
.fs_2_1024_st{ font-size: 2rem }
.w4_1024_st{ width: 4rem; }
.h4_1024_st{ height: 4rem; }
.w4p5_1024_st{ width: 4.5rem }
.h4p5_1024_st{ height: 4.5rem }


.min_h_30_1024_st{ min-height: 30rem; }
.min_h_33_1024_st{ min-height: 33rem; }
.min_h_35_1024_st{ min-height: 35rem; }
.min_h_36_1024_st{ min-height: 36rem; }
.w18_1024_st{ width: 18rem; }
.mar_t_1_1024_st{ margin-top: 1rem }
.mar_t_1p15_1024_st{ margin-top: 1.15rem }
.mar_t_1p8_1024_st{ margin-top: 1.85rem }
.mar_t_1p9_1024_st{ margin-top: 1.9rem }
.pad_l_28_1024_st{ padding-left: 28rem; }
.pad_r_4_1024_st{ padding-right: 4rem; }
.pad_b_7_1024_st{ padding-bottom: 7rem }
.pad_b_6_1024_st,.pad_l_28_1024_st,.pad_l_4_1024_st{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
/*max width*/
.max_w_40_1024_st{ max-width: 40rem; }
.max_w_45_1024_st{ max-width: 45rem; }
.max_w_50_1024_st{ max-width: 50rem; }

/*login*/
/*bck*/
.login_bck{
	background-image: url('../images/bcK_login_1024.jpg');
}

/*text intro*/
.login_text_intro{
	font-size: 1.1rem;
	line-height: 1.5rem;
}

/*pattern*/
.pat_login{
	background-image: url('../images/pat_login.png');
	-webkit-background-size: 30rem auto;
	-moz-background-size: 30rem auto;
	-o-background-size: 30rem auto;
	background-size: 30rem auto;
	background-repeat: repeat-x;
	background-position: center bottom;
}


/*interface*/
.content_wrap.body_container{ padding-top: 10rem; }
/*menu fixed*/
.level_second_menu{
	left: 6rem;
	width: 18rem;
}
.body_interface{
	/*transition*/
	-moz-transition: padding 0.5s ease;
	-webkit-transition: padding 0.5s ease;
	-o-transition: padding 0.5s ease;
	transition: padding 0.5s ease;
}
.level_second_menu{
		/*transition*/
	-moz-transition: left 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, background 3s ease, color 3s ease;
	-webkit-transition: left 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, background 3s ease, color 3s ease;
	-o-transition: left 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, background 3s ease, color 3s ease;
	transition: left 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, background 3s ease, color 3s ease;
}
.body_interface{
	padding-left: 24rem;
}
/*action*/
.level_second_menu.unselected{
	left: -18rem;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	visibility: hidden;
}
.body_interface.unselected{ padding-left: 6rem; }
/*active menu*/
.level_second_menu_content a{ position: relative; }
.level_second_menu_content .current:before{
	content: "";
	position: absolute;
	top: 0.5rem;
	right: 0;
	margin:auto;
	right: 0;
	width: 0.5rem;
	height: 0.5rem;
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
}


/*caption image*/
.caption_seguridad{
	background-image: url('../images/caption_seguridad.jpg');
}

/*toggle icon panel*/
/*container*/
.toggle_panel_icon_container,
.toggle_panel_icon,
.toggle_panel_icon:before{
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.toggle_panel_icon_container.unselected{ left: 9rem }
.toggle_panel_icon_container.unselected .toggle_panel_icon:before{ left: 0.2rem; }
.toggle_panel_icon_container{ left: 21rem; }
/*icon*/
.toggle_panel_icon{
	border-style: solid;
	border-width:  0.15rem;
	-webkit-border-radius: 10rem;
	-moz-border-radius: 10rem;
	border-radius: 10rem;
	position: relative;
	height: 0.8rem;
	width: 1.5rem;
}
.toggle_panel_icon:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0.8rem;
	margin:auto;
	width: 0.45rem;
	height: 0.45rem;
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
}


/*submenu*/
.level_second_menu_content{
	width: 100%;
	position: absolute;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	visibility: hidden;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.level_second_menu_content.selected{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	visibility: visible;
}
/*menu vertical web*/
.bck_guias_vertical .active .multi_icon.icon_hover_fade{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

/*.bck_guias_vertical > a:before{
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	left: -5.3rem;
	width: 5.3rem;
	background: rgba(0,0,0,0.15);
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.bck_guias_vertical > a.active:before{
	left: 0;
}*/
.bck_guias_vertical > a{
	position: relative;
}
.bck_guias_vertical > .current:after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 0.2rem;
	height: 2.5rem;
	background-color: #fff;
}


/*vertical display description*/
.description_menu_web.unselected .image_description,
.description_menu_web.unselected .abstract_menu_web{
	display: none
}
.disable_icon_pos{
	bottom: 1rem;
	right: 1rem;
}
.showmore_text{
	display: none;
}
.description_menu_web.unselected .showmore_text{
	display: block;
}
.description_menu_web.unselected  .disable_icon_pos {
	bottom: -0.7rem;
	right: -0.7rem;
}


/*mouserel*/
.ontop.scrollingup .container_header{
	top: 0;
}
.ontop.top_position .container_header{ top: 0; }
/*toggle*/
.ontop.scrollingup .toggle_panel_icon_container.top_3_1024_st.unselected,
.ontop.top_position .toggle_panel_icon_container.top_3_1024_st.unselected{
	top: 3rem;
}
.ontop .toggle_panel_icon_container.top_3_1024_st.unselected{
	top: -3rem;
}



/*min height*/
/*menu*/

@media screen and (max-height: 720px){

	.menu_web_container .bck_guias_vertical .w2p5.h2p5{
		width: 2.2rem;
		height: 2.2rem;
	}
	.menu_web_container .bck_guias_vertical .logo{
		width: 5.5rem;
		height: 5.5rem;
	}
	.menu_web_container .bck_guias_vertical .pad_b_5.pad_t_1{
		padding-right: 0.25rem;
		padding-left: 0.25rem;
		padding-bottom: 1rem;
	}
}

@media screen and (max-height: 600px){

	.menu_web_container .bck_guias_vertical .w2p5.h2p5{
		width: 2.5rem;
		height: 2.5rem;
	}
	.menu_web_container .bck_guias_vertical .logo{
		width: 6rem;
		height: 6rem;
	}
	.menu_web_container .bck_guias_vertical .pad_b_5.pad_t_1{
		padding-right: 0rem;
		padding-left: 0rem;
		padding-bottom: 5rem;
	}



	.menu_web_container.fixed_default{
		position: absolute;
	}
	.menu_web_container .bck_guias_vertical{
		background: initial;
	}
	.menu_web_container .bck_guias_vertical > *{
		position: relative;
		z-index: 1;
	}
	.menu_web_container .bck_guias_vertical:before{
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 6rem;
		height: 100%;
	}
	.menu_web_container .level_second_menu.sh_1{
	    -moz-box-shadow: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	.menu_web_container .level_second_menu > *{
		z-index: 1;
	}
	.menu_web_container .level_second_menu:before{
		content: "";
		position: fixed;
		background: white;
		top: 0;
		left: 6rem;
		width: 18rem;
		height: 100%;
	    -moz-box-shadow: 0rem 0rem 1rem 0rem rgba(0,0,0,0.1);
	    -webkit-box-shadow: 0rem 0rem 1rem 0rem rgba(0,0,0,0.1);
	    box-shadow: 0rem 0rem 1rem 0rem rgba(0,0,0,0.1);
	}
	.menu_web_container .level_second_menu.unselected:before{
		left: -18rem;
	}
	.toggle_panel_icon_container.selected{
		position: absolute;
	}
}


/*max width*/
.max_w_25_1024{
	max-width: 25rem;
}


.pad_lr_0_divs_1024_st > *{
	padding-left: 0;
	padding-right: 0;
}
.pad_lr_15_divs_1024_st > div{
	padding-left: 1.5rem;
	padding-right: 1.5rem;	
}

/*tabs*/
.vertical_tab_1024 .mdc-tab-bar-scroller,
.vertical_tab_1024 .mdc-tab-bar-scroller__scroll-frame,
.vertical_tab_1024 .mdc-tab-bar,
.vertical_tab_1024 .mdc-tab{
	display: block;
}
.vertical_tab_1024 .mdc-tab-bar__indicator,
.vertical_tab_1024 .mdc-tab-bar-scroller__indicator{
	display: none;
}

/*links*/
.vertical_tab_1024 .mdc-tab{
	text-align: left;
}
.vertical_tab_1024 .icon_tab .mdc-tab{
	padding: 0;
}
/*container border*/
.vertical_tab_1024.b_bottom_gray{
	border: 0;
}

/*min height*/
.min_h_40_1024_st{
	min-height: 40rem;
}
.pad_tb_13_1024_st{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.pad_tb_13_1024_st{
	padding-bottom: 1.3rem;
	padding-top: 1.3rem;
}