/*img*/
/*login*/
/*bck*/
.login.bck_deuteranopia .login_bck{
	background-image: url('../images/bcK_login_dt_1366.jpg');
}

/*img*/
/*login*/
/*bck*/
.login.bck_night .login_bck{
	background-image: url('../images/bcK_login_ng_1366.jpg');
}


/*default*/
/*width*/
.w17_1366_st{
	width: 17rem;
}