/*login*/
/*bck*/
.login_bck{
	background-image: url('../images/bcK_login_1366.jpg');
}
/*width*/
.w1p7_1366_st{ width: 1.7rem; }
.w2_1366_st{ width: 2rem; }
.h1p7_1366_st{ height: 1.7rem; }
.h2_1366_st{ height: 2rem; }

/*login*/
/*text intro*/
.login_text_intro{
	font-size: 1.3rem;
	line-height: 1.8rem;
}

/*default*/
.max_w_none_1366_st{
	max-width: none;
}


/*odd pad*/
@media screen and (max-width: 1366px) { 
	.pad_33p_fl_0_1366_to_hd_st > div:nth-of-type(3n+1){ padding-left: 0 !important; }
	.pad_33p_fl_0_1366_to_hd_st > div:nth-of-type(3n){ padding-right: 0 !important; }
}


/*max width*/
.max_w_40_1366_st{
	max-width: 40rem;
}
.max_w_30_1366{
	max-width: 30rem;
}


/*nowrap*/
.no_wrap_1366_st{
	white-space: nowrap;
}
/*overflow auto - hover*/
.overflow_auto_hover_1366_st:hover{
	overflow: auto;
}



/*padding*/
.pad_first_t_0_1366_st > div:first-of-type{ padding-top: 0; }



/*margin*/
.mar_l_-15_1366{
	margin-left: -1.5rem;
}




/*panel*/
.body_plus_panelright.selected,
.body_plus_panelright.selected .body_plus_panelright_content{
	padding-right: 0;
}

.body_plus_panelleft.selected,
.body_plus_panelleft.selected .body_plus_panelleft_content{
	padding-left: 0;
}

.panelleft,
.body_plus_panelleft,
.body_plus_panelleft_content,

.action_toggle_sugerencia,
.panelright,
.body_plus_panelright,
.body_plus_panelright_content{
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.body_plus_panelleft.selected .hide_toggle,
.panelleft.selected{
	left: -20rem;
}

.body_plus_panelright.selected .hide_toggle,
.panelright.selected {
	right: -20rem;
}

.body_plus_panelleft.selected .hide_toggle,
.panelleft.selected,

.body_plus_panelright.selected .hide_toggle,
.panelright.selected {
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	visibility: hidden;
}


.body_plus_panelleft .max_w_30_1366,
.body_plus_panelright .max_w_30_1366{
	/*transition*/
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.body_plus_panelright.selected .max_w_30_1366,
.body_plus_panelleft.selected .max_w_30_1366{
	max-width: 25rem;
}

.inline_divs .only_1366{ display: inline-block; }


/*action*/
.action_toggle_sugerencia{ top: 4.7rem; }
.action_toggle_sugerencia.selected{ top: 1rem; }

.action_toggle_container.selected .max_w_80{ max-width: 100%; }




/*min height*/
.min_h_13_1366_st{
	min-height: 13rem;
}
.max_w_30_1366_st{
	max-width: 30rem;
}

.action_toggle_container.selected .split_v_panel{
	right: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}