/*initial default - edit*/
/*colors & bck*/
body, html{
	/*min height container*/
	color: rgba(0,0,0,1);
	min-height: 560px;
	line-height: 150%;
}

/*@-ms-viewport{
  width: device-width;
}	*/

/* Vendor specific prefixes */



/*line-height*/
.lh_150p{
	line-height: 150%;
}
.lh_05{
	line-height: 0.5rem;
}

/*object-fit*/
.of_cover{ object-fit: cover; }


/*preloader*/
#preloader{
	z-index: 9999999;
	background: rgba(0,0,0,0.75);
}
#lottie{
    width:70px;
    height:70px;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    margin: 0 auto;
}
.dots_loading span {
  font-size: 25px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.dots_loading span:nth-child(2) {
  animation-delay: .2s;
}

.dots_loading span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}




.t_transform_none{ text-transform: none;}
/*bug tab bar*/
.mdc-tab-bar-scroller__scroll-frame .fs_11.capitalize.inline_divs.v_mid_all.pad_b_3.inline { text-transform: none; }
/*colors*/
a, .c_blue, .c_blue_all, .c_blue_all * { color: #1c42e8; }
.bck_blue{ background-color:#1c42e8; color: #fff; }
.bck_yellow_lighting{ background: #fff8e2 }
.c_orange, .c_orange_all, .c_orange_all *{ color: #ff6c00; }
/*guias*/
.c_turkey,.c_turkey_all, .c_turkey_all *{ color: #02afbf; }
.bck_turkey{ background: #02afbf; }

.c_alert,.c_red,.c_red_all, .c_red_all *{ color: #ec1c2a; }
.bck_alert{ background: #ec1c2a; }

.c_green,.c_green_all, .c_green_all *{ color: #5b8e48; }
.bck_green{ background: #5b8e48; }

.c_yellow,.c_yellow_all, .c_yellow_all *{ color: #fcea0b; }
.bck_yellow{ background: #fcea0b; }
.bck_orange{ background: #ff6c00; }
.c_transparent{ color: transparent; }
.bck_transparent{ background-color: transparent; }


.bck_popup{ background: #f5f6fa; }
/*purple*/
.bck_default .c_purple01,.bck_default .c_purple01_all, .bck_default .c_purple01_all *{ color: #2d006d; }
.bck_purple01{ background: #2d006d; }

.c_purple02,.c_purple02_all, .c_purple02_all *{ color: #57338a; }
.bck_purple02{ background: #57338a; }

.c_purple03,.c_purple03_all, .c_purple03_all *{ color: #5713ba; }
.bck_purple03{ background: #5713ba; }
.pad_r_5px{ padding-right: 5px; }
.pad_b_3px{ padding-bottom: 3px }
.pad_b_2px{ padding-bottom: 2px }
.pad_b_1px{ padding-bottom: 1px }
.pad_b_12r_240_st{ padding-bottom: 12rem }
.pad_t_6{ padding-top: 6rem; }
.pad_t_6p5{ padding-top: 6.5rem; }
.pad_tb_03{ padding-top: 0.3rem; padding-bottom: 0.3rem; }
.pad_r_14{ padding-right: 1.4rem; }

.pad_r_14,
.pad_r_1
.pad_tb_03,
.pad_b_3px,
.pad_b_2px,
.pad_t_6p5,
.pad_t_6,
.pad_b_12r_240_st,
.pad_r_5px,
.pad_b_1px{ 
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.mar_r_1p3{ margin-right: 1.3rem; }
.btn_ovalo.pad_lr_09{
	padding-left: 0.9rem;
	padding-right: 0.9rem;
}
.opa_0{ filter:alpha(opacity=0); -moz-opacity: 0; opacity: 0; }
.wh08{ width: 0.8rem; height: 0.8rem; }
.wh07{ width: 0.7rem; height: 0.7rem; }
.wh05{ width: 0.5rem; height: 0.5rem; }
.wh3px{ width: 3px; height: 3px; }
.wh5px{ width: 5px; height: 5px; }
.wh10px{ width: 10px; height: 10px; }
.wh1p7{ width: 1.7rem; height: 1.7rem; }
.w4_240_st{ width: 4rem; }
.w05{ width: 0.5rem; }
.w17{ width: 17rem; }
.h05{ height: 0.5rem; }
.w03{ width: 0.3rem; }
.h03{ height: 0.3rem; }

.border_last_0 > div:last-of-type{ border: 0 }

/*position*/
/*left*/
.left_1p4_240_st{ left: 1.4rem; }
.left_1p5_240_st{ left: 1.5rem; }
.top_70p_240_st{ top:70%; }
.top_60p_240_st{ top:60%; }
.top_67p_240_st{ top:67%; }
.top_05_240_st{ top: 0.5rem; }
.top_15_240_st{ top: 1.5rem; }
.top_16_240_st{ top: 1.6rem; }
.top_17_240_st{ top: 1.7rem; }


.top_03_240_st{ top: 0.3rem; }
.right_03_240_st{ right: 0.3rem; }


/*opacity - visiblility*/
.visible{
	visibility: visible;
}

/*list block panel*/
.list_block.pad_15 > div:first-of-type{
	margin-top: 0;
}
.list_block > div{
	margin-top: 2px;
}
.b_transparent_change.b_bottom_gray.selected{
	border-color: transparent;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}


/*nowrap*/
.no_wrap{
	white-space: nowrap; 
}


.toggle_chekbox,
.toggle_height{
	max-height: 0;
	overflow: hidden;
	/*transition*/
	-moz-transition: max-height 0.7s ease;
	-webkit-transition: max-height 0.7s ease;
	-o-transition: max-height 0.7s ease;
	transition: max-height 0.7s ease;


}
.list_container_select.active .toggle_chekbox,
.selected.toggle_height{
	max-height: 50rem;
	/*transition*/
	-moz-transition: max-height 1.5s ease;
	-webkit-transition: max-height 1.5s ease;
	-o-transition: max-height 1.5s ease;
	transition: max-height 1.5s ease;


}

/*selector*/
::selection {
  background: #02afbf;
  color: #fff;
}
::-moz-selection {
  background: #02afbf;
  color: #fff;
}


/*style guias*/

/*general*/
/*space letters*/
.sl_01{ letter-spacing: 0.1rem; }
.sl_02{ letter-spacing: 0.2rem; }
.sl_05{ letter-spacing: 0.5rem; }
.sl_1{ letter-spacing: 1rem; }
.bottom_09_240_st{ bottom: 0.9rem; }
.sh_05{
	-moz-box-shadow:    0rem 0rem 0.5rem 0rem rgba(0,0,0,0.1);
	-webkit-box-shadow: 0rem 0rem 0.5rem 0rem rgba(0,0,0,0.1);
	box-shadow:         0rem 0rem 0.5rem 0rem rgba(0,0,0,0.1);
}
.sh_1{
	-moz-box-shadow:    0rem 0rem 1rem 0rem rgba(0,0,0,0.1);
	-webkit-box-shadow: 0rem 0rem 1rem 0rem rgba(0,0,0,0.1);
	box-shadow:         0rem 0rem 1rem 0rem rgba(0,0,0,0.1);
}
.sh_2{
	-moz-box-shadow:    0rem 0rem 2rem 0rem rgba(0,0,0,0.1);
	-webkit-box-shadow: 0rem 0rem 2rem 0rem rgba(0,0,0,0.1);
	box-shadow:         0rem 0rem 2rem 0rem rgba(0,0,0,0.1);
}
.sh_3{
	-moz-box-shadow:    0rem 0rem 3rem 0rem rgba(0,0,0,0.1);
	-webkit-box-shadow: 0rem 0rem 3rem 0rem rgba(0,0,0,0.1);
	box-shadow:         0rem 0rem 3rem 0rem rgba(0,0,0,0.1);
}
.sh_4{
	-moz-box-shadow:    0rem 0rem 4rem 0rem rgba(0,0,0,0.1);
	-webkit-box-shadow: 0rem 0rem 4rem 0rem rgba(0,0,0,0.1);
	box-shadow:         0rem 0rem 4rem 0rem rgba(0,0,0,0.1);
}



/*width*/
.max_w_23{ max-width: 23rem; }


/*margin*/
.mar_b_-2{ margin-bottom: -2rem }
.mar_b_-19{ margin-bottom: -1.9rem }
.mar_b_-18{ margin-bottom: -1.8rem }
.mar_b_-17{ margin-bottom: -1.7rem }
.mar_b_-16{ margin-bottom: -1.6rem }
.mar_b_-15{ margin-bottom: -1.5rem }
.mar_b_-14{ margin-bottom: -1.4rem }
.mar_b_-13{ margin-bottom: -1.3rem }
.mar_b_-12{ margin-bottom: -1.2rem }
.mar_b_-11{ margin-bottom: -1.1rem }
.mar_b_-1{ margin-bottom: -1rem }
.mar_b_-07{ margin-bottom: -0.7rem }
.mar_b_-06{ margin-bottom: -0.6rem }
.mar_b_-05{ margin-bottom: -0.5rem }
.mar_t_-2{ margin-top: -2rem }
.mar_t_-19{ margin-top: -1.9rem }
.mar_t_-18{ margin-top: -1.8rem }
.mar_t_-17{ margin-top: -1.7rem }
.mar_t_-16{ margin-top: -1.6rem }
.mar_t_-15{ margin-top: -1.5rem }
.mar_t_-14{ margin-top: -1.4rem }
.mar_t_-13{ margin-top: -1.3rem }
.mar_t_-12{ margin-top: -1.2rem }
.mar_t_-11{ margin-top: -1.1rem }
.mar_t_-1{ margin-top: -1rem }
.mar_t_-07{ margin-top: -0.7rem }
.mar_t_-06{ margin-top: -0.6rem }
.mar_t_-05{ margin-top: -0.5rem }
.mar_l_-1{ margin-left: -1rem }
.mar_r_-1{ margin-right: -1rem }
.mar_r_-1p5{ margin-right: -1.5rem }


/*padding*/
.pad_b_03,
.pad_b_04,
.pad_l_03,
.pad_03{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.pad_b_03{ padding-bottom: 0.3rem; }
.pad_b_04{ padding-bottom: 0.4rem; }
.pad_03{ padding: 0.3rem }
.pad_l_03{ padding-left: 0.3rem }
.h4px{ height: 6px }
.w4px{ width: 6px }
.h1px{ height: 1px }

input, textarea, select, button {
	font-size: inherit;
}
.pad_l_3p5_240_st{
	padding-left: 3.5rem;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


.mar_t_15_240_st{ margin-top: 1.5rem }

/*split*/
.split_icon.h100p:after{
	height:100%;
}
.split_icon:after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height:70%;
	width: 1px;
	right: 0;
	margin: auto;
	background: #e4e4e4;
}
.split_bottom_dashed,
.split_bottom{
	position: relative;
}
.split_bottom_dashed:after,
.split_bottom:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	width: 100%;
	height: 1px;
}




/*menu*/
.mdc-menu{
	visibility: hidden;
}
.mdc-menu.mdc-menu--open{
	visibility: visible;
}
/*bck theme*/
.menu_theme.mdc-menu {
	min-width: 0;
}	
.zoom_font.mdc-menu .mdc-list,
.menu_theme.mdc-menu .mdc-list{
	padding: 0;
}
.menu_theme.mdc-menu .mdc-list-item{
	line-height: 0;
	font-size: 0;
    height: auto;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    padding-right: 1px;
    padding-left: 1px;
}
.zoom_font.mdc-menu .mdc-list-item:after,
.zoom_font.mdc-menu .mdc-list-item:before,
.menu_theme.mdc-menu .mdc-list-item:before,
.menu_theme.mdc-menu .mdc-list-item:after{
	content: none;
}
/*selector*/
/*fill*/
.menu-child{ border-width:1px;border-style: solid; }
/*unselected fill*/
.mdc-list-item[data-bodyclass="bck_default"] .menu-child{ border-color:rgba(2,175,191,0); }
.mdc-list-item[data-bodyclass="bck_deuteranopia"] .menu-child{ border-color:rgba(127,144,196,0); }
.mdc-list-item[data-bodyclass="bck_night"] .menu-child{ border-color:rgba(255,255,255,0); }



/*login*/
.login_bck{
	/*transition*/
	-moz-transition: all 2s ease;
	-webkit-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}

/*hover inputs*/
/*material*/
/*color bck*/
.bck_guias{
	/*background size*/
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}


/*interface*/
.container_header.content_wrap{ padding-bottom: 1rem; }
.content_wrap.body_container{ padding-top: 18rem; }
/*body white*/
.content_wrap_body{ padding: 2rem;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/*indice*/
.nav_title > *{ font-weight: bold}
.nav_title > span{ font-size: 1.5rem;}

/*submenu mobile*/
.submenu_mobile{ top: 11.5rem; }
.submenu_mobile.content_wrap{ padding-top: 0; padding-bottom: 0 }

.submenu_mobile{
	height: 3.7rem;
}
.submenu_mobile .container_submenu_mobile{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	visibility: hidden;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	/*transition*/
	-moz-transition: -moz-opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.submenu_mobile .container_submenu_mobile.selected{
	visibility: visible;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

/*active*/
.menu_header_slide .mdc-tab.active{
	position: relative;
}
.show_counter.bullet_active{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
.bullet_active{
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
	
}
.bullet_active:before{
	content: "";
    position: absolute;
    bottom: 100%;
    left: 1.9rem;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    -webkit-border-radius: 200% 200% 200% 0;
    -moz-border-radius: 200% 200% 200% 0;
    border-radius: 200% 200% 200% 0;
    width: 17px;
    height: 17px;
    z-index: 1;
    color: #fff;
    margin-bottom: -0.7rem;
	border-width: 0 !important;
}
.counter_alert{
    margin-bottom: -0.7rem;
	position: absolute;
	bottom: 100%;
	left: 1.9rem;
	width: 17px;
	height: 17px;
	line-height: 17px;
}
.menu_header_slide .mdc-tab.current:before{
	content: "" !important;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	position: absolute;
	top: auto;
	left: auto;
	bottom: 0;
	right: 2rem;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
	width: 0.35rem;
	height: 0.35rem;
	z-index: 1;
}


/*display select*/
.display_select{
	display: none;
}
.display_select.active,
.display_select.selected{
	display: block;
}
.display_select.inline.active,
.display_select.inline.selected{
	display: inline-block;
}



/*mouse rel*/
.ontop.top_position.mdc-select-scroll-lock .container_header,
.ontop.scrollingup.mdc-select-scroll-lock .container_header,
.ontop.mdc-select-scroll-lock .container_header,
.ontop .container_header{ top: -6rem; }


.ontop.top_position .container_header{ top: 0; }


.ontop .submenu_mobile{ top: 0rem; }
.ontop .container_top:hover .submenu_mobile{
	top: 5.5rem
}
.ontop.top_position .container_top:hover .submenu_mobile,
.ontop.top_position .submenu_mobile{ top: 11.5rem }





/*actions*/
.actions{ width: 2rem; }
.actions:hover{ width: auto; }
.actions:hover .icon_points{
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
.action_buttons,
.actions,
.icon_points{
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.action_buttons,
.actions{
	bottom: 0;
	top: 0;
	margin: auto;
}
.action_buttons{
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	left: 100%;
	margin-left: 0;
}
.actions:hover .action_buttons{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.actions:hover .action_buttons{
	margin-left: -10rem;
}

	



/*tables*/
.mdl-data-table .actions:hover .action_buttons.w17{
	margin-left: -18.7rem;
}
.mdl-data-table .actions:hover .action_buttons.w15{
	margin-left: -16.7rem;
}
.mdl-data-table .actions:hover .action_buttons.w20{
	margin-left: -21.8rem;
}
.mdl-data-table .actions:hover .action_buttons.w12{
	margin-left: -13.8rem;
}
.mdl-data-table .actions:hover .action_buttons{
	margin-left: -12rem;
}
.mdl-data-table .action_buttons{
	padding-left: 2rem;
}
.actions:hover .action_buttons:before{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.action_buttons:before{
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

	content: "";
	position: absolute;
	top: 0;
	right: 100%;
	width: 5rem;
	height: 100%;
/*	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;*/
}

.mdl-data-table tr.disable .circle_hover{
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
	pointer-events: none;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.mdl-data-table tr.disable .circle_hover.disable_container{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	pointer-events: auto;
}







/*pagination table*/
.pagination_table .cap{
	cursor: pointer;
	line-height:  0.9rem;
	padding: 0.3rem 0.5rem;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background-color: rgba(2,175,191,0.1);
	color: rgba(2,175,191,1);
	-webkit-border-radius: 0.2rem;
	-moz-border-radius: 0.2rem;
	border-radius: 0.2rem;
	font-size: 0.9rem;
	font-weight: bold;
	/*transition*/
	-moz-transition: color 0.5s ease,background 0.5s ease;
	-webkit-transition: color 0.5s ease,background 0.5s ease;
	-o-transition: color 0.5s ease,background 0.5s ease;
	transition: color 0.5s ease,background 0.5s ease;
}
.pagination_table .cap.points_pag:hover,
.pagination_table .cap.points_pag{
	font-size: 1.5rem;
	background-color: rgba(2,175,191,0);
	color: rgba(2,175,191,1);
	font-weight: normal;
}
.pagination_table .cap.points_pag:hover{
	color: rgba(46,0,109,1);
}
.pagination_table .cap:hover,
.pagination_table .cap.current{
	background-color: rgba(2,175,191,1);
	color: rgba(255,255,255,1);
}


/*warning list*/
.list_container_checkboxes .warning_list,
.mdc-select .warning_list{
	visibility: hidden;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
.list_container_checkboxes.mdc-text-field--invalid .warning_list,
.mdc-select.mdc-text-field--invalid .warning_list{
	visibility: visible;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.list_container_select .mdc-select{
	visibility: hidden;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
.list_container_select.active .mdc-select{
	visibility: visible;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

/*select icons*/
.mdc-list-item.pad_l_3{
	padding-left: 3rem;
}	



/*profile & background cover display*/
.bck_cover + .absolute_default.wh100p.midd_container{
	display: none;
}
.bck_cover.hide + .absolute_default.wh100p.midd_container{
	display: table;
}


/*display checked*/
.display_checked .display_checked_item{ display: none; }
.display_checked input[type="radio"]:checked + .display_checked_item{ display: block; }



/*pat*/
/*pattern*/
.pat_login_240_st{
	background-image: url('../images/pat_login.png');
	-webkit-background-size: 30rem auto;
	-moz-background-size: 30rem auto;
	-o-background-size: 30rem auto;
	background-size: 30rem auto;
	background-repeat: repeat-x;
	background-position: center bottom;
}



.column_container > .hide{
	display: none;
}

/*bck white transition important*/
.bck_white.trans_1{
	/*transition*/
	-moz-transition: all 3s ease !important;
	-webkit-transition: all 3s ease !important;
	-o-transition: all 3s ease !important;
	transition: all 3s ease !important;
}


/*ie hack*/
/*delete X*/
input::-ms-clear {
    display: none;
}
/* delete eye*/
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear{
   display: none;
}



/*list panel block*/
.max_h_30.list_block{ max-height: 28.6rem; }
.max_h_28.list_block{ max-height: 28rem; }
.max_h_35.list_block{ max-height: 33.6rem; }



/*border*/
.bck_night .border_0_240_st.border_gray,
.bck_night .border_0_240_st,

.border_0_240_st.border_gray,
.border_0_240_st{
	border-width: 0;
}




/*vertical black*/
.bck_vertical_black{
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
}


/*hahck ie*/
button{
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   background:none;
}

/*font-size: 13px;*/

html[style~="overflow:hidden"] .bck_white.sh_body.relative.z2,
html[style~="overflow: hidden"] .bck_white.sh_body.relative.z2,
html[style="overflow: hidden; font-size: 13px;"] .bck_white.sh_body.relative.z2,
html[style="font-size: 13px; overflow: hidden;"] .bck_white.sh_body.relative.z2{
 z-index: 99;
}



/*border*/
.border_gray.border_w_2px,
.border_w_2px {
    border-width: 2px !important;
}
.border_gray.dashed,
.dashed {
    border-style: dashed !important;
}
/*scale*/
.scale_15 {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.image_drag ~ .button_drag {
margin-left: 0.5rem;
}
.image_drag ~ .button_drag .label_button_drag {
    display:none
}
.image_drag ~ .button_drag .bck_turkey_light:not(:hover) {
    background: transparent;
}
.image_drag ~ .button_drag .wh1 {
    width:0.8rem;
    height:0.8rem;
}
.scale_6_translate_240_st {
    -webkit-transform: translateY(-280%) scale(6);
    -ms-transform: translateY(-280%) scale(6);
    transform: translateY(-280%) scale(6);
}
.pad_1px{
    padding:1px;
}
.scale_6_translate_240_st .arrow:before {
    border-width: 0.1rem 0.1rem 0 0.1rem;
}
.scale_02 {
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
}
.fs_2px{
    font-size: 2px;
    line-height: 3px;
}
.pad_t_5px{
    padding-top: 5px;
}

.image_drag .hover_image_drag {
    visibility: hidden;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}
.image_drag:hover .hover_image_drag {
    visibility: visible;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
.w4p5{
    width:4.5rem;
}
.left_-5p5_240_st{
    left:-5rem;
}

.overflow_y_auto{
	overflow-y: auto;
}
.overflow_x_h{
	overflow-x: hidden;
}

.hide_focus.mdc-text-field__label--float-above{
	color: transparent !important
}
.mdc-text-field__input.fs_1.pad_r_3{
	padding-right: 3rem;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.selected.vertical_toggle_panel{
	height: 100%;
	max-height: 0;
}
.vertical_toggle_panel{
	overflow: hidden;
	max-height: 30rem;
}
.vertical_toggle_panel.selected ~ div .h15.container_chat{
	height: 38rem;
}


/*action icon toogle*/
.action_toggle_container.selected .icon_compress_container,
.action_toggle_container .icon_expand_container{
	visibility: visible;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.action_toggle_container.selected .icon_expand_container,
.action_toggle_container .icon_compress_container{
	visibility: hidden;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}
.top_07_240_st{
	top: 0.7rem;
}


.view_hr_container .view_hr{
	visibility: hidden;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
.view_hr_container:hover .view_hr{
	visibility: visible;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
textarea.noresize{
	resize: none;
}
.min_h_32{
	min-height: 32rem;
}

/*position*/
.top_2p5_240_st{
	top: 2.5rem
}




/*alert*/
.alert_menu.mdc-menu{
	white-space: normal;
}
.alert_menu .mdc-list-item{
	height: auto	
}




/*breakword*/
.breakword{
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}




/*layout grid*/
.grid_floating{	
	-webkit-column-width: 120px;
    -moz-column-width: 120px;
    column-width: 20rem;
}
.grid_floating > div{
    max-width: 30rem !important;
    width: 100% !important;
}



/*table*/
.ws_normal{ white-space: normal; }