/*transitions*/
.icon_hover_fade:before,
.icon_hover_fade:after{
	/*transition*/
	-moz-transition: -moz-opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.multi_icon,
.icon_hover_fade:before,
.icon_hover_fade:after{
	-webkit-background-size: 300%;
	-moz-background-size: 300%;
	-o-background-size: 300%;
	background-size: 300%;
	background-repeat: no-repeat;	
}

/*fade*/
.fixed.multi_icon.icon_hover_fade,
.fixed_default.multi_icon.icon_hover_fade,
.absolute_default.multi_icon.icon_hover_fade,
.absolute.multi_icon.icon_hover_fade{ position: absolute;}

.show_pass.mdc-text-field--focused .multi_icon.icon_hover_fade{ background-image: none; }
.multi_icon.icon_hover_fade{ position: relative; background-image: none;}

.icon_hover_fade:before,
.icon_hover_fade:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
}
.icon_hover_fade:before{ filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }
.icon_hover_fade:after{ filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1; }
/*display*/
.circle_hover:hover > .icon_hover_fade:after,
.circle_hover.active > .icon_hover_fade:after,
.sp-active .circle_hover > .icon_hover_fade:after,

.icon_hover_fade.active:after,
.sp-active .icon_hover_fade:after,


.icon_hover_all:hover .icon_hover_fade:after,
.icon_hover_fade:hover:after
{ filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }

.circle_hover:hover > .icon_hover_fade:before,
.circle_hover.active > .icon_hover_fade:before,
.sp-active .circle_hover > .icon_hover_fade:before,

.icon_hover_fade.active:before,
.sp-active .icon_hover_fade:before,


.icon_hover_all:hover .icon_hover_fade:before,
.icon_hover_fade:hover:before
{ filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1; }
/*display field*/

.mdc-text-field.mdc-text-field--focused .icon_hover_fade:after{
	filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0;
}
.mdc-text-field.mdc-text-field--focused .icon_hover_fade:before{
	filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1;
}

.mdc-menu:hover .icon_hover_fade:before,
.mdc-menu:hover .icon_hover_fade:after,
.mdc-menu:hover .hover_to_green
{
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}






/*logos*/
/*icono color position*/
/*white*/
.bck_pos_white,
.bck_pos_white.icon_hover_fade:after{ background-position: 50% 50%; }
/*green*/
.bck_pos_green,
.bck_pos_green.icon_hover_fade:after{ background-position: 0% 50%; }
/*gray*/
.bck_pos_gray,
.bck_pos_gray.icon_hover_fade:after{ background-position: 100% 50%; }
/*yellow*/
.bck_pos_yellow,
.bck_pos_yellow.icon_hover_fade:after{ background-position: 0% 0%; }
/*blue deuteranopia*/
.bck_pos_blue_cb,
.bck_pos_blue_cb.icon_hover_fade:after{ background-position: 50% 0%; }
/*red / degrade*/
.bck_pos_degrade,
.bck_pos_degrade.icon_hover_fade:after{ background-position: 100% 0%; }
/*purple 1*/
.bck_pos_purple1,
.bck_pos_purple1.icon_hover_fade:after{ background-position: 0 100%; }
/*purple 2*/
.bck_pos_purple2,
.bck_pos_purple2.icon_hover_fade:after{ background-position: 50% 100%; }
/*black*/
.bck_pos_black,
.bck_pos_black.icon_hover_fade:after{ background-position: 100% 100%; }


/*hovers*/
/*green*/
.bck_pos_green.icon_hover_fade:before{ background-position: 0 100%; }
/*black purple white gray*/
.bck_pos_gray.icon_hover_fade:before,
.bck_pos_white.icon_hover_fade:before,
.bck_pos_black.icon_hover_fade:before,
.bck_pos_purple2.icon_hover_fade:before,
.bck_pos_purple1.icon_hover_fade:before{ background-position: 0% 50%; }
/*hover to black*/
.pos_hover_to_black.bck_pos_gray.icon_hover_fade:before,
.pos_hover_to_black.bck_pos_white.icon_hover_fade:before,
.pos_hover_to_black.bck_pos_black.icon_hover_fade:before,
.pos_hover_to_black.bck_pos_purple2.icon_hover_fade:before,
.pos_hover_to_black.bck_pos_purple1.icon_hover_fade:before{ background-position: 100% 100%; }



/*iconos*/
/*logo*/
.logo,
.logo:before,
.logo:after{ background-image: url('../images/logo.svg'); }
/*person*/
.icon_person,
.icon_person:before,
.icon_person:after{ background-image: url('../images/icon_person.svg'); }
/*lock*/
.icon_lock,
.icon_lock:before,
.icon_lock:after{ background-image: url('../images/icon_lock.svg'); }
/*fill*/
.icon_fill,
.icon_fill:before,
.icon_fill:after{ background-image: url('../images/icon_fill.svg'); }
/*font*/
.icon_font,
.icon_font:before,
.icon_font:after{ background-image: url('../images/icon_font.svg'); }
/*alert*/
.icon_alert,
.icon_alert:before,
.icon_alert:after{ background-image: url('../images/icon_alert.svg'); }
/*points*/
.icon_points,
.icon_points:before,
.icon_points:after{ background-image: url('../images/icon_points.svg'); }
/*menu*/
.icon_menu,
.icon_menu:before,
.icon_menu:after{ background-image: url('../images/icon_menu.svg'); }



/*activity*/
.icon_actividades,
.icon_actividades:before,
.icon_actividades:after{ background-image: url('../images/icon_actividades.svg'); }
/*bitacora*/
.icon_bitacora,
.icon_bitacora:before,
.icon_bitacora:after{ background-image: url('../images/icon_bitacora.svg'); }
/*configuracion*/
.icon_configuracion,
.icon_configuracion:before,
.icon_configuracion:after{ background-image: url('../images/icon_configuracion.svg'); }
/*consultas*/
.icon_consultas,
.icon_consultas:before,
.icon_consultas:after{ background-image: url('../images/icon_consultas.svg'); }
/*help*/
.icon_help,
.icon_help:before,
.icon_help:after{ background-image: url('../images/icon_help.svg'); }
/*miembro*/
.icon_miembro,
.icon_miembro:before,
.icon_miembro:after{ background-image: url('../images/icon_miembro.svg'); }
/*publicaciones*/
.icon_publicaciones,
.icon_publicaciones:before,
.icon_publicaciones:after{ background-image: url('../images/icon_publicaciones.svg'); }
/*solicitudes*/
.icon_solicitudes,
.icon_solicitudes:before,
.icon_solicitudes:after{ background-image: url('../images/icon_solicitudes.svg'); }
/*solicitudes*/
.icon_reportes,
.icon_reportes:before,
.icon_reportes:after{ background-image: url('../images/icon_reportes.svg'); }
/*mail*/
.icon_mail,
.icon_mail:before,
.icon_mail:after{ background-image: url('../images/icon_mail.svg'); }
/*next*/
.icon_next,
.icon_next:before,
.icon_next:after{ background-image: url('../images/icon_next.svg'); }
/*back*/
.icon_back,
.icon_back:before,
.icon_back:after{ background-image: url('../images/icon_back.svg'); }
/*roles*/
.icon_rol,
.icon_rol:before,
.icon_rol:after{ background-image: url('../images/icon_rol.svg'); }
/*person*/
.icon_person_2,
.icon_person_2:before,
.icon_person_2:after{ background-image: url('../images/icon_person_2.svg'); }
/*configuracion*/
.icon_setting,
.icon_setting:before,
.icon_setting:after{ background-image: url('../images/icon_setting.svg'); }
/*filtro*/
.icon_filter,
.icon_filter:before,
.icon_filter:after{ background-image: url('../images/icon_filter.svg'); }
/*download*/
.icon_download,
.icon_download:before,
.icon_download:after{ background-image: url('../images/icon_download.svg'); }
/*disable*/
.icon_disable,
.icon_disable:before,
.icon_disable:after{ background-image: url('../images/icon_disable.svg'); }
/*add*/
.icon_add,
.icon_add:before,
.icon_add:after{ background-image: url('../images/icon_add.svg'); }
/*add fill*/
.icon_add_1,
.icon_add_1:before,
.icon_add_1:after{ background-image: url('../images/icon_add_1.svg'); }
/*add outline*/
.icon_add_2,
.icon_add_2:before,
.icon_add_2:after{ background-image: url('../images/icon_add_2.svg'); }
/*historia*/
.icon_historia,
.icon_historia:before,
.icon_historia:after{ background-image: url('../images/icon_historia.svg'); }
/*save*/
.icon_save,
.icon_save:before,
.icon_save:after{ background-image: url('../images/icon_save.svg'); }
/*edit*/
.icon_edit,
.icon_edit:before,
.icon_edit:after{ background-image: url('../images/icon_edit.svg'); }
/*invitation*/
.icon_invitation,
.icon_invitation:before,
.icon_invitation:after{ background-image: url('../images/icon_invitation.svg'); }
/*view*/
.icon_view,
.icon_view:before,
.icon_view:after{ background-image: url('../images/icon_view.svg'); }
/*last*/
.icon_last,
.icon_last:before,
.icon_last:after{ background-image: url('../images/icon_last.svg'); }
/*prev*/
.icon_prev,
.icon_prev:before,
.icon_prev:after{ background-image: url('../images/icon_prev.svg'); }
/*date*/
.icon_date,
.icon_date:before,
.icon_date:after{ background-image: url('../images/icon_date.svg'); }
/*visibility*/
.icon_visibility,
.icon_visibility:before,
.icon_visibility:after{ background-image: url('../images/icon_visibility.svg'); }
/*camera*/
.icon_cam,
.icon_cam:before,
.icon_cam:after{ background-image: url('../images/icon_cam.svg'); }
/*down arrow*/
.icon_down,
.icon_down:before,
.icon_down:after{ background-image: url('../images/icon_down.svg'); }
/*up*/
.icon_up,
.icon_up:before,
.icon_up:after{ background-image: url('../images/icon_up.svg'); }
/*excel*/
.icon_excel,
.icon_excel:before,
.icon_excel:after{ background-image: url('../images/icon_excel.svg'); }
/*pdf*/
.icon_pdf,
.icon_pdf:before,
.icon_pdf:after{ background-image: url('../images/icon_pdf.svg'); }
/*html*/
.icon_html,
.icon_html:before,
.icon_html:after{ background-image: url('../images/icon_html.svg'); }
/*doc*/
.icon_doc,
.icon_doc:before,
.icon_doc:after{ background-image: url('../images/icon_doc.svg'); }
/*close fill*/
.icon_close_1,
.icon_close_1:before,
.icon_close_1:after{ background-image: url('../images/icon_close_1.svg'); }
/*close outline*/
.icon_close_2,
.icon_close_2:before,
.icon_close_2:after{ background-image: url('../images/icon_close_2.svg'); }
/*close alone*/
.icon_close_3,
.icon_close_3:before,
.icon_close_3:after{ background-image: url('../images/icon_close_3.svg'); }

/*check fill*/
.icon_check_1,
.icon_check_1:before,
.icon_check_1:after{ background-image: url('../images/icon_check_1.svg'); }
/*check outline*/
.icon_check_2,
.icon_check_2:before,
.icon_check_2:after{ background-image: url('../images/icon_check_2.svg'); }
/*check alone*/
.icon_check_3,
.icon_check_3:before,
.icon_check_3:after{ background-image: url('../images/icon_check_3.svg'); }
/*warning*/
.icon_warning,
.icon_warning:before,
.icon_warning:after{ background-image: url('../images/icon_warning.svg'); }
/*warning*/
.icon_add_btn,
.icon_add_btn:before,
.icon_add_btn:after{ background-image: url('../images/icon_add_btn.svg'); }
/*young*/
.icon_young,
.icon_young:before,
.icon_young:after{ background-image: url('../images/icon_young.svg'); }
/*face*/
.icon_face,
.icon_face:before,
.icon_face:after{ background-image: url('../images/icon_face.svg'); }
/*contact*/
.icon_contact,
.icon_contact:before,
.icon_contact:after{ background-image: url('../images/icon_contact.svg'); }
/*panoleta*/
.icon_panoleta,
.icon_panoleta:before,
.icon_panoleta:after{ background-image: url('../images/icon_panoleta.svg'); }
/*address*/
.icon_address,
.icon_address:before,
.icon_address:after{ background-image: url('../images/icon_address.svg'); }

/*fb*/
.icon_social_fb,
.icon_social_fb:before,
.icon_social_fb:after{ background-image: url('../images/icon_social_fb.svg'); }
/*instagram*/
.icon_social_inst,
.icon_social_inst:before,
.icon_social_inst:after{ background-image: url('../images/icon_social_inst.svg'); }
/*linkedin*/
.icon_social_in,
.icon_social_in:before,
.icon_social_in:after{ background-image: url('../images/icon_social_in.svg'); }
/*twitter*/
.icon_social_tw,
.icon_social_tw:before,
.icon_social_tw:after{ background-image: url('../images/icon_social_tw.svg'); }
/*youtube*/
.icon_social_yt,
.icon_social_yt:before,
.icon_social_yt:after{ background-image: url('../images/icon_social_yt.svg'); }
/*google plus*/
.icon_social_gp,
.icon_social_gp:before,
.icon_social_gp:after{ background-image: url('../images/icon_social_gp.svg'); }
/*social default*/
.icon_social,
.icon_social:before,
.icon_social:after{ background-image: url('../images/icon_social.svg'); }
/*list*/
.icon_list,
.icon_list:before,
.icon_list:after{ background-image: url('../images/icon_list.svg'); }
/*folder*/
.icon_folder,
.icon_folder:before,
.icon_folder:after{ background-image: url('../images/icon_folder.svg'); }
/*group*/
.icon_group,
.icon_group:before,
.icon_group:after{ background-image: url('../images/icon_group.svg'); }
/*id*/
.icon_id,
.icon_id:before,
.icon_id:after{ background-image: url('../images/icon_id.svg'); }
/*smile*/
.icon_smile,
.icon_smile:before,
.icon_smile:after{ background-image: url('../images/icon_smile.svg'); }
/*lang*/
.icon_lang,
.icon_lang:before,
.icon_lang:after{ background-image: url('../images/icon_lang.svg'); }
/*hand*/
.icon_hand,
.icon_hand:before,
.icon_hand:after{ background-image: url('../images/icon_hand.svg'); }
/*notes*/
.icon_notes,
.icon_notes:before,
.icon_notes:after{ background-image: url('../images/icon_notes.svg'); }
/*number*/
.icon_number,
.icon_number:before,
.icon_number:after{ background-image: url('../images/icon_number.svg'); }
/*rope*/
.icon_rope,
.icon_rope:before,
.icon_rope:after{ background-image: url('../images/icon_rope.svg'); }
/*snack*/
.icon_snack,
.icon_snack:before,
.icon_snack:after{ background-image: url('../images/icon_snack.svg'); }
/*snack*/
.icon_info_1,
.icon_info_1:before,
.icon_info_1:after{ background-image: url('../images/icon_info_1.svg'); }
/*links*/
.icon_link,
.icon_link:before,
.icon_link:after{ background-image: url('../images/icon_link.svg'); }
/*register*/
.icon_register,
.icon_register:before,
.icon_register:after{ background-image: url('../images/icon_register.svg'); }
/*flag*/
.icon_flag,
.icon_flag:before,
.icon_flag:after{ background-image: url('../images/icon_flag.svg'); }
/*house*/
.icon_house,
.icon_house:before,
.icon_house:after{ background-image: url('../images/icon_house.svg'); }
/*medall*/
.icon_medall,
.icon_medall:before,
.icon_medall:after{ background-image: url('../images/icon_medall.svg'); }
/*stats*/
.icon_stats,
.icon_stats:before,
.icon_stats:after{ background-image: url('../images/icon_stats.svg'); }
/*expand*/
.icon_expand,
.icon_expand:before,
.icon_expand:after{ background-image: url('../images/icon_expand.svg'); }
/*compress*/
.icon_compress,
.icon_compress:before,
.icon_compress:after{ background-image: url('../images/icon_compress.svg'); }
/*clip*/
.icon_clip,
.icon_clip:before,
.icon_clip:after { background-image: url('../images/icon_clip.svg'); }
/*send*/
.icon_send:after,
.icon_send:before,
.icon_send{ background-image: url('../images/icon_send.svg'); }
/*plane*/
.icon_plane:after,
.icon_plane:before,
.icon_plane{ background-image: url('../images/icon_plane.svg'); }
/*cupon*/
.icon_cupon:after,
.icon_cupon:before,
.icon_cupon{ background-image: url('../images/icon_cupon.svg'); }
/*dollar*/
.icon_dollar:after,
.icon_dollar:before,
.icon_dollar{ background-image: url('../images/icon_dollar.svg'); }
/*like*/
.icon_like:after,
.icon_like:before,
.icon_like{ background-image: url('../images/icon_like.svg'); }
/*like_degrade*/
.icon_like_degrade:after,
.icon_like_degrade:before,
.icon_like_degrade{ background-image: url('../images/icon_like_degrade.svg'); }
/*dislike*/
.icon_dislike:after,
.icon_dislike:before,
.icon_dislike{ background-image: url('../images/icon_dislike.svg'); }
/*dislike_degrade*/
.icon_dislike_degrade:after,
.icon_dislike_degrade:before,
.icon_dislike_degrade{ background-image: url('../images/icon_dislike_degrade.svg'); }
/*cake*/
.icon_cake:after,
.icon_cake:before,
.icon_cake{ background-image: url('../images/icon_cake.svg'); }
/*star_half*/
.icon_star_half:after,
.icon_star_half:before,
.icon_star_half{ background-image: url('../images/icon_star_half.svg'); }
/*trash*/
.icon_trash:after,
.icon_trash:before,
.icon_trash{ background-image: url('../images/icon_trash.svg'); }


/*card*/
.icon_card:after,
.icon_card:before,
.icon_card{ background-image: url('../images/icon_card.svg'); }
/*clock*/
.icon_clock:after,
.icon_clock:before,
.icon_clock{ background-image: url('../images/icon_clock.svg'); }
/*activity*/
.icon_activity:after,
.icon_activity:before,
.icon_activity{ background-image: url('../images/icon_activity.svg'); }
/*match_point*/
.icon_match_point:after,
.icon_match_point:before,
.icon_match_point{ background-image: url('../images/icon_match_point.svg'); }
/*chispero*/
.icon_chispero:after,
.icon_chispero:before,
.icon_chispero{ background-image: url('../images/icon_chispero.svg'); }
/*mail_arrow*/
.icon_mail_arrow:after,
.icon_mail_arrow:before,
.icon_mail_arrow{ background-image: url('../images/icon_mail_arrow.svg'); }
/*sms*/
.icon_sms:after,
.icon_sms:before,
.icon_sms{ background-image: url('../images/icon_sms.svg'); }
/*bell_fill*/
.icon_bell_fill:after,
.icon_bell_fill:before,
.icon_bell_fill{ background-image: url('../images/icon_bell_fill.svg'); }


.bck_transfer{ background-image: url('../images/bck_transfer.svg');
	background-repeat: repeat;
	/*background size*/
	-webkit-background-size: 1.3rem;
	-moz-background-size: 1.3rem;
	-o-background-size: 1.3rem;
	background-size: 1.3rem;
}



/*special*/
/*deuteranopia*/
.bck_deuteranopia_icon{ background-image: url('../images/bck_deuteranopia_icon.svg'); }
.icon_moon{ background-image: url('../images/icon_moon.svg'); }


/*arrows*/
.mdc-select{
	position: relative;
	background-image: none;
}
.mdc-select:before,
.arrow:before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0.4rem 0.4rem 0 0.4rem;
	/*transition*/
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
}
.arrow{
	position: relative;
}
.active.display_select .arrow:before{
	/*rotation*/
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

.active.display_select .arrow.selected:before,
.mdc-select.mdc-select--open:before,
.selected.arrow:before,
.active.arrow:before,
.active .arrow:before{
	/*rotation*/
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.active.display_select .arrow.unselected:before,
.mdc-select.mdc-select--open.unselected:before,
.unselected.arrow:before,
.active.arrow.unselected:before,
.active .arrow.unselected:before{
	/*rotation*/
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}
/*select*/
.mdc-select:before{
	top: auto;
	bottom: 1rem;
	left: auto;
}




/*circles hover*/
.circle_hover{
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
}
.circle_hover:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	width: 2rem;
	height: 2rem;
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
	filter: alpha(opacity=10);
	-moz-opacity: 0.1;
	opacity: 0.1;
	/*transition*/
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.circle_hover.active:before,
.circle_hover:hover:before{
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}




/*eye pass*/
.show_pass.mdc-text-field--focused .multi_icon,
.show_pass.mdc-text-field--focused .multi_icon:before,
.show_pass.mdc-text-field--focused .multi_icon:after{ background-image: url('../images/icon_visibility.svg');
	width: 1.5rem;
	height: 1.5rem;
}
