/*default*/
.w3_360_st{ width: 3rem; }
.pad_b_08_360_st{ padding-bottom: 0.8rem }
.pad_b_08_360_st{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}