/*body white*/
.content_wrap_body{
	padding: 3rem
}

/*ellipsis*/
.ellipsis_480_st{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*padding*/
.pad_r_6_480_st{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.pad_r_6_480_st{
	padding-right: 6rem;
}

/*width*/
.w7_480_st{
	width: 7rem;
}
.w4_480_st{
	width: 4rem;
}
.h4_480_st{
	height: 4rem;
}
.text-right_480_st{
	text-align: right
}