.text-right_700_st{
	text-align: right;
}

.pad_l_8_700_st{
	padding-left: 8rem;
}

.text-center_700_st{
	text-align: center;
}


.wh7_700_st{ width: 7rem; height: 7rem; }
.wh8_700_st{ width: 8rem; height: 8rem; }
.column_container > div.to_700{
	display: none;
}
.w8_700_st{
	width: 8rem;
}
.mar_0_700_st{
	margin:0;
}