/*odd pad*/
@media screen and (max-width: 1024px) { 
	.pad_lr_50p_0_900_to_1024_st > div:nth-of-type(even){ padding-right: 0 !important; }
	.pad_lr_50p_0_900_to_1024_st > div:nth-of-type(odd){ padding-left: 0 !important; }
}


.list_container_checkboxes .toggle_chekbox .mdc-form-field{
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
.active.list_container_checkboxes .toggle_chekbox .mdc-form-field{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}


.pad_50p_fl_0_900_st > div:nth-of-type(2n+1){ padding-left: 0; }
.pad_50p_fl_0_900_st > div:nth-of-type(2n){ padding-right: 0; }



.circle_0_900_st{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/*border*/
.bck_night .border_1_900_st.border_gray,
.bck_night .border_1_900_st,

.border_1_900_st.border_gray,
.border_1_900_st{
	border-width: 1px;
}

.w16_900_st{
	width: 16rem;
}



/*padding*/
.pad_l_6_700_st{ padding-left: 6rem; }
.pad_l_6_700_st{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}