/*odd pad*/
.pad_33p_fl_0_hd_st > div:nth-of-type(4n+1){ padding-left: 0 !important; }
.pad_33p_fl_0_hd_st > div:nth-of-type(4n){ padding-right: 0 !important; }

/*pad*/
.pad_lr_15_hd_st{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.pad_lr_15_hd_st{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/*width*/	
.g_shd_25p{
	width: 25%;
}

.pad_first_t_15_1366_st > div:first-of-type{ padding-top: 1.5rem; }



/*grid*/
.g_shd_50p{
	width: 50%;
}
.g_shd_50p{
	width: 50%;
}
