/*login*/
/*bck*/
.login .login_bck{ background-image: url('../images/bcK_login_hd.jpg'); }
.login.bck_deuteranopia  .login_bck{ background-image: url('../images/bcK_login_dt_hd.jpg'); }
.login.bck_night  .login_bck{ background-image: url('../images/bcK_login_ng_hd.jpg'); }

/*ultra wide*/
@media screen and (min-width: 2001px) {

	/*login*/
	/*bck*/
	.login.bck_deuteranopia  .login_bck{ background-image: url('../images/bcK_login_dt_hd_uw.jpg'); }

	/*bck*/
	.login.bck_night  .login_bck{ background-image: url('../images/bcK_login_ng_hd_uw.jpg'); }

	/*bck*/
	.login .login_bck{ background-image: url('../images/bcK_login_hd_uw.jpg'); }

}