﻿@model Entities.AgeRange

@using (Ajax.BeginForm("SaveAgeRange", "Configuration", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "CreateContainer",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",

}, new { OnBegin = "OnBegin", validateFunc = "ValidateAgeRange", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.Hidden("AlertTitle", "Rangos de edades", new { @id = "AlertTitle" })
    @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

    @Html.HiddenFor(m => m.AgeRangeId)

    <div class="text-left">
        <div class="italic c_black fs_12">Nombre</div>
        <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
            @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "mdc-text-field__input fs_1", required = true, aria_controls = "Name-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
            @Html.LabelFor(m => m.Name, "Ingrese el nombre", new { @for = "Name", @class = "mdc-text-field__label" })
            <div class="mdc-line-ripple"></div>
        </div>
        <p id="Name-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
    </div>

    <div class="pad_b_25">
        <div class="italic c_black fs_12">Edad</div>

        <div class="pad_lr_4 relative pad_t_1_240_st">
            <div class="capitalize absolute left_0_240_st bottom_0_240_st bottom_auto_360_st top_1_360_st pad_t_1 c_purple01">Min</div>

            <div class="mdc-slider mdc-slider--discrete doc-slider only_360" id="MinimumAge-input-slider" tabindex="1" role="slider" aria-valuemin="6" aria-valuemax="99" aria-valuenow="6" aria-label="Select Value">
                <div class="mdc-slider__track-container"><div class="mdc-slider__track"></div></div>
                <div class="mdc-slider__thumb-container">
                    <div class="mdc-slider__pin"><span class="mdc-slider__pin-value-marker"></span></div>
                    <svg class="mdc-slider__thumb" width="21" height="21"><circle cx="10.5" cy="10.5" r="7.875"></circle></svg>
                    <div class="mdc-slider__focus-ring"></div>
                </div>
            </div>

            <div class="capitalize absolute_360_st right_0_360_st bottom_1_360_st c_purple01 w3_360_st w4_240_st pad_b_08_360_st">
                <div class="mdc-text-field w100p mar_tb_0" data-mdc-auto-init="MDCTextField">
                    @Html.TextBoxFor(m => m.MinimumAge, new { @id = "MinimumAge", @class = "mdc-text-field__input fs_1 numeric text-center input-slider", @for = "MinimumAge-input-slider", MaxLength = "2", @readonly = true })
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>
        </div>

        <div class="pad_lr_4 relative pad_t_1_240_st" id="rangesContainer">
            <div class="capitalize absolute left_0_240_st bottom_0_240_st bottom_auto_360_st top_1_360_st pad_t_1 c_purple01">Máx</div>

            <div class="mdc-slider mdc-slider--discrete doc-slider only_360" id="MaximumAge-input-slider" tabindex="1" role="slider" aria-valuemin="6" aria-valuemax="99" aria-valuenow="6" aria-label="Select Value">
                <div class="mdc-slider__track-container"><div class="mdc-slider__track"></div></div>
                <div class="mdc-slider__thumb-container">
                    <div class="mdc-slider__pin"><span class="mdc-slider__pin-value-marker"></span></div>
                    <svg class="mdc-slider__thumb" width="21" height="21"><circle cx="10.5" cy="10.5" r="7.875"></circle></svg>
                    <div class="mdc-slider__focus-ring"></div>
                </div>
            </div>

            <div class="capitalize absolute_360_st right_0_360_st bottom_1_360_st c_purple01 w3_360_st w4_240_st pad_b_08_360_st">
                <div class="mdc-text-field w100p mar_tb_0" data-mdc-auto-init="MDCTextField">
                    @Html.TextBoxFor(m => m.MaximumAge, new { @id = "MaximumAge", @class = "mdc-text-field__input fs_1 numeric text-center input-slider", @for = "MaximumAge-input-slider", MaxLength = "2", @readonly = true })
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>
        </div>

        <p id="MinMaxAge-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent w100p c_red hide">Verifique el orden en los rangos.</p>
    </div>

    <div class="text-left">
        <div class="italic c_black fs_12">Descripción</div>
        <div class="mdc-text-field mdc-text-field--textarea w100p msn_text" data-mdc-auto-init="MDCTextField">
            @Html.TextAreaFor(m => m.Description, new { @id = "Description", @class = "mdc-text-field__input fs_1", cols = "30", rows = "9", aria_controls = "Description-helper-text", MaxLength = "250", title = "Ingrese la descripción." })
            @Html.LabelFor(m => m.Description, "Ingrese la descripción", new { @for = "Description", @class = "mdc-text-field__label" })
            <div class="mdc-line-ripple"></div>
        </div>
        <p id="Description-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
    </div>

    <div class="inline_divs v_mid_all w100p">

        @if (Model.AgeRangeId != null)
        {
            if (Model.AgeRangeId != 0)
            {
                <a class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2 pointer" onclick="ToEditAgeRange(0)" id="BtnCancel">Cancelar</a>
                <div class="mdl-tooltip" for="BtnCancel"><strong>Cancelar edición</strong></div>
            }
        }

        <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
            <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
        </button>

        <div class="mdl-tooltip" for="BtnSave"><strong>Guardar rango de edad</strong></div>

    </div>
}
