﻿@model int?

<div id="ToAdd_Section" class="form_container row_lm g_s1024_50p g_s240_100p pad_r_1_1024_st pad_r_1_1366_st">
    @Html.Action("GetMemberCategory", "Configuration", new { BaseCatalogId = Model })
</div>

<div id="Aggregates_Section" class="row_lm g_s1024_50p g_s240_100p pad_l_1_1024_st pad_l_1_1366_st">
    @Html.Action("GetMemberCategories", "Configuration")
</div>



