﻿@model List<Entities.BaseCatalog>

<!-- table -->
<div class="overflow_auto">
    <table class="mdl-data-table mdl-js-data-table @((Model.Count > 0) ? "mdl-data-table--selectable" : "") w100p">
        <thead class="c_purple01_all bolder fs_1">
            <tr class="pad_1_divs">
                <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                <th class="mdl-data-table__cell--non-numeric">Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">@item.Name</td>
                        <td class="mdl-data-table__cell--non-numeric">@item.Description</td>
                        <td>
                            <i class="glyphicon glyphicon-pencil"></i>
                            <i class="glyphicon glyphicon-eye-close" id="close"></i>
                            <div class="mdl-tooltip" for="close"></div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric" colspan="4">No existen registros.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
