﻿@model int?
@{
    ViewBag.Title = "Nueva categoría";
}
<!-- navigation -->
<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("MemberCategories","Configuration")" id="DivToList">Lista de catálogos / Categorías de Miembro </a>
    <span>/ @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver categorías de miembros</strong></div>

<div class="content_wrap_body">
    <div class="italic fs_12 c_black">Agregue una nueva categoría</div>

    <div id="CreateContainer" class="column_container relative">
        @Html.Partial("Catalogs/MemberCategories/_CreateBodyPartial", Model)
    </div>
</div>

@Scripts.Render("~/Scripts/Views/Configuration/MemberCategories/Create.js")
