﻿@{
    ViewBag.Title = "Categorías de miembros";

    string appPath = Request.ApplicationPath != "/" ? Request.ApplicationPath : "";
    appPath = appPath != "" ? Request.Url.AbsolutePath.Replace(appPath, "") : Request.Url.AbsolutePath;

    List<string> actualPath = appPath.Split('/').ToList();
}

<!-- navigation -->
<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="#">Lista de catálogos</a>
    <span>/ @ViewBag.Title</span>
</div>

<div class="content_wrap_body">

    @Html.Action("GetMenuTab", "Application", new { Controller = actualPath[1], Action = actualPath[2] })

    <!-- icons -->
    <div class="inline_divs pad_b_1 column_container v_mid_all">

        <!-- disable + new -->
        <div class="text-left inline_divs column_2">
            <!-- disable -->
            <div class="circle_hover pointer relative pad_1" id="DelDiv"><div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div></div>
            <div class="mdl-tooltip" for="DelDiv"><strong>Activar / Desactivar Categorías de Miembros</strong></div>
            <!-- new -->
            <div class="circle_hover pointer relative pad_1" id="NewDiv"><a href="@Url.Action("NewMemberCategory","Configuration")" class="icon_add multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></a></div>
            <div class="mdl-tooltip" for="NewDiv"><strong>Agregar una nueva Categoría de Miembro</strong></div>
        </div>

        <!-- filter + download -->
        <div class="text-right inline_divs column_2">

            <!-- filter icon -->
            <div class="circle_hover pointer relative pad_1 menu-button" data-menuel="filter">
                <!-- icon -->
                <div class="icon_filter multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                <!-- menu -->
                <div class="mdc-menu mdc-menu--animating-open zoom_font mar_t_15_240_st" tabindex="-1" id="filter">
                    <div class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                        <li class="mdc-list-item" role="menuitem" tabindex="0"><a href="#" class="c_gray v_mid_all">1</a></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0"><a href="#" class="c_gray v_mid_all">2</a></li>
                    </div>
                </div>

            </div>

            <!-- download icon -->
            <div class="circle_hover pointer relative pad_1 menu-button" data-menuel="download">
                <!-- icon -->
                <div class="icon_download multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                <!-- menu -->
                <div class="mdc-menu mdc-menu--animating-open zoom_font mar_t_15_240_st" tabindex="-1" id="download">
                    <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                        <li class="mdc-list-item" role="menuitem" tabindex="0"><a href="#" class="c_gray v_mid_all">1</a></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0"><a href="#" class="c_gray v_mid_all">2</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <div id="GridCompetences">
        @Html.Action("GetGridMemberCategories", "Configuration")
    </div>

</div>