﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Position

<div class="row_lm">
    <div class="italic fs_12 c_black">Agregue un nuevo cargo para adultos</div>

    <div class="pad_t_4_240_st pad_t_2_700_st">
        @using (Ajax.BeginForm("SavePosition_Old", "Member", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "CreateContainer",
            OnSuccess = "OnSuccess_Position",
            OnFailure = "OnFailure",

        }, new { OnBegin = "OnBegin", validateFunc = "ValidatePosition_Old", @class = "relative", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.PositionId, new { @id = "PositionId_Old", @Name = "Old.PositionId", Value = (Model.PositionId == null ? 0 : Model.PositionId) })

            <div class="max_w_60 relative">
                <div class="column_container g_s1366_60p pad_b_12r_240_st pad_b_0_1366_st">

                    <div class="relative g_s240_100p pad_r_5_480_st">
                        <div class="text-left pad_r_3_480_st">
                            <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
                                @Html.TextBoxFor(m => m.Name, new { @id = "Name_Old", @Name = "Old.Name", @class = "mdc-text-field__input fs_1", required = true, aria_controls = "Name_Old-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                @Html.LabelFor(m => m.Name, "Ingrese el nombre", new { @for = "Name_Old", @class = "mdc-text-field__label" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="Name_Old-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                        </div>

                        <div class="absolute_tr_480_st w5_480_st">
                            <div class="text-left">
                                <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
                                    @Html.TextBoxFor(m => m.Quantity, new { @id = "Quantity_Old", @Name = "Old.Quantity", @class = "mdc-text-field__input fs_1 text-center numeric", required = true, aria_controls = "Quantity_Old-helper-text", MaxLength = "3", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                    @Html.LabelFor(m => m.Quantity, "Cantidad", new { @for = "Quantity_Old", @class = "mdc-text-field__label" })
                                    <div class="mdc-line-ripple"></div>
                                </div>
                                <p id="Quantity_Old-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p ellipsis" aria-hidden="true">Requerido.</p>
                            </div>
                        </div>
                    </div>

                    <div class="g_s240_100p g_s700_50p pad_r_15_700_st">
                        <div class="hide">
                            @Html.DropDownListFor(m => m.PositionTypeId, (SelectList)ViewBag.TypeList_Old, "Seleccione una opción", new { @id = "PositionTypeId_Old", @Name = "Old.PositionTypeId", placeholder = "Seleccione un tipo", TextInBlank = "No existen registros de tipos de cargos." })
                        </div>
                        <div id="PositionTypeId_OldSelectDiv"></div>
                    </div>

                    @Html.Hidden("PositionTypeOldId", CustomSession.CurrentSession.CatalogConstants.PositionTypeOldId, new { @id = "PositionTypeOldId" })
                    <div id="PositionTypeContainerOld" class="g_s240_100p g_s700_50p pad_l_15_700_st">
                        @Html.Action("GetPositionTypePartial", "Member", new { PositionTypeId = Model.PositionTypeId, Type = CustomSession.CurrentSession.CatalogConstants.PositionTypeOldId })
                    </div>

                    <div class="g_s240_100p">
                        <div class="text-left">
                            <div class="mdc-text-field mdc-text-field--textarea w100p msn_text" data-mdc-auto-init="MDCTextField">
                                @Html.TextAreaFor(m => m.Description, new { @id = "Description_Old", @Name = "Old.Description", @class = "mdc-text-field__input fs_1", cols = "30", rows = "7", required = true, aria_controls = "Description_Old-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "setCustomValidity('')", title = "Este campo es requerido." })
                                @Html.LabelFor(m => m.Description, "Ingrese la descripción", new { @for = "Description_Old", @class = "mdc-text-field__label" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="Description_Old-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="pad_t_3 text-right">
                <div class="inline_divs v_mid_all w100p">
                    <a href="@Url.Action("Positions", "Member")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2" data-ajax="false">cancelar</a>

                    <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSaveOld">
                        <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                    </button>
                    <div class="mdl-tooltip" for="BtnSaveOld"><strong>Guardar cargo</strong></div>
                </div>
            </div>
        }
    </div>
</div>
