﻿@using CR.CGC.GuiasScoutsWeb.Models
@model List<Entities.Position>
@{
    PaginationToolsViewModel pagination = (PaginationToolsViewModel)ViewBag.Pagination;
    pagination.ActualRows = Model.Count;

    TableToolsViewModel toolbar = new TableToolsViewModel()
    {
        DeleteFunction = "DeletePositions()",
        DeleteTooltip = "Activar / Desactivar cargos",
        UrlAdd = Url.Action("NewPosition", "Member"),
        AddTooltip = "Agregar nuevo cargo",

        SearchText = pagination.SearchText,
        UrlGet = Url.Action("GetGridPositions", "Member"),
        GridContainerId = "GridPositions"
    };
}

@Html.Partial("_TableToolsPartial", toolbar)

<!-- table -->
<div class="overflow_auto">
    <table class="mdl-data-table mdl-js-data-table @((Model.Count > 0) ? "mdl-data-table--selectable" : "") w100p overflow_h">
        <thead class="c_purple01_all bolder fs_1">
            <tr class="pad_1_divs">
                <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                <th class="mdl-data-table__cell--non-numeric">Tipo de cargo</th>
                <th class="mdl-data-table__cell--non-numeric">Cantidad</th>
                <th class="mdl-data-table__cell--non-numeric">Categoría</th>
                <th class="mdl-data-table__cell--non-numeric">Rango de edades</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
            <tr class="@(item.Enabled ? "" : "disable")" data="@item.PositionId">
                <td class="mdl-data-table__cell--non-numeric">@item.Name</td>
                <td class="mdl-data-table__cell--non-numeric">@item.PositionType.Name</td>
                <td class="mdl-data-table__cell--non-numeric">@(item.Quantity == null ? "" : item.Quantity.ToString())</td>
                <td class="mdl-data-table__cell--non-numeric">@item.PositionType.BaseCatalog.Name</td>
                <td class="mdl-data-table__cell--non-numeric">@(item.PositionType.AgeRange.MinimumAge.ToString() + " - " + item.PositionType.AgeRange.MaximumAge.ToString())</td>
                <td class="pad_lr_1">

                    <div class="relative">
                        <div class="actions h4 z1 absolute_tr_240_st text-right">
                            <div class="wh2 inline multi_icon bck_pos_gray absolute_tr_240_st icon_points mar_auto bottom_0_240_st"></div>

                            <div class="action_buttons text-right absolute h2p5 inline_divs v_mid_all w10 inline_divs">
                                <a class="circle_hover pointer relative pad_05" id="BtnEdit@(item.PositionId)" href="@(item.Enabled ? Url.Action("NewPosition", "Member", new { PositionId = item.PositionId }) : "#")">
                                    <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                </a>

                                <div class="circle_hover pointer relative pad_05 disable_container" id="BtnDel@(item.PositionId)" onclick="DeletePosition(@item.PositionId)">
                                    <div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mdl-tooltip" for="BtnEdit@(item.PositionId)"><strong>Editar registro</strong></div>
                    <div class="mdl-tooltip" for="BtnDel@(item.PositionId)"><strong>@(item.Enabled ? "Desactivar" : "Activar") registro</strong></div>
                </td>
            </tr>
                }
            }
            else
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric" colspan="5">No existen registros.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- pagination -->
@if (Model.Count > 0)
{
    @Html.Partial("_TablePaginationPartial", pagination)
}






