﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Position

@{
    ViewBag.Title = "Nuevo cargo";
    if (Model.PositionType == null)
    {
        Model.PositionType = new Entities.PositionType();
    }
}

@Html.Hidden("Url_PositionType", Url.Action("GetPositionTypePartial", "Member"))

<div class="bck_white sh_body relative z2">

    <div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
        <a href="@Url.Action("Positions", "Member")" id="DivToList"> Catálogos / Cargos </a>
        <span>/ @ViewBag.Title</span>
    </div>
    <div class="mdl-tooltip" for="DivToList"><strong>Ver cargos</strong></div>


    <div class="content_wrap_body">
        @Html.Hidden("AlertTitle", "Cargos", new { @id = "AlertTitle" })
        @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

        <div class="b_bottom_gray tab_icon_colors">
            <div class="no_highlighting icon_tab top_indicator">
                <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                    <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                        <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_back multi_icon icon_hover_fade inline"></span></a>
                    </div>

                    <div class="mdc-tab-bar-scroller__scroll-frame">
                        <nav id="tab-bar-Position" class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0" role="tablist">

                            <a class="mdc-tab w2p5 h2p5 @(Model.PositionTypeId == 0 || Model.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeYoungId ? "mdc-tab--active" : "")" role="tab" aria-controls="panel-young" href="#">
                                <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline">
                                    <span class="italic inline_divs v_mid_all">
                                        <span class="wh2 relative pointer icon_young multi_icon icon_hover_fade bck_pos_gray pos_hover_to_black inline"></span>
                                        <span class="pad_l_05">Juveniles</span>
                                    </span>
                                </span>
                            </a>

                            <a class="mdc-tab w2p5 h2p5 @(Model.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeOldId ? "mdc-tab--active" : "")" role="tab" aria-controls="panel-old" href="#">
                                <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline">
                                    <span class="italic inline_divs v_mid_all">
                                        <span class="wh2 relative pointer icon_face multi_icon icon_hover_fade bck_pos_gray pos_hover_to_black inline"></span>
                                        <span class="pad_05_1">Adultos</span>
                                    </span>
                                </span>
                            </a>

                            <span class="mdc-tab-bar__indicator"></span>
                        </nav>
                    </div>

                    <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                        <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_next multi_icon icon_hover_fade inline"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="pad_t_25 panels">
            <div id="panel-young" class="display_select menu-item-all panel @(Model.PositionTypeId == 0 || Model.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeYoungId ? "active" : "")" role="tabpanel" aria-hidden="false">
                @Html.Partial("~/Views/Member/Catalogs/Positions/_CreateYoungPartial.cshtml", (Model.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeYoungId ? Model : new Entities.Position()))
            </div>
            <div id="panel-old" class="display_select menu-item-all panel @(Model.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeOldId ? "active" : "")" role="tabpanel" aria-hidden="true">
                @Html.Partial("~/Views/Member/Catalogs/Positions/_CreateOldPartial.cshtml", (Model.PositionType.CategoryId == CustomSession.CurrentSession.CatalogConstants.PositionTypeOldId ? Model : new Entities.Position()))
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Scripts/Views/Member/Positions/Create.js")

@section scripts {
    <script>
        var dynamicTabBar = new mdc.tabs.MDCTabBar(document.querySelector('#tab-bar-Position'));
        var panels = document.querySelector('.panels');

        dynamicTabBar.tabs.forEach(function (tab) { tab.preventDefaultOnClick = true; });

        function updatePanel(index) {
            var activePanel = panels.querySelector('.panel.active');
            if (activePanel) {
                activePanel.classList.remove('active');
            }
            var newActivePanel = panels.querySelector('.panel:nth-child(' + (index + 1) + ')');
            if (newActivePanel) {
                newActivePanel.classList.add('active');
            }
        }

        dynamicTabBar.listen('MDCTabBar:change', function (item) {
            updatePanel(item.detail.activeTabIndex);
        });
    </script>
}
