﻿@model int?
@{
    ViewBag.Title = "Nueva competencia";
}
<!-- navigation -->
<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("Competencies","Configuration")" id="DivToComp">Lista de catálogos / Competencias </a>
    <span>/ Nueva competencia</span>
</div>
<div class="mdl-tooltip" for="DivToComp"><strong>Ver lista de competencias</strong></div>

<div class="content_wrap_body">
    <div>
        <a href="@Url.Action("Competencies", "Configuration")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
    </div>
    
    <div class="italic fs_12 c_black row_lm">Agregue una nueva competencia</div>

    <div class="relative">
        <div class="pad_b_3">
            <div id="CreateContainer" class="relative min_h_30_1024_st">
                @Html.Partial("Catalogs/Competencies/_CreateBody", Model)
            </div>
        </div>
    </div>

</div>

@Scripts.Render("~/Scripts/Views/Configuration/Competencies/Create.js")