﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Publication
@{
    ViewBag.Title = Model.Title;
}

@Html.Hidden("Url_Add", Url.Action("SaveMemberInterestTheme", "Configuration"), new { @id = "Url_Add" })
@Html.Hidden("Url_SaveAssessment", Url.Action("SavePublicationAssessment", "Publication"), new { @id = "Url_SaveAssessment" })
<a class="hide" href="@Url.Action("SubscriptionContent", "Publication", new { PublicationId = Model.PublicationId })" id="Url_toContent"></a>

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_bottom_all c_black_all lh_2">
    <a href="@Url.Action("Subscriptions", "Publication")" id="DivToList">Suscripciones</a>
    <a href="@Url.Action("SubscriptionTheme", "Publication", new { InterestThemeId = Model.InterestThemeId })" id="DivToTheme">/ @Model.InterestTheme.Name</a>
    <span>/ @Model.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver publicaciones</strong></div>
<div class="mdl-tooltip" for="DivToTheme"><strong>Ver publicaciones del tema</strong></div>

@Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
@Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })
@Html.Hidden("PublicationId", Model.PublicationId, new { @id = "PublicationId" })

<div class="content_wrap_body">
    <div class="action_toggle_container unselected" id="action_toggle_container">

        <div class="relative max_w_80 trans_05">
            <div class="pad_b_3 relative">
                <div class="text-left inline_divs column_container">
                    <div>
                        <a href="@Url.Action("Subscriptions", "Publication")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green" data-ajax="false"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
                    </div>

                    <div class="absolute top_1_240_st right_0_240_st margin_auto wh1p5 z2 h100p only_1366  unselected" onclick="javascript:unhide('action_toggle_panel');unhide('action_toggle_body');unhide('action_toggle_buttons');unhide('action_toggle_container');" id="action_toggle_buttons">
                        <div class="icon_expand_container trans_05 wh100p absolute_default">
                            <div class="icon_expand pointer multi_icon icon_hover_fade inline wh100p bck_pos_gray absolute_default" id="div_icon_expand"></div>
                        </div>
                        <div class="icon_compress_container trans_05 wh100p absolute_default">
                            <div class="icon_compress pointer multi_icon icon_hover_fade inline wh100p bck_pos_gray absolute_default" id="div_icon_compress"></div>
                        </div>
                    </div>
                    <div class="mdl-tooltip" for="div_icon_expand"><strong>Expandir</strong></div>
                    <div class="mdl-tooltip" for="div_icon_compress"><strong>Contraer</strong></div>
                </div>
            </div>
        </div>

        <div class="text-center relative overflow_h min_h_30 max_w_80 trans_05">

            <div class="only_1366 text-left w20 absolute_tr_240_st pad_l_3 z1 panelright unselected h100p" id="action_toggle_panel">
                <div class="italic fs_12 night_white mar_b_1 relative opa_50 c_gray">Sugerencias</div>

                <div class="border_last_0">

                    @foreach (var item in (List<Entities.InterestTheme>)ViewBag.listThemes)
                    {
                        <div class="pad_tb_1 b_bottom_gray relative block" data-ajax="false">
                            <div class="pad_05 bck_turkey_light_hover">
                                <div class="c_black fs_12 pad_l_35 block pad_r_3 relative">

                                    <div class="absolute left_0_240_st top_0_240_st w2p5 h2p5 ">
                                        <div class="profile circle relative w2p5 h2p5 overflow_h mar_auto block">
                                            <div class="center_absolute wh100p z1 bck_cover">
                                                <img class="wh100p absolute_tl_240_st" src="@(item.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.FileLocation}))" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bolder pad_b_05 fs_09 lh_1">@item.Name</div>
                                    <div class="ellipsis fs_09 v_top_all c_gray inline_divs lh_1"><div class="inline mar_r_05 wh1 icon_person_2 multi_icon bck_pos_gray"></div>@item.MemberInterestThemes.Count</div>

                                    <button id="@("BtnTheme" + item.InterestThemeId)" type="button" class="circle bck_guias uppercase bold pointer pad_lr_09 relative wh2 overflow_h absolute top_0_240_st right_05_240_st" onclick="addSubscription(@item.InterestThemeId);">
                                        <span class="wh1 icon_add multi_icon bck_pos_white block z1 center_absolute"></span>
                                    </button>
                                    <div class="mdl-tooltip mdl-tooltip--top" for="@("BtnTheme" + item.InterestThemeId)"><strong>Suscribirse al tema</strong></div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="text-right pad_t_1">
                    <a href="@Url.Action("NewSubscription", "Configuration")" class="pad_05 bck_turkey_light bck_turkey_light_hover uppercase bolder r5px cursor v_mid_all hover_to_green pointer inline text-left fs_07 c_black lh_08">ver todos</a>
                </div>

                <div class="absolute top_0_240_st right_20_240_st only_1366 h100p"><div class="split_icon h100p"></div></div>
            </div>

            <div class="pad_r_3_1366_st relative unselected body_plus_panelright" id="action_toggle_body">
                <div class=" pad_r_20r_1366_st  body_plus_panelright_content scroll-container">

                    <div class="text-left">
                        <div class="pad_r_15 pad_b_2 pad_t_1 b_bottom_gray relative block c_black">

                            <a href="@Url.Action("SubscriptionTheme", "Publication", new { InterestThemeId = Model.InterestThemeId })" class="c_black fs_12 pad_l_4_360_st pad_l_5_1024_st pad_tb_05 hover_to_green_all">
                                <span class="only_360">
                                    <span class="absolute left_0_240_st top_0_240_st bottom_1_240_st mar_auto w3 h3 w4_480_st h4_480_st w4p5_1024_st h4p5_1024_st">
                                        <span class="profile circle relative wh100p overflow_h mar_auto block">
                                            <span class="center_absolute wh100p z1 bck_cover">
                                                <img class="wh100p absolute_tl_240_st" src="@(Model.InterestTheme.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = Model.InterestTheme.FileLocation}))" />
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="pad_l_1_480_st bolder block">@Model.InterestTheme.Name</span>
                            </a>
                        </div>
                    </div>

                    <div class="pad_t_3 text-left overflow_auto">
                        <div class="bolder">@Model.Title</div>

                        <div class="row_lm">

                            <div class="note-editor clear_floats">

                                <div class="f_left mar_r_2 mar_b_2 max_w_20 clear_floats">
                                    <img src="@(Model.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = Model.FileLocation}))" class="w100p min_w_15">
                                    <div class="pad_t_1 italic">
                                        <a class="c_purple01 hover_to_green_all pad_r_05 cursor_default">@Model.Keywords</a>
                                    </div>
                                </div>

                                @Html.Raw(Model.Body)
                            </div>
                        </div>

                        <div class="italic fs_12 mar_t_2">Archivos adjuntos</div>

                        <div class="text-left relative">
                            <div class="text-left w100p pad_tb_1 inline_divs border_w_2px relative v_mid_all">
                                @if (Model.PublicationFiles.Count == 0)
                                {
                                    <label for="" class="midd_container absolute_default wh100p">
                                        <span class="c_gray pad_tb_05">No existen archivos adjuntos</span>
                                    </label>
                                }
                                else
                                {
                                    foreach (var item in Model.PublicationFiles)
                                    {
                                        <div id="RequestFile_@item.PublicationFileId" class="btn_ovalo bck_turkey_light relative image_drag inline w100p_240_st wauto_480_st mar_r_05 FileContainer pointer" onclick="downloadFile('@(item.FileLocation == null ? Url.Action("DownloadFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("DownloadFile", "Application", new { FileUrl = item.FileLocation }))');">
                                            <div class="ellipsis italic fs_09 max_w_10">@item.Name</div>
                                        </div>
                                        <div class="mdl-tooltip" for="RequestFile_@item.PublicationFileId"><strong>Descargar archivo</strong></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="pad_b_3 pad_t_4 split_bottom text-left">
                        <div class="bolder opa_50 c_gray uppercase fs_08">Valoración</div>

                        @{
                            Entities.PublicationAssessment assessment = Model.PublicationAssessments.Where(x => x.MemberId == CustomSession.CurrentSession.CurrentUser.Member.MemberId).FirstOrDefault();
                        }
                        <div class="relative inline_divs row_lm">
                            <div id="rate_user" data-rateyo_rate="@(assessment == null ? 0 : Decimal.Round(assessment.Assessment, 1) )"></div>
                            <div id="rate_user_visual" class="c_gray opa_50 pad_l_1">@(assessment == null ? 0 : Decimal.Round(assessment.Assessment, 1) )</div>
                        </div>
                    </div>

                    @if (((List<Entities.Publication>)ViewBag.listPublications).Count > 0)
                    {
                        <div class="pad_t_3 text-left">
                            <div class="italic fs_12 relative opa_50 c_gray night_white">Otras publicaciones</div>

                            <div class="row_lm more_post inline_divs text-left_1024_st">

                                @foreach (var item in ((List<Entities.Publication>)ViewBag.listPublications).Take(3))
                                {
                                    <div class="relative w100p text-left w16_900_st">
                                        <div class="pad_1_900_st">
                                            <a href="@Url.Action("SubscriptionContent", "Publication", new { PublicationId = item.PublicationId })" class="r5px overflow_h border_0_240_st border_1_900_st border_gray">
                                                <span class="block w3 h3 w4_480_st h4_480_st overflow_h circle bck_cover absolute left_0_240_st top_1_240_st circle_0_900_st w100p_900_st h10_900_st relative_900_st" style="background-image: url('@(item.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.FileLocation}))')"></span>
                                                <span class="c_black block pad_l_4 pad_tb_15 pad_l_5_480_st pad_tb_2_480_st pad_1_900_st">@item.Title</span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="pad_tb_1 to_900 w100p"><div class="split_bottom_dashed"></div></div>
                                }

                            </div>

                            <div class="row_lm pad_l_1_900_st">
                                <a href="@Url.Action("SubscriptionTheme", "Publication", new { InterestThemeId = Model.InterestThemeId })" class="pad_1 bck_turkey_light bck_turkey_light_hover italic r5px cursor fs_11 v_mid_all hover_to_green pointer inline">
                                    <span class="w1p7 h1p7 relative icon_list multi_icon inline bck_pos_green mar_r_05"></span>
                                    Todas las publicaciones
                                </a>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Content/assets/javascripts/rateyo_min.js")
    @Scripts.Render("~/Scripts/Views/Publication/Subscriptions/Content.js")
<script>
    function downloadFile(url) {
        imagesInputs.downloadFiles(url);
    }
</script>
}