﻿@model List<Entities.Publication>
@{
    ViewBag.Title = "Suscripciones";
    string searchText = ViewBag.SearchText;
}

@Html.Hidden("Url_Add", Url.Action("SaveMemberInterestTheme", "Configuration"), new { @id = "Url_Add" })
@Html.Hidden("Url_Get_Pagination", Url.Action("Subscriptions", "Publication"), new { @id = "Url_Get_Pagination" })
<a class="hide" href="@Url.Action("Subscriptions", "Publication")" id="Url_toDashboard"></a>

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>@ViewBag.Title</span>
</div>

@Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
@Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

<div class="content_wrap_body">
    <div class="action_toggle_container unselected" id="action_toggle_container">

        <div class="relative max_w_80 trans_05">
            <div class="pad_b_1 relative">
                <div class="text-left text-left inline_divs column_container">

                    <div class="inline_divs text-right @(searchText == null ? "hide" : "")" id="filterContainerDiv">
                        <div class="relative max_w_25 text-left h2p5 mar_lr_1" style="margin-top:5px;">
                            <a class=" pointer absolute left_0_240_st top_05_240_st z1 icon_view multi_icon icon_hover_fade inline wh1p5 bck_pos_gray" id="SearchDiv"></a>

                            <div class="mdc-text-field w100p mdc-text-field--upgraded mar_tb_0" data-mdc-auto-init="MDCTextField" style="height:2.5rem;">
                                <input class="mdc-text-field__input pad_lr_25" type="text" placeholder="Buscar" id="inputGridSearch" value="@(searchText != null ? searchText : "")">
                                <div class="mdc-line-ripple"></div>
                            </div>


                            <a class=" pointer absolute right_0_240_st top_05_240_st z1 icon_close_3 multi_icon inline wh1p5 bck_pos_gray" onclick="javascript:pageFunctions.unhideElem('filterButtonDiv');pageFunctions.unhideElem('filterContainerDiv');" id="SearchCloseDiv"></a>

                        </div>
                    </div>
                    <div class="mdl-tooltip" for="SearchDiv"><strong>Buscar</strong></div>

                    <div class="@(searchText != null ? "hide" : "")" id="filterButtonDiv">
                        <div class="circle_hover pointer relative pad_1" id="FiltDiv" onclick="javascript:pageFunctions.unhideElem('filterButtonDiv');pageFunctions.unhideElem('filterContainerDiv');"><a class="icon_filter multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></a></div>
                        <div class="mdl-tooltip" for="FiltDiv"><strong>Buscar</strong></div>
                    </div>



                    <div class="absolute top_1_240_st right_0_240_st margin_auto wh3 z2 h100p only_1366  unselected" onclick="javascript:unhide('action_toggle_panel');unhide('action_toggle_body');unhide('action_toggle_buttons');unhide('action_toggle_container');" id="action_toggle_buttons">
                        <div class="circle_hover pointer relative pad_1 icon_hover_all">
                            <div class="">

                                <div class="wh1p5 center_absolute icon_expand_container trans_05">
                                    <div class="icon_expand pointer multi_icon icon_hover_fade inline wh100p bck_pos_gray absolute_default" id="div_icon_expand"></div>
                                </div>
                                <div class="wh1p5 center_absolute icon_compress_container trans_05">
                                    <div class="icon_compress pointer multi_icon icon_hover_fade inline wh100p bck_pos_gray absolute_default" id="div_icon_compress"></div>
                                </div>



                              
                            </div>
                        </div>
                        
                    </div>
                    <div class="mdl-tooltip" for="div_icon_expand"><strong>Expandir</strong></div>
                    <div class="mdl-tooltip" for="div_icon_compress"><strong>Contraer</strong></div>
                </div>
            </div>
        </div>

        <div class="text-center relative overflow_h min_h_30 max_w_80 trans_05">

            <div class="only_1366 text-left w20 absolute_tr_240_st pad_l_3 z1 panelright unselected h100p" id="action_toggle_panel">
                <div class="italic fs_12 c_black c_gray mar_b_1 relative">Sugerencias</div>

                <div class="border_last_0">

                    @foreach (var item in (List<Entities.InterestTheme>)ViewBag.listThemes)
                    {
                        <div class="pad_tb_1 b_bottom_gray relative block" data-ajax="false">
                            <div class="pad_05 bck_turkey_light_hover">
                                <div class="c_black fs_12 pad_l_35 block pad_r_3 relative">

                                    <div class="absolute left_0_240_st top_0_240_st w2p5 h2p5 ">
                                        <div class="profile circle relative w2p5 h2p5 overflow_h mar_auto block">
                                            <div class="center_absolute wh100p z1 bck_cover">
                                                <img class="wh100p absolute_tl_240_st" src="@(item.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.FileLocation}))" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bolder pad_b_05 fs_09 lh_1">@item.Name</div>
                                    <div class="ellipsis fs_09 v_top_all c_gray inline_divs lh_1"><div class="inline mar_r_05 wh1 icon_person_2 multi_icon bck_pos_gray"></div>@item.MemberInterestThemes.Count</div>

                                    <button id="@("BtnTheme" + item.InterestThemeId)" type="button" class="circle bck_guias uppercase bold pointer pad_lr_09 relative wh2 overflow_h absolute top_0_240_st right_05_240_st" onclick="addSubscription(@item.InterestThemeId);">
                                        <span class="wh1 icon_add multi_icon bck_pos_white block z1 center_absolute"></span>
                                    </button>
                                    <div class="mdl-tooltip mdl-tooltip--top" for="@("BtnTheme" + item.InterestThemeId)"><strong>Suscribirse al tema</strong></div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="text-right pad_t_1">
                    <a href="@Url.Action("NewSubscription", "Configuration")" class="pad_05 bck_turkey_light bck_turkey_light_hover uppercase bolder r5px cursor v_mid_all hover_to_green pointer inline text-left fs_07 c_black lh_08">ver todos</a>
                </div>

                <div class="absolute top_0_240_st right_20_240_st only_1366 h100p"><div class="split_icon h100p"></div></div>
            </div>

            <div class="pad_r_15_1366_st relative unselected body_plus_panelright" id="action_toggle_body">
                <div class=" pad_r_20r_1366_st mar_l_-15_1366 body_plus_panelright_content scroll-container">

                    <div class="column_container container">

                        @foreach (var item in Model)
                        {
                            <div class="text-left max_w_30 pad_tb_15 g_s900_50p max_w_25_1024 max_w_30_1366 g_shd_50p pad_lr_15_900_st g_s1024_100p post">
                                <div class="r5px border_gray inline w100p">

                                    <a href="@Url.Action("SubscriptionTheme", "Publication", new { InterestThemeId = item.InterestThemeId })" class="pad_lr_15 pad_tb_2 b_bottom_gray relative block hover_to_green_all c_black">
                                        <span class="only_360">
                                            <span class="absolute left_1p5_240_st  top_0_240_st bottom_0_240_st mar_auto w3 h3 w4_480_st h4_480_st w4p5_1024_st h4p5_1024_st">
                                                <span class="profile circle relative wh100p overflow_h mar_auto block">
                                                    <span class="center_absolute wh100p z1 bck_cover">
                                                        <img class="wh100p absolute_tl_240_st" src="@(item.InterestTheme.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.InterestTheme.FileLocation }))">
                                                    </span>
                                                </span>
                                            </span>
                                        </span>

                                        <span class="c_black fs_12 pad_l_4_360_st pad_l_5_1024_st block pad_tb_05">
                                            <span class="pad_l_1_480_st bolder block">@item.InterestTheme.Name</span>
                                        </span>
                                    </a>

                                    <div class="pad_15 b_bottom_gray">
                                        <a href="@Url.Action("SubscriptionContent", "Publication", new { PublicationId = item.PublicationId })" class="bolder hover_to_green c_black night_white block break_word">@item.Title</a>
                                        <div class="c_gray row_lm break_word">@item.Description</div>

                                        <div class="row_lm">
                                            <img src="@(item.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.FileLocation }))" class="w100p mar_auto">
                                        </div>

                                        <div class="row_lm">
                                            <a href="#" class="c_purple01 hover_to_green_all pad_r_05">@item.Keywords</a>
                                        </div>
                                    </div>

                                    @{
                                        item.PublicationAssessments = item.PublicationAssessments.Where(x => x.Enabled).ToList();
                                    }
                                    <div class="relative pad_15">
                                        @*<div class="c_gray absolute right_1_240_st top_0_240_st bottom_0_240_st mar_auto opa_50 h1p5">@item.Assessment (@item.ViewsNumber)</div>*@
                                        <div class="c_gray absolute right_1_240_st top_0_240_st bottom_0_240_st mar_auto opa_50 h1p5">@(item.PublicationAssessments.Count == 0 ? (decimal)0.0 : Decimal.Round((item.PublicationAssessments.Sum(x => x.Assessment) / item.PublicationAssessments.Count), 1)) (@item.PublicationAssessments.Count)</div>
                                        <div class="rate_lm" data-rateyo_rate="@(item.PublicationAssessments.Count == 0 ? (decimal)0.0 : Decimal.Round((item.PublicationAssessments.Sum(x => x.Assessment) / item.PublicationAssessments.Count), 1))"></div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <!-- infinite scroll -->
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Content/assets/javascripts/rateyo_min.js")
    @Scripts.Render("~/Scripts/Views/Publication/Subscriptions/Dashboard.js")
}
