﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.InterestTheme
@{
    ViewBag.Title = "Suscripciones / " + Model.Name;
    string searchText = ViewBag.SearchText;
}

@Html.Hidden("Url_Add", Url.Action("SaveMemberInterestTheme", "Configuration"), new { @id = "Url_Add" })
@Html.Hidden("Url_Delete", Url.Action("DeleteMemberInterestTheme", "Configuration"), new { @id = "Url_Delete" })
@Html.Hidden("Url_Get_Pagination", Url.Action("SubscriptionTheme", "Publication", new { InterestThemeId = Model.InterestThemeId, SearchText = "-1" }), new { @id = "Url_Get_Pagination" })

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_bottom_all c_black_all lh_2">
    <a href="@Url.Action("Subscriptions", "Publication")" id="DivToList">Suscripciones</a>
    <span>/ @Model.Name</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver publicaciones</strong></div>
<a href="@Url.Action("SubscriptionTheme", "Publication", new { InterestThemeId = Model.InterestThemeId })" class="hide" id="Url_toTheme"></a>

<div class="content_wrap_body">
    @Html.Hidden("AlertTitle", "Suscripciones", new { @id = "AlertTitle" })
    @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

    <div class="action_toggle_container unselected" id="action_toggle_container">

        <div class="relative max_w_80 trans_05">
            <div class="relative pad_b_3 pad_b_15_1366_st">
                <div class="column_container v_mid_all">

                    <div class="text-left g_s240_100p g_s360_50p inline_divs">
                        <div>
                            <a href="@Url.Action("Subscriptions", "Publication")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green" data-ajax="false"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
                        </div>
                    </div>

                    <div class=" text-right g_s240_100p g_s360_50p inline_divs v_mid_all">
                        <div class="inline_divs text-right @(searchText == null ? "hide" : "")" id="filterContainerDiv">
                            <div class="relative max_w_25 text-left h2p5 mar_lr_1" style="margin-top:5px;">
                                <a class=" pointer absolute left_0_240_st top_05_240_st z1 icon_view multi_icon icon_hover_fade inline wh1p5 bck_pos_gray" id="SearchDiv"></a>

                                <div class="mdc-text-field w100p mdc-text-field--upgraded mar_tb_0" data-mdc-auto-init="MDCTextField" style="height:2.5rem;">
                                    <input class="mdc-text-field__input pad_lr_25" type="text" placeholder="Buscar" id="inputGridSearch" value="@(searchText != null ? searchText : "")">
                                    <div class="mdc-line-ripple"></div>
                                </div>


                                <a class=" pointer absolute right_0_240_st top_05_240_st z1 icon_close_3 multi_icon inline wh1p5 bck_pos_gray" onclick="javascript:pageFunctions.unhideElem('filterButtonDiv');pageFunctions.unhideElem('filterContainerDiv');" id="SearchCloseDiv"></a>

                            </div>
                        </div>
                        <div class="mdl-tooltip" for="SearchDiv"><strong>Buscar</strong></div>

                        <div class="@(searchText != null ? "hide" : "")" id="filterButtonDiv">
                            <div class="circle_hover pointer relative pad_1" id="FiltDiv" onclick="javascript:pageFunctions.unhideElem('filterButtonDiv');pageFunctions.unhideElem('filterContainerDiv');"><a class="icon_filter multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></a></div>
                            <div class="mdl-tooltip" for="FiltDiv"><strong>Buscar</strong></div>
                        </div>

                        <div class="circle_hover pointer relative pad_1 unselected only_1366 icon_hover_all " onclick="javascript:unhide('action_toggle_panel');unhide('action_toggle_body');unhide('action_toggle_buttons');unhide('action_toggle_container');" id="action_toggle_buttons">
                            <div class="pad_1">
                                <div class="icon_expand_container wh1p5 center_absolute trans_05">
                                    <div class="icon_expand multi_icon icon_hover_fade inline wh1p5 bck_pos_gray" id="div_icon_expand"></div>
                                </div>
                                <div class="icon_compress_container wh1p5 center_absolute trans_05">
                                    <div class="icon_compress multi_icon icon_hover_fade inline wh1p5 bck_pos_gray" id="div_icon_compress"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-tooltip" for="div_icon_expand"><strong>Expandir</strong></div>
                        <div class="mdl-tooltip" for="div_icon_compress"><strong>Contraer</strong></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center relative overflow_h min_h_45 max_w_80 trans_05">

            <div class="pad_t_15_1366_st text-left w20_1366_st absolute_tl_1366_st pad_r_3_1366_st pad_t_0_1366_st z1 panelleft unselected h100p" id="action_toggle_panel">

                <div class="relative ">

                    <div class="pad_r_15r_700_st pad_r_20r_900_st pad_r_0_1366_st">

                        <div class="relative_240_st">
                            <div class="relative mar_auto">
                                <div class="relative w100p h15_240_st h10_1366_st mar_auto hover_to_green hover_icon_all pointer ">
                                    <div class="profile relative w100p h100p  mar_auto">
                                        <div class="center_absolute wh100p z1 bck_cover" style="background-image: url('@(Model.BackgroundFileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = Model.BackgroundFileLocation}))')"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="absolute w8 h8 mar_auto hover_to_green hover_icon_all pointer top_67p_240_st top_50p_1366_st left_0_240_st right_0_240_st">
                                <div class="profile circle relative w8 h8 overflow_h mar_auto">
                                    <div class="center_absolute wh100p z1 bck_cover">
                                        <img class="wh100p absolute_tl_240_st" src="@(Model.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = Model.FileLocation}))" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pad_t_5">
                            <div class="mar_auto">
                                <div class="c_black fs_15 text-center">@Model.Name</div>
                                <div class="row_lm">@Model.Description</div>
                            </div>
                        </div>
                    </div>

                    <div class="pad_t_2  to_700 max_w_30 mar_auto"><div class="split_bottom_dashed h100p"></div></div>

                    <div class=" absolute_700_st h100p w15 w20_900_st pad_l_4_700_st top_0_700_st right_0_700_st pad_l_6_700_st pad_l_0_1366_st w100p_1366_st relative_1366_st">
                        <div class="absolute top_0_240_st left_2_240_st left_3_900_st only_1366 h100p only_700 to_1366"><div class="split_icon h100p"></div></div>

                        <div class="pad_t_2">
                            <div class="c_gray opa_50">

                                <div class="v_bottom_all fs_11">
                                    <span class="icon_person_2 multi_icon bck_pos_gray inline wh1p3 mar_r_05"></span> Miembros <span>@Model.MemberInterestThemes.Where(x => x.Enabled).ToList().Count</span>
                                </div>

                                <div class="pad_t_1">
                                    <div class="v_bottom_all fs_11">
                                        <span class="icon_list multi_icon bck_pos_gray inline wh1p3 mar_r_05"></span>  Publicaciones <span>@Model.Publications.Where(x => x.Enabled).ToList().Count</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="split_bottom mar_tb_2"></div>

                        <div class="pad_t_2">
                            @if (Model.MemberInterestThemes.Where(x => x.Enabled).Select(x => x.MemberId).ToList().Contains((int)CustomSession.CurrentSession.CurrentUser.Member.MemberId))
                            {
                                <button type="button" class="no_padding uppercase bold pointer block c_gray fs_07 icon_hover_all hover_to_green relative" onclick="removeSubscription(@Model.InterestThemeId)">
                                    <span class="absolute left_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1p5 bck_pos_gray icon_close_1 multi_icon icon_hover_fade"></span>
                                    <span class="pad_l_2 block text-left">Cancelar suscripción</span>
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" onclick="addSubscription(@Model.InterestThemeId)" id="BtnAddSub">
                                    <span class="wh1 icon_add multi_icon bck_pos_white block z1 relative"></span>
                                </button>
                                <div class="mdl-tooltip" for="BtnAddSub"><strong>Agregar suscripción</strong></div>
                            }
                        </div>

                    </div>

                </div>

                <div class="split_bottom mar_tb_2 to_1366"></div>
                <div class="absolute top_0_240_st left_20_240_st only_1366 h100p"><div class="split_icon h100p"></div></div>
            </div>

            <div class="pad_t_1 pad_t_0_1366_st pad_l_15_1366_st relative unselected body_plus_panelleft" id="action_toggle_body">
                <div class=" pad_l_20r_1366_st  body_plus_panelleft_content scroll-container">
                    <div class="column_container container">

                        @if (((List<Entities.Publication>)ViewBag.listPublications).Count > 0)
                        {
                            foreach (var item in (List<Entities.Publication>)ViewBag.listPublications)
                            {
                                item.PublicationAssessments = item.PublicationAssessments.Where(x => x.Enabled).ToList();

                                <div class="text-left max_w_30 pad_tb_15 g_s900_50p max_w_25_1024 max_w_30_1366 g_shd_50p pad_lr_15_900_st g_s1024_100p post">
                                    <div class="r5px border_gray inline">

                                        <div class="pad_15 b_bottom_gray">
                                            <a href="@Url.Action("SubscriptionContent", "Publication", new { PublicationId = item.PublicationId })" class="bolder hover_to_green c_black night_white">@item.Title</a>
                                            <div class="c_gray row_lm">@item.Description</div>

                                            <div class="row_lm">
                                                <img src="@(item.FileLocation == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.FileLocation}))" class="w100p mar_auto">
                                            </div>

                                            <div class="row_lm">
                                                <a class="c_purple01 hover_to_green_all pad_r_05 cursor_default">@item.Keywords</a>
                                            </div>
                                        </div>

                                        <div class="relative pad_15">
                                            <div class="c_gray absolute right_1_240_st top_0_240_st bottom_0_240_st mar_auto opa_50 h1p5">@(item.PublicationAssessments.Count == 0 ? (decimal)0.0 : Decimal.Round((item.PublicationAssessments.Sum(x => x.Assessment) / item.PublicationAssessments.Count), 1)) (@item.PublicationAssessments.Count)</div>
                                            <div class="rate_lm" data-rateyo_rate="@(item.PublicationAssessments.Count == 0 ? (decimal)0.0 : Decimal.Round((item.PublicationAssessments.Sum(x => x.Assessment) / item.PublicationAssessments.Count), 1))"></div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <div class="italic fs_12 c_black row_lm">No existen publicaciones.</div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Content/assets/javascripts/rateyo_min.js")
    @Scripts.Render("~/Scripts/Views/Publication/Subscriptions/Theme.js")
}