/*origen de los tiempos*/
/* default */
*,*:before,*:after{ -webkit-font-smoothing: antialiased; }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, html, body { margin: 0; padding: 0; }
button{
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}

button:focus,
a:focus, a:active{border: 0; outline: 0;}

button::-moz-focus-inner{ border: 0; outline: 0; }
input::-moz-focus-inner{ border: 0; outline: 0; }
input[type="reset"]::-moz-focus-inner{ border: 0; outline: 0; }
input[type="button"]::-moz-focus-inner{ border: 0; outline: 0; }
input[type="submit"]::-moz-focus-inner{ border: 0; outline: 0; }
select::-moz-focus-inner{ border: 0; outline: 0; }
input[type="file"] > input[type="button"]::-moz-focus-inner {border: 0; outline: 0;}

fieldset, img, iframe, input, textarea, button { border: 0 }
ol, ul, li { list-style: none }

.note-editor ol li { list-style-type: decimal; padding-left: 8px; list-style-position: inside;}
.note-editor ol { list-style-type: decimal; padding-left: 40px;  list-style-position: inside;}
.note-editor ul{ list-style-type: disc; padding-left: 40px;  list-style-position: inside;}
.note-editor ul li { list-style-type: disc; padding-left: 8px; list-style-position: inside;}

html { margin: 0 auto;}
a, img:active, input,textarea,button { outline: 0 }
a { text-decoration: none; }
button{ background:initial; }
div img, div iframe, object, param, embed, div { vertical-align: top }
a, label { display: inline-block; vertical-align: middle; }
input,textarea { vertical-align: middle;}
/*body*/
body{ /*overflow: scroll;*/ overflow-x: hidden; }

/*placeholder*/
/*italic*/
::-webkit-input-placeholder { /* WebKit browsers */
    font-style:italic;
    /*text-transform: capitalize;*/
    text-transform: none
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style:italic;
    /*text-transform: capitalize;*/
    text-transform: none
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style:italic;
    /*text-transform: capitalize;*/
    text-transform: none
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-style:italic;
    /*text-transform: capitalize;*/
    text-transform: none
}
