﻿@model List<Entities.Faq>
@{
    string TabId = ViewBag.TabId ?? "";
}

<div class="overflow_auto list_block">

    @{
        int cont = 1;
        foreach (var item in Model)
        {
            <div class="pad_tb_15 relative overflow_h">

                <div class="relative">
                    <div class="pointer pad_r_3 pad_l_2" onclick="javascript:unhide('@TabId-item_@cont');unhide('@TabId-name_@cont');">
                        @item.Question
                        <div class="w1 h05 absolute left_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center">
                            <div class="arrow gray_arrow w1 h05 unselected" id="@TabId-name_@cont"></div>
                        </div>
                    </div>
                </div>

                <div class="toggle_height unselected" id="@TabId-item_@cont">
                    <div class="pad_tb_15"><div class="split_bottom"></div></div>

                    <div>@item.Answer</div>
                </div>

                <div class="absolute_bl_240_st w100p"><div class="split_bottom"></div></div>
            </div>

            cont++;
        }
    }

</div>
