﻿@model CR.CGC.GuiasScoutsWeb.Models.FaqDetailViewModel
@{
    ViewBag.Title = "Preguntas Frecuentes";
}

@Html.Hidden("Url_GetFaqs", Url.Action("GetGridFaqs", "FAQ"))

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>@ViewBag.Title</span>
</div>

<div class="content_wrap_body">
    <div class="italic fs_12 c_black row_lm only_1024 pad_b_4_1024_st">Seleccione el módulo a consultar</div>

    <div class="relative min_h_40_1024_st max_w_75">

        <div class="b_bottom_gray tab_icon_colors vertical_tab_1024 absolute_tl_1024_st w10_1024_st z1">
            <div class="no_highlighting icon_tab top_indicator">
                <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                    <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                        <a class="mdc-tab-bar-scroller__indicator__inner pointer"><span class="wh1 relative icon_back multi_icon bck_pos_gray icon_hover_fade inline"></span></a>
                    </div>

                    <div class="mdc-tab-bar-scroller__scroll-frame">
                        <nav class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0">

                            @{ int cont = 1; }
                            @foreach (var item in Model.Modules)
                            {
                                <a class="mdc-tab @(cont == 1 ? "mdc-tab--active" : "") faqTabBar" data-rel="faq_tab_@cont" data-moduleId="@item.BaseCatalogId">
                                    <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline pad_tb_13_1024_st">
                                        @foreach (var menu in Model.MenuModules)
                                        {
                                            if (menu.NameMenu == item.Name)
                                            {
                                                <span class="@menu.IconMenu multi_icon icon_hover_fade bck_pos_gray inline wh2 mar_r_05"></span>
                                            }
                                        }
                                        <span class="italic">@item.Name</span>
                                    </span>
                                </a>

                                cont++;
                            }

                            <span class="mdc-tab-bar__indicator"></span>
                        </nav>
                    </div>

                    <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                        <a class="mdc-tab-bar-scroller__indicator__inner pointer"><span class="wh1 relative icon_next multi_icon bck_pos_gray icon_hover_fade inline"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="pad_l_10_1024_st relative">
            <div class="pad_t_25 pad_t_0_1024_st pad_l_3_1024_st">

                @{
                    cont = 1;

                    foreach (var item in Model.Modules)
                    {
                        <div id="faq_tab_@cont" class="display_select pad_l_3_1024_st @(cont == 1 ? "active" : "") faq_tab_@cont">
                            @if (cont == 1)
                            {
                                @Html.Action("GetGridFaqs", "FAQ", new { ModuleId = item.BaseCatalogId, TabId = "faq_tab_" + cont.ToString() })
                            }
                        </div>

                        cont++;
                    }
                }

            </div>
        </div>

        <div class="absolute top_0_240_st left_10_240_st only_1024 h100p mar_l_3"><div class="split_icon h100p"></div></div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/FAQS/Index.js")
}

