﻿@using CR.CGC.GuiasScoutsWeb.Models
@model List<Entities.Group>
@{
    PaginationToolsViewModel pagination = (PaginationToolsViewModel)ViewBag.Pagination;
    pagination.ActualRows = Model.Count;

    TableToolsViewModel toolbar = new TableToolsViewModel()
    {
        DeleteFunction = "DeleteGroups()",
        DeleteTooltip = "Activar / Desactivar grupos",
        UrlAdd = Url.Action("NewGroup", "Member"),
        AddTooltip = "Agregar nuevo grupo",

        SearchText = pagination.SearchText,
        UrlGet = Url.Action("GetGridGroups", "Member"),
        GridContainerId = "GridGroups"
    };
}

@Html.Partial("_TableToolsPartial", toolbar)

<!-- table -->
<div class="overflow_auto">
    <table class="mdl-data-table mdl-js-data-table @((Model.Count > 0) ? "mdl-data-table--selectable" : "") w100p overflow_h">
        <thead class="c_purple01_all bolder fs_1">
            <tr class="pad_1_divs">
                <th class="mdl-data-table__cell--non-numeric">Grupo</th>
                <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                <th class="mdl-data-table__cell--non-numeric">Sector</th>
                <th class="mdl-data-table__cell--non-numeric">Fundación</th>
                <th class="mdl-data-table__cell--non-numeric">Jefe de grupo</th>
                <th class="mdl-data-table__cell--non-numeric">Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
            <tr class="@(item.Enabled ? "" : "disable")" data="@item.GroupId">
                <td class="mdl-data-table__cell--non-numeric">@item.Number</td>
                <td class="mdl-data-table__cell--non-numeric">@item.Name</td>
                <td class="mdl-data-table__cell--non-numeric">@item.Sector.Name</td>
                <td class="mdl-data-table__cell--non-numeric">@item.FoundationDate.ToString("dd-MM-yyyy")</td>
                <td class="mdl-data-table__cell--non-numeric">@(item.Member != null ? item.Member.Names + " " + item.Member.Surnames : "")</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <div class="pad_l_2 relative h1">
                        <span class="circle w4px h4px absolute_240_st top_05_240_st left_05_240_st" style="background-color: @item.SystemStatus.Color; -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); box-shadow:0px 0px 10px 1px @item.SystemStatus.Color"></span>
                        @item.SystemStatus.Name
                    </div>
                </td>
                <td class="pad_lr_1">

                    <div class="relative">
                        <div class="actions h4 z1 absolute_tr_240_st text-right">
                            <div class="wh2 inline multi_icon bck_pos_gray absolute_tr_240_st icon_points mar_auto bottom_0_240_st"></div>

                            <div class="action_buttons text-right absolute h2p5 inline_divs v_mid_all w10 inline_divs">
                                <a class="circle_hover pointer relative pad_05" id="BtnEdit@(item.GroupId)" href="@(item.Enabled ? Url.Action("NewGroup", "Member", new { GroupId = item.GroupId }) : "#")">
                                    <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                </a>

                                <div class="circle_hover pointer relative pad_05 disable_container" id="BtnDel@(item.GroupId)" onclick="DeleteGroup(@item.GroupId)">
                                    <div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mdl-tooltip" for="BtnEdit@(item.GroupId)"><strong>Editar registro</strong></div>
                    <div class="mdl-tooltip" for="BtnDel@(item.GroupId)"><strong>@(item.Enabled ? "Desactivar" : "Activar") registro</strong></div>
                </td>
            </tr>
                }
            }
            else
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric" colspan="7">No existen registros.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- pagination -->
@if (Model.Count > 0)
{
    @Html.Partial("_TablePaginationPartial", pagination)
}