﻿@using CR.CGC.GuiasScoutsWeb.Common
@model CR.CGC.GuiasScoutsWeb.Models.SocialNetworkViewModel

<div class="text-left SocialNetworkContainer">
    <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
        <input name="GroupSocialNetworks[@Model.Index].GroupSocialNetworkId" id="GroupSocialNetworks_GroupSocialNetworkId_@Model.Index" data="id" type="hidden" value="0">
        <input name="GroupSocialNetworks[@Model.Index].Type" id="GroupSocialNetworks_Type_@Model.Index" data="type" type="hidden" value="@Model.TypeId">

        @if (Model.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.FacebookId)
        {
            <label for="GroupSocialNetworks_Nickname_@Model.Index" class="multi_icon icon_social_fb bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_fb"></label>
        }
        else if (Model.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.TwitterId)
        {
            <label for="GroupSocialNetworks_Nickname_@Model.Index" class="multi_icon icon_social_tw bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_tw"></label>
        }
        else if (Model.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.InstagramId)
        {
            <label for="GroupSocialNetworks_Nickname_@Model.Index" class="multi_icon icon_social_inst bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_inst"></label>
        }
        else if (Model.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.GoogleId)
        {
            <label for="GroupSocialNetworks_Nickname_@Model.Index" class="multi_icon icon_social_gp bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_gp"></label>
        }
        else if (Model.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.YoutubeId)
        {
            <label for="GroupSocialNetworks_Nickname_@Model.Index" class="multi_icon icon_social_yt bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_yt"></label>
        }
        else if (Model.TypeId == CustomSession.CurrentSession.SocialNetworkConstants.LinkedInId)
        {
            <label for="GroupSocialNetworks_Nickname_@Model.Index" class="multi_icon icon_social_in bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_in"></label>
        }
        <input name="GroupSocialNetworks[@Model.Index].Nickname" id="GroupSocialNetworks_Nickname_@Model.Index" aria-controls="GroupSocialNetworks_Nickname_@Model.Index-helper-text" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_Social" required maxlength="100" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido.">
        <label for="GroupSocialNetworks_Nickname_@Model.Index" class="mdc-text-field__label pad_r_25">Usuario / Grupo</label>
        <div class="mdc-line-ripple"></div>
    </div>
    <p id="GroupSocialNetworks_Nickname_@Model.Index-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
</div>
