﻿@model int

<div class="w3 mar_l_05 column_container ColorContainer">
    <div class="inline visualInputColor" id="visualInputColor-InputColor_@Model">
        <input name="GroupColors[@Model].GroupColorId" id="GroupColors_GroupColorId_@Model" type="hidden" value="0">
        
        <div class="relative w2 h1 simple_picker">
            <input name="GroupColors[@Model].Color" id="GroupColors_Color_@Model" type="text" class="input-color-picker absolute_default wh100p opa_0 pointer" required readonly maxlength="7" title="Este campo es requerido." for="visualInputColor-InputColor_@Model">
        </div>
    </div>
    <span class="wh1 inline relative pointer icon_close_1 multi_icon icon_hover_fade bck_pos_gray icon_input_Color"></span>
</div>
