﻿@model int

<div class="text-left EmailContainer">
    <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
        <input name="GroupEmails[@Model].GroupEmailId" id="GroupEmail_GroupEmailId_@Model" type="hidden" value="0">

        <label for="GroupEmail_Email_@Model" class="multi_icon icon_mail bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Email"></label>
        <input name="GroupEmails[@Model].Email" id="GroupEmail_Email_@Model" aria-controls="GroupEmail_Email_@Model-helper-text" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_Email" required maxlength="100" @("pattern=[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$") oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido.">
        <label for="mail" class="mdc-text-field__label pad_r_25">Correo del grupo</label>
        <div class="mdc-line-ripple"></div>
    </div>
    <p id="GroupEmail_Email_@Model-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de correo electrónico.</p>
</div>
