﻿@model SelectList

<div class="hide">
    @Html.DropDownList("DistrictId", Model, "Seleccione una opción", new { @id = "DistrictId", placeholder = "Distrito" })
</div>
<div id="DistrictIdSelectDiv"></div>