﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Group

@{
    ViewBag.Title = "Nuevo grupo";
}

@Html.Hidden("Url_GroupMail", Url.Action("GetGroupMailPartial", "Member"))
@Html.Hidden("Url_GroupColor", Url.Action("GetGroupColorPartial", "Member"))
@Html.Hidden("Url_GroupSocialNetwork", Url.Action("GetGroupSocialNetworkPartial", "Member"))

@Html.Hidden("Url_SelectCanton", Url.Action("GetSelectCantonPartial", "Member"))
@Html.Hidden("Url_SelectDistrict", Url.Action("GetSelectDistrictPartial", "Member"))

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("Groups", "Member")" id="DivToList"> Catálogos / Grupos </a>
    <span>/ @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver grupos</strong></div>

<div class="content_wrap_body">
    <div>
        <a href="@Url.Action("Groups", "Member")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
    </div>

    <div class="italic fs_12 c_black row_lm">Agregue un grupo nuevo</div>

    <div class="pad_t_4_240_st">
        @using (Ajax.BeginForm("SaveGroup", "Member", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,

        }, new { OnBegin = "OnBegin", OnSuccess = "OnSuccess_Group", validateFunc = "ValidateGroup", enctype = "multipart/form-data", @class = "relative", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.Hidden("AlertTitle", "Grupos", new { @id = "AlertTitle" })
            @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

            @Html.HiddenFor(m => m.GroupId, new { @id = "GroupId" })
            @Html.HiddenFor(m => m.HeadkerchiefImage, new { @id = "HeadkerchiefImage" })

            <div class="min_h_40 relative">
                <div class="absolute_tl_1366_st w20_1366_st">

                    <div class="pad_b_3 split_bottom_dashed">
                        @Html.TextBoxFor(m => m.SendFile, new { @type = "file", @class = "hide imageInput", @id = "SendFile", accept = ".jpg,.png", @for = "SendFile-InputView" })
                        <div id="SendFile-helper-text" class="relative w9 h9 mar_auto hover_to_green hover_icon_all pointer" onclick="document.getElementById('SendFile').click()">
                            <div class="profile circle relative w9 h9 overflow_h mar_auto border_gray">
                                <img id="SendFile-InputView" class="center_absolute wh100p z1 bck_cover" src="@(Model.HeadkerchiefImage == null ? Url.Action("ViewFile", "Member", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Member", new { FileUrl = Model.HeadkerchiefImage}))" />
                            </div>
                            <div class="circle pad_03 bck_white absolute_br_240_st z1">
                                <div class="icon_cam pointer multi_icon inline wh1p3 icon_hover_fade bck_pos_gray bck_hover_gray mdc-text-field--disabled"></div>
                            </div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent w6 text-center lh_1 pad_t_1 c_red w100p" aria-hidden="true">Este campo es requerido.</p>
                    </div>

                    <div class="pad_t_3">
                        <div class="italic c_black fs_12">Información general</div>

                        <div class="column_container pad_t_2 w25_700_st w100p_1366_st">

                            <div class="g_s240_100p g_s480_60p pad_r_15_480_st">
                                <div class="hide">
                                    @Html.DropDownListFor(m => m.SystemStatusId, (SelectList)ViewBag.StatusList, "Seleccione una opción", new { @id = "SystemStatusId", placeholder = "Estado" })
                                </div>
                                <div id="SystemStatusIdSelectDiv"></div>
                            </div>

                            <div class="g_s240_100p g_s480_40p pad_l_15_480_st">
                                <div class="text-left">
                                    <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                        @Html.TextBoxFor(m => m.Number, new { @id = "Number", @class = "mdc-text-field__input fs_1 text-center numeric", required = true, aria_controls = "Name-helper-text", MaxLength = "4", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                        @Html.LabelFor(m => m.Number, "N° Grupo", new { @for = "Number", @class = "mdc-text-field__label" })
                                        <div class="mdc-line-ripple"></div>
                                    </div>
                                    <p id="Name-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Requerido.</p>
                                </div>
                            </div>
                        </div>

                        <div class="text-left">
                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "mdc-text-field__input fs_1", required = true, aria_controls = "Name-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                @Html.LabelFor(m => m.Name, "Nombre del grupo", new { @for = "Name", @class = "mdc-text-field__label" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="Name-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                        </div>

                        <div class="text-left">
                            <div class="mdc-text-field mdc-text-field--upgraded w100p mar_0" data-mdc-auto-init="MDCTextField">
                                <label for="FoundationDate" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                                @Html.TextBoxFor(m => m.FoundationDate, "{0:dd-MM-yyyy}", new { @id = "FoundationDate", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", required = true, aria_controls = "FoundationDate-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                @Html.LabelFor(m => m.FoundationDate, "Fecha de fundación", new { @for = "FoundationDate", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="FoundationDate-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                        </div>
                    </div>
                </div>

                <div class="pad_t_3 pad_b_1 to_1366"><div class="split_bottom_dashed h100p"></div></div>
                <div class="absolute top_0_240_st left_20_1366_st only_1366 h100p mar_l_3"><div class="split_icon h100p"></div></div>

                <div class="pad_l_25r_1366_st max_w_70 ">
                    <div class="list_block pad_l_1_1366_st">

                        <div class="relative">
                            <div class="pad_tb_15 b_bottom_gray b_transparent_change relative overflow_h unselected mdc-menu-anchor containerForValidation" id="container_item_1">
                                <div class="relative">
                                    <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation" onclick="javascript:unhide('item_1');unhide('name_1');unhide('container_item_1');unhide('icon_item_1');">
                                        <div class="pad_l_3 ellipsis relative h2 lh_2">
                                            <span class="multi_icon icon_contact bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_1"></span>
                                            Contacto
                                        </div>

                                        <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center"><div class="arrow gray_arrow w1 h05 unselected" id="name_1"></div></div>
                                    </div>
                                </div>

                                <div class="toggle_height unselected containerBodyForValidation" id="item_1">
                                    <div class="pad_t_15"><div class="split_bottom"></div></div>

                                    <div class="column_container">
                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                            <div id="GroupMailContainer">
                                                @if (Model.GroupEmails == null || Model.GroupEmails.Count == 0)
                                                {
                                                    <div class="text-left EmailContainer">
                                                        <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                            <input name="GroupEmails[0].GroupEmailId" id="GroupEmail_GroupEmailId_0" type="hidden" value="0">

                                                            <label for="GroupEmail_Email_0" class="multi_icon icon_mail bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st"></label>
                                                            <input name="GroupEmails[0].Email" id="GroupEmail_Email_0" aria-controls="GroupEmail_Email_0-helper-text" type="text" class="mdc-text-field__input fs_1 pad_r_25" required maxlength="100" @("pattern=[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$") oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido.">
                                                            <label for="mail" class="mdc-text-field__label pad_r_25">Correo del grupo</label>
                                                            <div class="mdc-line-ripple"></div>
                                                        </div>
                                                        <p id="GroupEmail_Email_0-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de correo electrónico.</p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    int i = 0;
                                                    foreach (var item in Model.GroupEmails)
                                                    {
                                                        if (i == 0)
                                                        {
                                                            <div class="text-left EmailContainer">
                                                                <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                                    <input name="GroupEmails[@i].GroupEmailId" id="GroupEmail_GroupEmailId_@i" type="hidden" value="@item.GroupEmailId">

                                                                    <label for="GroupEmail_Email_@i" class="multi_icon icon_mail bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st"></label>
                                                                    <input name="GroupEmails[@i].Email" id="GroupEmail_Email_@i" aria-controls="GroupEmail_Email_@i-helper-text" type="text" class="mdc-text-field__input fs_1 pad_r_25" required maxlength="100" @("pattern=[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$") oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido." value="@item.Email">
                                                                    <label for="mail" class="mdc-text-field__label pad_r_25">Correo del grupo</label>
                                                                    <div class="mdc-line-ripple"></div>
                                                                </div>
                                                                <p id="GroupEmail_Email_@i-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de correo electrónico.</p>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="text-left EmailContainer">
                                                                <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                                    <input name="GroupEmails[@i].GroupEmailId" id="GroupEmail_GroupEmailId_@i" type="hidden" value="@item.GroupEmailId">

                                                                    <label for="GroupEmail_Email_@i" class="multi_icon icon_mail bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Email"></label>
                                                                    <input name="GroupEmails[@i].Email" id="GroupEmail_Email_@i" aria-controls="GroupEmail_Email_@i-helper-text" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_Email" required maxlength="100" @("pattern=[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$") oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido." value="@item.Email">
                                                                    <label for="mail" class="mdc-text-field__label pad_r_25">Correo del grupo</label>
                                                                    <div class="mdc-line-ripple"></div>
                                                                </div>
                                                                <p id="GroupEmail_Email_@i-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de correo electrónico.</p>
                                                            </div>
                                                        }

                                                        i++;
                                                    }
                                                }
                                            </div>

                                            <a id="btnAddEmail" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                                                <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                                Agregar otro correo
                                            </a>
                                        </div>

                                        <div class="g_s240_100p g_s480_50p pad_l_15_480_st">
                                            <div id="GroupSocialNetworkContainer">
                                                @if (Model.GroupId == null || Model.GroupId == 0)
                                                {
                                                    <div class="text-left SocialNetworkContainer">
                                                        <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                            <input name="GroupSocialNetworks[0].GroupSocialNetworkId" id="GroupSocialNetworks_GroupSocialNetworkId_0" data="id" type="hidden" value="0">
                                                            <input name="GroupSocialNetworks[0].Type" id="GroupSocialNetworks_Type_0" data="type" type="hidden" value="@CustomSession.CurrentSession.SocialNetworkConstants.FacebookId">

                                                            <label for="GroupSocialNetworks_Nickname_0" class="multi_icon icon_social_fb bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_fb"></label>
                                                            <input name="GroupSocialNetworks[0].Nickname" id="GroupSocialNetworks_Nickname_0" aria-controls="GroupSocialNetworks_Nickname_0-helper-text" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_Social" required maxlength="100" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido.">
                                                            <label for="GroupSocialNetworks_Nickname_0" class="mdc-text-field__label pad_r_25">Usuario / Grupo</label>
                                                            <div class="mdc-line-ripple"></div>
                                                        </div>
                                                        <p id="GroupSocialNetworks_Nickname_0-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    int i = 0;
                                                    foreach (var item in Model.GroupSocialNetworks)
                                                    {
                                                        <div class="text-left SocialNetworkContainer">
                                                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                                <input name="GroupSocialNetworks[@i].GroupSocialNetworkId" id="GroupSocialNetworks_GroupSocialNetworkId_@i" data="id" type="hidden" value="@item.GroupSocialNetworkId">
                                                                <input name="GroupSocialNetworks[@i].Type" id="GroupSocialNetworks_Type_@i" data="type" type="hidden" value="@item.Type">

                                                                @if (item.Type == CustomSession.CurrentSession.SocialNetworkConstants.FacebookId)
                                                                {
                                                                    <label for="GroupSocialNetworks_Nickname_@i" class="multi_icon icon_social_fb bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_fb"></label>
                                                                }
                                                                else if (item.Type == CustomSession.CurrentSession.SocialNetworkConstants.TwitterId)
                                                                {
                                                                    <label for="GroupSocialNetworks_Nickname_@i" class="multi_icon icon_social_tw bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_tw"></label>
                                                                }
                                                                else if (item.Type == CustomSession.CurrentSession.SocialNetworkConstants.InstagramId)
                                                                {
                                                                    <label for="GroupSocialNetworks_Nickname_@i" class="multi_icon icon_social_inst bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_inst"></label>
                                                                }
                                                                else if (item.Type == CustomSession.CurrentSession.SocialNetworkConstants.GoogleId)
                                                                {
                                                                    <label for="GroupSocialNetworks_Nickname_@i" class="multi_icon icon_social_gp bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_gp"></label>
                                                                }
                                                                else if (item.Type == CustomSession.CurrentSession.SocialNetworkConstants.YoutubeId)
                                                                {
                                                                    <label for="GroupSocialNetworks_Nickname_@i" class="multi_icon icon_social_yt bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_yt"></label>
                                                                }
                                                                else if (item.Type == CustomSession.CurrentSession.SocialNetworkConstants.LinkedInId)
                                                                {
                                                                    <label for="GroupSocialNetworks_Nickname_@i" class="multi_icon icon_social_in bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st icon_input_Social" data-icon="icon_social_in"></label>
                                                                }
                                                                <input name="GroupSocialNetworks[@i].Nickname" id="GroupSocialNetworks_Nickname_@i" aria-controls="GroupSocialNetworks_Nickname_@i-helper-text" type="text" class="mdc-text-field__input fs_1 pad_r_25 icon_input_Social" required maxlength="100" oninvalid="this.setCustomValidity('Este campo es requerido.')" oninput="this.setCustomValidity('')" title="Este campo es requerido." value="@item.Nickname">
                                                                <label for="GroupSocialNetworks_Nickname_@i" class="mdc-text-field__label pad_r_25">Usuario / Grupo</label>
                                                                <div class="mdc-line-ripple"></div>
                                                            </div>
                                                            <p id="GroupSocialNetworks_Nickname_@i-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                                        </div>

                                                        i++;
                                                    }
                                                }
                                            </div>

                                            <div id="btnAddSocialNetwork" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer menu-button" data-menuel="social_menu_new">
                                                <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                                Agregar red social
                                            </div>
                                        </div>

                                        <div class="g_s240_100p pad_t_2">
                                            <div class="hide">
                                                @if (Model.GroupEmails == null || Model.GroupEmails.Count == 0)
                                                {
                                                    @Html.DropDownListFor(m => m.ChiefMember, (SelectList)ViewBag.MemberList, "Seleccione una opción", new { @id = "ChiefMember", placeholder = "Jefe de grupo", selectDisabled = true })
                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(m => m.ChiefMember, (SelectList)ViewBag.MemberList, "Seleccione una opción", new { @id = "ChiefMember", placeholder = "Jefe de grupo", TextInBlank = "No existen miembros asociados al grupo." })
                                                }
                                            </div>
                                            <div id="ChiefMemberSelectDiv"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="mdc-menu mdc-menu--animating-open zoom_font mar_t_15_240_st right_0_240_st top_5_240_st" tabindex="-1" id="social_menu_new" style="min-width:11rem;">
                                <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                                    <li class="mdc-list-item text-left no_padding hide" role="menuitem" tabindex="0">
                                        <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector" data="@CustomSession.CurrentSession.SocialNetworkConstants.FacebookId"><span class="inline wh1p5 bck_pos_gray icon_social_fb multi_icon mar_r_1 icon_hover_fade"></span>Facebook</a>
                                    </li>
                                    <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                        <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector" data="@CustomSession.CurrentSession.SocialNetworkConstants.TwitterId"><span class="inline wh1p5 bck_pos_gray icon_social_tw multi_icon mar_r_1 icon_hover_fade"></span>Twitter</a>
                                    </li>
                                    <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                        <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector" data="@CustomSession.CurrentSession.SocialNetworkConstants.InstagramId"><span class="inline wh1p5 bck_pos_gray icon_social_inst multi_icon mar_r_1 icon_hover_fade"></span>Instagram</a>
                                    </li>
                                    <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                        <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector" data="@CustomSession.CurrentSession.SocialNetworkConstants.GoogleId"><span class="inline wh1p5 bck_pos_gray icon_social_gp multi_icon mar_r_1 icon_hover_fade"></span>Google plus</a>
                                    </li>
                                    <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                        <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector" data="@CustomSession.CurrentSession.SocialNetworkConstants.YoutubeId"><span class="inline wh1p5 bck_pos_gray icon_social_yt multi_icon mar_r_1 icon_hover_fade"></span>Youtube</a>
                                    </li>
                                    <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                                        <a class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1 social_network_selector" data="@CustomSession.CurrentSession.SocialNetworkConstants.LinkedInId"><span class="inline wh1p5 bck_pos_gray icon_social_in multi_icon mar_r_1 icon_hover_fade"></span>Linkedin</a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected containerForValidation" id="container_item_2">
                            <div class="relative">
                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation" onclick="javascript:unhide('item_2');unhide('name_2');unhide('container_item_2');unhide('icon_item_2');">
                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                        <span class="multi_icon icon_panoleta bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_2"></span>
                                        Pañoleta
                                    </div>

                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center"><div class="arrow gray_arrow w1 h05 unselected" id="name_2"></div></div>
                                </div>
                            </div>

                            <div class="toggle_height unselected containerBodyForValidation" id="item_2">
                                <div class="pad_t_15"><div class="split_bottom"></div></div>

                                <div>
                                    <div class="text-left">
                                        <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                            @Html.TextBoxFor(m => m.HeadkerchiefMeaning, new { @id = "HeadkerchiefMeaning", @class = "mdc-text-field__input fs_1", required = true, aria_controls = "HeadkerchiefMeaning-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                            @Html.LabelFor(m => m.HeadkerchiefMeaning, "Significado de la pañoleta", new { @for = "HeadkerchiefMeaning", @class = "mdc-text-field__label" })
                                            <div class="mdc-line-ripple"></div>
                                        </div>
                                        <p id="HeadkerchiefMeaning-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                    </div>

                                    <div class="column_container">
                                        <div class="g_s240_100p g_s1366_50p pad_r_15_1366_st">
                                            <div class="text-left">
                                                <div class="mdc-text-field mdc-text-field--textarea w100p msn_text" data-mdc-auto-init="MDCTextField">
                                                    @Html.TextAreaFor(m => m.HeadkerchiefDescription, new { @id = "HeadkerchiefDescription", @class = "mdc-text-field__input fs_1", cols = "30", rows = "7", required = true, aria_controls = "HeadkerchiefDescription-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                    @Html.LabelFor(m => m.HeadkerchiefDescription, "Breve descripción de la pañoleta", new { @for = "HeadkerchiefDescription", @class = "mdc-text-field__label" })
                                                    <div class="mdc-line-ripple"></div>
                                                </div>
                                                <p id="HeadkerchiefDescription-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                            </div>
                                        </div>

                                        <div class="g_s240_100p g_s1366_50p pad_l_15_1366_st pad_t_3_1366_st">
                                            <div class="pad_b_05 column_container" id="GroupColorContainer">
                                                @if (Model.GroupColors == null || Model.GroupColors.Count == 0)
                                                {
                                                    <div class="ColorContainer">
                                                        <div class="w2 h1" id="visualInputColor-InputColor_0">
                                                            <input name="GroupColors[0].GroupColorId" id="GroupColors_GroupColorId_0" type="hidden" value="0">

                                                            <div class="relative w2 h1 simple_picker">
                                                                <input name="GroupColors[0].Color" id="GroupColors_Color_0" type="text" class="input-color-picker absolute_default wh100p opa_0 pointer icon_input_Color" required readonly maxlength="7" title="Este campo es requerido." for="visualInputColor-InputColor_0">
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    int i = 0;
                                                    foreach (var item in Model.GroupColors)
                                                    {
                                                        if (i == 0)
                                                        {
                                                            <div class="ColorContainer">
                                                                <div class="w2 h1" id="visualInputColor-InputColor_@i">
                                                                    <input name="GroupColors[@i].GroupColorId" id="GroupColors_GroupColorId_@i" type="hidden" value="@item.GroupColorId">

                                                                    <div class="relative w2 h1 simple_picker">
                                                                        <input name="GroupColors[@i].Color" id="GroupColors_Color_@i" type="text" class="input-color-picker absolute_default wh100p opa_0 pointer icon_input_Color" required readonly maxlength="7" title="Este campo es requerido." for="visualInputColor-InputColor_@i" value="@item.Color">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="w3 mar_l_05 column_container ColorContainer">
                                                                <div class="inline visualInputColor" id="visualInputColor-InputColor_@i">
                                                                    <input name="GroupColors[@i].GroupColorId" id="GroupColors_GroupColorId_@i" type="hidden" value="@item.GroupColorId">

                                                                    <div class="relative w2 h1 simple_picker">
                                                                        <input name="GroupColors[@i].Color" id="GroupColors_Color_@i" type="text" class="input-color-picker absolute_default wh100p opa_0 pointer" required readonly maxlength="7" title="Este campo es requerido." for="visualInputColor-InputColor_@i" value="@item.Color">
                                                                    </div>
                                                                </div>
                                                                <span class="wh1 inline relative pointer icon_close_1 multi_icon icon_hover_fade bck_pos_gray icon_input_Color"></span>
                                                            </div>
                                                        }

                                                        i++;
                                                    }
                                                }
                                            </div>
                                            <a id="btnAddColor" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                                                <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                                Agregar otro color
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pad_tb_15 b_bottom_gray b_transparent_change unselected containerForValidation" id="container_item_3">
                            <div class="relative">
                                <div class="pointer pad_r_2 italic c_black fs_12 hover_icon_all containerTitleForValidation" onclick="javascript:unhide('item_3');unhide('name_3');unhide('container_item_3');unhide('icon_item_3');">
                                    <div class="pad_l_3 ellipsis relative h2 lh_2">
                                        <span class="multi_icon icon_address bck_pos_gray icon_hover_fade wh2  absolute left_0_240_st top_0_240_st bottom_0_240_st unselected" id="icon_item_3"></span>
                                        Ubicación
                                    </div>

                                    <div class="w1 h05 absolute right_0_240_st bottom_0_240_st top_0_240_st mar_auto text-center"><div class="arrow gray_arrow w1 h05 unselected" id="name_3"></div></div>
                                </div>
                            </div>

                            <div class="toggle_height unselected containerBodyForValidation" id="item_3">
                                <div class="pad_t_15"><div class="split_bottom"></div></div>
                                @if (Model.GroupId != null && Model.GroupId != 0)
                                {
                                    @Html.Hidden("ProvinceId_hf", Model.District.Canton.ProvinceId, new { @id = "ProvinceId_hf" })
                                    @Html.Hidden("CantonId_hf", Model.District.CantonId, new { @id = "CantonId_hf" })
                                    @Html.Hidden("DistrictId_hf", Model.DistrictId, new { @id = "DistrictId_hf" })
                                }

                                <div class="">
                                    <div class="column_container">
                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                            <div class="hide">
                                                @Html.DropDownList("ProvinceId", (SelectList)ViewBag.ProvinceList, "Seleccione una opción", new { @id = "ProvinceId", placeholder = "Provincia" })
                                            </div>
                                            <div id="ProvinceIdSelectDiv"></div>
                                        </div>

                                        <div class="g_s240_100p g_s480_50p pad_l_15_480_st" id="CantonContainer">
                                            <div class="hide">
                                                @Html.DropDownList("CantonId", (SelectList)ViewBag.CantonList, "Seleccione una opción", new { @id = "CantonId", placeholder = "Cantón", TextInBlank = "Debe seleccionar una provincia." })
                                            </div>
                                            <div id="CantonIdSelectDiv"></div>
                                        </div>
                                    </div>

                                    <div class="column_container">
                                        <div class="g_s240_100p g_s480_50p pad_r_15_480_st" id="DistrictContainer">
                                            <div class="hide">
                                                @Html.DropDownList("DistrictId", (SelectList)ViewBag.DistrictList, "Seleccione una opción", new { @id = "DistrictId", placeholder = "Distrito", TextInBlank = "Debe seleccionar un cantón." })
                                            </div>
                                            <div id="DistrictIdSelectDiv"></div>
                                        </div>

                                        <div class="g_s240_100p g_s480_50p pad_l_15_480_st">
                                            <div class="hide">
                                                @Html.DropDownListFor(m => m.LocalId, (SelectList)ViewBag.LocalList, "Seleccione una opción", new { @id = "LocalId", placeholder = "Local" })
                                            </div>
                                            <div id="LocalIdSelectDiv"></div>
                                        </div>
                                    </div>

                                    <div class="g_s240_100p">
                                        <div class="text-left">
                                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                @Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "mdc-text-field__input fs_1", required = true, aria_controls = "Address-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                @Html.LabelFor(m => m.Address, "Lugar de reunión", new { @for = "Address", @class = "mdc-text-field__label" })
                                                <div class="mdc-line-ripple"></div>
                                            </div>
                                            <p id="Address-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                        </div>
                                    </div>

                                    <div class="g_s240_100p">
                                        <div class="text-right">
                                            <div class="mdc-form-field fs_12 c_black">
                                                <div class="mdc-checkbox">
                                                    @Html.CheckBoxFor(m => m.HasABuilding, new { @id = "HasABuilding", @class = "mdc-checkbox__native-control" })
                                                    <div class="mdc-checkbox__background">
                                                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path></svg>
                                                        <div class="mdc-checkbox__mixedmark"></div>
                                                    </div>
                                                </div>

                                                <label for="HasABuilding" class="c_gray pointer italic fs_1 hover_to_green ellipsis hover_icon_all pointer">¿Tiene un edificio?</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="column_container">

                                        <div class="g_s240_100p g_s480_33p pad_r_2_480_st">
                                            <div class="hide">
                                                @Html.DropDownListFor(m => m.SectorId, (SelectList)ViewBag.SectorList, "Seleccione una opción", new { @id = "SectorId", placeholder = "Sector" })
                                            </div>
                                            <div id="SectorIdSelectDiv"></div>
                                        </div>

                                        <div class="g_s240_100p g_s480_33p pad_lr_1_480_st">
                                            <div class="text-left">
                                                <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                    @Html.TextBoxFor(m => m.Latitude, new { @id = "Latitude", @class = "mdc-text-field__input fs_1 text-right decimal", required = true, aria_controls = "Latitude-helper-text", MaxLength = "15", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                    @Html.LabelFor(m => m.Latitude, "Latitud", new { @for = "Latitude", @class = "mdc-text-field__label" })
                                                    <div class="mdc-line-ripple"></div>
                                                </div>
                                                <p id="Latitude-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                            </div>
                                        </div>

                                        <div class="g_s240_100p g_s480_33p pad_l_15_480_st">
                                            <div class="text-left">
                                                <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                    @Html.TextBoxFor(m => m.Longitude, new { @id = "Longitude", @class = "mdc-text-field__input fs_1 text-right decimal", required = true, aria_controls = "Longitude-helper-text", MaxLength = "15", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                    @Html.LabelFor(m => m.Longitude, "Longitud", new { @for = "Longitude", @class = "mdc-text-field__label" })
                                                    <div class="mdc-line-ripple"></div>
                                                </div>
                                                <p id="Longitude-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pad_t_3 text-right">
                <div class="inline_divs v_mid_all w100p">
                    <a href="@Url.Action("Groups", "Member")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2" data-ajax="false">Cancelar</a>

                    <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
                        <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                    </button>
                    <div class="mdl-tooltip" for="BtnSave"><strong>Guardar grupo</strong></div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/Member/Groups/Create.js")
}
