﻿@using CR.CGC.GuiasScoutsWeb.Common
@model string

<div class="level_third_menu tab_icon_colors">
    <div class="no_highlighting icon_tab top_indicator">
        <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_body">

            <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_back multi_icon icon_hover_fade inline"></span></a>
            </div>

            <div class="mdc-tab-bar-scroller__scroll-frame">
                <nav class="mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs w100p ">

                    <a class="mdc-tab w2p5 h2p5 @(Model == "Roles" ? "mdc-tab--active" : "")" href="@Url.Action("Roles", "Configuration")">
                        <span class="fs_11 bolder capitalize inline_divs v_mid_all pad_b_3 inline">
                            <span class="icon_rol multi_icon icon_hover_fade inline wh1p5"></span>
                            <span>Roles</span>
                        </span>
                    </a>

                    <a class="mdc-tab w2p5 h2p5 @(Model == "Users" ? "mdc-tab--active" : "")" href="@Url.Action("Users", "Configuration")">
                        <span class="fs_11 bolder capitalize inline_divs v_mid_all pad_b_3 inline">
                            <span class="icon_person_2 multi_icon icon_hover_fade inline wh1p5"></span>
                            <span>Usuarios</span>
                        </span>
                    </a>

                    @if (CustomSession.CurrentSession.CurrentUser.Member.User.UserName == Constants.saName)
                    {
                        <a class="mdc-tab w2p5 h2p5 @(Model == "Members" ? "mdc-tab--active" : "")" href="@Url.Action("NewMember", "Member")">
                            <span class="fs_11 bolder capitalize inline_divs v_mid_all pad_b_3 inline">
                                <span class="icon_person multi_icon icon_hover_fade inline wh1p5"></span>
                                <span>Miembros</span>
                            </span>
                        </a>
                    }

                    <span class="mdc-tab-bar__indicator"></span>
                </nav>
            </div>

            <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_next multi_icon icon_hover_fade inline"></span></a>
            </div>
        </div>
    </div>
</div>
