﻿@model CR.CGC.GuiasScoutsWeb.Models.RoleCompetenceViewModel

<div class="italic fs_12 c_black row_lm">Seleccione la competencia a asignar para el rol</div>
<div class="pad_t_2">
    <div class="mdc-form-field fs_12 c_black">
        <div class="mdc-checkbox">
            <input type="checkbox" id="all_checked" class="mdc-checkbox__native-control" />
            <div class="mdc-checkbox__background">
                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                <div class="mdc-checkbox__mixedmark"></div>
            </div>
        </div>

        <label for="all_checked" class="pointer">Todas las competencias</label>
    </div>

    <div class="pad_t_2 column_container pad_lr_50p_0_900_to_1024_st pad_33p_fl_0_1366_to_hd_st pad_33p_fl_0_hd_st">
        @{ int chk = 0; }
        @foreach (var item in Model.Competencies)
        {
            Entities.RoleCompetence competence = Model.Role.RoleCompetencies.Where(x => x.CompetenceId == item.CompetenceId).FirstOrDefault();

            <div class="g_s240_100p g_s900_50p g_s1366_33p g_shd_25p pad_lr_15_900_st">
                @Html.Hidden("RoleCompetencies[" + chk + "].RoleCompetitionId", 0)
                @Html.Hidden("RoleCompetencies[" + chk + "].CompetenceId", item.CompetenceId)
                <div class="fs_12 hover_bck_purple c_gray_to_black_all relative list_container_select @(competence != null ? "active" : "")">
                    <div class="mdc-form-field fs_12 w100p">

                        <div class="mdc-checkbox">
                            <input type="checkbox" id="@("check_Competence" + chk)" class="mdc-checkbox__native-control" name="@("RoleCompetencies[" + chk + "].Enabled")" value="true" @(competence != null ? "checked" : "") />
                            <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                            </div>
                        </div>

                        <label for="@("check_Competence" + chk)" class="ellipsis_480_st pad_r_6_480_st pointer">@item.Name</label>
                    </div>

                    <div class="absolute_480_st right_1_480_st bottom_0_480_st top_0_480_st mar_auto pad_l_3p5_240_st pad_b_1_240_st pad_l_0_480_st pad_b_0_480_st">
                        <div class="hide">
                            @if (competence != null)
                            {
                                @Html.DropDownList("RoleCompetencies[" + chk + "].LevelId", new SelectList(Model.Levels, "LevelId", "Level", competence.LevelId), "Seleccione una Opción", new { @id = "Competence" + chk, @name = "Competence" + chk, placeholder = "Nivel", iconAlert = true })
                            }
                            else
                            {
                                @Html.DropDownList("RoleCompetencies[" + chk + "].LevelId", new SelectList(Model.Levels, "LevelId", "Level"), "Seleccione una Opción", new { @id = "Competence" + chk, @name = "Competence" + chk, placeholder = "Nivel", iconAlert = true })
                            }
                        </div>
                        <div id="@("Competence" + chk)SelectDiv"></div>
                    </div>
                </div>
            </div>

            chk++;
        }

    </div>
</div>

