﻿@model Entities.Role

<div class="row_lm">
    <div class="relative column_container">

        <div class="form_container pad_r_2_1024_st g_s240_100p g_s1366_60p max_w_40_1366_st">

            <div class="text-left">
                <div class="italic c_black fs_12">Nombre</div>
                <div class="mdc-text-field w100p " data-mdc-auto-init="MDCTextField">
                    @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "mdc-text-field__input fs_1", required = true, aria_controls = "Name-helper-text", MaxLength = "256", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                    @Html.LabelFor(m => m.Name, "Ingrese el Nombre del rol", new { @for = "Name", @class = "mdc-text-field__label" })
                    <div class="mdc-line-ripple"></div>
                </div>
                <p id="Name-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
            </div>

            <div class="text-left">
                <div class="italic c_black fs_12">Descripción</div>
                <div class="mdc-text-field mdc-text-field--textarea w100p msn_text" data-mdc-auto-init="MDCTextField">
                    @Html.TextAreaFor(m => m.Description, new { @id = "Description", @class = "mdc-text-field__input fs_1", cols = "30", rows = "10", required = true, aria_controls = "Description-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                    @Html.LabelFor(m => m.Description, "Breve descripción del rol", new { @for = "Description", @class = "mdc-text-field__label" })
                    <div class="mdc-line-ripple"></div>
                </div>
                <p id="Description_Young-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
            </div>
        </div>

        <div class="pad_t_0_1366_st pad_t_2_240_st g_s240_100p g_s1366_40p text-right_240_st text-left_1366_st">
            <div class="pad_1 bck_turkey_light bck_turkey_light_hover italic r5px cursor fs_11 v_mid_all hover_to_green pointer inline c_black" onclick="document.getElementById('competenceTabLink').click()">
                <span class="w1p7 h1p7 relative icon_add_btn multi_icon inline bck_pos_green mar_r_05"></span>
                Asignar competencias
            </div>
        </div>
    </div>
</div>

