﻿@model Entities.Role

@{
    ViewBag.Title = "Nuevo Rol";
    if (Model.RoleCompetencies == null)
    {
        Model.RoleCompetencies = new List<Entities.RoleCompetence>();
    }
}

@Html.Partial("~/Views/Configuration/Security/Roles/_AdminPartial.cshtml", "Roles")

<div class="bck_white sh_body relative z2">

    <div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
        <a href="@Url.Action("Roles", "Configuration")" id="DivToList"> Roles &amp; Competencias </a>
        <span>/ @ViewBag.Title</span>
    </div>
    <div class="mdl-tooltip" for="DivToList"><strong>Ver Roles</strong></div>


    <div class="content_wrap_body">
        @Html.Hidden("AlertTitle", "Roles", new { @id = "AlertTitle" })
        @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

        @using (Ajax.BeginForm("SaveRole", "Configuration", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "CreateContainer",
            OnSuccess = "OnSuccess_Role",
            OnFailure = "OnFailure",

        }, new { OnBegin = "OnBegin", validateFunc = "ValidateRole", @class = "relative", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.RoleId, new { @id = "RoleId" })

            <div class="b_bottom_gray tab_icon_colors">
                <div class="no_highlighting icon_tab top_indicator">
                    <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                        <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                            <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_back multi_icon icon_hover_fade inline"></span></a>
                        </div>

                        <div class="mdc-tab-bar-scroller__scroll-frame">
                            <nav id="tab-bar-Position" class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0" role="tablist">

                                <a class="mdc-tab w2p5 h2p5 mdc-text-field--invalid mdc-tab--active" role="tab" aria-controls="panel-role" href="#">
                                    <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline">
                                        <span class="italic inline_divs v_top_all">
                                            <span class="italic relative">Roles<span class="wh1 absolute left_100p_240_st top_0_240_st v_top icon_info_1 multi_icon icon_hover_fade bck_pos_gray inline tab_icon_alert hide"></span></span>
                                        </span>
                                    </span>
                                </a>

                                <a class="mdc-tab w2p5 h2p5 mdc-text-field--invalid" role="tab" aria-controls="panel-competence" href="#" id="competenceTabLink">
                                    <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline">
                                        <span class="italic inline_divs v_mid_all">
                                            <span class="italic relative">Competencias<span class="wh1 absolute left_100p_240_st top_0_240_st v_top icon_info_1 multi_icon icon_hover_fade bck_pos_gray inline tab_icon_alert hide"></span></span>
                                        </span>
                                    </span>
                                </a>

                                <span class="mdc-tab-bar__indicator"></span>
                            </nav>
                        </div>

                        <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                            <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_next multi_icon icon_hover_fade inline"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pad_t_25 panels">
                <div id="panel-role" class="display_select menu-item-all panel active" role="tabpanel" aria-hidden="false">
                    @Html.Partial("~/Views/Configuration/Security/Roles/_CreateRolePartial.cshtml", Model)
                </div>
                <div id="panel-competence" class="display_select menu-item-all panel" role="tabpanel" aria-hidden="true">
                    @Html.Action("GetRoleCompetencies", "Configuration", new { role = Model })
                </div>
            </div>

            <div class="inline_divs v_mid_all w100p pad_t_4 text-right">
                <a href="@Url.Action("Roles", "Configuration")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2">Cancelar</a>

                <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
                    <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                </button>
                <div class="mdl-tooltip" for="BtnSave"><strong>Guardar Rol</strong></div>
            </div>

        }
    </div>
</div>

@Scripts.Render("~/Scripts/Views/Configuration/Roles/Create.js")

@section scripts {
    <script>
        var dynamicTabBar = new mdc.tabs.MDCTabBar(document.querySelector('#tab-bar-Position'));
        var panels = document.querySelector('.panels');

        dynamicTabBar.tabs.forEach(function (tab) { tab.preventDefaultOnClick = true; });

        function updatePanel(index) {
            var activePanel = panels.querySelector('.panel.active');
            if (activePanel) {
                activePanel.classList.remove('active');
            }
            var newActivePanel = panels.querySelector('.panel:nth-child(' + (index + 1) + ')');
            if (newActivePanel) {
                newActivePanel.classList.add('active');
            }
        }

        dynamicTabBar.listen('MDCTabBar:change', function (item) {
            updatePanel(item.detail.activeTabIndex);
        });
    </script>
}
