﻿@{
    ViewBag.Title = "Roles";
}

@Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
@Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

@Html.Hidden("Url_Delete", Url.Action("DeleteRole", "Configuration"))

@Html.Partial("~/Views/Configuration/Security/Roles/_AdminPartial.cshtml", "Roles")

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>Roles &amp; Competencias</span>
</div>

<div class="content_wrap_body">
    <div id="GridRoles">
        @Html.Action("GetGridRoles", "Configuration")
    </div>
</div>

@Scripts.Render("~/Scripts/Views/Configuration/Roles/Index.js")
