﻿@using CR.CGC.GuiasScoutsWeb.Common
@using CR.CGC.GuiasScoutsWeb.Models
@model CR.CGC.GuiasScoutsWeb.Models.PermissionViewModel

@{
    ViewBag.Title = "Asociación de permisos";
}

@Html.Partial("~/Views/Configuration/Security/Roles/_AdminPartial.cshtml", "Roles")

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_bottom_all c_black_all lh_2">
    <a href="@Url.Action("Roles", "Configuration")" class="hover_to_green" id="DivToList">Roles &amp; Competencias</a>
    <a href="@Url.Action("NewRole", "Configuration", new { RoleId = Model.Role.RoleId })" class="hover_to_green">/ @Model.Role.Name</a>
    <span>/ Asociación de permisos</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver Roles</strong></div>


<div class="content_wrap_body">
    <div>
        <a href="@Url.Action("Roles", "Configuration")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
    </div>
    <div class="italic fs_12 c_black row_lm">Seleccione los permisos a asociar</div>

    @using (Ajax.BeginForm("SavePermission", "Configuration", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "CreateContainer",
        OnSuccess = "OnSuccess_Permission",
        OnFailure = "OnFailure",

    }, new { OnBegin = "OnBegin", validateFunc = "ValidatePermission", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.Hidden("AlertTitle", "Asociación de Permisos", new { @id = "AlertTitle" })
        @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

        @Html.Hidden("Role.RoleId", Model.Role.RoleId)

        <div class="relative pad_t_2_240_st ">
            <div class="relative max_w_80">

                <div class="relative z1 w20_900_st w25_1366_st">
                    <div class="mdc-form-field fs_12 c_black">
                        <div class="mdc-checkbox">
                            <input type="checkbox" id="all_checked" class="mdc-checkbox__native-control" />
                            <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                            </div>
                        </div>
                        <label for="all_checked" class="pointer">Todos los permisos</label>
                    </div>
                </div>

                <div class="column_container only_900 text-center absolute_900_st left_0_900_st top_0_900_st bottom_0_900_st mar_auto h1p5 h2_1366_st w100p pad_l_20r_900_st pad_l_25r_1366_st">
                    <div class="g_s240_25p"><span class="wh1p5 w1p7_1366_st h1p7_1366_st relative icon_add_btn multi_icon bck_pos_gray inline" id="BtnGrid"></span></div>
                    <div class="g_s240_25p"><span class="wh1p5 w1p7_1366_st h1p7_1366_st relative icon_edit multi_icon bck_pos_gray inline" id="BtnEdit"></span></div>
                    <div class="g_s240_25p"><span class="wh1p5 w1p7_1366_st h1p7_1366_st relative icon_view multi_icon bck_pos_gray inline" id="BtnView"></span></div>
                    <div class="g_s240_25p"><span class="wh1p5 w1p7_1366_st h1p7_1366_st relative icon_disable multi_icon bck_pos_gray inline" id="BtnDel"></span></div>
                </div>

                <div class="mdl-tooltip mdl-tooltip--top" for="BtnGrid"><strong>Ver Registros</strong></div>
                <div class="mdl-tooltip mdl-tooltip--top" for="BtnEdit"><strong>Crear / Editar Registros</strong></div>
                <div class="mdl-tooltip mdl-tooltip--top" for="BtnView"><strong>Ver detalles de Registros</strong></div>
                <div class="mdl-tooltip mdl-tooltip--top" for="BtnDel"><strong>Inactivar / Activar Registros</strong></div>
            </div>

            <div class="pad_t_2 max_w_80">
                @{
                    int ent = 0;
                    int child = 0;
                    List<string> codes = Model.Permissions.Select(x => x.Controller + x.Action).ToList();
                }
                @foreach (var item in Model.PermissionsView)
                {
                    <div class="pad_t_05 pad_t_0_900_st">
                        <div class=" fs_12 hover_bck_purple c_gray_to_black_all active relative list_container_select list_container_checkboxes">
                            <div class="treeview_toggle ">

                                <div class="w20_900_st relative_900_st z1 w25_1366_st">
                                    <div class="mdc-form-field fs_12 w100p">
                                        <div class="mdc-checkbox">
                                            <input type="checkbox" id="item_@ent" class="mdc-checkbox__native-control cb_entity" />
                                            <div class="mdc-checkbox__background">
                                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                                                <div class="mdc-checkbox__mixedmark"></div>
                                            </div>
                                        </div>

                                        <label for="item_@ent" class="ellipsis_480_st pad_r_3_480_st pointer">@item.EntityName</label>
                                    </div>

                                    @if (item.SpecialMethods != null && item.SpecialMethods.Count > 0)
                                    {
                                        <div class="w3 h2 absolute right_0_240_st top_1_240_st mar_auto text-center z1 pointer SpecialMethods_arrow_container" onclick="javascript:unhide('action_container_@ent');unhide('item_arrow_@ent');">
                                            <div class="arrow gray_arrow w1 h05 unselected mar_auto mar_t_05" id="item_arrow_@ent"></div>
                                        </div>
                                    }

                                </div>

                                @if (item.SpecialMethods != null && item.SpecialMethods.Count > 0)
                                {
                                    <div class="unselected toggle_height SpecialMethods_container w20_900_st relative_900_st z1 w25_1366_st" id="action_container_@ent">
                                        @foreach (var method in item.SpecialMethods)
                                        {
                                            @Html.Hidden("Role.Permissions[" + child + "].Controller", method.Controller)
                                            @Html.Hidden("Role.Permissions[" + child + "].Action", method.Action)
                                            @Html.Hidden("Role.Permissions[" + child + "].Description", method.Description)
                                            <div class="mdc-form-field fs_12 w100p pad_l_2 pad_b_05">
                                                <div class="mdc-checkbox">
                                                    @Html.CheckBox("Role.Permissions[" + child + "].ToSave", codes.Contains(method.Controller + method.Action), new { @id = "method_special_" + ent + "_" + method.Action, @class = "mdc-checkbox__native-control" })
                                                    <div class="mdc-checkbox__background">
                                                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                                                        <div class="mdc-checkbox__mixedmark"></div>
                                                    </div>
                                                </div>

                                                <label for="@("method_special_"+ ent + "_" + method.Action)" class=" pad_r_3_480_st pointer" id="@("label_method_special_"+ ent + "_" + method.Action)">@method.Name</label>
                                            </div>
                                            <div class="mdl-tooltip" for="@("label_method_special_" + ent + "_" + method.Action)"><strong>@method.Description</strong></div>
                                            child++;
                                        }
                                    </div>
                                }
                                @{
                                    PermissionItemModel listP = item.CommonMethods.Where(x => x.Name == PermissionTypes.List).FirstOrDefault();
                                    PermissionItemModel newP = item.CommonMethods.Where(x => x.Name == PermissionTypes.New).FirstOrDefault();
                                    PermissionItemModel viewP = item.CommonMethods.Where(x => x.Name == PermissionTypes.View).FirstOrDefault();
                                    PermissionItemModel deleteP = item.CommonMethods.Where(x => x.Name == PermissionTypes.Delete).FirstOrDefault();
                                }


                                <div class="toggle_chekbox">
                                    <div class="pad_lr_1_240_st pad_t_0 pad_b_1 to_900"><div class="split_bottom_dashed text-center h1px"></div></div>

                                    <div class="column_container text-center absolute_900_st left_0_900_st top_0_900_st w100p pad_l_20r_900_st h100p_900_st pad_l_25r_1366_st CommonMethods_container">
                                        <div class="g_s240_25p relative h100p">
                                            @if (listP != null)
                                            {
                                                <label for="@("method_common_" + ent + "_" + PermissionTypes.List)" class="wh1p3 to_900 relative pointer icon_add_btn multi_icon bck_pos_gray block mar_auto"></label>

                                                @Html.Hidden("Role.Permissions[" + child + "].Controller", listP.Controller)
                                                @Html.Hidden("Role.Permissions[" + child + "].Action", listP.Action)
                                                @Html.Hidden("Role.Permissions[" + child + "].Description", listP.Description)
                                                <div class="mdc-form-field fs_12 text-center z2 relative">
                                                    <div class="mdc-checkbox">
                                                        @Html.CheckBox("Role.Permissions[" + child + "].ToSave", codes.Contains(listP.Controller + listP.Action), new { @id = "method_common_" + ent + "_" + PermissionTypes.List, @class = "mdc-checkbox__native-control" })
                                                        <div class="mdc-checkbox__background">
                                                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                                                            <div class="mdc-checkbox__mixedmark"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                child++;
                                            }

                                            <div class="bck_white wh100p absolute_default z1 only_900 trans_1"></div>
                                        </div>

                                        <div class="g_s240_25p relative h100p">
                                            @if (newP != null)
                                            {
                                                <label for="@("method_common_" + ent + "_" + PermissionTypes.New)" class="wh1p3 to_900 relative pointer icon_edit multi_icon bck_pos_gray block mar_auto"></label>

                                                @Html.Hidden("Role.Permissions[" + child + "].Controller", newP.Controller)
                                                @Html.Hidden("Role.Permissions[" + child + "].Action", newP.Action)
                                                @Html.Hidden("Role.Permissions[" + child + "].Description", newP.Description)
                                                <div class="mdc-form-field fs_12 text-center z2 relative">
                                                    <div class="mdc-checkbox">
                                                        @Html.CheckBox("Role.Permissions[" + child + "].ToSave", codes.Contains(newP.Controller + newP.Action), new { @id = "method_common_" + ent + "_" + PermissionTypes.New, @class = "mdc-checkbox__native-control" })
                                                        <div class="mdc-checkbox__background">
                                                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                                                            <div class="mdc-checkbox__mixedmark"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                child++;
                                            }


                                            <div class="bck_white wh100p absolute_default z1 only_900 trans_1"></div>
                                        </div>

                                        <div class="g_s240_25p relative h100p">
                                            @if (viewP != null)
                                            {
                                                <label for="@("method_common_" + ent + "_" + PermissionTypes.View)" class="wh1p3 to_900 relative pointer icon_view multi_icon bck_pos_gray block mar_auto"></label>

                                                @Html.Hidden("Role.Permissions[" + child + "].Controller", viewP.Controller)
                                                @Html.Hidden("Role.Permissions[" + child + "].Action", viewP.Action)
                                                @Html.Hidden("Role.Permissions[" + child + "].Description", viewP.Description)
                                                <div class="mdc-form-field fs_12 text-center z2 relative">
                                                    <div class="mdc-checkbox">
                                                        @Html.CheckBox("Role.Permissions[" + child + "].ToSave", codes.Contains(viewP.Controller + viewP.Action), new { @id = "method_common_" + ent + "_" + PermissionTypes.View, @class = "mdc-checkbox__native-control" })
                                                        <div class="mdc-checkbox__background">
                                                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                                                            <div class="mdc-checkbox__mixedmark"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                child++;
                                            }

                                            <div class="bck_white wh100p absolute_default z1 only_900 trans_1"></div>
                                        </div>

                                        <div class="g_s240_25p relative h100p">
                                            @if (deleteP != null)
                                            {
                                                <label for="@("method_common_" + ent + "_" + PermissionTypes.Delete)" class="wh1p3 to_900 relative pointer icon_disable multi_icon bck_pos_gray block mar_auto"></label>

                                                @Html.Hidden("Role.Permissions[" + child + "].Controller", deleteP.Controller)
                                                @Html.Hidden("Role.Permissions[" + child + "].Action", deleteP.Action)
                                                @Html.Hidden("Role.Permissions[" + child + "].Description", deleteP.Description)
                                                <div class="mdc-form-field fs_12 text-center z2 relative">
                                                    <div class="mdc-checkbox">
                                                        @Html.CheckBox("Role.Permissions[" + child + "].ToSave", codes.Contains(deleteP.Controller + deleteP.Action), new { @id = "method_common_" + ent + "_" + PermissionTypes.Delete, @class = "mdc-checkbox__native-control" })
                                                        <div class="mdc-checkbox__background">
                                                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                                                            <div class="mdc-checkbox__mixedmark"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                child++;
                                            }

                                            <div class="bck_white wh100p absolute_default z1 only_900 trans_1"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="absolute wh1 icon_warning multi_icon bck_pos_degrade right_100p_240_st mar_r_05 top_1_240_st warning_list cursor_auto hide"></div>
                        </div>
                    </div>

                    ent++;
                }
            </div>

            <div class="pad_t_4 text-right">
                <div class="inline_divs v_mid_all w100p">
                    <a href="@Url.Action("Roles", "Configuration")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2" data-ajax="false">cancelar</a>

                    <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
                        <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                    </button>
                    <div class="mdl-tooltip" for="BtnSave"><strong>Guardar Permisos</strong></div>
                </div>
            </div>

        </div>
    }
</div>

@Scripts.Render("~/Scripts/Views/Configuration/Roles/Permission.js")
