﻿@model int

<div class="column_container relative pad_r_4 @("PositionContainer" + (string)ViewBag.ModelName)">
    <input name="@("container.EventPosition" + (string)ViewBag.ModelName + "s[" + Model + "].EventPosition" + (string)ViewBag.ModelName + "Id")" id="@("EventPosition" + (string)ViewBag.ModelName + "s_EventPosition" + (string)ViewBag.ModelName + "Id_" + Model)" type="hidden" value="0">

    <div class="text-left w100p">
        <div class="hide">
            @Html.DropDownList("container.EventPosition" + (string)ViewBag.ModelName + "s[" + Model + "].PositionId", (SelectList)ViewBag.PositionList, "Seleccione una opción", new
            {
                @id = "EventPosition" + (string)ViewBag.ModelName + "s_PositionId_" + Model,
                placeholder = "Seleccione el cargo"
            })
        </div>
        <div id="@("EventPosition" + (string)ViewBag.ModelName + "s_PositionId_" + Model + "SelectDiv")" class="visualSelectContainer"></div>
    </div>

    <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
        <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removePosition" data-suffix_inv="@((string)ViewBag.ModelName)">
            <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
        </a>
    </div>
</div>

