﻿@model int

<div class="column_container relative pad_r_4 @("SectionContainer" + (string)ViewBag.ModelName)">
    <input name="@("container.EventSection" + (string)ViewBag.ModelName + "s[" + Model + "].EventSection" + (string)ViewBag.ModelName + "Id")" id="@("EventSection" + (string)ViewBag.ModelName + "s_EventSection" + (string)ViewBag.ModelName + "Id_" + Model)" type="hidden" value="0">

    <div class="text-left w100p">
        <div class="hide">
            @Html.DropDownList("container.EventSection" + (string)ViewBag.ModelName + "s[" + Model + "].SectionId", (SelectList)ViewBag.SectionList, "Seleccione una opción", new
            {
                @id = "EventSection" + (string)ViewBag.ModelName + "s_SectionId_" + Model,
                placeholder = "Seleccione la sección"
            })
        </div>
        <div id="@("EventSection" + (string)ViewBag.ModelName + "s_SectionId_" + Model + "SelectDiv")" class="visualSelectContainer"></div>
    </div>

    <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
        <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeSection" data-suffix_inv="@((string)ViewBag.ModelName)">
            <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
        </a>
    </div>
</div>

