﻿@model int

<div class="column_container relative pad_r_4 AgeRangeContainer">
    <input name="@("EventAgeRanges[" + Model + "].EventAgeRangeId")" id="@("EventAgeRanges_EventAgeRangeId_" + Model)" type="hidden" value="0">

    <div class="text-left w100p">
        <div class="hide">
            @Html.DropDownList("EventAgeRanges[" + Model + "].AgeRangeId", (SelectList)ViewBag.AgeRangesList, "Seleccione una opción", new { @id = "EventAgeRanges_AgeRangeId_" + Model, Placeholder = "Rango de edades" })
        </div>
        <div id="@("EventAgeRanges_AgeRangeId_" + Model + "SelectDiv")" class="visualSelectContainer"></div>
    </div>

    <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
        <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeAgeRange">
            <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
        </a>
    </div>
</div>