﻿@using CR.CGC.GuiasScoutsWeb.Models
@model List<Entities.Event>
@{
    PaginationToolsViewModel pagination = (PaginationToolsViewModel)ViewBag.Pagination;
    pagination.ActualRows = Model.Count;

    TableToolsViewModel toolbar = new TableToolsViewModel()
    {
        DeleteFunction = "DeleteEvents()",
        DeleteTooltip = "Activar / Desactivar eventos",
        UrlAdd = Url.Action("NewEvent", "Activity"),
        AddTooltip = "Agregar nuevo evento",

        SearchText = pagination.SearchText,
        UrlGet = Url.Action("GetGridEvents", "Activity"),
        GridContainerId = "GridEvents"
    };
}

@Html.Partial("_TableToolsPartial", toolbar)

<div class="overflow_auto">
    <div class="mdl-tooltip mdl-tooltip--top" for="DivTableInv"><strong>Invitados</strong></div>
    <div class="mdl-tooltip mdl-tooltip--top" for="DivTableAtt"><strong>Asistirán</strong></div>
    <table class="mdl-data-table mdl-js-data-table @((Model.Count > 0) ? "mdl-data-table--selectable" : "") w100p overflow_h">
        <thead class="c_purple01_all bolder fs_1">
            <tr class="pad_1_divs">
                <th class="mdl-data-table__cell--non-numeric">Evento</th>
                <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                <th class="mdl-data-table__cell--non-numeric">Alcance</th>
                <th class="mdl-data-table__cell--non-numeric">Inicio</th>
                <th class="mdl-data-table__cell--non-numeric">Fin</th>
                <th class="mdl-data-table__cell--non-numeric">Estado</th>
                <th class="mdl-data-table__cell--non-numeric"><div class="wh1p5 relative icon_plane multi_icon bck_pos_purple1 opa_100" id="DivTableInv"></div></th>
                <th class="mdl-data-table__cell--non-numeric"><div class="wh1p5 relative icon_like multi_icon bck_pos_purple1 opa_100" id="DivTableAtt"></div></th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr class="@(item.Enabled ? "" : "disable")" data="@item.EventId">
                        <td class="mdl-data-table__cell--non-numeric">@item.Name</td>
                        <td class="mdl-data-table__cell--non-numeric">@item.ActivityType.Name</td>
                        <td class="mdl-data-table__cell--non-numeric">@item.Scope.Name</td>
                        <td class="mdl-data-table__cell--non-numeric">@item.StartDateTime.ToString("dd-MM-yyyy")</td>
                        <td class="mdl-data-table__cell--non-numeric">@item.EndDateTime.ToString("dd-MM-yyyy")</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <div class="pad_l_2 relative h1">
                                <span class="circle w4px h4px absolute_240_st top_05_240_st left_05_240_st" style="background-color: @item.EventStatus.Color; -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); box-shadow:0px 0px 10px 1px @item.EventStatus.Color"></span>
                                @item.EventStatus.Name
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">@item.Guests</td>
                        <td class="mdl-data-table__cell--non-numeric">@item.MemberEvents.Where(x => x.Enabled).ToList().Count</td>
                        <td class="pad_lr_1">

                            <div class="relative">
                                <div class="actions h4 z1 absolute_tr_240_st text-right">
                                    <div class="wh2 inline multi_icon bck_pos_gray absolute_tr_240_st icon_points mar_auto bottom_0_240_st"></div>

                                    <div class="action_buttons text-right absolute h2p5 inline_divs v_mid_all w10 inline_divs">
                                        <a class="circle_hover pointer relative pad_05" id="BtnInvitation@(item.EventId)" href="@(item.Enabled ? Url.Action("EventManageInvitations", "Activity", new { EventId = item.EventId }) : "#")">
                                            <div class="icon_invitation multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </a>

                                        <a class="circle_hover pointer relative pad_05" id="BtnEdit@(item.EventId)" href="@(item.Enabled ? Url.Action("NewEvent", "Activity", new { EventId = item.EventId }) : "#")">
                                            <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </a>

                                        <a class="circle_hover pointer relative pad_05" id="BtnView@(item.EventId)" href="@(item.Enabled ? Url.Action("GetEventDetails", "Activity", new { EventId = item.EventId }) : "#")">
                                            <div class="icon_view multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </a>

                                        <div class="circle_hover pointer relative pad_05 disable_container" id="BtnDel@(item.EventId)" onclick="DeleteEvent(@item.EventId)">
                                            <div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mdl-tooltip" for="BtnInvitation@(item.EventId)"><strong>Gestionar invitación</strong></div>
                            <div class="mdl-tooltip" for="BtnEdit@(item.EventId)"><strong>Editar registro</strong></div>
                            <div class="mdl-tooltip" for="BtnView@(item.EventId)"><strong>Ver registro</strong></div>
                            <div class="mdl-tooltip" for="BtnDel@(item.EventId)"><strong>@(item.Enabled ? "Desactivar" : "Activar") Registro</strong></div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric" colspan="9">No existen registros.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.Count > 0)
{
    @Html.Partial("_TablePaginationPartial", pagination)
}



