﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Event
@{
    ViewBag.Title = "Nuevo Evento";
    List<Entities.Template> TemplateList = (ViewBag.TemplateList != null ? (List<Entities.Template>)ViewBag.TemplateList : new List<Entities.Template>());
}

@section Styles{
    @Styles.Render("~/Content/assets/stylesheets/summernote-lite.css")
}

@Html.Hidden("Url_SendEmail", Url.Action("SendEmailTest", "Activity"), new { @id = "Url_SendEmail" })
@Html.Hidden("Url_GetTemplate", Url.Action("GetTemplate", "Activity"), new { @id = "Url_GetTemplate" })
@Html.Hidden("Url_GetDefaultTemplate", Url.Action("EmailTemplateContent", "Application"), new { @id = "Url_GetDefaultTemplate" })
@Html.Hidden("Url_EventAgeRange", Url.Action("GetEventAgeRangePartial", "Activity"), new { @id = "Url_EventAgeRange" })
@Html.Hidden("Url_EventRole", Url.Action("GetEventRolePartial", "Activity"), new { @id = "Url_EventRole" })

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("Events", "Activity")" id="DivToList"> Registros </a>
    <span>/ @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver registros de eventos</strong></div>

<div class="content_wrap_body">
    <div class="b_bottom_gray">
        <div class="no_highlighting icon_tab top_indicator">
            <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                    <a class="mdc-tab-bar-scroller__indicator__inner pointer"><span class="wh1 relative icon_back multi_icon bck_pos_gray icon_hover_fade inline"></span></a>
                </div>

                <div class="mdc-tab-bar-scroller__scroll-frame">
                    <nav class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0">

                        <a class="mdc-tab w2p5 h2p5 mdc-text-field--invalid mdc-tab--active" data-rel="tab_1" id="NavTabEvent">
                            <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline pad_tb_13_1024_st">
                                <span class="italic inline_divs v_top_all">
                                    <span class="italic relative">Detalle<span class="wh1 absolute left_100p_240_st top_0_240_st v_top icon_info_1 multi_icon icon_hover_fade bck_pos_gray inline tab_icon_alert hide"></span></span>
                                </span>
                            </span>
                        </a>

                        <a class="mdc-tab w2p5 h2p5 mdc-text-field--invalid" data-rel="tab_2" id="NavTabTemplate">
                            <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline pad_tb_13_1024_st">
                                <span class="italic inline_divs v_top_all">
                                    <span class="italic relative">Plantillas de Correo<span class="wh1 absolute left_100p_240_st top_0_240_st v_top icon_info_1 multi_icon icon_hover_fade bck_pos_gray inline tab_icon_alert hide"></span></span>
                                </span>
                            </span>
                        </a>

                        <span class="mdc-tab-bar__indicator"></span>
                    </nav>
                </div>

                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                    <a class="mdc-tab-bar-scroller__indicator__inner pointer"><span class="wh1 relative icon_next multi_icon bck_pos_gray icon_hover_fade inline"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="pad_t_25">

        <div id="tab_1" class="display_select panel active tab_1" role=tabpanel>
            <div class="italic fs_12 c_black row_lm">Agregue una nueva Actividad</div>

            @using (Ajax.BeginForm("SaveEvent", "Activity", new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,

            }, new { OnBegin = "OnBegin", OnSuccess = "OnSuccess_Event", validateFunc = "ValidateEvent", enctype = "multipart/form-data", @class = "relative pad_t_3_1366_st", autocomplete = "off", @id = "EventForm" }))
            {
                @Html.AntiForgeryToken()

                @Html.Hidden("AlertTitle", "Actividad", new { @id = "AlertTitle" })
                @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

                @Html.HiddenFor(m => m.EventId, new { @id = "EventId" })
                @Html.HiddenFor(m => m.EventImage, new { @id = "EventImage" })

                <div class="pad_b_4 max_w_80">
                    <div class="relative min_h_30_1024_st">
                        <div class="column_container">
                            <div class="g_s1366_40p g_s240_100p pad_r_2_1366_st pad_t_15 pad_t_0_1366_st pad_r_3_1366_st z1 relative">

                                <div class="relative pad_b_1_700_st">
                                    @Html.TextBoxFor(m => m.SendFile, new { @type = "file", @class = "hide imageInput", @id = "SendFile", accept = ".jpg,.png", @for = "SendFile-InputView" })
                                    <div id="SendFile-helper-text" class="relative w100p h15_240_st hover_to_green hover_icon_all pointer max_w_30 mar_auto pointer" onclick="document.getElementById('SendFile').click()">
                                        <div class="profile relative w100p h100p mar_auto border_gray">

                                            <div class="profile relative wh100p mar_auto">
                                                <img id="SendFile-InputView" class="center_absolute wh100p z1 bck_cover" src="@(Model.EventImage == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_1.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = Model.EventImage }))" />
                                            </div>

                                            <div class="absolute_default wh100p midd_container black fs_13 fs_2_1024_st text-center c_white bck_body">
                                                <label class="center_absolute wh3" for="picker_upload">
                                                    <span class="icon_cam pointer wh3 multi_icon inline wh1p5 bck_pos_white"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="absolute_br_240_st wh2p5 only_360">
                                            <div class="circle pad_05 bck_white relative z1 mar_t_1 border_gray wh2p5 right_05_240_st">
                                                <div class="icon_cam pointer multi_icon inline wh1p5 icon_hover_fade bck_pos_gray bck_hover_gray center_absolute absolute"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg absolute top_0_240_st left_0_240_st inline bck_white pad_lr_05 r3px pad_l_1_700_st" aria-hidden="true">Este campo es requerido.</p>
                                </div>

                                <div class="column_container">
                                    <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                        <div class="text-left">
                                            <div class="hide">
                                                @Html.DropDownListFor(m => m.EventStatusId, (SelectList)ViewBag.StatusList, "Seleccione una opción", new { @id = "EventStatusId", placeholder = "Estado" })
                                            </div>
                                            <div id="EventStatusIdSelectDiv"></div>
                                        </div>
                                    </div>

                                    <div class="g_s240_100p g_s480_50p pad_l_15_480_st">
                                        <div class="text-left">
                                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                <label for="QuotaLimit" class="multi_icon icon_cupon bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                                                @Html.TextBoxFor(m => m.QuotaLimit, new { @id = "QuotaLimit", @class = "mdc-text-field__input fs_1 pad_r_3 numeric", required = true, aria_controls = "QuotaLimit-helper-text", MaxLength = "5", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                @Html.LabelFor(m => m.QuotaLimit, "Límite de cupos", new { @for = "QuotaLimit", @class = "mdc-text-field__label pad_r_3" })
                                                <div class="mdc-line-ripple"></div>
                                            </div>
                                            <p id="QuotaLimit-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Requerido.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-left">
                                    <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                        @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "mdc-text-field__input fs_1", required = true, aria_controls = "Name-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                        @Html.LabelFor(m => m.Name, "Título de la actividad", new { @for = "Name", @class = "mdc-text-field__label" })
                                        <div class="mdc-line-ripple"></div>
                                    </div>
                                    <p id="Name-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                </div>

                                <div class="text-left">
                                    <div class="hide">
                                        @Html.DropDownListFor(m => m.ActivityTypeId, (SelectList)ViewBag.ActivityTypeList, "Seleccione una opción", new { @id = "ActivityTypeId", placeholder = "Tipo de actividad" })
                                    </div>
                                    <div id="ActivityTypeIdSelectDiv"></div>
                                </div>

                                <div class="text-left">
                                    <div class="hide">
                                        @Html.DropDownListFor(m => m.ScopeId, (SelectList)ViewBag.ScopeList, "Seleccione una opción", new { @id = "ScopeId", placeholder = "Alcance" })
                                    </div>
                                    <div id="ScopeIdSelectDiv"></div>
                                </div>

                                <div class="column_container">
                                    <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                        <div class="text-left">
                                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                <label for="Cost" class="multi_icon icon_dollar bck_pos_gray icon_hover_fade wh1p5 absolute right_0_240_st bottom_05_240_st"></label>
                                                @Html.TextBoxFor(m => m.Cost, new { @id = "Cost", @class = "mdc-text-field__input fs_1 pad_r_3 numeric_money", required = true, aria_controls = "Cost-helper-text", MaxLength = "14", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                @Html.LabelFor(m => m.Cost, "Costo", new { @for = "Cost", @class = "mdc-text-field__label pad_r_3" })
                                                <div class="mdc-line-ripple"></div>
                                            </div>
                                            <p id="Cost-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                        </div>
                                    </div>

                                    <div class="g_s240_100p g_s480_50p pad_l_15_480_st">
                                        <div class="text-left relative">
                                            <div class="text-left absolute top_2p5_240_st w100p left_0_240_st">
                                                <div class="mdc-switch">
                                                    @Html.CheckBoxFor(m => m.ItIsFundable, new { @id = "ItIsFundable", @class = "mdc-switch__native-control" })
                                                    <div class="mdc-switch__background"><div class="mdc-switch__knob"></div></div>
                                                </div>
                                                <label for="ItIsFundable" class="mdc-switch-label pad_lr_05 fs_09 lh_12 pad_t_05_240_st pad_b_05 block italic opa_50 pointer"><span class="c_gray">Posibilidad de Financiamiento</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="column_container">
                                    <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                        <div class="text-left">
                                            <div class="mdc-text-field mdc-text-field--upgraded w100p" data-mdc-auto-init="MDCTextField">
                                                <label for="StartDateTime" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                                                @Html.TextBoxFor(m => m.StartDateTime, "{0:dd-MM-yyyy HH:mm}", new { @id = "StartDateTime", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-time-picker", required = true, aria_controls = "StartDateTime-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                @Html.LabelFor(m => m.StartDateTime, "Fecha de inicio", new { @for = "StartDateTime", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                                                <div class="mdc-line-ripple"></div>
                                            </div>
                                            <p id="StartDateTime-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                        </div>
                                    </div>

                                    <div class="g_s240_100p g_s480_50p pad_l_15_480_st">
                                        <div class="text-left">
                                            <div class="mdc-text-field mdc-text-field--upgraded w100p" data-mdc-auto-init="MDCTextField">
                                                <label for="EndDateTime" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                                                @Html.TextBoxFor(m => m.EndDateTime, "{0:dd-MM-yyyy HH:mm}", new { @id = "EndDateTime", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-time-picker", required = true, aria_controls = "EndDateTime-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                @Html.LabelFor(m => m.EndDateTime, "Fecha fin", new { @for = "EndDateTime", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                                                <div class="mdc-line-ripple"></div>
                                            </div>
                                            <p id="EndDateTime-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="column_container">
                                    <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                        <div class="text-left">
                                            <div class="mdc-text-field mdc-text-field--upgraded w100p" data-mdc-auto-init="MDCTextField">
                                                <label for="InscriptionStart" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                                                @Html.TextBoxFor(m => m.InscriptionStart, "{0:dd-MM-yyyy}", new { @id = "InscriptionStart", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", required = true, aria_controls = "InscriptionStart-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                @Html.LabelFor(m => m.InscriptionStart, "Inicio de inscripción", new { @for = "InscriptionStart", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                                                <div class="mdc-line-ripple"></div>
                                            </div>
                                            <p id="InscriptionStart-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                        </div>
                                    </div>

                                    <div class="g_s240_100p g_s480_50p pad_l_15_480_st">
                                        <div class="text-left">
                                            <div class="mdc-text-field mdc-text-field--upgraded w100p" data-mdc-auto-init="MDCTextField">
                                                <label for="InscriptionEnd" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                                                @Html.TextBoxFor(m => m.InscriptionEnd, "{0:dd-MM-yyyy}", new { @id = "InscriptionEnd", @class = "mdc-text-field__input fs_1 pad_r_3 input-date-picker", required = true, aria_controls = "InscriptionEnd-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                @Html.LabelFor(m => m.InscriptionEnd, "Fin de inscripción", new { @for = "InscriptionEnd", @class = "mdc-text-field__label mdc-floating-label--float-above pad_r_3" })
                                                <div class="mdc-line-ripple"></div>
                                            </div>
                                            <p id="InscriptionEnd-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-left">
                                    <div class="mdc-text-field mdc-text-field--textarea w100p msn_text" data-mdc-auto-init="MDCTextField">
                                        @Html.TextAreaFor(m => m.Requirements, new { @id = "Requirements", @class = "mdc-text-field__input fs_1", cols = "30", rows = "3", MaxLength = "2000", title = "Ingrese los requerimientos." })
                                        @Html.LabelFor(m => m.Requirements, "Ingrese los requerimientos", new { @for = "Requirements", @class = "mdc-text-field__label" })
                                        <div class="mdc-line-ripple"></div>
                                    </div>
                                </div>

                                <div class="hide">
                                    @Html.DropDownListFor(m => m.TemplateId, new SelectList(TemplateList, "TemplateId", "Name"), "Seleccione una opción", new { @id = "TemplateId", placeholder = "Plantilla" })
                                    @Html.TextBoxFor(m => m.TemplateCode, new { @id = "TemplateCode" })
                                    @Html.TextBoxFor(m => m.EmailBody, new { @id = "EmailBody" })
                                </div>

                                <div class="text-left">
                                    <div class="italic c_black fs_12 pad_t_1">Rangos de edad<span class="pad_l_05 c_gray fs_08">(Al no agregarse rangos, significa que el evento es dirigido a cualquier público)</span></div>
                                    <div id="EventAgeRangeContainer">
                                        @{
                                            int cont = 0;
                                            foreach (var item in Model.EventAgeRanges)
                                            {
                                                <div class="column_container relative pad_r_4 AgeRangeContainer">
                                                    <input name="@("EventAgeRanges[" + cont + "].EventAgeRangeId")" id="@("EventAgeRanges_EventAgeRangeId_" + cont)" type="hidden" value="@item.EventAgeRangeId">

                                                    <div class="text-left w100p">
                                                        <div class="hide">
                                                            @Html.DropDownList("EventAgeRanges[" + cont + "].AgeRangeId", new SelectList((List<Entities.AgeRange>)ViewBag.AgeRangesList, "AgeRangeId", "Name", item.AgeRangeId), "Seleccione una opción", new { @id = "EventAgeRanges_AgeRangeId_" + cont, Placeholder = "Rango de edades" })
                                                        </div>
                                                        <div id="@("EventAgeRanges_AgeRangeId_" + cont + "SelectDiv")" class="visualSelectContainer"></div>
                                                    </div>

                                                    <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                        <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeAgeRange">
                                                            <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                cont++;
                                            }
                                        }
                                    </div>

                                    <a id="btnAddAgeRange" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                                        <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                        Agregar otro rango
                                    </a>
                                </div>

                                <div class="text-left">
                                    <div class="italic c_black fs_12 pad_t_1">Roles responsables</div>
                                    <div id="EventRoleContainer">
                                        @{
                                            cont = 0;
                                            foreach (var item in Model.EventRoles)
                                            {
                                                <div class="column_container relative pad_r_4 RoleContainer">
                                                    <input name="@("EventRoles[" + cont + "].EventRoleId")" id="@("EventRoles_EventRoleId_" + cont)" type="hidden" value="@item.EventRoleId">

                                                    <div class="text-left w100p">
                                                        <div class="hide">
                                                            @Html.DropDownList("EventRoles[" + cont + "].RoleId", new SelectList((List<Entities.Role>)ViewBag.RolesList, "RoleId", "Name", item.RoleId), "Seleccione una opción", new { @id = "EventRoles_RoleId_" + cont, Placeholder = "Rol" })
                                                        </div>
                                                        <div id="@("EventRoles_RoleId_" + cont + "SelectDiv")" class="visualSelectContainer"></div>
                                                    </div>

                                                    <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                        <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeRole">
                                                            <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                cont++;
                                            }
                                        }
                                    </div>

                                    <a id="btnAddRole" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                                        <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                        Agregar otro Rol
                                    </a>
                                </div>
                            </div>

                            <div class="absolute top_0_240_st left_40p_1366_st only_1366 h100p"><div class="split_icon h100p"></div></div>

                            <div class="pad_t_0_1366_st g_s1366_60p g_s240_100p h100p pad_t_2_240_st pad_l_3_1366_st">
                                <div class="to_1366 split_bottom mar_b_2"></div>

                                <div class="column_container v_bottom_all">
                                    <div class="g_s240_100p g_s700_50p pad_r_1_700_st g_s1366_100p  pad_r_0_1366_st">
                                        <div class="text-left">
                                            <div class="mdc-text-field mdc-text-field--textarea w100p msn_text" data-mdc-auto-init="MDCTextField">
                                                @Html.TextAreaFor(m => m.Place, new { @id = "Place", @class = "mdc-text-field__input fs_1", cols = "30", rows = "3", required = true, aria_controls = "Place-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                @Html.LabelFor(m => m.Place, "Ingrese el lugar", new { @for = "Place", @class = "mdc-text-field__label" })
                                                <div class="mdc-line-ripple"></div>
                                            </div>
                                            <p id="Place-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                        </div>
                                    </div>

                                    <div class="g_s240_100p g_s700_50p pad_l_1_700_st g_s1366_100p  pad_l_0_1366_st">
                                        <div class="text-left">
                                            <div class="mdc-text-field mdc-text-field--textarea w100p msn_text" data-mdc-auto-init="MDCTextField">
                                                @Html.TextAreaFor(m => m.Address, new { @id = "Address", @class = "mdc-text-field__input fs_1", cols = "30", rows = "3", required = true, aria_controls = "Address-helper-text", MaxLength = "250", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                @Html.LabelFor(m => m.Address, "Ingrese la dirección", new { @for = "Address", @class = "mdc-text-field__label" })
                                                <div class="mdc-line-ripple"></div>
                                            </div>
                                            <p id="Address-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="column_container">
                                    <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                                        <div class="text-left">
                                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                @Html.TextBoxFor(m => m.Latitude, new { @id = "Latitude", @class = "mdc-text-field__input fs_1 text-right decimalLat", MaxLength = "15", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                @Html.LabelFor(m => m.Latitude, "Latitud", new { @for = "Latitude", @class = "mdc-text-field__label" })
                                                <div class="mdc-line-ripple"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="g_s240_100p g_s480_50p pad_l_15_480_st">
                                        <div class="text-left">
                                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                                @Html.TextBoxFor(m => m.Longitude, new { @id = "Longitude", @class = "mdc-text-field__input fs_1 text-right decimalLat", MaxLength = "15", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                                @Html.LabelFor(m => m.Longitude, "Longitud", new { @for = "Longitude", @class = "mdc-text-field__label" })
                                                <div class="mdc-line-ripple"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="relative h100p pad_t_1">
                                    <div class="text-left">
                                        @Html.TextAreaFor(m => m.Description, new { @id = "Description", @class = "", cols = "40", rows = "40", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inline_divs text-right v_mid_all w100p max_w_80">
                    <a href="@Url.Action("Events", "Activity")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2">cancelar</a>

                    <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnPrevEvent">
                        <span class="wh1p3 icon_view multi_icon bck_pos_white block z1 relative"></span>
                    </button>
                    <div class="mdl-tooltip" for="BtnPrevEvent"><strong>Previsualizar</strong></div>

                    <button type="submit" class="hide" id="BtnSaveEvent"></button>
                </div>
            }

        </div>

        <div id="tab_2" class="display_select panel tab_2" role=tabpanel>

            <div id="SectionSelectTemplate" class="@(Model.TemplateId != null || Model.TemplateCode != null ? "hide" : "")">
                <div class="italic fs_12 c_black row_lm ">Seleccione una plantilla de correo.</div>

                <div class="relative">
                    <div class="max_w_80">
                        <div class="pad_t_3 pad_b_1"><div class="pad_05 bck_body c_gray inline lh_08 fs_08 uppercase">Básico</div></div>
                        <div class="inline_divs text-center_240_st text-left_700_st">

                            <a class="text-center pad_lr_05 pad_l_0_700_st pad_r_1_700_st pad_r_2_900_st pad_tb_1">
                                <span class="block pointer TemplateItemDefault @(Model.TemplateCode == null ? "" : (Model.TemplateCode == EmailTemplateNames.Default ? "bck_turkey" : ""))" data-TemplateId="Template_Default"><img src="@Url.Content("~/Content/assets/images/caption_mail_default.png")" class="inline"></span>
                                <span class="block c_black night_white italic pad_t_1">Default</span>
                            </a>

                            <a class="text-center pad_lr_05 pad_l_0_700_st pad_r_1_700_st pad_r_2_900_st pad_tb_1">
                                <span class="block pointer TemplateItemDefault @(Model.TemplateCode == null ? "" : (Model.TemplateCode == EmailTemplateNames.T1_Col ? "bck_turkey" : ""))" data-TemplateId="Template_1_Col"><img src="@Url.Content("~/Content/assets/images/caption_mail_1_col.png")" class="inline"></span>
                                <span class="block c_black night_white italic pad_t_1">1 col</span>
                            </a>

                            <a class="text-center pad_lr_05 pad_l_0_700_st pad_r_1_700_st pad_r_2_900_st pad_tb_1">
                                <span class="block pointer TemplateItemDefault @(Model.TemplateCode == null ? "" : (Model.TemplateCode == EmailTemplateNames.T1_2_Col ? "bck_turkey" : ""))" data-TemplateId="Template_1_2_Col"><img src="@Url.Content("~/Content/assets/images/caption_mail_1_2_col.png")" class="inline"></span>
                                <span class="block c_black night_white italic pad_t_1">1:2 col</span>
                            </a>

                            <a class="text-center pad_lr_05 pad_l_0_700_st pad_r_1_700_st pad_r_2_900_st pad_tb_1">
                                <span class="block pointer TemplateItemDefault @(Model.TemplateCode == null ? "" : (Model.TemplateCode == EmailTemplateNames.T1_1_2_Col ? "bck_turkey" : ""))" data-TemplateId="Template_1_1_2_Col"><img src="@Url.Content("~/Content/assets/images/caption_mail_1_1_2_col.png")" class="inline"></span>
                                <span class="block c_black night_white italic pad_t_1">1:1:2 col</span>
                            </a>

                            <a class="text-center pad_lr_05 pad_l_0_700_st pad_r_1_700_st pad_r_2_900_st pad_tb_1">
                                <span class="block pointer TemplateItemDefault @(Model.TemplateCode == null ? "" : (Model.TemplateCode == EmailTemplateNames.T1_3_Col ? "bck_turkey" : ""))" data-TemplateId="Template_1_3_Col"><img src="@Url.Content("~/Content/assets/images/caption_mail_1_3_col.png")" class="inline"></span>
                                <span class="block c_black night_white italic pad_t_1">1:3 col</span>
                            </a>

                            <a class="text-center pad_lr_05 pad_l_0_700_st pad_r_1_700_st pad_r_2_900_st pad_tb_1">
                                <span class="block pointer TemplateItemDefault @(Model.TemplateCode == null ? "" : (Model.TemplateCode == EmailTemplateNames.Article ? "bck_turkey" : ""))" data-TemplateId="Template_Article"><img src="@Url.Content("~/Content/assets/images/caption_mail_article.png")" class="inline"></span>
                                <span class="block c_black night_white italic pad_t_1">Artículo</span>
                            </a>

                            <a class="text-center pad_lr_05 pad_l_0_700_st pad_r_1_700_st pad_r_2_900_st pad_tb_1">
                                <span class="block pointer TemplateItemDefault @(Model.TemplateCode == null ? "" : (Model.TemplateCode == EmailTemplateNames.History ? "bck_turkey" : ""))" data-TemplateId="Template_History"><img src="@Url.Content("~/Content/assets/images/caption_mail_historia.png")" class="inline"></span>
                                <span class="block c_black night_white italic pad_t_1">Historia</span>
                            </a>

                            <a class="text-center pad_lr_05 pad_l_0_700_st pad_r_1_700_st pad_r_2_900_st pad_tb_1">
                                <span class="block pointer TemplateItemDefault @(Model.TemplateCode == null ? "" : (Model.TemplateCode == EmailTemplateNames.Workshop ? "bck_turkey" : ""))" data-TemplateId="Template_Workshop"><img src="@Url.Content("~/Content/assets/images/caption_mail_talleres.png")" class="inline"></span>
                                <span class="block c_black night_white italic pad_t_1">Talleres</span>
                            </a>

                            <a class="text-center pad_lr_05 pad_l_0_700_st pad_r_1_700_st pad_r_2_900_st pad_tb_1">
                                <span class="block pointer TemplateItemDefault @(Model.TemplateCode == null ? "" : (Model.TemplateCode == EmailTemplateNames.Scouting ? "bck_turkey" : ""))" data-TemplateId="Template_Scouting"><img src="@Url.Content("~/Content/assets/images/caption_mail_escultismo.png")" class="inline"></span>
                                <span class="block c_black night_white italic pad_t_1">Escultismo</span>
                            </a>
                        </div>

                        @if (TemplateList.Count > 0)
                        {
                            <div class="pad_t_3 pad_b_1"><div class="pad_05 bck_body c_gray inline lh_08 fs_08 uppercase">Personalizados</div></div>
                            <div class="inline_divs text-center_240_st text-left_700_st">

                                @foreach (var item in TemplateList)
                                {
                                    <a class="text-center pad_lr_05 pad_l_0_700_st pad_r_1_700_st pad_r_2_900_st pad_tb_1">
                                        <span class="block pointer TemplateItem @(Model.TemplateId == null ? "" : (Model.TemplateId == item.TemplateId ? "bck_turkey" : ""))" data-TemplateId="@item.TemplateId"><img src="@Url.Content("~/Content/assets/images/caption_mail_code.png")" class="inline"></span>
                                        <span class="block c_black night_white italic pad_t_1">@item.Name</span>
                                    </a>
                                }

                            </div>
                        }

                    </div>
                </div>
            </div>

            <div id="SectionPrevAndSave" class="@(Model.TemplateId != null || Model.TemplateCode != null ? "" : "hide")">
                <div class="italic fs_12 c_black row_lm ">Ingrese la información de la actividad en la plantilla seleccionada.</div>

                <div class="pad_t_3">
                    <div class="text-center relative overflow_h max_w_80 min_h_30">
                        <div class="pad_b_2 pad_b_0_1366_st pad_r_3_1366_st relative body_plus_panelright">
                            <div class="pad_r_25r_1366_st  body_plus_panelright_content scroll-container">
                                <div class="relative h100p">
                                    <div class="text-left">
                                        @Html.TextArea("TemplateBody", (Model.TemplateId != null || Model.TemplateCode != null ? Model.EmailBody : ""), new { @id = "TemplateBody", @class = "", cols = "30", rows = "29", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="absolute top_0_240_st right_25_240_st only_1366 h100p split_v_panel trans_05"><div class="split_icon h100p"></div></div>

                        <div class="text-left w25_1366_st absolute_tr_1366_st pad_l_3_1366_st z1 panelright h100p overflow_y_auto overflow_x_h">
                            <div class="split_bottom mar_tb_2 to_1366"></div>

                            <div class="relative">
                                <div class="vertical_toggle_panel unselected trans_05  pad_t_2_240_st pad_t_0_1366_st" id="vertical_toggle_panel">
                                    <div class="italic fs_12 c_black row_lm pad_b_1">Enviar prueba de correo</div>

                                    <div class="pad_lr_1 c_gray" id="EmailContainer"></div>

                                    <div class="text-left inline_divs pad_t_1 v_mid_all">
                                        <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnAddEmail">
                                            <span class="wh07 icon_add multi_icon bck_pos_white block z1 relative"></span>
                                        </button>
                                        <label for="BtnAddEmail" class="c_gray italic pad_l_05 fs_09 opa_50 pointer">Agregar correo</label>
                                    </div>

                                </div>
                            </div>

                            <div class="max_h_30 pad_tb_2 text-left">
                                <div class="italic fs_12 c_black pad_b_1">Etiquetas</div>
                                <div class="overflow_auto max_h_30">
                                    <div class="help-list-item"></div><div class="column_container mar_tb_05">
                                        <div class="g_s240_100p g_s480_50p pad_r_05_480_st mar_b_05"><kbd class="bck_black c_white night_text pad_03 inline">[[FULLNAME]]</kbd></div>
                                        <div class="g_s240_100p g_s480_50p pad_l_05_480_st mar_b_05">Nombre completo</div>
                                    </div>
                                    @*<div class="help-list-item"></div><div class="column_container mar_tb_05">
                                        <div class="g_s240_100p g_s480_50p pad_r_05_480_st mar_b_05"><kbd class="bck_black c_white night_text pad_03 inline">[[FULLNAME]]</kbd></div>
                                        <div class="g_s240_100p g_s480_50p pad_l_05_480_st mar_b_05">Nombre completo</div>
                                    </div>
                                    <div class="help-list-item"></div><div class="column_container mar_tb_05">
                                        <div class="g_s240_100p g_s480_50p pad_r_05_480_st mar_b_05"><kbd class="bck_black c_white night_text pad_03 inline">[[FULLNAME]]</kbd></div>
                                        <div class="g_s240_100p g_s480_50p pad_l_05_480_st mar_b_05">Nombre completo</div>
                                    </div>
                                    <div class="help-list-item"></div><div class="column_container mar_tb_05">
                                        <div class="g_s240_100p g_s480_50p pad_r_05_480_st mar_b_05"><kbd class="bck_black c_white night_text pad_03 inline">[[FULLNAME]]</kbd></div>
                                        <div class="g_s240_100p g_s480_50p pad_l_05_480_st mar_b_05">Nombre completo</div>
                                    </div>
                                    <div class="help-list-item"></div><div class="column_container mar_tb_05">
                                        <div class="g_s240_100p g_s480_50p pad_r_05_480_st mar_b_05"><kbd class="bck_black c_white night_text pad_03 inline">[[FULLNAME]]</kbd></div>
                                        <div class="g_s240_100p g_s480_50p pad_l_05_480_st mar_b_05">Nombre completo</div>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pad_t_1 max_w_80 text-right">
                        <div class="inline_divs v_mid_all w100p">
                            <a class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2 pointer" id="BtnCancelSaveEvent">cancelar</a>

                            <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnVisualSaveEvent">
                                <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                            </button>
                            <div class="mdl-tooltip" for="BtnVisualSaveEvent"><strong>Guardar</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Dialogs{
    <aside id="mdc-dialog_Template" class="mdc-dialog z99" role="alertdialog" aria-labelledby="my-mdc-dialog-label" aria-describedby="my-mdc-dialog-description">
        <div class="w100p text-center max_w_35">
            <div class="mdc-dialog__surface mdc-dialog__short bck_white sh_body text-left">
                <div class="bck_turkey h4 w03 absolute_tr_240_st"></div>
                <div class="bck_turkey h03 w4 absolute_bl_240_st"></div>

                <header class="mdc-dialog__header pad_lr_2 pad_t_2 block ">
                    <div class="w100p">
                        <div class="b_bottom_gray tab_icon_colors">
                            <div class="no_highlighting icon_tab top_indicator">
                                <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                                    <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                                        <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_back multi_icon icon_hover_fade inline"></span></a>
                                    </div>

                                    <div class="mdc-tab-bar-scroller__scroll-frame">
                                        <nav class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0" role="tablist">

                                            <a class="mdc-tab w2p5 h2p5 mdc-tab--active" data-rel="menu-item-confirmations">
                                                <span class="fs_11 inline_divs v_mid_all pad_b_25 pad_t_1 inline cursor_default">
                                                    <span class="italic inline_divs v_mid_all"><span class="pad_05_1">Prueba de correo</span></span>
                                                </span>
                                            </a>

                                            <span class="mdc-tab-bar__indicator"></span>
                                        </nav>
                                    </div>

                                    <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                                        <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_next multi_icon icon_hover_fade inline"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <section class="mdc-dialog__body overflow_auto pad_2 mar_0">
                    <form class="wh100p" autocomplete="off" id="FormEmailTemplate">
                        <div class="text-left">
                            <div class="mdc-text-field w100p msn_text" data-mdc-auto-init="MDCTextField">
                                <label for="Email" class="multi_icon icon_mail bck_pos_gray icon_hover_fade wh1p5 absolute right_0_240_st bottom_05_240_st"></label>
                                @Html.TextBox("Email", null, new { @id = "Email", @class = "mdc-text-field__input fs_1 pad_r_25", required = true, aria_controls = "Email-helper-text", MaxLength = "100", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$", oninvalid = "this.setCustomValidity('Debe cumplir con el formato de correo electrónico')", oninput = "this.setCustomValidity('')", title = "Debe cumplir con el formato de correo electrónico", @Value = CustomSession.CurrentSession.CurrentUser.Member.Email })
                                @Html.LabelFor(m => m.Name, "Correo de prueba", new { @for = "Email", @class = "mdc-text-field__label pad_r_25" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="Email-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido  /  Debe cumplir con el formato de correo electrónico.</p>
                        </div>
                        <button type="submit" id="BtnValidateEmail" class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer">
                            <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                            Agregar otro correo
                        </button>
                        <button type="submit" class="hide" id="BtnSendEmail"></button>
                    </form>
                </section>

                <footer class="mdc-dialog__footer pad_t_2 pad_lr_2 pad_b_2 mar_0 block">
                    <div class="text-right">
                        <div class="inline_divs v_mid_all w100p">
                            <a class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2 pointer mdc-dialog__footer__button--cancel" data-ajax="false">cancelar</a>

                            <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnVisualSend" onclick="document.getElementById('BtnSendEmail').click()">
                                <span class="wh1 icon_send multi_icon bck_pos_white block mar_lr_04"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <div class="mdc-dialog__backdrop"></div>
    </aside>
}

@section Scripts {
    @Scripts.Render("~/Content/assets/javascripts/summernote-lite.js")
    @Scripts.Render("~/Content/assets/javascripts/summernote-es-ES.js")
    @Scripts.Render("~/Scripts/Views/Activity/Events/Create.js")
}
