﻿@model Entities.Event
@{
    ViewBag.Title = "Ver Detalle del Evento";

    string managers = string.Join(", ", Model.EventRoles.Select(x => x.Role.Name).ToList());
}

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("Events", "Activity")" id="DivToList"> Registros </a>
    <span>/ @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver registros de eventos</strong></div>

<div class="content_wrap_body">
    <div class="pad_b_4 max_w_75">
        <div>
            <a href="@Url.Action("Events", "Activity")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green" data-ajax="false"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
        </div>

        <div class="relative min_h_30_1024_st pad_t_3">
            <div class="column_container">

                <div class="g_s1366_50p g_s240_100p pad_r_2_1366_st pad_r_3_1366_st z1 relative">
                    <div class="pad_b_2 g_s240_100p">
                        <div class="bck_cover h15_240_st h20_700_st " style="background-image: url('@(Model.EventImage == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_1.png" }) : Url.Action("ViewFile", "Application", new { FileUrl = Model.EventImage }))');"></div>
                    </div>

                    <div class="relative">
                        <div class="absolute_700_st left_0_700_st top_0_700_st w7 text-center_700_st">
                            <div class="capitalize fs_13 lh_13 light c_turkey">@Model.StartDateTime.ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("es"))</div>
                            <div class="fs_35 c_purple01 light lh_3 pad_t_05">@Model.StartDateTime.ToString("dd")</div>
                        </div>

                        <div class=" pad_l_8_700_st pad_t_1 pad_t_0_700_st pad_b_2">
                            <div class="mar_b_05 fs_12">@Model.Name</div>
                            <div class="mar_b_05 block c_gray relative pad_l_15 ellipsis">
                                <span class="absolute left_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1 bck_pos_gray icon_person_2 multi_icon"></span>
                                @(Model.MemberEvents.Where(x => x.Enabled).ToList().Count() + (Model.MemberEvents.Where(x => x.Enabled).ToList().Count() > 1 ? " asistirán" : " asistirá"))
                            </div>
                            <div class="mar_b_05">
                                <div class="pad_l_2 relative">
                                    <span class="circle w4px h4px absolute_240_st top_0_240_st bottom_0_240_st left_0_240_st mar_auto" style="background-color: @Model.EventStatus.Color; -moz-box-shadow: 0px 0px 10px 0px @Model.EventStatus.Color; -webkit-box-shadow: 0px 0px 10px 0px @Model.EventStatus.Color; box-shadow:0px 0px 10px 0px @Model.EventStatus.Color"></span>
                                    @Model.EventStatus.Name
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column_container v_mid_all relative pad_tb_1">
                        <div class=" absolute top_0_240_st left_0_240_st w100p"><div class="split_bottom w100p"></div></div>

                        <div class="g_s480_50p g_s240_100p inline_divs v_mid_all"></div>

                        @{
                            Model.EventAssessments = Model.EventAssessments.Where(x => x.Enabled).ToList();
                        }
                        <div class="g_s480_50p g_s240_100p text-right_480_st inline_divs v_mid_all pad_t_1 pad_t_0_480_st">
                            <div class="rate_lm" data-rateyo_rate="@(Model.EventAssessments.Count == 0 ? (decimal)0.0 : Decimal.Round((Model.EventAssessments.Sum(x => x.Assessment) / Model.EventAssessments.Count), 1))"></div>
                            <div class="c_gray opa_50 pad_l_05">@(Model.EventAssessments.Count == 0 ? (decimal)0.0 : Decimal.Round((Model.EventAssessments.Sum(x => x.Assessment) / Model.EventAssessments.Count), 1)) (@Model.EventAssessments.Count)</div>
                        </div>

                        <div class="absolute bottom_0_240_st left_0_240_st w100p"><div class="split_bottom w100p "></div></div>
                    </div>

                    <div class="pad_t_2 pad_b_1	">

                        <div class="c_gray fs_1 hover_to_green pad_l_25 relative ellipsis block hover_icon_all mar_tb_1">
                            <div>@Model.StartDateTime.ToString("dddd, dd \\de MMMM \\de yyyy a la\\s HH:mm", System.Globalization.CultureInfo.CreateSpecificCulture("es")) </div>
                            <span class="absolute_tl_240_st wh1p5">
                                <span class="wh100p block relative icon_clock multi_icon icon_hover_fade bck_pos_gray"></span>
                            </span>
                        </div>

                        <div class="c_gray fs_1 hover_to_green pad_l_25 relative ellipsis block hover_icon_all mar_tb_1">
                            <div>Lugar: @Model.Place</div>
                            <a href="http://maps.google.com/maps?q=@Model.Latitude,@Model.Longitude" target="_blank" class="bck_turkey_light_hover bck_turkey_light hover_to_green c_black c_hover_turkey pad_05 fs_07 bolder lh_08 uppercase trans_05">Ver mapa</a>
                            <span class="absolute_tl_240_st  wh1p5">
                                <span class="wh100p block relative icon_activity multi_icon icon_hover_fade bck_pos_gray"></span>
                            </span>
                        </div>

                        <div class="c_gray fs_1 hover_to_green pad_l_25 relative ellipsis block hover_icon_all mar_tb_1">
                            <div>Alcance: @Model.Scope.Name</div>
                            <span class="absolute_tl_240_st  wh1p5">
                                <span class="wh100p block relative icon_lang multi_icon icon_hover_fade bck_pos_gray"></span>
                            </span>
                        </div>

                        <div class="c_gray fs_1 hover_to_green pad_l_25 relative ellipsis block hover_icon_all mar_tb_1">
                            <div>Costo: US @Model.Cost.ToString("c", System.Globalization.CultureInfo.CreateSpecificCulture("en"))</div>
                            <span class="absolute_tl_240_st wh1p5">
                                <span class="wh100p block relative icon_dollar multi_icon icon_hover_fade bck_pos_gray"></span>
                            </span>
                        </div>

                        <div class="c_gray fs_1 hover_to_green pad_l_25 relative ellipsis block hover_icon_all mar_tb_1">
                            <div>Posibilidad de financiamiento: @(Model.ItIsFundable ? "Si" : "No")</div>
                            <span class="absolute_tl_240_st  wh1p5">
                                <span class="wh100p block relative icon_card multi_icon icon_hover_fade bck_pos_gray"></span>
                            </span>
                        </div>

                        <div class="c_gray fs_1 hover_to_green pad_l_25 relative ellipsis block hover_icon_all mar_tb_1">
                            <div>Requisitos: @Model.Requirements</div>
                            <span class="absolute_tl_240_st  wh1p5">
                                <span class="wh100p block relative icon_list multi_icon icon_hover_fade bck_pos_gray"></span>
                            </span>
                        </div>

                        <div class="c_gray fs_1 hover_to_green pad_l_25 relative ellipsis block hover_icon_all mar_tb_1">
                            <div>Encargados: @(managers == string.Empty ? "---" : managers)</div>
                            <span class="absolute_tl_240_st  wh1p5">
                                <span class="wh100p block relative icon_id multi_icon icon_hover_fade bck_pos_gray"></span>
                            </span>
                        </div>

                        <div class="c_gray fs_1 hover_to_green pad_l_25 relative block hover_icon_all mar_tb_1">
                            <div class="break_word">Periodo de inscripción: @("del " + Model.InscriptionStart.ToString("dd \\de MMMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es")) + " al " + Model.InscriptionEnd.ToString("dd \\de MMMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es")))</div>
                            <div>@(Math.Round((Model.InscriptionEnd.Date - DateTime.Now.Date).TotalDays) < 0 ? "" : "(" + Math.Round((Model.InscriptionEnd.Date - DateTime.Now.Date).TotalDays).ToString() + " días restantes)")</div>
                            <span class="absolute_tl_240_st  wh1p5">
                                <span class="wh100p block relative icon_date multi_icon icon_hover_fade bck_pos_gray"></span>
                            </span>
                        </div>

                        <div class="c_gray fs_1 hover_to_green pad_l_25 relative ellipsis block hover_icon_all mar_tb_1">
                            <div>Cupo: @Model.QuotaLimit</div>
                            <span class="absolute_tl_240_st  wh1p5">
                                <span class="wh100p block relative icon_cupon multi_icon icon_hover_fade bck_pos_gray"></span>
                            </span>
                        </div>

                        <div class="c_gray fs_1 hover_to_green pad_l_25 relative ellipsis block hover_icon_all mar_tb_1">
                            <span class="absolute_tl_240_st  wh1p5">
                                <span class="wh100p block relative icon_miembro multi_icon icon_hover_fade bck_pos_gray"></span>
                            </span>
                            <div>Rangos de edad: @(Model.EventAgeRanges.Count == 0 ? "Para todo público" : "")</div>
                            @foreach (var item in Model.EventAgeRanges)
                            {
                                <div class="pad_l_1">@item.AgeRange.Name</div>
                            }
                        </div>
                    </div>

                    <div class="pad_tb_1"> <div class="split_bottom to_1366 g_s240_100p"></div></div>
                </div>

                <div class="absolute top_0_240_st left_50p_1366_st only_1366 h100p"><div class="split_icon h100p"></div></div>

                <div class="pad_t_0_1366_st g_s1366_50p g_s240_100p h100p pad_t_2_240_st pad_l_3_1366_st">
                    <div class="c_gray bolder">Detalle:</div>

                    <div class="pad_t_1 note-editor">@Html.Raw(Model.Description)</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Content/assets/javascripts/rateyo_min.js")
    @Scripts.Render("~/Scripts/Views/Activity/Events/Details.js")
}
