﻿@{
    ViewBag.Title = "Registros de Eventos";
}

@Html.Hidden("AlertTitle", "Eventos", new { @id = "AlertTitle" })
@Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

@Html.Hidden("Url_Delete", Url.Action("DeleteEvent", "Activity"))

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>Registros</span>
</div>

<div class="content_wrap_body">

    <div id="GridEvents">
        @Html.Action("GetGridEvents", "Activity")
    </div>

</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/Activity/Events/Index.js")
}
