﻿@model Entities.EventInvitationContainer
@{
    ViewBag.Title = "Gestión de Invitaciones";
}

@Html.Hidden("Url_EventMember", Url.Action("GetEventMemberPartial", "Activity"), new { @id = "Url_EventMember" })
@Html.Hidden("Url_EventGroup", Url.Action("GetEventGroupPartial", "Activity"), new { @id = "Url_EventGroup" })
@Html.Hidden("Url_EventSection", Url.Action("GetEventSectionPartial", "Activity"), new { @id = "Url_EventSection" })
@Html.Hidden("Url_EventPosition", Url.Action("GetEventPositionPartial", "Activity"), new { @id = "Url_EventPosition" })

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("Events", "Activity")" id="DivToList"> Registros </a>
    <span>/ @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver registros de eventos</strong></div>

<div class="content_wrap_body">

    @using (Ajax.BeginForm("SaveInvitations", "Activity", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess_Invitation"

    }, new { OnBegin = "OnBegin", validateFunc = "ValidateInvitation", @class = "relative", autocomplete = "off", @id = "EventForm" }))
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("AlertTitle", "Actividades", new { @id = "AlertTitle" })
        @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

        @Html.HiddenFor(m => m.EventId, new { @id = "EventId", @Name = "container.EventId" })
        @Html.HiddenFor(m => m.Send, new { @id = "Send", @Name = "container.Send" })

        <div class="pad_b_4 max_w_75">
            <div class="italic fs_12 c_black">Gestione la invitación de la actividad</div>

            <div class="column_container pad_t_1">
                <div class="g_s1366_50p g_s240_100p pad_r_2_1366_st pad_t_15 pad_t_0_1366_st pad_r_3_1366_st z2 relative">
                    <div class="text-left">
                        <div class="mdc-text-field w100p mdc-text-field--disabled mdc-text-field--upgraded" data-mdc-auto-init="MDCTextField">
                            @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "mdc-text-field__input fs_1", disabled = true })
                            @Html.LabelFor(m => m.Name, "Nombre del evento", new { @for = "Name", @class = "mdc-text-field__label mdc-floating-label--float-above" })
                            <div class="mdc-line-ripple"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative min_h_30_1024_st">
                <div class="column_container mar_t_3">

                    <div class="g_s1366_50p g_s240_100p pad_r_2_1366_st pad_r_3_1366_st z1 relative">
                        <div class="italic fs_12 c_black">Seleccione los destinatarios</div>

                        <div class="mar_t_05 mar_b_2 pad_1 border_gray dashed hover_bck_purple bck_turkey_light">
                            <div id="EventMemberContainerInvitation">
                                @{
                                    int cont = 0;
                                    foreach (var item in Model.EventMemberInvitations)
                                    {
                                        <div class="column_container relative pad_r_4 MemberContainerInvitation">
                                            <input name="@("container.EventMemberInvitations[" + cont + "].EventMemberInvitationId")" id="@("EventMemberInvitations_EventMemberInvitationId_" + cont)" type="hidden" value="@item.EventMemberInvitationId">

                                            <div class="text-left w100p">
                                                <div class="hide">
                                                    @Html.DropDownList("container.EventMemberInvitations[" + cont + "].MemberId", new SelectList(ViewBag.MemberList, "MemberId", "Names", item.MemberId), "Seleccione una opción", new { @id = "EventMemberInvitations_MemberId_" + cont, placeholder = "Seleccione el miembro", selectDisabled = true })
                                                </div>
                                                <div id="@("EventMemberInvitations_MemberId_" + cont + "SelectDiv")" class="visualSelectContainer"></div>
                                            </div>

                                            <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeMember" data-suffix_inv="Invitation">
                                                    <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                </a>
                                            </div>
                                        </div>

                                        cont++;
                                    }
                                }
                            </div>
                            <div class="inline">
                                <a class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer addEventMember" data-suffix_inv="Invitation">
                                    <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                    Agregar otro miembro
                                </a>
                            </div>
                        </div>

                        <div class="mar_tb_05 pad_1 border_gray dashed hover_bck_purple ">
                            <div id="EventGroupContainerInvitation">
                                @{
                                    cont = 0;
                                    foreach (var item in Model.EventGroupInvitations)
                                    {
                                        <div class="column_container relative pad_r_4 GroupContainerInvitation">
                                            <input name="@("container.EventGroupInvitations[" + cont + "].EventGroupInvitationId")" id="@("EventGroupInvitations_EventGroupInvitationId_" + cont)" type="hidden" value="@item.EventGroupInvitationId">

                                            <div class="text-left w100p">
                                                <div class="hide">
                                                    @Html.DropDownList("container.EventGroupInvitations[" + cont + "].GroupId", new SelectList(ViewBag.GroupList, "GroupId", "Name", item.GroupId), "Seleccione una opción", new { @id = "EventGroupInvitations_GroupId_" + cont, placeholder = "Seleccione el grupo", selectDisabled = true })
                                                </div>
                                                <div id="@("EventGroupInvitations_GroupId_" + cont + "SelectDiv")" class="visualSelectContainer"></div>
                                            </div>

                                            <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeGroup" data-suffix_inv="Invitation">
                                                    <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                </a>
                                            </div>
                                        </div>

                                        cont++;
                                    }
                                }
                            </div>
                            <div class="inline">
                                <a class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer addEventGroup" data-suffix_inv="Invitation">
                                    <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                    Agregar otro grupo
                                </a>
                            </div>
                        </div>

                        <div class="mar_tb_05 pad_1 border_gray dashed hover_bck_purple ">
                            <div id="EventSectionContainerInvitation">
                                @{
                                    cont = 0;
                                    foreach (var item in Model.EventSectionInvitations)
                                    {
                                        <div class="column_container relative pad_r_4 SectionContainerInvitation">
                                            <input name="@("container.EventSectionInvitations[" + cont + "].EventSectionInvitationId")" id="@("EventSectionInvitations_EventSectionInvitationId_" + cont)" type="hidden" value="@item.EventSectionInvitationId">

                                            <div class="text-left w100p">
                                                <div class="hide">
                                                    @Html.DropDownList("container.EventSectionInvitations[" + cont + "].SectionId", new SelectList(ViewBag.SectionList, "SectionId", "Name", item.SectionId), "Seleccione una opción", new { @id = "EventSectionInvitations_SectionId_" + cont, placeholder = "Seleccione la sección", selectDisabled = true })
                                                </div>
                                                <div id="@("EventSectionInvitations_SectionId_" + cont + "SelectDiv")" class="visualSelectContainer"></div>
                                            </div>

                                            <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeSection" data-suffix_inv="Invitation">
                                                    <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                </a>
                                            </div>
                                        </div>

                                        cont++;
                                    }
                                }
                            </div>
                            <div class="inline">
                                <a class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer addEventSection" data-suffix_inv="Invitation">
                                    <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                    Agregar otra sección
                                </a>
                            </div>
                        </div>

                        <div class="mar_tb_05 pad_1 border_gray dashed hover_bck_purple ">
                            <div id="EventPositionContainerInvitation">
                                @{
                                    cont = 0;
                                    foreach (var item in Model.EventPositionInvitations)
                                    {
                                        <div class="column_container relative pad_r_4 PositionContainerInvitation">
                                            <input name="@("container.EventPositionInvitations[" + cont + "].EventPositionInvitationId")" id="@("EventPositionInvitations_EventPositionInvitationId_" + Model)" type="hidden" value="@item.EventPositionInvitationId">

                                            <div class="text-left w100p">
                                                <div class="hide">
                                                    @Html.DropDownList("container.EventPositionInvitations[" + cont + "].PositionId", new SelectList(ViewBag.PositionList, "PositionId", "Name", item.PositionId), "Seleccione una opción", new { @id = "EventPositionInvitations_PositionId_" + cont, placeholder = "Seleccione el cargo", selectDisabled = true })
                                                </div>
                                                <div id="@("EventPositionInvitations_PositionId_" + cont + "SelectDiv")" class="visualSelectContainer"></div>
                                            </div>

                                            <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removePosition" data-suffix_inv="Invitation">
                                                    <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                </a>
                                            </div>
                                        </div>

                                        cont++;
                                    }
                                }
                            </div>
                            <div class="inline">
                                <a class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer addEventPosition" data-suffix_inv="Invitation">
                                    <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                    Agregar otro cargo
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="absolute top_0_240_st left_50p_1366_st only_1366 h100p"><div class="split_icon h100p"></div></div>

                    <div class="pad_t_0_1366_st g_s1366_50p g_s240_100p h100p pad_t_2_240_st pad_l_3_1366_st">
                        <div class="italic fs_12 c_black">Seleccione las exclusiones</div>

                        <div class="mar_t_05 mar_b_2 pad_1 border_gray dashed hover_bck_purple bck_turkey_light">
                            <div id="EventMemberContainerExclusion">
                                @{
                                    cont = 0;
                                    foreach (var item in Model.EventMemberExclusions)
                                    {
                                        <div class="column_container relative pad_r_4 MemberContainerExclusion">
                                            <input name="@("container.EventMemberExclusions[" + cont + "].EventMemberExclusionId")" id="@("EventMemberExclusions_EventMemberExclusionId_" + cont)" type="hidden" value="@item.EventMemberExclusionId">

                                            <div class="text-left w100p">
                                                <div class="hide">
                                                    @Html.DropDownList("container.EventMemberExclusions[" + cont + "].MemberId", new SelectList(ViewBag.MemberList, "MemberId", "Names", item.MemberId), "Seleccione una opción", new { @id = "EventMemberExclusions_MemberId_" + cont, placeholder = "Seleccione el miembro", selectDisabled = true })
                                                </div>
                                                <div id="@("EventMemberExclusions_MemberId_" + cont + "SelectDiv")" class="visualSelectContainer"></div>
                                            </div>

                                            <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeMember" data-suffix_inv="Exclusion">
                                                    <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                </a>
                                            </div>
                                        </div>

                                        cont++;
                                    }
                                }
                            </div>
                            <div class="inline">
                                <a class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer addEventMember" data-suffix_inv="Exclusion">
                                    <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                    Agregar otro miembro
                                </a>
                            </div>
                        </div>

                        <div class="mar_tb_05 pad_1 border_gray dashed hover_bck_purple ">
                            <div id="EventGroupContainerExclusion">
                                @{
                                    cont = 0;
                                    foreach (var item in Model.EventGroupExclusions)
                                    {
                                        <div class="column_container relative pad_r_4 GroupContainerExclusion">
                                            <input name="@("container.EventGroupExclusions[" + cont + "].EventGroupExclusionId")" id="@("EventGroupExclusions_EventGroupExclusionId_" + cont)" type="hidden" value="@item.EventGroupExclusionId">

                                            <div class="text-left w100p">
                                                <div class="hide">
                                                    @Html.DropDownList("container.EventGroupExclusions[" + cont + "].GroupId", new SelectList(ViewBag.GroupList, "GroupId", "Name", item.GroupId), "Seleccione una opción", new { @id = "EventGroupExclusions_GroupId_" + cont, placeholder = "Seleccione el grupo", selectDisabled = true })
                                                </div>
                                                <div id="@("EventGroupExclusions_GroupId_" + cont + "SelectDiv")" class="visualSelectContainer"></div>
                                            </div>

                                            <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeGroup" data-suffix_inv="Exclusion">
                                                    <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                </a>
                                            </div>
                                        </div>

                                        cont++;
                                    }
                                }
                            </div>
                            <div class="inline">
                                <a class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer addEventGroup" data-suffix_inv="Exclusion">
                                    <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                    Agregar otro grupo
                                </a>
                            </div>
                        </div>

                        <div class="mar_tb_05 pad_1 border_gray dashed hover_bck_purple ">
                            <div id="EventSectionContainerExclusion">
                                @{
                                    cont = 0;
                                    foreach (var item in Model.EventSectionExclusions)
                                    {
                                        <div class="column_container relative pad_r_4 SectionContainerExclusion">
                                            <input name="@("container.EventSectionExclusions[" + cont + "].EventSectionExclusionId")" id="@("EventSectionExclusions_EventSectionExclusionId_" + cont)" type="hidden" value="@item.EventSectionExclusionId">

                                            <div class="text-left w100p">
                                                <div class="hide">
                                                    @Html.DropDownList("container.EventSectionExclusions[" + cont + "].SectionId", new SelectList(ViewBag.SectionList, "SectionId", "Name", item.SectionId), "Seleccione una opción", new { @id = "EventSectionExclusions_SectionId_" + cont, placeholder = "Seleccione la sección", selectDisabled = true })
                                                </div>
                                                <div id="@("EventSectionExclusions_SectionId_" + cont + "SelectDiv")" class="visualSelectContainer"></div>
                                            </div>

                                            <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removeSection" data-suffix_inv="Exclusion">
                                                    <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                </a>
                                            </div>
                                        </div>

                                        cont++;
                                    }
                                }
                            </div>
                            <div class="inline">
                                <a class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer addEventSection" data-suffix_inv="Exclusion">
                                    <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                    Agregar otra sección
                                </a>
                            </div>
                        </div>

                        <div class="mar_tb_05 pad_1 border_gray dashed hover_bck_purple ">
                            <div id="EventPositionContainerExclusion">
                                @{
                                    cont = 0;
                                    foreach (var item in Model.EventPositionExclusions)
                                    {
                                        <div class="column_container relative pad_r_4 PositionContainerExclusion">
                                            <input name="@("container.EventPositionExclusions[" + cont + "].EventPositionExclusionId")" id="@("EventPositionExclusions_EventPositionExclusionId_" + Model)" type="hidden" value="@item.EventPositionExclusionId">

                                            <div class="text-left w100p">
                                                <div class="hide">
                                                    @Html.DropDownList("container.EventPositionExclusions[" + cont + "].PositionId", new SelectList(ViewBag.PositionList, "PositionId", "Name", item.PositionId), "Seleccione una opción", new { @id = "EventPositionExclusions_PositionId_" + cont, placeholder = "Seleccione el cargo", selectDisabled = true })
                                                </div>
                                                <div id="@("EventPositionExclusions_PositionId_" + cont + "SelectDiv")" class="visualSelectContainer"></div>
                                            </div>

                                            <div class="absolute right_1_240_st top_2_240_st mar_t_05 wh1p5">
                                                <a class="absolute_tl_240_st bottom_0_240_st mar_auto wh100p removePosition" data-suffix_inv="Exclusion">
                                                    <span class="wh100p block relative pointer icon_close_3 multi_icon icon_hover_fade bck_pos_gray"></span>
                                                </a>
                                            </div>
                                        </div>

                                        cont++;
                                    }
                                }
                            </div>
                            <div class="inline">
                                <a class="c_gray italic fs_09 hover_to_green pad_l_15 relative ellipsis block hover_icon_all pointer addEventPosition" data-suffix_inv="Exclusion">
                                    <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1"><span class="wh1 block relative pointer icon_add_1 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                                    Agregar otro cargo
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="inline_divs text-right v_mid_all w100p max_w_75">
            <a href="@Url.Action("Events", "Activity")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2">cancelar</a>

            <button type="submit" id="BtnSaveInvitations" class="uppercase c_gray hover_to_green bolder fs_08 pad_r_2 pad_l_2 relative hover_icon_all pointer">
                <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1p5"><span class="wh1p5 block relative icon_save multi_icon icon_hover_fade bck_pos_gray"></span></span>
                Guardar
            </button>

            <button type="submit" id="BtnSendInvitations" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09">
                <span class="wh1 icon_send multi_icon bck_pos_white block z1 relative"></span>
            </button>
            <div class="mdl-tooltip" for="BtnSendInvitations"><strong>Guardar y Envíar</strong></div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Views/Activity/Events/ManageInvitations.js")
}