﻿@using CR.CGC.GuiasScoutsWeb.Common
@model List<CR.CGC.GuiasScoutsWeb.Models.ItemBinnacleViewModel>
@{
    Entities.Logbook record = (Entities.Logbook)ViewBag.Record;
    List<Entities.Member> Members = CustomSession.CurrentSession.ListContainer.Members;
}

@if (Model.Count > 1)
{
    List<CR.CGC.GuiasScoutsWeb.Models.ItemBinnacleViewModel> defaultList = Model.Where(x => x.ItemType != ItemBinnacleConstants.ExternalType).ToList();
    int cont = 0;
    foreach (var item in defaultList)
    {
        if (cont == 0)
        {
            switch (item.ItemType)
            {
                case ItemBinnacleConstants.DefaultType:
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" rowspan="@defaultList.Count.ToString()">
                            <span class="block relative circle @BinnacleConstants.GetLogTypeIcon(record.LogType.Name, true) wh2p5">
                                <span class="center_absolute wh1p5"><span class="wh100p block relative @BinnacleConstants.GetLogTypeIcon(record.LogType.Name) multi_icon bck_pos_white"></span></span>
                            </span>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric" rowspan="@defaultList.Count.ToString()"><span class="bold c_black">@record.LogType.Name</span></td>
                        <td class="mdl-data-table__cell--non-numeric" rowspan="@defaultList.Count.ToString()">@record.ActionDate.ToString("dd \\de MMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es"))<br /><span class="bold c_black">@record.ActionDate.ToString("HH:mm")</span></td>
                        <td class="mdl-data-table__cell--non-numeric ws_normal" rowspan="@defaultList.Count.ToString()"><span class="bold c_black">@Members.Where(x => x.UserId == record.ExecutingUser).FirstOrDefault().Names</span></td>
                        <td class="mdl-data-table__cell--non-numeric" rowspan="@defaultList.Count.ToString()"><span class="v_mid_all">Actualización<span class="inline mar_lr_05"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionType) multi_icon bck_pos_gray"></span></span></span></td>
                        <td class="mdl-data-table__cell--non-numeric">@item.DisplayName</td>
                        <td class="mdl-data-table__cell--non-numeric ws_normal">@Html.Raw(item.NewData.IsBool() ? (Convert.ToBoolean(item.NewData) ? "<span class=\"wh1p5 mar_l_1 block icon_check_3 multi_icon bck_pos_gray\"></span>" : "<span class=\"wh1p5 mar_l_1 block icon_close_3 multi_icon bck_pos_gray\"></span>") : item.NewData)</td>
                        <td class="mdl-data-table__cell--non-numeric ws_normal">@Html.Raw(item.OldData.IsBool() ? (Convert.ToBoolean(item.OldData) ? "<span class=\"wh1p5 mar_l_1 block icon_check_3 multi_icon bck_pos_gray\"></span>" : "<span class=\"wh1p5 mar_l_1 block icon_close_3 multi_icon bck_pos_gray\"></span>") : item.OldData)</td>
                    </tr>
                    break;
                case ItemBinnacleConstants.ImageType:
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" rowspan="@defaultList.Count.ToString()">
                            <span class="block relative circle @BinnacleConstants.GetLogTypeIcon(record.LogType.Name, true) wh2p5">
                                <span class="center_absolute wh1p5"><span class="wh100p block relative @BinnacleConstants.GetLogTypeIcon(record.LogType.Name) multi_icon bck_pos_white"></span></span>
                            </span>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric" rowspan="@defaultList.Count.ToString()"><span class="bold c_black">@record.LogType.Name</span></td>
                        <td class="mdl-data-table__cell--non-numeric" rowspan="@defaultList.Count.ToString()">@record.ActionDate.ToString("dd \\de MMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es"))<br /><span class="bold c_black">@record.ActionDate.ToString("HH:mm")</span></td>
                        <td class="mdl-data-table__cell--non-numeric ws_normal" rowspan="@defaultList.Count.ToString()"><span class="bold c_black">@Members.Where(x => x.UserId == record.ExecutingUser).FirstOrDefault().Names</span></td>
                        <td class="mdl-data-table__cell--non-numeric" rowspan="@defaultList.Count.ToString()"><span class="v_mid_all">Actualización<span class="inline mar_lr_05"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionType) multi_icon bck_pos_gray"></span></span></span></td>
                        <td class="mdl-data-table__cell--non-numeric">@item.DisplayName</td>
                        <td class="mdl-data-table__cell--non-numeric ws_normal">
                            <div class="wh2 icon circle" style="background-image: url('@(item.NewData == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.NewData }))');"></div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric ws_normal">
                            <div class="wh2 icon circle" style="background-image: url('@(item.OldData == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.OldData }))');"></div>
                        </td>
                    </tr>
                    break;
                default:
                    break;
            }
        }
        else
        {
            switch (item.ItemType)
            {
                case ItemBinnacleConstants.DefaultType:
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">@item.DisplayName</td>
                        <td class="mdl-data-table__cell--non-numeric ws_normal">@Html.Raw(item.NewData.IsBool() ? (Convert.ToBoolean(item.NewData) ? "<span class=\"wh1p5 mar_l_1 block icon_check_3 multi_icon bck_pos_gray\"></span>" : "<span class=\"wh1p5 mar_l_1 block icon_close_3 multi_icon bck_pos_gray\"></span>") : item.NewData)</td>
                        <td class="mdl-data-table__cell--non-numeric ws_normal">@Html.Raw(item.OldData.IsBool() ? (Convert.ToBoolean(item.OldData) ? "<span class=\"wh1p5 mar_l_1 block icon_check_3 multi_icon bck_pos_gray\"></span>" : "<span class=\"wh1p5 mar_l_1 block icon_close_3 multi_icon bck_pos_gray\"></span>") : item.OldData)</td>
                    </tr>
                    break;
                case ItemBinnacleConstants.ImageType:
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">@item.DisplayName</td>
                        <td class="mdl-data-table__cell--non-numeric ws_normal">
                            <div class="wh2 icon circle" style="background-image: url('@(item.NewData == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.NewData }))');"></div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric ws_normal">
                            <div class="wh2 icon circle" style="background-image: url('@(item.OldData == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.OldData }))');"></div>
                        </td>
                    </tr>
                    break;
                default:
                    break;
            }
        }

        cont++;
    }
}
else
{
    foreach (var item in Model)
    {
        switch (item.ItemType)
        {
            case ItemBinnacleConstants.DefaultType:
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <span class="block relative circle @BinnacleConstants.GetLogTypeIcon(record.LogType.Name, true) wh2p5">
                            <span class="center_absolute wh1p5"><span class="wh100p block relative @BinnacleConstants.GetLogTypeIcon(record.LogType.Name) multi_icon bck_pos_white"></span></span>
                        </span>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="bold c_black">@record.LogType.Name</span></td>
                    <td class="mdl-data-table__cell--non-numeric">@record.ActionDate.ToString("dd \\de MMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es"))<br /><span class="bold c_black">@record.ActionDate.ToString("HH:mm")</span></td>
                    <td class="mdl-data-table__cell--non-numeric ws_normal"><span class="bold c_black">@Members.Where(x => x.UserId == record.ExecutingUser).FirstOrDefault().Names</span></td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="v_mid_all">Actualización <span class="inline mar_lr_05"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionType) multi_icon bck_pos_gray"></span></span></span></td>
                    <td class="mdl-data-table__cell--non-numeric">@item.DisplayName</td>
                    <td class="mdl-data-table__cell--non-numeric ws_normal">@Html.Raw(item.NewData.IsBool() ? (Convert.ToBoolean(item.NewData) ? "<span class=\"wh1p5 mar_l_1 block icon_check_3 multi_icon bck_pos_gray\"></span>" : "<span class=\"wh1p5 mar_l_1 block icon_close_3 multi_icon bck_pos_gray\"></span>") : item.NewData)</td>
                    <td class="mdl-data-table__cell--non-numeric ws_normal">@Html.Raw(item.OldData.IsBool() ? (Convert.ToBoolean(item.OldData) ? "<span class=\"wh1p5 mar_l_1 block icon_check_3 multi_icon bck_pos_gray\"></span>" : "<span class=\"wh1p5 mar_l_1 block icon_close_3 multi_icon bck_pos_gray\"></span>") : item.OldData)</td>
                </tr>
                break;
            case ItemBinnacleConstants.ImageType:
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <span class="block relative circle @BinnacleConstants.GetLogTypeIcon(record.LogType.Name, true) wh2p5">
                            <span class="center_absolute wh1p5"><span class="wh100p block relative @BinnacleConstants.GetLogTypeIcon(record.LogType.Name) multi_icon bck_pos_white"></span></span>
                        </span>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="bold c_black">@record.LogType.Name</span></td>
                    <td class="mdl-data-table__cell--non-numeric">@record.ActionDate.ToString("dd \\de MMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es"))<br /><span class="bold c_black">@record.ActionDate.ToString("HH:mm")</span></td>
                    <td class="mdl-data-table__cell--non-numeric ws_normal"><span class="bold c_black">@Members.Where(x => x.UserId == record.ExecutingUser).FirstOrDefault().Names</span></td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="v_mid_all">Actualización <span class="inline mar_lr_05"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionType) multi_icon bck_pos_gray"></span></span></span></td>
                    <td class="mdl-data-table__cell--non-numeric">@item.DisplayName</td>
                    <td class="mdl-data-table__cell--non-numeric ws_normal">
                        <div class="wh2 icon circle" style="background-image: url('@(item.NewData == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.NewData }))');"></div>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric ws_normal">
                        <div class="wh2 icon circle" style="background-image: url('@(item.OldData == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.OldData }))');"></div>
                    </td>
                </tr>
                break;
            case ItemBinnacleConstants.ExternalType:
                int cont = 0;
                foreach (var subItem in item.Details)
                {
                    if (cont == 0)
                    {
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric" rowspan="@item.Details.Count.ToString()">
                                <span class="block relative circle @BinnacleConstants.GetLogTypeIcon(record.LogType.Name, true) wh2p5">
                                    <span class="center_absolute wh1p5"><span class="wh100p block relative @BinnacleConstants.GetLogTypeIcon(record.LogType.Name) multi_icon bck_pos_white"></span></span>
                                </span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric" rowspan="@item.Details.Count.ToString()"><span class="bold c_black">@record.LogType.Name</span></td>
                            <td class="mdl-data-table__cell--non-numeric" rowspan="@item.Details.Count.ToString()">@record.ActionDate.ToString("dd \\de MMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es"))<br /><span class="bold c_black">@record.ActionDate.ToString("HH:mm")</span></td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal" rowspan="@item.Details.Count.ToString()"><span class="bold c_black">@Members.Where(x => x.UserId == record.ExecutingUser).FirstOrDefault().Names</span></td>
                            <td class="mdl-data-table__cell--non-numeric" rowspan="@item.Details.Count.ToString()">
                                @{
                                    switch (item.ActionType)
                                    {
                                        case BinnacleConstants.Insert:
                                            <span class="v_mid_all"><span>Inserción de  <span class="lowercase">@item.DisplayName</span></span><span class="inline mar_lr_05"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionType) multi_icon bck_pos_gray"></span></span></span>
                                            break;
                                        case BinnacleConstants.Update:
                                            <span class="v_mid_all"><span>Cambio de  <span class="lowercase">@item.DisplayName</span></span><span class="inline mar_lr_05"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionType) multi_icon bck_pos_gray"></span></span></span>
                                            break;
                                        case BinnacleConstants.Delete:
                                            <span class="v_mid_all"><span>Eliminación de  <span class="lowercase">@item.DisplayName</span></span><span class="inline mar_lr_05"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionType) multi_icon bck_pos_gray"></span></span></span>
                                            break;
                                        default:
                                            <span>@item.DisplayName</span>
                                            break;
                                    }
                                }
                            </td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal">@subItem.DisplayName</td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal" colspan="2">@subItem.NewData</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric ws_normal">@subItem.DisplayName</td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal" colspan="2">@subItem.NewData</td>
                        </tr>
                    }

                    cont++;
                }
                break;
            default:
                break;
        }
    }

}

