﻿@using CR.CGC.GuiasScoutsWeb.Common
@model List<Entities.Logbook>
@{
    List<DateTime> DayList = Model.GroupBy(x => x.ActionDate.Date).Select(x => x.Key).OrderByDescending(x => x).ToList();
    List<Entities.Member> Members = CustomSession.CurrentSession.ListContainer.Members;
}

@if (Model.Count > 0)
{
    foreach (var record in Model.OrderByDescending(x => x.ActionDate).ToList())
    {
        foreach (var item in record.LogbookDetails)
        {
            if (item.ActionSubType == null)
            {
                @Html.Action("GetDetailItemBinnacle", "Binnacle", new { item = item, admin = true, record = record })
            }
            else
            {
                switch (item.ActionSubType)
                {
                    case BinnacleConstants.Subscription:
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span class="block relative circle @BinnacleConstants.GetLogTypeIcon(record.LogType.Name, true) wh2p5">
                                    <span class="center_absolute wh1p5"><span class="wh100p block relative @BinnacleConstants.GetLogTypeIcon(record.LogType.Name) multi_icon bck_pos_white"></span></span>
                                </span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"><span class="bold c_black">@record.LogType.Name</span></td>
                            <td class="mdl-data-table__cell--non-numeric">@record.ActionDate.ToString("dd \\de MMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es"))<br /><span class="bold c_black">@record.ActionDate.ToString("HH:mm")</span></td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal"><span class="bold c_black">@Members.Where(x => x.UserId == record.ExecutingUser).FirstOrDefault().Names</span></td>
                            <td class="mdl-data-table__cell--non-numeric"><span class="v_mid_all">Nueva suscripción <span class="inline mar_lr_05"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionSubType) multi_icon bck_pos_gray"></span></span></span></td>
                            <td class="mdl-data-table__cell--non-numeric">Nombre</td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal">@item.NewData.InterestThemes.First().Name</td>
                            <td class="mdl-data-table__cell--non-numeric">---</td>
                        </tr>
                        break;
                    case BinnacleConstants.Unsubscribe:
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span class="block relative circle @BinnacleConstants.GetLogTypeIcon(record.LogType.Name, true) wh2p5">
                                    <span class="center_absolute wh1p5"><span class="wh100p block relative @BinnacleConstants.GetLogTypeIcon(record.LogType.Name) multi_icon bck_pos_white"></span></span>
                                </span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"><span class="bold c_black">@record.LogType.Name</span></td>
                            <td class="mdl-data-table__cell--non-numeric">@record.ActionDate.ToString("dd \\de MMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es"))<br /><span class="bold c_black">@record.ActionDate.ToString("HH:mm")</span></td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal"><span class="bold c_black">@Members.Where(x => x.UserId == record.ExecutingUser).FirstOrDefault().Names</span></td>
                            <td class="mdl-data-table__cell--non-numeric"><span class="v_mid_all">Cancelaste suscripción <span class="inline mar_lr_05"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionSubType) multi_icon bck_pos_gray"></span></span></span></td>
                            <td class="mdl-data-table__cell--non-numeric">Nombre</td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal">@item.NewData.InterestThemes.First().Name</td>
                            <td class="mdl-data-table__cell--non-numeric">---</td>
                        </tr>
                        break;
                    case BinnacleConstants.Assesment:
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span class="block relative circle @BinnacleConstants.GetLogTypeIcon(record.LogType.Name, true) wh2p5">
                                    <span class="center_absolute wh1p5"><span class="wh100p block relative @BinnacleConstants.GetLogTypeIcon(record.LogType.Name) multi_icon bck_pos_white"></span></span>
                                </span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"><span class="bold c_black">@record.LogType.Name</span></td>
                            <td class="mdl-data-table__cell--non-numeric">@record.ActionDate.ToString("dd \\de MMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es"))<br /><span class="bold c_black">@record.ActionDate.ToString("HH:mm")</span></td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal"><span class="bold c_black">@Members.Where(x => x.UserId == record.ExecutingUser).FirstOrDefault().Names</span></td>
                            <td class="mdl-data-table__cell--non-numeric"><span class="v_mid_all">Calificaste un evento <span class="inline mar_lr_05"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionSubType) multi_icon bck_pos_gray"></span></span></span></td>
                            <td class="mdl-data-table__cell--non-numeric">Nombre</td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal">@item.NewData.Events.First().Name</td>
                            <td class="mdl-data-table__cell--non-numeric">---</td>
                        </tr>
                        break;
                    case BinnacleConstants.Attendance:
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span class="block relative circle @BinnacleConstants.GetLogTypeIcon(record.LogType.Name, true) wh2p5">
                                    <span class="center_absolute wh1p5"><span class="wh100p block relative @BinnacleConstants.GetLogTypeIcon(record.LogType.Name) multi_icon bck_pos_white"></span></span>
                                </span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"><span class="bold c_black">@record.LogType.Name</span></td>
                            <td class="mdl-data-table__cell--non-numeric">@record.ActionDate.ToString("dd \\de MMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es"))<br /><span class="bold c_black">@record.ActionDate.ToString("HH:mm")</span></td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal"><span class="bold c_black">@Members.Where(x => x.UserId == record.ExecutingUser).FirstOrDefault().Names</span></td>
                            <td class="mdl-data-table__cell--non-numeric"><span class="v_mid_all">Confirmaste asistencia al evento <span class="inline mar_lr_05"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionSubType) multi_icon bck_pos_gray"></span></span></span></td>
                            <td class="mdl-data-table__cell--non-numeric">Nombre</td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal">@item.NewData.Events.First().Name</td>
                            <td class="mdl-data-table__cell--non-numeric">---</td>
                        </tr>
                        break;
                    case BinnacleConstants.Unattendance:
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span class="block relative circle @BinnacleConstants.GetLogTypeIcon(record.LogType.Name, true) wh2p5">
                                    <span class="center_absolute wh1p5"><span class="wh100p block relative @BinnacleConstants.GetLogTypeIcon(record.LogType.Name) multi_icon bck_pos_white"></span></span>
                                </span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"><span class="bold c_black">@record.LogType.Name</span></td>
                            <td class="mdl-data-table__cell--non-numeric">@record.ActionDate.ToString("dd \\de MMM \\de yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("es"))<br /><span class="bold c_black">@record.ActionDate.ToString("HH:mm")</span></td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal"><span class="bold c_black">@Members.Where(x => x.UserId == record.ExecutingUser).FirstOrDefault().Names</span></td>
                            <td class="mdl-data-table__cell--non-numeric"><span class="v_mid_all">Cancelaste asistencia al evento <span class="inline mar_lr_05"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionSubType) multi_icon bck_pos_gray"></span></span></span></td>
                            <td class="mdl-data-table__cell--non-numeric">Nombre</td>
                            <td class="mdl-data-table__cell--non-numeric ws_normal">@item.NewData.Events.First().Name</td>
                            <td class="mdl-data-table__cell--non-numeric">---</td>
                        </tr>
                        break;
                    default:
                        break;
                }
            }
        }
    }
}
else
{
    @Html.Hidden("PageNumber", Model.Count, new { @id = "ScrollEndPage" })

    <div class="pad_t_3 bolder">
        <div class="relative">
            <div class="fs_08 c_gray uppercase opa_50">No hay más registros</div>

            <div class="absolute_default wh100p pad_l_10">
                <div class="relative h100p">
                    <div class="center_absolute w100p h1px"><div class="split_bottom w100p"></div></div>
                </div>
            </div>
        </div>
    </div>
}