﻿@{
    ViewBag.Title = "Bitácora";
}

@Html.Hidden("Url_Get_Binnacle", Url.Action("GetGridAdministratorBinnacle", "Binnacle"), new { @id = "Url_Get_Binnacle" })
@Html.Hidden("ContentContainer_Scroll", "BinnacleContainer", new { @id = "ContentContainer_Scroll" })

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>@ViewBag.Title</span>
</div>

<div class="content_wrap_body">
    <div class="italic fs_12 v_mid_all c_black mar_b_2">Registros a la fecha de hoy</div>

    <div class="column_container relative g_s240_100p g_s1024_80p g_s1366_50p mar_tb_05 right_block" id="filterContiner">

        <div class="column_container w100p pad_r_4">
            <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                <div class="text-left">
                    <div class="mdc-text-field w100p mar_0" data-mdc-auto-init="MDCTextField">
                        <label for="StartDates" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2 absolute right_0_240_st bottom_05_240_st" id="StartDate_clear"></label>
                        <input type="text" maxlength="10" aria-controls="StartDate-helper-text" class="mdc-text-field__input fs_1 pad_r_3 input-date-picker" id="StartDate" name="StartDate" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Este campo es requerido.')" title="Este campo es requerido.">
                        <label class="mdc-text-field__label pad_r_3" for="StartDate">Fecha Inicio</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p id="StartDate-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                </div>
            </div>
            <div class="g_s240_100p g_s480_50p pad_r_15_480_st">
                <div class="text-left">
                    <div class="mdc-text-field w100p mar_0" data-mdc-auto-init="MDCTextField">
                        <label for="EndingDates" class="multi_icon icon_date bck_pos_gray icon_hover_fade wh2 absolute right_0_240_st bottom_05_240_st" id="EndingDate_clear"></label>
                        <input type="text" maxlength="10" aria-controls="EndingDate-helper-text" class="mdc-text-field__input fs_1 pad_r_3 input-date-picker" id="EndingDate" name="EndingDate" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Este campo es requerido.')" title="Este campo es requerido.">
                        <label class="mdc-text-field__label pad_r_3" for="EndingDate">Fecha Fin</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p id="EndingDate-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                </div>
            </div>

            <div class="absolute top_2_240_st">
                <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSearchBinnacle">
                    <span class="wh1p3 icon_view multi_icon bck_pos_white block z1 relative"></span>
                </button>
                <div class="mdl-tooltip" for="BtnSearchBinnacle"><strong>Filtrar por Fechas</strong></div>
            </div>
        </div>
        <div class="absolute top_2_240_st hide" id="DivRemoveFilter">
            <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnRemoveFilterBinnacle">
                <span class="wh1p3 icon_close_3 multi_icon bck_pos_white block z1 relative"></span>
            </button>
            <div class="mdl-tooltip" for="BtnRemoveFilterBinnacle"><strong>Remover Filtro</strong></div>
        </div>
        <div id="Date-helper-text" class="c_red w100p italic bold text-right hide">Revise el orden de las fechas.</div>
    </div>

    <div class="overflow_x_h">
        <table class="mdl-data-table mdl-js-data-table w100p overflow_h" id="BinnacleTable">
            <thead class="c_purple01_all bolder fs_1" id="HeaderBinnacle">
                <tr class="pad_1_divs">
                    <th class="mdl-data-table__cell--non-numeric w2"></th>
                    <th class="mdl-data-table__cell--non-numeric">Tipo de bitácora</th>
                    <th class="mdl-data-table__cell--non-numeric">Fecha y hora<br> de creación</th>
                    <th class="mdl-data-table__cell--non-numeric">Nombre del miembro</th>
                    <th class="mdl-data-table__cell--non-numeric">Acción</th>
                    <th class="mdl-data-table__cell--non-numeric">Campo</th>
                    <th class="mdl-data-table__cell--non-numeric">Registro actual</th>
                    <th class="mdl-data-table__cell--non-numeric">Registro anterior</th>
                </tr>
            </thead>
            <tbody id="BinnacleContainer" class="content_binnacle">
                @Html.Action("GetGridAdministratorBinnacle", "Binnacle")
            </tbody>
        </table>
    </div>

    @Html.Partial("_InfiniteScrollPartial")
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/Binnacle/Administrator.js")

    @Scripts.Render("~/Scripts/Utilities/InfiniteScrollAnimation.js")
    @Scripts.Render("~/Scripts/Utilities/InfiniteScrollInit.js")
    @Scripts.Render("~/Scripts/Utilities/FloatThead.js")
}