﻿@model int?
@{
    ViewBag.Title = "Nuevo evento internacional";
}
<!-- navigation -->
<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("InternationalEvents","Configuration")" id="DivToList">Lista de catálogos / Evento Internacional </a>
    <span>/ @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver eventos internacionales</strong></div>

<div class="content_wrap_body">
    <div>
        <a href="@Url.Action("InternationalEvents", "Configuration")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
    </div>

    <div class="italic fs_12 c_black row_lm">Agregue un evento internacional</div>

    <div class="relative">
        <div class="pad_b_3">
            <div id="CreateContainer" class="relative min_h_30_1024_st">
                @Html.Partial("Catalogs/InternationalEvents/_CreateBodyPartial", Model)
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Views/Configuration/InternationalEvents/Create.js")
