﻿@using CR.CGC.GuiasScoutsWeb.Common
@model List<Entities.MemberAlertSetting>
@{
    ViewBag.Title = "Alertas";
    List<Entities.AlertType> Types = ViewBag.ListTypes != null ? (List<Entities.AlertType>)ViewBag.ListTypes : new List<Entities.AlertType>();
    int cont = 0;
}

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_bottom_all c_black_all lh_2">
    <span>@ViewBag.Title</span>
</div>
<a href="@Url.Action("Alerts", "Configuration")" class="hide" id="BtnToAlerts"></a>

<div class="content_wrap_body">
    <div class="italic fs_12 c_black row_lm">Configure las notificaciones de sus alertas a su preferencia</div>

    @using (Ajax.BeginForm("SaveAlert", "Configuration", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "CreateContainer",
        OnSuccess = "OnSuccess_Alerts",
        OnFailure = "OnFailure",

    }, new { OnBegin = "OnBegin", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.Hidden("AlertTitle", "Configuración de Alertas", new { @id = "AlertTitle" })
        @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

        <div class="relative pad_t_2_240_st">

            <div class="relative max_w_80">
                <div class="column_container only_900 text-center absolute_900_st left_0_900_st top_0_900_st bottom_0_900_st mar_auto h1p5 h2_1366_st w100p pad_l_20r_900_st pad_l_25r_1366_st">
                    <div class="g_s240_33p italic inline_divs">
                        <span class="relative pad_t_1 pad_r_05">
                            SMS<span class="wh1p3 absolute left_100p_240_st top_0_240_st v_top icon_sms multi_icon bck_pos_green inline"></span>
                        </span>
                    </div>
                    <div class="g_s240_33p italic inline_divs">
                        <span class="relative pad_t_1 pad_r_05">
                            Email<span class="wh1p3 absolute left_100p_240_st top_0_240_st v_top icon_mail_arrow multi_icon bck_pos_green inline"></span>
                        </span>
                    </div>
                    <div class="g_s240_33p italic inline_divs">
                        <span class="relative pad_t_1 pad_r_05">
                            Portal<span class="wh1p3 absolute left_100p_240_st top_0_240_st v_top icon_bell_fill multi_icon bck_pos_green inline"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="pad_t_2 max_w_80">

                @foreach (var type in Types.Where(x => !x.Other).ToList())
                {
                    <div class="pad_t_05 pad_t_0_900_st">
                        <div class=" fs_12 hover_bck_purple c_gray_to_black_all active relative list_container_select list_container_checkboxes">

                            @{
                                Entities.MemberAlertSetting setting = Model.Where(x => x.AlertTypeId == type.AlertTypeId).FirstOrDefault();
                            }
                            <div class="treeview_toggle ">

                                <div class="w20_900_st relative_900_st z1 w25_1366_st">
                                    <div class="mdc-form-field fs_12 w100p">
                                        <div class="h3 pad_l_3 pad_r_1"><span class="wh2 multi_icon @AlertIconConstants.GetAlertIcon(type.Name) bck_pos_green block mar_tb_05"></span></div>
                                        <label for="item_1" class="ellipsis_480_st pad_r_3_480_st">@type.Name</label>
                                    </div>

                                    @if (type.Name == AlertIconConstants.MenuCustomizeName)
                                    {
                                        <div class="w3 h2 absolute right_0_240_st top_1_240_st mar_auto text-center z1 pointer" onclick="javascript:unhide('action_container_@type.AlertTypeId');unhide('item_arrow_@type.AlertTypeId');">
                                            <div class="arrow gray_arrow w1 h05 selected mar_auto mar_t_05" id="item_arrow_@type.AlertTypeId"></div>
                                        </div>
                                    }

                                </div>

                                @if (type.Name == AlertIconConstants.MenuCustomizeName)
                                {
                                    <div class="selected toggle_height w20_900_st relative_900_st z1 w25_1366_st Customize_Container" id="action_container_@type.AlertTypeId">

                                        @foreach (var custom in Types.Where(x => x.Other).ToList())
                                        {
                                            bool saved = Model.Where(x => x.AlertTypeId == custom.AlertTypeId).ToList().Count == 0 ? false : true;

                                            @Html.Hidden("Alert[" + cont + "].AlertTypeId", custom.AlertTypeId, new { @class = "Field_AlertTypeId" })
                                            <div class="mdc-form-field fs_12 w100p pad_l_5 pad_b_05 mar_l_1">
                                                <div class="mdc-checkbox">
                                                    @Html.CheckBox("Alert[" + cont + "].Enabled", saved, new { @id = "action_" + custom.AlertTypeId, @class = "mdc-checkbox__native-control" })
                                                    <div class="mdc-checkbox__background">
                                                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                                                        <div class="mdc-checkbox__mixedmark"></div>
                                                    </div>
                                                </div>

                                                <label for="action_@custom.AlertTypeId" class="pad_r_3_480_st pointer">@custom.Name</label>
                                            </div>

                                            cont++;
                                        }

                                    </div>
                                }

                                <div class="toggle_chekbox">
                                    <div class="pad_lr_1_240_st pad_t_0 pad_b_1 to_900"><div class="split_bottom_dashed text-center h1px"></div></div>

                                    <div class="column_container text-center absolute_900_st left_0_900_st top_0_900_st w100p pad_l_20r_900_st h100p_900_st pad_l_25r_1366_st @(type.Name == AlertIconConstants.MenuCustomizeName ? "Customize_Check_Container" : "")">
                                        @Html.Hidden("Alert[" + cont + "].AlertTypeId", type.AlertTypeId, new { @class = "Field_AlertTypeId" })

                                        <div class="g_s240_33p relative h100p">
                                            <label for="item_1_check_@cont" class="h1p3 to_900 relative pointer italic inline_divs w100p">
                                                SMS<span class="wh1p3 absolute icon_sms multi_icon icon_hover_fade bck_pos_gray inline mar_l_05"></span>
                                            </label>

                                            <div class="mdc-form-field fs_12 text-center z2 relative">
                                                <div class="mdc-checkbox">
                                                    @Html.CheckBox("Alert[" + cont + "].Sms", setting == null ? false : setting.Sms, new { @id = "item_1_check_" + cont, @class = "mdc-checkbox__native-control" })
                                                    <div class="mdc-checkbox__background">
                                                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                                                        <div class="mdc-checkbox__mixedmark"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="bck_white wh100p absolute_default z1 only_900 trans_1"></div>
                                        </div>

                                        <div class="g_s240_33p relative h100p">
                                            <label for="item_2_check_@cont" class="h1p3 to_900 relative pointer italic inline_divs w100p">
                                                Email<span class="wh1p3 absolute icon_mail_arrow multi_icon icon_hover_fade bck_pos_gray inline mar_l_05"></span>
                                            </label>

                                            <div class="mdc-form-field fs_12 text-center z2 relative">
                                                <div class="mdc-checkbox">
                                                    @Html.CheckBox("Alert[" + cont + "].Email", setting == null ? false : setting.Email, new { @id = "item_2_check_" + cont, @class = "mdc-checkbox__native-control" })
                                                    <div class="mdc-checkbox__background">
                                                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                                                        <div class="mdc-checkbox__mixedmark"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="bck_white wh100p absolute_default z1 only_900 trans_1"></div>
                                        </div>

                                        <div class="g_s240_33p relative h100p">
                                            <label for="item_3_check_@cont" class="h1p3 to_900 relative pointer italic inline_divs w100p">
                                                Portal<span class="wh1p3 absolute icon_bell_fill multi_icon icon_hover_fade bck_pos_gray inline mar_l_05"></span>
                                            </label>

                                            <div class="mdc-form-field fs_12 text-center z2 relative">
                                                <div class="mdc-checkbox mdc-checkbox--disabled">
                                                    @Html.CheckBox("Alert[" + cont + "].Portal", true, new { @id = "item_3_check_" + cont, @class = "mdc-checkbox__native-control", disabled = true })
                                                    <div class="mdc-checkbox__background">
                                                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" /></svg>
                                                        <div class="mdc-checkbox__mixedmark"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="bck_white wh100p absolute_default z1 only_900 trans_1"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="absolute wh1 icon_warning multi_icon bck_pos_degrade right_100p_240_st mar_r_05 top_1_240_st warning_list cursor_auto"></div>
                        </div>
                    </div>

                    cont++;
                }

            </div>

            <div class="pad_t_4 text-right">
                <div class="inline_divs v_mid_all w100p">
                    <a href="@Url.Action("ProfileView", "Configuration")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2" data-ajax="false">cancelar</a>

                    <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
                        <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                    </button>
                    <div class="mdl-tooltip" for="BtnSave"><strong>Guardar Alertas</strong></div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/Configuration/Alerts/Index.js")
}