﻿<div class="text-center mar_t_3 hide" id="preloader_scroll">
    <div class="bolder opa_50 c_gray uppercase fs_09 relative h2 lh_2 pad_r_25 inline">
        cargando...
        <div id="pre_post_scroll" class="preloader_default wh2 block mar_auto opa_70 absolute_tr_240_st bottom_0_240_st margin_auto"></div>
        <div id="pre_post_scroll_night" class="preloader_default wh2 block mar_auto opa_70 absolute_tr_240_st bottom_0_240_st margin_auto"></div>
    </div>
</div>
