﻿@using CR.CGC.GuiasScoutsWeb.Common

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" style="font-size: @(CustomSession.CurrentSession.CurrentUser.Member.User.FontSize == null ? 13 : CustomSession.CurrentSession.CurrentUser.Member.User.FontSize )px;" class="full_h100p">
<head>
    <title>@ViewBag.Title - Guías y Scouts de Costa Rica</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />

    @{
        if (ViewBag.ApplicationTitle == null) { ViewBag.ApplicationTitle = "Guías y Scouts de Costa Rica"; }

        string appPath = Request.ApplicationPath != "/" ? Request.ApplicationPath : "";
        appPath = appPath != "" ? Request.Url.AbsolutePath.Replace(appPath, "") : Request.Url.AbsolutePath;

        List<string> actualPath = appPath.Split('/').ToList();
        if (actualPath.Count < 4) { for (int i = 0; i < 4; i++) { actualPath.Add(""); } }

        ViewBag.ActualPathList = actualPath;
    }

    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-180x180.png")">
    <link rel="icon" type="image/png" sizes="192x192" href="@Url.Content("~/Content/assets/images/favicon/android-icon-192x192.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/assets/images/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/Content/assets/images/favicon/favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/assets/images/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/Content/assets/images/favicon/manifest.json")">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Content/assets/images/favicon/ms-icon-144x144.png")">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/assets/stylesheets/preloader.css")

    <!-- google font -->
    @Styles.Render("~/Content/assets/fonts/google-font.css")
    @Styles.Render("~/Content/assets/fonts/google-material-icon.css")

    <!-- jquery librery -->
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")

    <!-- material design -->
    @Styles.Render("~/Content/assets/stylesheets/material-components-web.css")
    @Styles.Render("~/Content/material.css")

    <!-- rate Yo -->
    @Styles.Render("~/Content/assets/stylesheets/rateyo.min.css")
    @Styles.Render("~/Content/assets/stylesheets/bootstrap-material-datetimepicker.css")

    @RenderSection("Styles", required: false)

    <!-- css -->
    @Styles.Render("~/Content/assets/stylesheets/default_min/origin.css")
    @Styles.Render("~/Content/assets/stylesheets/default_min/default.css")
    @Styles.Render("~/Content/assets/stylesheets/fonts.css")
    @Styles.Render("~/Content/assets/stylesheets/material_lm.css")

    <!-- color picker -->
    @Styles.Render("~/Content/assets/stylesheets/spectrum.css")


    <!-- screens -->
    <!-- Smartphones (portrait 240 - 320) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s240_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 240px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s240.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 240px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s240_theme_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 240px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s240_theme_deuteranopia.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 240px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s240_theme_night.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 240px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s240_icons.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 240px)" />
    <!-- smartphone (landscape 360 - 321)-->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s360_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 321px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s360.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 321px)" />
    <!-- smartphone (480 - 361) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s480_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 361px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s480.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 361px)" />
    <!-- ipad (481 - 700) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s700_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 481px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s700.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 481px)" />
    <!-- web (900 - 701) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s900_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 701px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s900.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 701px)" />
    <!-- web (1024 - 901) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s1024_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 901px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s1024.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 901px)" />
    <!-- web (1366 - 1024) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s1366_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 1025px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s1366.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 1025px)" />
    <!-- web (HD - 1366) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/shd_default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/stylesheets/shd.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 1367px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/shd_ratio.css")" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Styles.Render("~/Content/sweet-alert.css")

</head>
<body class="bck_body @(CustomSession.CurrentSession.CurrentUser.Member.User.Theme == null ? "bck_default" : CustomSession.CurrentSession.CurrentUser.Member.User.Theme )" data-theme="@(CustomSession.CurrentSession.CurrentUser.Member.User.Theme == null ? "bck_default" : CustomSession.CurrentSession.CurrentUser.Member.User.Theme )">
    @Html.Hidden("ApplicationTitle", (string)ViewBag.ApplicationTitle)

    @if (Request.IsAuthenticated)
    {
        if (!(Constants.saName == CustomSession.CurrentSession.CurrentUser.Member.User.UserName))
        {
            @Html.Action("GetMenu", "Application")
        }
        else
        {
            <div class="container_top">
                <div class="container_header pad_lr_2 pad_t_2 pad_b_1 bck_white fixed w100p z5 pad_tb_1_1024_st sh_05">

                    <!-- profile -->
                    @Html.Partial("_LoginPartial")

                    <!-- split bottom -->
                    <div class="split_bottom pad_t_15 to_1024"></div>

                </div>
            </div>
        }
    }

    <!-- body -->
    <div class="@(Constants.saName == CustomSession.CurrentSession.CurrentUser.Member.User.UserName ? "pad_l_0" : "body_interface") pad_b_7_1024_st @(actualPath[1] == "Error" ? "unselected" : "selected")" id="body_toggle">

        <div class="content_wrap body_container">

            <div class="bck_white sh_body relative z2">
                @Html.Hidden("Url_CreateSelect", Url.Action("CreateSelect", "Application"))

                @RenderBody()
            </div>

            <div class="footer pad_t_2_240_st fixed_bl_1024_st pad_l_28_1024_st pad_r_4_1024_st pad_b_3_1024_st w100p text-right_1024_st pad_t_1 text-center_240_st">
                <div class="inline_divs v_bottom_all">
                    <img src="@Url.Content("~/Content/assets/images/logo_scout_gray.png")" alt="" class="w9 pad_lr_05">
                    <img src="@Url.Content("~/Content/assets/images/logo_gws_gray.png")" alt="" class="w13 pad_lr_05 mar_t_05">
                </div>
            </div>

        </div>

    </div>

    @RenderSection("Dialogs", required: false)

    @Html.Partial("_LoaderPartial")
    @Scripts.Render("~/Content/assets/javascripts/loader.js")

    <!-- color picker -->
    @Scripts.Render("~/Content/assets/javascripts/spectrum.js")

    @Scripts.Render("~/Content/assets/javascripts/moment.min.js")
    @Scripts.Render("~/Content/assets/javascripts/bootstrap-material-datetimepicker.js")

    @Scripts.Render("~/Content/assets/javascripts/material-components-web.js")
    <script>mdc.autoInit()</script>
    <!-- js -->
    <!-- add to layout.js -->
    @Scripts.Render("~/bundles/material")
    @Scripts.Render("~/Content/assets/javascripts/layout_drawmenu.js")
    @Scripts.Render("~/Content/assets/javascripts/layout.js")
    @Scripts.Render("~/Content/assets/javascripts/show_hide.js")
    @Scripts.Render("~/Content/assets/javascripts/scrolling_info.js")

    @Scripts.Render("~/Scripts/sweet-alert.js")
    @Scripts.Render("~/Scripts/jquery.mask.js")
    @Scripts.Render("~/Content/assets/javascripts/select2.js")
    @Scripts.Render("~/Content/assets/javascripts/es.js")
    @Scripts.Render("~/Scripts/Utilities/Utilities.js")
    @RenderSection("scripts", required: false)

</body>
</html>