﻿<div class="full_fixed preloader" id="preloader">
    <div class="midd_container absolute wh100p">
        <div class="midd_cell">
            <div id="lottie"></div>

            <div class="c_white italic fs_12 text-center pad_t_1 dots_loading ">Cargando <span>.</span><span>.</span><span>.</span></div>
        </div>
    </div>
</div>