﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" style="font-size: 13px;" class="full_h100p">
<head>
    <title>@ViewBag.Title - Guías y Scouts de Costa Rica</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />

    @{ if (ViewBag.ApplicationTitle == null) { ViewBag.ApplicationTitle = "Guías y Scouts de Costa Rica"; } }
    <!-- meta ie compatibility -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <!-- detecting devices/removing zoom -->
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/assets/images/favicon/apple-icon-180x180.png")">
    <link rel="icon" type="image/png" sizes="192x192" href="@Url.Content("~/Content/assets/images/favicon/android-icon-192x192.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/assets/images/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/Content/assets/images/favicon/favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/assets/images/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/Content/assets/images/favicon/manifest.json")">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Content/assets/images/favicon/ms-icon-144x144.png")">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/assets/stylesheets/preloader.css")

    <!-- jquery librery -->
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")

    <!-- google font -->
    @Styles.Render("~/Content/assets/fonts/google-font.css")

    <!-- material design -->
    @Styles.Render("~/Content/assets/stylesheets/material-components-web.css")

    <!-- css -->
    @Styles.Render("~/Content/assets/stylesheets/default_min/origin.css")
    @Styles.Render("~/Content/assets/stylesheets/default_min/default.css")
    @Styles.Render("~/Content/assets/stylesheets/fonts.css")
    @Styles.Render("~/Content/assets/stylesheets/material_lm.css")

    <!-- screens -->
    <!-- Smartphones (portrait 240 - 320) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s240_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 240px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s240.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 240px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s240_theme_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 240px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s240_theme_deuteranopia.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 240px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s240_theme_night.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 240px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s240_icons.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 240px)" />
    <!-- smartphone (landscape 360 - 321)-->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s360_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 321px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s360.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 321px)" />
    <!-- smartphone (480 - 361) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s480_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 361px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s480.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 361px)" />
    <!-- ipad (481 - 700) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s700_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 481px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s700.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 481px)" />
    <!-- web (900 - 701) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s900_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 701px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s900.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 701px)" />
    <!-- web (1024 - 901) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s1024_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 901px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s1024.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 901px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s1024_theme_login.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 901px)" />
    <!-- web (1366 - 1024) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/s1366_default.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 1025px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s1366.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 1025px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/s1366_theme_login.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 1025px)" />
    <!-- web (HD - 1366) -->
    <link href="@Url.Content("~/Content/assets/stylesheets/default_min/shd_default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/stylesheets/shd.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 1367px)" />
    <link href="@Url.Content("~/Content/assets/stylesheets/shd_ratio.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/stylesheets/shd_theme_login.css")" rel="stylesheet" type="text/css" media="only screen and (min-width : 1367px)" />
    <!-- hacks -->
    <!--[if IE]>
    <link rel="stylesheet" href="assets/stylesheets/s_ie.css" type="text/css" media="screen"/>
    <![endif]-->

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Styles.Render("~/Content/sweet-alert.css")

</head>
<body class="login bck_default ontop">
    @Html.Hidden("ApplicationTitle", (string)ViewBag.ApplicationTitle)

    <!-- to do -->
    <div class="full_fixed preloader" id="preloader">

    </div>

    <!-- login container -->
    <div class="content_wrap wh100p relative bck_guias content_panel_login absolute_tl_1024_st w40_1024_st">

        <!-- options -->
        <div class="relative option_login_container">
            <div class="z4 absolute_default inline_divs text-right w100p top_2_900_st ">


                <!-- fill theme -->
                <div class="mdc-menu-anchor">

                    <!-- icon -->
                    <div class="w2p5 h2p5 menu-button relative pointer icon_fill multi_icon icon_hover_fade" data-menuel="toolbar-body">
                    </div>

                    <!-- menu -->
                    <!-- theme -->
                    <div class="mdc-menu mdc-menu--animating-open menu_theme" tabindex="-1" id="toolbar-body">
                        <div class="mdc-menu__items mdc-list text-center box_sizing_all" role="menu" aria-hidden="true">
                            <ul class="pad_lr_1 pad_tb_05">
                                <!-- selector - theme -->
                                <!-- guias default -->
                                <li class="mdc-list-item relative" role="menuitem" tabindex="0" data-bodyclass="bck_default">
                                    <!-- container -->
                                    <label class="wh2p5 circle relative block menu-child">
                                        <!-- pointer -->
                                        <span class="wh1p2 center_absolute bck_guias circle block"></span>
                                    </label>
                                </li>

                                <!-- guias night -->
                                <li class="mdc-list-item relative" role="menuitem" tabindex="0" data-bodyclass="bck_deuteranopia">
                                    <!-- container -->
                                    <label class="wh2p5 circle relative block menu-child">
                                        <!-- pointer -->
                                        <span class="wh1p2 center_absolute bck_deuteranopia_icon  circle block"></span>
                                    </label>
                                </li>


                                <li class="mdc-list-item relative" role="menuitem" tabindex="0" data-bodyclass="bck_night">
                                    <!-- container -->
                                    <label class="wh2p5 circle relative block menu-child">
                                        <!-- pointer -->
                                        <span class="wh1p2 center_absolute bck_purple01 circle block">
                                            <span class="wh100p center_absolute icon_moon icon circle block"></span>
                                        </span>
                                    </label>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>

                <!-- split -->
                <div class="pad_lr_1 h2p5 relative split_icon">
                </div>

                <!-- zoom fonts -->
                <div class="mdc-menu-anchor">

                    <!-- icon -->
                    <div class="w2p5 h2p5 menu-button relative pointer icon_font multi_icon icon_hover_fade" data-menuel="toolbar">
                    </div>

                    <!-- menu -->
                    <div class="mdc-menu mdc-menu--animating-open zoom_font" tabindex="-1" id="toolbar">
                        <div class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                            <div class="mdc-list-item" role="menuitem" tabindex="0">

                                <!-- slider font -->
                                <div class="mdc-slider mdc-slider--discrete" tabindex="1" role="slider" aria-valuemin="13" aria-valuemax="20" aria-valuenow="13" aria-label="Select Value">
                                    <div class="mdc-slider__track-container">
                                        <div class="mdc-slider__track"></div>
                                    </div>
                                    <div class="mdc-slider__thumb-container">
                                        <div class="mdc-slider__pin">
                                            <span class="mdc-slider__pin-value-marker"></span>
                                        </div>
                                        <svg class="mdc-slider__thumb" width="21" height="21">
                                            <circle cx="10.5" cy="10.5" r="7.875"></circle>
                                        </svg>
                                        <div class="mdc-slider__focus-ring"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- bck pattern -->
        <div class="z1 full_absolute wh100p pat_login"></div>


        <!-- login form -->
        @RenderBody()
    </div>

    <!-- body complement -->
    <div class="only_1024 pad_l_40r_1024_st wh100p">
        <div class="content_wrap bck_cover login_bck wh100p">
            <div class="relative h100p">


                <!-- head -->
                <div class="">
                    <!-- logo -->
                    <div class="text-center_240_st text-right_1366_st">
                        <div class="text-center inline">
                            <div class="wh8 mar_auto logo multi_icon bck_pos_green"></div>
                            <div class="c_turkey fs_08 bolder">&copy; @DateTime.Now.Year</div>
                        </div>
                    </div>

                    <!-- title -->
                    <div class="sl_02 uppercase fs_2 black c_turkey text-center row_lm">
                        guías y scouts
                    </div>

                    <!-- text description -->
                    <div class="c_white text-center bolder row_lm max_w_70 mar_auto login_text_intro">
                        <div class="pad_t_1 opa_50_night">
                            Por mi honor y con la ayuda de Dios prometo hacer todo lo posible por cumplir mis deberes para con Dios y la Patria, ayudar al prójimo en toda circunstancia y cumplir fielmente la Ley Guía y Scout.
                        </div>
                    </div>
                </div>


                <!-- footer -->
                <div class="c_white_all absolute bottom_2_240_st column_container w100p opa_50_night">
                    <div class="g_s1024_100p g_s1366_50p v_bottom text-center_1024_st text-left_1366_st fs_12">
                        <div>¡Qué bueno que estás aquí!</div>
                        <div class="black fs_15 v_bottom">-... .. . -. ...- . -. .. -.. --- .-.-.</div>
                    </div>
                    <div class="g_s1024_100p g_s1366_50p text-right column_container text-center_1024_st text-right_1366_st pad_t_4_1024_st">
                        <div class="pad_lr_1_1024_st pad_lr_0_1366_st g_s1366_auto g_s1024_50p pad_t_15_1366_st  v_bottom">
                            <div class="max_w_10 inline text-center">
                                <img src="@Url.Content("~/Content/assets/images/logo_scout.png")" alt="" class="w90p">
                            </div>
                        </div>
                        <div class="pad_lr_1_1024_st pad_lr_0_1366_st g_s1366_auto g_s1024_50p pad_t_15_1366_st  v_bottom">
                            <div class="max_w_15 inline text-center">
                                <img src="@Url.Content("~/Content/assets/images/logo_gws.png")" alt="" class="w90p">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    @Scripts.Render("~/Content/assets/javascripts/material-components-web.js")
    <script>mdc.autoInit()</script>
    <!-- js -->
    @Scripts.Render("~/Content/assets/javascripts/layout.js")
    @Scripts.Render("~/Content/assets/javascripts/show_hide.js")
    @Scripts.Render("~/Content/assets/javascripts/scrolling_info.js")

    @Scripts.Render("~/Scripts/sweet-alert.js")
    @Scripts.Render("~/Scripts/Utilities/Utilities.js")
    @RenderSection("scripts", required: false)
</body>
</html>
