﻿@using Microsoft.AspNet.Identity
@using CR.CGC.GuiasScoutsWeb.Common

@if (Request.IsAuthenticated)
{
    <div class="relative text-right_1024_st v_mid_all">

        <div class="relative option_login_container only_1024 inline h2p5">
            <div class="inline_divs text-right w100p">
                @Html.Hidden("url_conf_user", Url.Action("SaveUserConf", "Configuration"), new { @id = "url_conf_user" })

                <div class="mdc-menu-anchor">
                    <div class="w2p5 h2p5 menu-button relative pointer icon_fill multi_icon icon_hover_fade bck_pos_gray" data-menuel="toolbar-body" data-usertheme="true" id="BtnTheme"></div>

                    <div class="mdc-menu mdc-menu--animating-open menu_theme mar_t_15_240_st mar_t_1p9_1024_st" tabindex="-1" id="toolbar-body">
                        <div class="mdc-menu__items mdc-list text-center box_sizing_all" role="menu" aria-hidden="true">
                            <ul class="pad_lr_1 pad_tb_05">

                                <li class="mdc-list-item relative" role="menuitem" tabindex="0" data-bodyclass="bck_default">
                                    <label class="wh2p5 circle relative block menu-child pointer item_theme_user"><span class="wh1p2 center_absolute bck_guias circle block"></span></label>
                                </li>

                                <li class="mdc-list-item relative" role="menuitem" tabindex="0" data-bodyclass="bck_deuteranopia">
                                    <label class="wh2p5 circle relative block menu-child pointer item_theme_user"><span class="wh1p2 center_absolute bck_deuteranopia_icon circle block"></span></label>
                                </li>

                                <li class="mdc-list-item relative" role="menuitem" tabindex="0" data-bodyclass="bck_night">
                                    <label class="wh2p5 circle relative block menu-child pointer item_theme_user">
                                        <span class="wh1p2 center_absolute bck_purple01 circle block"><span class="wh100p center_absolute icon_moon icon circle block"></span></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mdl-tooltip" for="BtnTheme"><strong>Cambiar Tema</strong></div>

                <div class="pad_lr_1 h2p5 relative split_icon"></div>

                <div class="mdc-menu-anchor">
                    <div class="w2p5 h2p5 menu-button relative pointer icon_font multi_icon icon_hover_fade bck_pos_gray" data-menuel="toolbar" id="BtnFont"></div>

                    <div class="mdc-menu mdc-menu--animating-open zoom_font mar_t_15_240_st mar_t_1p9_1024_st" tabindex="-1" id="toolbar">
                        <div class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                            <div class="mdc-list-item" role="menuitem" tabindex="0">

                                <div class="mdc-slider mdc-slider--discrete" tabindex="1" role="slider" aria-valuemin="13" aria-valuemax="15" aria-valuenow="@(CustomSession.CurrentSession.CurrentUser.Member.User.FontSize == null ? 13 : CustomSession.CurrentSession.CurrentUser.Member.User.FontSize )" aria-label="Select Value">
                                    <div class="mdc-slider__track-container"><div class="mdc-slider__track"></div></div>
                                    <div class="mdc-slider__thumb-container">
                                        <div class="mdc-slider__pin"><span class="mdc-slider__pin-value-marker"></span></div>
                                        <svg class="mdc-slider__thumb" width="21" height="21"><circle cx="10.5" cy="10.5" r="7.875"></circle></svg>
                                        <div class="mdc-slider__focus-ring"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-tooltip" for="BtnFont"><strong>Cambiar tamaño de Fuente</strong></div>

                <div class="pad_lr_1 h2p5 relative split_icon"></div>
            </div>
        </div>

        @if (!(CR.CGC.GuiasScoutsWeb.Common.Constants.saName == CustomSession.CurrentSession.CurrentUser.Member.User.UserName))
        {
            @Html.Hidden("Url_Notifications", Url.Action("GetNotifications", "Configuration"), new { @id = "Url_Notifications" })
            @Html.Hidden("Url_SaveNotification", Url.Action("SaveNotification", "Configuration"), new { @id = "Url_SaveNotification" })
            <div class="absolute_240_st top_0_240_st left_0_240_st inline_divs v_mid_all relative_1024_st inline_1024_st z3 text-left h2p5" id="NotificationContainer">
                <div class="icon_alert bck_pos_gray multi_icon icon_hover_fade wh2p5 menu-button pointer" data-menuel="alert" id="BtnAlert"></div>
                <div class="pad_lr_1 h2p5 relative split_icon"></div>

                <div class="mdc-menu mdc-menu--animating-open zoom_font mar_t_15_240_st mar_t_1p8_1024_st box_sizing_all w20 alert_menu" tabindex="-1" id="alert">
                    <ul class="mdc-menu__items mdc-list w20" role="menu" aria-hidden="true">

                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <a href="@Url.Action("Notifications", "Configuration")" class="text-right wh100p"><span class="uppercase c_purple01 bolder fs_08 lh_35">Ver todas</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        }

        <div class="pad_l_5_240_st pad_r_3_240_st pad_l_05_1024_st pad_r_05_1024_st inline_1024_st w20_1024_st text-left relative menu-button" data-menuel="profile_config">

            <div class="relative">

                <div class="profile circle relative wh2p5 overflow_h bck_turkey w4_1024_st h4_1024_st pointer">
                    @if (CR.CGC.GuiasScoutsWeb.Common.Constants.saName == CustomSession.CurrentSession.CurrentUser.Member.User.UserName)
                    {
                        <div class="center_absolute wh100p z1 bck_cover hide" style="background-image: url('');"></div>
                    }
                    else
                    {
                        <img class="center_absolute wh100p z1 bck_cover" src="@(CustomSession.CurrentSession.CurrentUser.Member.Photo == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Application", new { FileUrl = CustomSession.CurrentSession.CurrentUser.Member.Photo}))" />
                    }
                    <div class="absolute_default wh100p midd_container black fs_13 fs_2_1024_st text-center c_white">
                        <div class="midd_cell">A</div>
                    </div>
                </div>

                <div class="only_360 absolute_default wh100p pointer">
                    <div class="name_profile center_absolute h1 lh_1 pad_l_3p5_240_st w100p pad_l_5_1024_st text-left_1024_st ">
                        <div class="ellipsis bolder w100p c_purple01 uppercase fs_08 relative pad_r_2">
                            @if (CR.CGC.GuiasScoutsWeb.Common.Constants.saName == CustomSession.CurrentSession.CurrentUser.Member.User.UserName)
                            {
                                @User.Identity.GetUserName()
                            }
                            else
                            {
                                @(CustomSession.CurrentSession.CurrentUser.Member.Names + " " + CustomSession.CurrentSession.CurrentUser.Member.Surnames)
                            }
                            <div class="absolute w1 h05 top_0_240_st bottom_0_240_st mar_auto right_0_240_st only_1024">
                                <div class="arrow gray_arrow w1 h05"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mdc-menu mdc-menu--animating-open zoom_font mar_t_15_240_st mar_t_1_1024_st" tabindex="-1" id="profile_config">
                <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                    <li class="mdc-list-item text-left" role="menuitem" tabindex="0">
                        <a href="@Url.Action("ProfileView", "Configuration")" class="c_gray hover_to_green pad_l_25 relative ellipsis block hover_icon_all mar_tb_1 w100p">
                            <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1p5"><span class="wh1p5 block relative pointer icon_person_2 multi_icon icon_hover_fade bck_pos_gray"></span></span>
                            Perfil
                        </a>
                    </li>
                    <li class="mdc-list-item text-left" role="menuitem" tabindex="0">
                        <a href="@Url.Action("Alerts", "Configuration")" class="c_gray hover_to_green pad_l_25 relative ellipsis block hover_icon_all mar_tb_1 w100p">
                            <span class="absolute_tl_240_st bottom_0_240_st mar_auto wh1p5"><span class="wh1p5 block relative pointer icon_setting multi_icon icon_hover_fade bck_pos_gray"></span></span>
                            Alertas
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <!-- action -->
        <div class="absolute_tr_240_st relative_1024_st inline_1024_st">

            <!-- action menu -->
            <div class="icon_points bck_pos_gray multi_icon icon_hover_fade wh2 menu pointer to_1024"></div>

            <!-- salir -->
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
            {
                @Html.AntiForgeryToken()
                <div class="only_1024">
                    <div class="text-left inline_divs v_mid_all">
                        <!-- split -->
                        <div class="pad_lr_1 h2p5 relative split_icon">
                        </div>
                        <label for="remember" class="mdc-switch-label pad_lr_05 v_mid fs_08 opa_50 text_login black uppercase"><span class="c_gray">Salir</span></label>
                        <div class="mdc-switch v_mid">
                            <input type="checkbox" id="remember" class="mdc-switch__native-control" checked onchange="document.getElementById('logoutForm').submit()" />
                            <div class="mdc-switch__background">
                                <div class="mdc-switch__knob final_de_linea"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <!-- all menu panel -->
        <aside class="mdc-drawer mdc-drawer--temporary mdc-typography">
            <nav class="mdc-drawer__drawer">

                <!-- head -->
                <div class="w100p content_wrap">

                    <!-- pic -->
                    <div class="pad_t_2 ">
                        <div class="profile circle relative wh6 overflow_h bck_turkey mar_auto">
                            <!-- pic user -->
                            <div class="center_absolute wh100p z1 bck_cover" style="background-image: url('@Url.Content("~/Content/assets/images/profile_test.jpg")');"></div>
                            <div class="center_absolute black fs_3 text-center c_white midd_container ">
                                <div class="midd_cell w100p">
                                    U
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- user -->
                    <div class="text-center">
                        <!-- name -->
                        <div class="pad_1">
                            <div class="c_purple01 capitalize">@User.Identity.GetUserName()</div>
                        </div>
                    </div>

                    <div class="relative">

                        <!-- to do -->
                        <!-- slider font -->
                        <!-- theme selection -->


                    </div>
                </div>

            </nav>
        </aside>

    </div>
}

