﻿
<aside id="mdc-dialog_MemberSearch" class="mdc-dialog z99" role="alertdialog" aria-labelledby="my-mdc-dialog-label" aria-describedby="my-mdc-dialog-description">
    <div class="w100p text-center max_w_35">
        <div class="mdc-dialog__surface mdc-dialog__short bck_white sh_body text-left">
            <div class="bck_turkey h4 w03 absolute_tr_240_st"></div>
            <div class="bck_turkey h03 w4 absolute_bl_240_st"></div>

            <header class="mdc-dialog__header pad_lr_2 pad_t_2 block ">
                <div class="w100p">
                    <div class="b_bottom_gray tab_icon_colors">
                        <div class="no_highlighting icon_tab top_indicator">
                            <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                                    <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_back multi_icon icon_hover_fade inline"></span></a>
                                </div>

                                <div class="mdc-tab-bar-scroller__scroll-frame">
                                    <nav class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0" role="tablist">

                                        <a class="mdc-tab w2p5 h2p5 mdc-tab--active" data-rel="menu-item-confirmations">
                                            <span class="fs_11 inline_divs v_mid_all pad_b_25 pad_t_1 inline cursor_default">
                                                <span class="italic inline_divs v_mid_all"><span class="pad_05_1">Buscar Miembro</span></span>
                                            </span>
                                        </a>

                                        <span class="mdc-tab-bar__indicator"></span>
                                    </nav>
                                </div>

                                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                                    <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_next multi_icon icon_hover_fade inline"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section class="mdc-dialog__body overflow_auto pad_2 mar_0">
                <div class="wh100p">
                    <select id="FullName_MemberSearch" class="select_select2 w100p">Seleccione</select>
                    <div class="italic c_red bolder fs_09 pad_tb_05 hide" id="FullName_MemberSearch-helper-text">Este campo es requerido.</div>
                </div>
            </section>

            <footer class="mdc-dialog__footer pad_t_2 pad_lr_2 pad_b_2 mar_0 block">
                <div class="text-right">
                    <div class="inline_divs v_mid_all w100p">
                        <a class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2 pointer mdc-dialog__footer__button--cancel" data-ajax="false">cancelar</a>

                        <button type="button" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="Select_MemberSearch">
                            <span class="wh1 icon_check_3 multi_icon bck_pos_white block mar_lr_04"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="mdc-dialog__backdrop"></div>
</aside>