﻿@model List<CR.CGC.GuiasScoutsWeb.Models.MenuModel>

@{ 
    string appPath = Request.ApplicationPath != "/" ? Request.ApplicationPath : "";
    appPath = appPath != "" ? Request.Url.AbsolutePath.Replace(appPath, "") : Request.Url.AbsolutePath;

    List<string> actualPath = appPath.Split('/').ToList();
}

<!-- tabs nav -->
<div class="b_bottom_gray">
    <div class="no_highlighting icon_tab top_indicator">
        <div class="mdc-tab-bar-scroller bck_white">

            <!-- back nav -->
            <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                <a class="mdc-tab-bar-scroller__indicator__inner" href="#">
                    <span class="wh1 relative icon_back multi_icon icon_hover_fade inline bck_pos_gray"></span>
                </a>
            </div>

            <!-- tabs -->
            <div class="mdc-tab-bar-scroller__scroll-frame">
                <nav class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0">

                    @foreach (var item in Model)
                    {
                        <a class="mdc-tab w2p5 h2p5 @((actualPath[3] == item.CodeMenu) ? "mdc-tab--active" : "" )" href="@item.UrlMenu" data-rel="menu-item-all">
                            <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline">
                                <span class="italic">@item.NameMenu</span>
                            </span>
                        </a>
                    }

                    <!-- indicador mds -->
                    <span class="mdc-tab-bar__indicator"></span>

                </nav>
            </div>

            <!-- next nav -->
            <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                <a class="mdc-tab-bar-scroller__indicator__inner" href="#">
                    <span class="wh1 relative icon_next multi_icon icon_hover_fade inline bck_pos_gray"></span>
                </a>
            </div>

        </div>
    </div>
</div>
