﻿@model List<CR.CGC.GuiasScoutsWeb.Models.MenuModel>

@{
    string appPath = Request.ApplicationPath != "/" ? Request.ApplicationPath : "";
    appPath = appPath != "" ? Request.Url.AbsolutePath.Replace(appPath, "") : Request.Url.AbsolutePath;

    List<string> actualPath = appPath.Split('/').ToList();
    if (actualPath.Count < 4) { for (int i = 0; i < 4; i++) { actualPath.Add(""); } }
}

<div class="container_top">
    <div class="container_header pad_lr_2 pad_t_2 pad_b_1 bck_white fixed w100p z5 pad_tb_1_1024_st sh_05">

        <!-- profile -->
        @Html.Partial("_LoginPartial")

        <!-- split bottom -->
        <div class="split_bottom pad_t_15 to_1024"></div>


        <!-- menu tab slider -->
        <div class="tab_icon_colors menu_header_slide to_1024">
            <div class="no_highlighting no_indicator icon_tab pad_t_1">
                <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">
                    <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                        <a class="mdc-tab-bar-scroller__indicator__inner" href="#">
                            <span class="wh1 relative icon_back bck_pos_gray multi_icon icon_hover_fade inline"></span>
                        </a>
                    </div>
                    <div class="mdc-tab-bar-scroller__scroll-frame h2p5">
                        <nav class="main-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs">
                            @foreach (var item in Model)
                            {
                                <a class="mdc-tab w2p5 h2p5 menu-item  @((actualPath[1] == item.CodeMenu) ? "mdc-tab--active active current" : "" )" href="#" data-rel="@(item.CodeMenu + "-sub-menu")"><span class="w2p5 h2p5 relative bck_pos_gray @item.IconMenu multi_icon icon_hover_fade block"></span></a>
                            }
                            <!-- indicador mds -->
                            <span class="mdc-tab-bar__indicator"></span>
                        </nav>
                    </div>
                    <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                        <a class="mdc-tab-bar-scroller__indicator__inner" href="#">
                            <span class="wh1 relative icon_next bck_pos_gray multi_icon icon_hover_fade inline"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- sub menu mobile -->
    <div class="submenu_mobile tab_icon_colors to_1024 fixed_default w100p bck_white z4 content_wrap">
        <div class="relative">

            @foreach (var item in Model)
            {
                <div class="container_submenu_mobile @((actualPath[1] == item.CodeMenu) ? "selected" : "" ) @(item.CodeMenu + "-sub-menu")">
                    <div class="no_highlighting no_indicator icon_tab relative">
                        <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                            <!-- back nav -->
                            <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                                <a class="mdc-tab-bar-scroller__indicator__inner" href="#">
                                    <span class="wh1 relative icon_back bck_pos_gray multi_icon icon_hover_fade inline"></span>
                                </a>
                            </div>

                            <!-- tabs -->
                            <div class="mdc-tab-bar-scroller__scroll-frame">
                                <nav class="mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs c_gray_to_purple_all ">

                                    <!-- tab links -->
                                    @foreach (var child in item.SubMenus)
                                    {
                                        <a class="mdc-tab w2p5 h2p5 @((actualPath[1] == item.CodeMenu && actualPath[2] == child.CodeMenu) ? "mdc-tab--active" : "" )" href="@child.UrlMenu">
                                            <span class="fs_11 bolder capitalize inline_divs v_mid_all inline @((actualPath[1] == item.CodeMenu && actualPath[2] == child.CodeMenu) ? "current" : "" )">@child.NameMenu</span>
                                        </a>
                                    }

                                    <!-- indicador mds -->
                                    <span class="mdc-tab-bar__indicator"></span>

                                </nav>
                            </div>

                            <!-- next nav -->
                            <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                                <a class="mdc-tab-bar-scroller__indicator__inner" href="#">
                                    <span class="wh1 relative icon_next bck_pos_gray multi_icon icon_hover_fade inline"></span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


<!-- toggle action-->
<div class="fixed w3 z6 top_3_1024_st toggle_panel_icon_container pointer @(actualPath[1] == "Error" ? "unselected" : "selected")" onclick="javascript:unhide('action_toggle');unhide('body_toggle');unhide('level_second_menu_toggle');" id="action_toggle">
    <div class="toggle_panel_icon"></div>
</div>
<div class="mdl-tooltip" for="action_toggle"><strong>Mostrar / Ocultar</strong></div>


<!-- menu web -->
<div class="only_1024 z5 fixed_default h100p menu_web_container">

    <!-- menu principal -->
    <div class="bck_guias_vertical absolute_default z2 h100p">
        <div class="pad_b_5 pad_t_1"><span class="w6 h6 relative multi_icon bck_pos_white block logo"></span></div>

        @foreach (var item in Model)
        {
            <a class="block pad_1 @((actualPath[1] == item.CodeMenu) ? "active current" : "" )" href="#" data-rel="@(item.CodeMenu + "-sub-menu")" id="@("BtnMenu_" + item.CodeMenu)"><span class="w2p5 h2p5 mar_auto relative @item.IconMenu multi_icon icon_hover_fade block"></span></a>

            <div class="mdl-tooltip mdl-tooltip--right" for="@("BtnMenu_" + item.CodeMenu)"><strong>@item.NameMenu</strong></div>
        }
    </div>

    <!-- sub menu -->
    <div class="absolute level_second_menu bck_white h100p pad_2 sh_1 @(actualPath[1] == "Error" ? "unselected" : "selected")" id="level_second_menu_toggle">
        <div class="relative">

            @foreach (var item in Model)
            {
                <div class="level_second_menu_content @((actualPath[1] == item.CodeMenu) ? "selected" : "" ) @(item.CodeMenu + "-sub-menu")">

                    <!-- title page -->
                    <div class="c_purple01 bolder fs_12 pad_tb_1 pad_r_3 relative"><div>@item.NameMenu</div></div>

                    <!-- description panel -->
                    <div class="description_menu_web selected">

                        <!-- image page -->
                        <div class="row_lm">
                            <div class="mar_auto relative pic_menu_web">
                                <!-- disable icon -->
                                <div class="disable_icon">
                                    <div class="italic fs_1 c_gray showmore_text pointer pad_r_2 opa_50">Mostrar más información...</div>
                                    <div class="circle  pad_05 bck_white absolute z1 disable_icon_pos" id="BtnDis_@(item.CodeMenu)">
                                        <!-- icon -->
                                        <div class="icon_disable pointer multi_icon icon_hover_fade inline wh1p5 bck_pos_purple01 bck_hover_gray"></div>
                                    </div>
                                </div>
                                <div class="mdl-tooltip" for="BtnDis_@(item.CodeMenu)"><strong>Mostrar / Ocultar</strong></div>
                                <!-- image page caption -->
                                <div class="relative w12 h12 circle overflow_h mar_auto image_description">
                                    <div class="center_absolute wh100p icon" style="background-image: url(@(Url.Content("~/Content/assets/images/"+ item.ImageMenu)));"></div>
                                </div>
                            </div>
                        </div>

                        <!-- description -->
                        <div class="fs_1 italic c_gray row_lm abstract_menu_web">@item.DescriptionMenu</div>
                    </div>

                    <!-- split -->
                    <div class="split_bottom pad_t_2"></div>

                    <div class="pad_t_2 c_gray_to_purple_all block_divs">
                        @foreach (var child in item.SubMenus)
                        {
                            <a href="@child.UrlMenu" class="mar_b_1 bolder fs_11 pad_r_1 @((actualPath[1] == item.CodeMenu && actualPath[2] == child.CodeMenu) ? "current" : "" )">@child.NameMenu</a>
                        }
                    </div>

                </div>
            }

        </div>
    </div>

</div>
