﻿@using CR.CGC.GuiasScoutsWeb.Common
@model List<Entities.MemberAlert>
@{
    int CounterAlert = ViewBag.CounterAlert == null ? 0 : (int)ViewBag.CounterAlert;
}

<div class="icon_alert bck_pos_gray multi_icon icon_hover_fade wh2p5 menu-button pointer alert_new_item" data-menuel="alert" id="BtnAlert">
    @if (CounterAlert > 0)
    {
        <div class="absolute_tr_240_st wh100p bullet_active z3 show_counter trans_03">
            <div class="text-center fs_07 bolder c_white z2 relative counter_alert">@CounterAlert</div>
        </div>
    }
</div>
<div class="pad_lr_1 h2p5 relative split_icon"></div>

<div class="mdc-menu mdc-menu--animating-open zoom_font mar_t_15_240_st mar_t_1p8_1024_st box_sizing_all w20 alert_menu" tabindex="-1" id="alert">
    <ul class="mdc-menu__items mdc-list w20" role="menu" aria-hidden="true">

        @if (Model.OrderByDescending(x => x.CreationDate).Take(5).ToList().Count > 0)
        {
            foreach (var item in Model.OrderByDescending(x => x.CreationDate).Take(5))
            {
                <li class="mdc-list-item relative pad_tb_1 bck_turkey_light_hover" role="menuitem" tabindex="0">
                    <a class="relative pad_l_35 notificationItem" data-href="@item.Url" data-MemberAlertId="@item.MemberAlertId">

                        <span class="absolute_default circle bck_turkey wh2p5">
                            <span class="center_absolute wh1p5"><span class="wh100p block relative pointer @(item.AlertType.Other ? (item.AlertType.Name == "Cumpleaños" ? "icon_cake" : "icon_chispero") : AlertIconConstants.GetAlertIcon(item.AlertType.Name)) multi_icon bck_pos_white"></span></span>
                        </span>

                        <div class="block">
                            <div class="pad_b_1 relative pad_r_35">
                                <div class="c_gray bolder">@(item.AlertType != null ? item.AlertType.Name : "Notificación")</div>
                                <div class="absolute_tr_240_st uppercase fs_08 bolder c_gray opa_50">@(item.CreationDate.Date == DateTime.Now.Date ? item.CreationDate.ToString("hh:mm tt") : item.CreationDate.ToString("dd MMM", System.Globalization.CultureInfo.CreateSpecificCulture("es")))</div>
                            </div>
                            <div class="lh_13 fs_09 c_gray">@item.Message</div>
                        </div>
                    </a>
                    <div class="absolute bottom_0_240_st left_0_240_st w100p"><div class="split_bottom w100p"></div></div>
                </li>
            }
        }
        else
        {
            <li class="mdc-list-item relative pad_tb_1 cursor_default" role="menuitem" tabindex="0">
                <div class="relative">
                    <div class="block">
                        <div class="lh_13 c_gray italic">No hay notificaciones nuevas.</div>
                    </div>
                </div>
                <div class="absolute bottom_0_240_st left_0_240_st w100p"><div class="split_bottom w100p"></div></div>
            </li>
        }

        <li class="mdc-list-item" role="menuitem" tabindex="0">
            <a href="@Url.Action("Notifications", "Configuration")" class="text-right wh100p"><span class="uppercase c_purple01 bolder fs_08 lh_35">Ver todas</span></a>
        </li>
    </ul>
</div>
<div class="mdl-tooltip" for="BtnAlert"><strong>Notificaciones</strong></div>