﻿@model CR.CGC.GuiasScoutsWeb.Models.SelectViewModel

<div class="mdc-select @(Model.iconAlert ? "h2p5 mar_0 max_w_4" : "w100p msn_text")" role="listbox" @(Model.Disabled ? "aria-disabled=true" : "") id="@("select" + Model.Id)">
    <div class="mdc-select__surface @(Model.iconAlert ? "h2" : "")" tabindex="0">
        <div class="mdc-select__label @(Model.SelectedId != 0 ? "mdc-select__label--float-above" : "") @(Model.iconAlert ? "placeholder fs_09" : "")">@Model.Text</div>

        <div class="mdc-select__selected-text ellipsis block"></div>
        <div class="mdc-select__bottom-line"></div>
    </div>
    <div class="mdc-menu mdc-select__menu @(Model.InModal ? "absolute" : "")">
        <ul class="mdc-list mdc-menu__items">
            @if (Model.Options != null && Model.Options.Count > 0)
            {
                foreach (var item in Model.Options)
                {
                    <li class="mdc-list-item @(item.Color != null ? "pad_l_3" : "")" role="option" tabindex="@(item.Disabled ? "-1" : "0")" @(item.Disabled ? "aria-disabled=true" : "") id="@item.Id" @(Model.SelectedId == item.Id ? "aria-selected" : "")>
                        @if (item.Color != null)
                        {
                            <span class="circle w4px h4px absolute_240_st top_0_240_st bottom_0_240_st left_1p4_240_st mar_auto" style="background-color: @item.Color; -moz-box-shadow: 0px 0px 10px 0px @item.Color; -webkit-box-shadow: 0px 0px 10px 0px @item.Color; box-shadow:0px 0px 10px 0px @item.Color"></span>
                        }
                        @item.Text
                    </li>
                }
            }
            else
            {
                <li class="mdc-list-item" role="option" tabindex="-1" aria-disabled=true id="">
                    @(Model.TextInBlank == null ? "No se obtuvieron resultados." : Model.TextInBlank)
                </li>
            }
        </ul>
    </div>

    @if (Model.iconAlert)
    {
        <div class="absolute wh1 icon_warning multi_icon bck_pos_degrade left_100p_240_st mar_l_15 bottom_0_240_st warning_list cursor_auto"></div>
    }
</div>
@if (!Model.iconAlert)
{
    <p id="@(Model.Id)-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent w100p c_red mar_0" aria-hidden="true">Este campo es requerido.</p>
}

