﻿@model CR.CGC.GuiasScoutsWeb.Models.SelectLocationViewModel

<div class="hide">
    @if (Model.InModal)
    {
        if (Model.Disabled)
        {
            @Html.DropDownList((Model.Model == null ? "DistrictId" : Model.Model + ".DistrictId"), Model.SelectList, "Seleccione una opción", new { @id = Model.ElemId, placeholder = "Distrito", InModal = Model.InModal, selectDisabled = true })
        }
        else
        {
            @Html.DropDownList((Model.Model == null ? "DistrictId" : Model.Model + ".DistrictId"), Model.SelectList, "Seleccione una opción", new { @id = Model.ElemId, placeholder = "Distrito", InModal = Model.InModal })
        }
    }
    else
    {
        if (Model.Disabled)
        {
            @Html.DropDownList((Model.Model == null ? "DistrictId" : Model.Model + ".DistrictId"), Model.SelectList, "Seleccione una opción", new { @id = Model.ElemId, placeholder = "Distrito", selectDisabled = true })
        }
        else
        {
            @Html.DropDownList((Model.Model == null ? "DistrictId" : Model.Model + ".DistrictId"), Model.SelectList, "Seleccione una opción", new { @id = Model.ElemId, placeholder = "Distrito" })
        }
    }
</div>
<div id="@(Model.ElemId + "SelectDiv")"></div>