﻿@model CR.CGC.GuiasScoutsWeb.Models.PaginationToolsViewModel

<div class="pagination_table text-center row_lm pad_t_2_480_st">
    <div class="relative">
        <div class="inline_divs relative z1  text-left_700_st text-center_900_st mar_lr_10" id="paginationContainer">

            <a class="icon_prev multi_icon icon_hover_fade inline wh1p2 bck_pos_green mar_r_1 pointer" id="BtnBackPagination"></a>
            <a class="cap points_pag" id="BtnMoreBackPagination">...</a>

            @for (int i = 1; i <= Math.Ceiling((double)Model.RowCount / 10); i++)
            {
                <a class="cap @(Model.NumberPage == i ? "current" : "")" data="@i">@i</a>
            }

            <a class="cap points_pag" id="BtnMoreNextPagination">...</a>
            <a class="icon_last multi_icon icon_hover_fade inline wh1p2 bck_pos_green mar_l_1 pointer" id="BtnNextPagination"></a>
        </div>

        <div class="mdl-tooltip" for="BtnBackPagination"><strong>Anterior</strong></div>
        <div class="mdl-tooltip" for="BtnNextPagination"><strong>Siguiente</strong></div>

        <div class="w100p_240_st pad_t_1_240_st absolute_tr_700_st mar_auto pad_t_0_700_st text-right_700_st">
            <div class="register pad_05 fs_08 c_gray bck_body capitalize italic inline lh_08">
                @Model.ActualRows / <b id="totalRecordsPagination" data="@Model.RowCount">@Model.RowCount</b> Registros
            </div>
        </div>
    </div>
</div>
