﻿@model CR.CGC.GuiasScoutsWeb.Models.TableToolsViewModel

@Html.Hidden("Url_Get_Pagination", Model.UrlGet)
@Html.Hidden("Container_Grid_Pagination", Model.GridContainerId)

<div class="inline_divs pad_b_1 column_container v_mid_all pad_t_1">

    <!-- disable + new -->
    <div class="text-left inline_divs column_2">
        <!-- disable -->
        <div class="circle_hover pointer relative pad_1" id="DelDiv" onclick="@Model.DeleteFunction"><div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div></div>
        <div class="mdl-tooltip" for="DelDiv"><strong>@Model.DeleteTooltip</strong></div>
        <!-- new -->
        <a href="@Model.UrlAdd" class="circle_hover pointer relative pad_1" id="NewDiv"><div class="icon_add multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div></a>
        <div class="mdl-tooltip" for="NewDiv"><strong>@Model.AddTooltip</strong></div>
    </div>

    <!-- filter + download -->
    <div class="column_2">
        <div class="text-right inline_divs">
            <div class="inline_divs text-right @(Model.SearchText != null ? (Model.SearchText != "" ? "" : "hide") : "hide")" id="filterContainerDiv">
                <div class="relative max_w_25 text-left h2p5 mar_lr_1" style="margin-top:5px;">
                    <a class=" pointer absolute left_0_240_st top_05_240_st z1 icon_view multi_icon icon_hover_fade inline wh1p5 bck_pos_gray" id="SearchDiv"></a>

                    <div class="mdc-text-field w100p mdc-text-field--upgraded mar_tb_0" data-mdc-auto-init="MDCTextField" style="height:2.5rem;">
                        <input class="mdc-text-field__input pad_lr_25" type="text" placeholder="Buscar" id="inputGridSearch" value="@Model.SearchText">
                        <div class="mdc-line-ripple"></div>
                    </div>


                    <a class=" pointer absolute right_0_240_st top_05_240_st z1 icon_close_3 multi_icon inline wh1p5 bck_pos_gray" onclick="javascript:pageFunctions.unhideElem('filterButtonDiv');pageFunctions.unhideElem('filterContainerDiv');" id="SearchCloseDiv"></a>

                </div>
            </div>
            <div class="mdl-tooltip" for="SearchDiv"><strong>Buscar</strong></div>

            <div class="@(Model.SearchText != null ? (Model.SearchText != "" ? "hide" : "") : "")" id="filterButtonDiv">
                <div class="circle_hover pointer relative pad_1" id="FiltDiv" onclick="javascript:pageFunctions.unhideElem('filterButtonDiv');pageFunctions.unhideElem('filterContainerDiv');"><a class="icon_filter multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></a></div>
                <div class="mdl-tooltip" for="FiltDiv"><strong>Buscar</strong></div>
            </div>


            <div class="toolbar mdc-menu-anchor">
                <div class="circle_hover pointer relative pad_1 menu-button" data-menuel="download-menu" id="exportButtonDiv">
                    <!-- icon -->
                    <div class="icon_download multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                </div>
                <div class="mdc-menu mdc-menu--animating-open zoom_font mar_t_4" tabindex="-1" id="download-menu" style="min-width:8rem;">
                    <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                        <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                            <a href="#" class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1">
                                <span class="inline wh1p5 bck_pos_gray icon_excel multi_icon mar_r_1 icon_hover_fade"></span>Excel
                            </a>
                        </li>
                        <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                            <a href="#" class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1">
                                <span class="inline wh1p5 bck_pos_gray icon_pdf multi_icon mar_r_1 icon_hover_fade"></span>Pdf
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mdl-tooltip" for="exportButtonDiv"><strong>Exportar</strong></div>

        </div>




    </div>

</div>