﻿@{
    ViewBag.Title = "Complejidades"; 

    string appPath = Request.ApplicationPath != "/" ? Request.ApplicationPath : "";
    appPath = appPath != "" ? Request.Url.AbsolutePath.Replace(appPath, "") : Request.Url.AbsolutePath;

    List<string> actualPath = appPath.Split('/').ToList();
}

@Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
@Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

@Html.Hidden("Url_Delete", Url.Action("DeleteComplexities", "CRM"))

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>Catálogos</span>
</div>

<div class="content_wrap_body">

    @Html.Action("GetMenuTab", "Application", new { Controller = actualPath[1], Action = actualPath[2] })

    <div id="GridComplexities">
        @Html.Action("GetGridComplexities", "CRM")
    </div>

</div>

@Scripts.Render("~/Scripts/Views/CRM/Complexities/Index.js")