﻿@using CR.CGC.GuiasScoutsWeb.Common
@model List<Entities.RequestComment>

@if (Model.Count == 0)
{
    <label for="comentarios" class="midd_container absolute_default wh100p">
        <span class="midd_cell uppercase text-center c_gray opa_50">No existen comentarios</span>
    </label>
}
else
{
    List<DateTime> dates = Model.GroupBy(x => x.DateTimeComment.Date).Select(x => x.Key).ToList();
    foreach (var date in dates.OrderBy(x => x).ToList())
    {
        <div class="text-center mar_tb_15 c_gray opa_50 relative">
            <div class="bck_white z1 relative inline pad_lr_1 fs_09">@date.ToString("dd-MM-yyyy")</div>
            <div class="absolute  top_07_240_st left_0_240_st w100p h1px"><div class="split_bottom"></div></div>
        </div>

        foreach (var comment in Model.Where(x => x.DateTimeComment.Date == date.Date).OrderBy(x => x.DateTimeComment).ToList())
        {
            if (comment.Commentator == CustomSession.CurrentSession.CurrentUser.Member.User.UserId)
            {
                <div class="text-right pad_l_5 mar_tb_05 view_hr_container ">
                    <div class="pad_05 text-left bck_turkey_light inline relative">
                        @Html.Raw(comment.Comment.Replace("\\n", "<br/>"))
                        <div class="fs_08 absolute w5 right_100p_240_st top_05_240_st pad_r_1 italic view_hr trans_05 c_gray"><div class="opa_50">@comment.DateTimeComment.ToString("hh:mm tt")</div></div>
                    </div>
                </div>
            }
            else
            {
                <div class="text-left pad_r_5 mar_tb_05">
                    <div class="pad_05 text-left bck_gray0 inline relative c_gray view_hr_container">
                        @Html.Raw(comment.Comment.Replace("\\n", "<br/>"))
                        <div class="fs_08 absolute w5 left_100p_240_st top_05_240_st pad_l_1 italic view_hr trans_05 c_gray"><div class="opa_50">@comment.DateTimeComment.ToString("hh:mm tt")</div></div>
                    </div>
                </div>
            }
        }

    }

}
