﻿@model Entities.Request
@{
    ViewBag.Title = "Asignar solicitud";
}

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_bottom_all c_black_all lh_2">
    <a href="@Url.Action("Management", "CRM")" id="DivToList">Gestión</a>
    <span>/ @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Gestionar solicitudes</strong></div>

<div class="content_wrap_body">
    <div class="action_toggle_container unselected" id="action_toggle_container">

        <div class="relative max_w_80 trans_05">
            <div class="relative pad_b_3 pad_b_3_1366_st">
                <div class="v_mid_all">
                    <div class="text-left inline_divs inline">
                        <a href="@Url.Action("Management", "CRM")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green" data-ajax="false"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
                    </div>

                    <div class=" text-right absolute top_5_240_st right_0_240_st only_1366 z2  mar_t_3">
                        <div class="circle_hover pointer relative pad_1 unselected icon_hover_all" onclick="javascript:unhide('action_toggle_panel');unhide('action_toggle_body');unhide('action_toggle_buttons');unhide('action_toggle_container');" id="action_toggle_buttons">
                            <div class="pad_1">
                                <div class="icon_expand_container wh1p5 center_absolute" id="div_icon_expand"><div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div></div>
                                <div class="icon_compress_container wh1p5 center_absolute" id="div_icon_compress"><div class="icon_visibility multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-tooltip" for="div_icon_expand"><strong>Ocultar</strong></div>
                    <div class="mdl-tooltip" for="div_icon_compress"><strong>Mostrar</strong></div>
                </div>
            </div>
        </div>

        <div class="italic fs_12 text-left pad_b_4">Solicitud en modo lectura</div>

        @using (Ajax.BeginForm("SaveAssignRequest", "CRM", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "CreateContainer",
            OnSuccess = "OnSuccess_Request",
            OnFailure = "OnFailure"

        }, new { OnBegin = "OnBegin", validateFunc = "ValidateRequest", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.Hidden("AlertTitle", "Solicitudes", new { @id = "AlertTitle" })
            @Html.Hidden("VerificationText", "¿Deseas continuar con la operación ?", new { @id = "VerificationText" })

            @Html.HiddenFor(m => m.RequestId)

            <div class="text-center relative overflow_h max_w_80 trans_05 min_h_40">

                <div class="pad_b_2 pad_b_0_1366_st pad_r_3_1366_st relative unselected body_plus_panelright" id="action_toggle_body">
                    <div class=" pad_r_25r_1366_st  body_plus_panelright_content scroll-container">
                        <div class="container text-left">
                            <div class="bolder mar_b_2 c_gray fs_12 italic">@Model.Name</div>
                            <div class="c_gray">@Html.Raw(Model.Description.Replace("\\n", "<br/>"))</div>

                            <div class="italic fs_12 mar_t_2">Archivos adjuntos</div>

                            <div class="text-left relative">
                                <div class="text-left w100p pad_tb_1 inline_divs border_w_2px relative v_mid_all">
                                    @foreach (var item in Model.RequestFiles)
                                    {
                                        <div id="RequestFile_@item.RequestFileId" class="btn_ovalo bck_turkey_light relative image_drag inline w100p_240_st wauto_480_st mar_r_05 FileContainer pointer" onclick="downloadFile('@(item.FileLocation == null ? Url.Action("DownloadFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("DownloadFile", "Application", new { FileUrl = item.FileLocation}))');">
                                            <div class="ellipsis italic fs_09 max_w_10">@item.Name</div>
                                        </div>
                                        <div class="mdl-tooltip" for="RequestFile_@item.RequestFileId"><strong>Descargar archivo</strong></div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="absolute top_0_240_st right_25_240_st only_1366 h100p split_v_panel trans_05"><div class="split_icon h100p"></div></div>

                <div class="text-left w25_1366_st absolute_tr_1366_st pad_l_3_1366_st z1 panelright unselected h100p overflow_y_auto overflow_x_h" id="action_toggle_panel">
                    <div class="split_bottom mar_tb_2 to_1366"></div>

                    <div class="relative ">

                        <div class="vertical_toggle_panel unselected trans_05 pad_t_2_240_st pad_t_0_1366_st" id="vertical_toggle_panel">

                            <div class="">
                                <div class="fs_08 pad_b_05">Estado</div>
                                <div class="relative pad_t_05">
                                    <div class="pad_l_2 relative">
                                        <span class="circle w4px h4px absolute_240_st top_0_240_st bottom_0_240_st left_0_240_st mar_auto" style="background-color: @Model.RequestStatus.Color; -moz-box-shadow: 0px 0px 10px 0px @Model.RequestStatus.Color; -webkit-box-shadow: 0px 0px 10px 0px @Model.RequestStatus.Color; box-shadow:0px 0px 10px 0px @Model.RequestStatus.Color"></span>
                                        @Model.RequestStatus.Name
                                    </div>
                                </div>
                            </div>

                            <div class="text-left pad_t_2">
                                <div class="fs_08">Prioridad</div>
                                <div class="c_gray pad_tb_05">@Model.Priority.Name</div>
                            </div>

                            <div class="text-left pad_t_2">
                                <div class="fs_08">Tipo de solicitud</div>
                                <div class="c_gray pad_tb_05">@Model.Topic.TopicType.Name</div>
                            </div>

                            <div class="text-left pad_t_2">
                                <div class="fs_08">Temática</div>
                                <div class="c_gray pad_tb_05">@Model.Topic.Name</div>
                            </div>

                            <div class="text-left pad_tb_2">
                                <div class="fs_08">Complejidad</div>
                                <div class="c_gray pad_tb_05">@(Model.ComplexityId == null ? "---" : Model.Complexity.Name)</div>
                            </div>

                            <div class="split_bottom"></div>
                        </div>

                        <div class="pad_t_1 relative">
                            <div class="text-left">
                                <div class="hide">
                                    @Html.DropDownListFor(m => m.AssignedTo, (SelectList)ViewBag.ListMember, "Seleccione un miembro", new { @id = "AssignedTo", placeholder = "Asignar solicitud" })
                                </div>
                                <div id="AssignedToSelectDiv"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="inline_divs text-right v_mid_all w100p pad_t_2 max_w_80 trans_05">
                <a href="@Url.Action("Management", "CRM")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2">Cancelar</a>

                <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
                    <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                </button>
                <div class="mdl-tooltip" for="BtnSave"><strong>Guardar asignación</strong></div>
            </div>
        }



    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/CRM/Requests/AssignRequest.js")
}
