﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Request
@{
    ViewBag.Title = (Model.RequestId != null && Model.RequestId != 0 ? "Editar solicitud" : "Nueva solicitud");
}
@Html.Hidden("Url_RequestTopic", Url.Action("GetRequestTopicPartial", "CRM"), new { @id = "Url_RequestTopic" })

@section Styles{
    @*@Styles.Render("~/Content/assets/stylesheets/summernote-lite.css")*@
}

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("Requests", "CRM")" id="DivToList"> Registros</a>
    <span>/ @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver solicitudes</strong></div>

<div class="content_wrap_body">
    <div>
        <a href="@Url.Action("Requests", "CRM")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
    </div>
    <div class="italic fs_12 c_black row_lm">Agregue una nueva solicitud</div>

    <div class="relative pad_t_3_1366_st">
        <div class="max_w_75">

            @using (Ajax.BeginForm("SaveRequest", "CRM", new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,

            }, new { OnBegin = "OnBegin", OnSuccess = "OnSuccess_Request", validateFunc = "ValidateRequest", enctype = "multipart/form-data", @class = "relative min_h_30_1024_st", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()

                @Html.Hidden("AlertTitle", "Solicitudes", new { @id = "AlertTitle" })
                @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

                @Html.HiddenFor(m => m.RequestId, new { @id = "RequestId" })

                <div class="column_container relative">

                    <div class="g_s1366_40p g_s240_100p pad_r_2_1366_st pad_t_15 pad_t_0_1366_st pad_r_3_1366_st z1 relative">

                        <div class="text-left">
                            <div class="mdc-text-field w100p" data-mdc-auto-init="MDCTextField">
                                @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "mdc-text-field__input fs_1", required = true, aria_controls = "Name-helper-text", MaxLength = "100", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                @Html.LabelFor(m => m.Name, "Nombre de la solicitud", new { @for = "Name", @class = "mdc-text-field__label" })
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <p id="Name-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                        </div>

                        <div class="text-left">
                            <div class="hide">
                                @Html.DropDownListFor(m => m.PriorityId, (SelectList)ViewBag.PrioritiesList, "Seleccione una opción", new { @id = "PriorityId", placeholder = "Prioridad" })
                            </div>
                            <div id="PriorityIdSelectDiv"></div>
                        </div>

                        @if (Model.RequestId != null && Model.RequestId > 0)
                        {
                            @Html.Hidden("TopicTypeId_hf", Model.Topic.TypeId, new { @id = "TopicTypeId_hf" })
                            @Html.Hidden("TopicId_hf", Model.TopicId, new { @id = "TopicId_hf" })
                        }

                        <div class="text-left">
                            <div class="hide">
                                @Html.DropDownList("TopicTypeId", (SelectList)ViewBag.RequestTypesList, "Seleccione una opción", new { @id = "TopicTypeId", placeholder = "Tipo" })
                            </div>
                            <div id="TopicTypeIdSelectDiv"></div>
                        </div>

                        <div class="text-left" id="RequestTopicContainer">
                            <div class="hide">
                                @Html.DropDownListFor(m => m.TopicId, new SelectList(new List<SelectListItem>()), "Seleccione una opción", new { @id = "TopicId", placeholder = "Temática", TextInBlank = "No existe temática asociada al tipo de solicitud." })
                            </div>
                            <div id="TopicIdSelectDiv"></div>
                        </div>
                    </div>

                    <div class="absolute top_0_240_st left_40p_1366_st only_1366 h100p"><div class="split_icon h100p"></div></div>

                    <div class="pad_t_0_1366_st g_s1366_60p g_s240_100p h100p pad_t_2_240_st pad_l_3_1366_st">
                        <div class="to_1366 split_bottom mar_b_2"></div>

                        <div class="relative h100p">
                            <div class="text-left">
                                <div class="italic c_black fs_12">Descripción</div>
                                <div class="mdc-text-field mdc-text-field--textarea w100p msn_text" data-mdc-auto-init="MDCTextField">
                                    @Html.TextAreaFor(m => m.Description, new { @id = "Description", @class = "mdc-text-field__input fs_1", required = true, cols = "0", rows = "13", aria_controls = "Description-helper-text", MaxLength = "2000", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                                    @Html.LabelFor(m => m.Description, "Descripción de la solicitud", new { @for = "Description", @class = "mdc-text-field__label" })
                                    <div class="mdc-line-ripple"></div>
                                </div>
                                <p id="Description-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg w100p" aria-hidden="true">Este campo es requerido.</p>
                            </div>

                            <div id="ElemsFileContainer">
                                @if (Model.RequestId != null && Model.RequestId > 0)
                                {
                                    int files = 0;
                                    foreach (var item in Model.RequestFiles)
                                    {
                                        <input type="hidden" for="RequestFile-InputView_@files" class="RequestFile" id="RequestFile_RequestFileId_@files" name="RequestFiles[@files].RequestFileId" value="@item.RequestFileId" />

                                        files++;
                                    }
                                }

                                <input type="file" for="SendFile-InputView_0" class="hide SendFile" id="SendFile_0" name="SendFiles[0]" />
                            </div>

                            <div class="text-left relative" id="FileZoneContainer">
                                <!--drag div-->
                                <div class="fixed_default wh100p bck_white opa_90 z99 hide" id="FileZone_drag"></div>
                                <div class="absolute_default wh100p z100 text-center hide" id="FileZone_drop">
                                    <div class="midd_container wh100p border_gray border_w_2px relative">
                                        <div class="italic c_gray fs_09 relative midd_cell wh100p">Suelte el archivo para agregarlo..</div>
                                    </div>
                                </div>

                                <div class="text-left w100p pad_1 inline_divs border_gray border_w_2px dashed relative v_mid_all" id="FileZone">

                                    @if (Model.RequestId != null && Model.RequestId > 0)
                                    {
                                        int files = 0;
                                        foreach (var item in Model.RequestFiles)
                                        {
                                            if (item.FileLocation.Contains(".png") || item.FileLocation.Contains(".PNG") || item.FileLocation.Contains(".jpg") || item.FileLocation.Contains(".JPG"))
                                            {
                                                <div id="RequestFile-InputView_@files" class="relative image_drag mar_05 w5 bck_turkey_light r2 z5 pad_0 FileContainer RequestFile">
                                                    <div class="bck_body relative circle wh2 overflow_h">
                                                        <img class="w100p absolute_default scale_15" src="@(item.FileLocation == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Application", new { FileUrl = item.FileLocation}))">
                                                    </div>
                                                    <div class="absolute top_0_240_st right_05_240_st bottom_0_240_st mar_auto block wh1p5 bck_pos_green icon_close_1 multi_icon z1 pointer" onclick="deleteFile(this);"></div>

                                                    <!--hover tooltip-->
                                                    <div class="z2 absolute left_-5p5_240_st bottom_100p_240_st w15 bck_black_01 pad_1 box_sizing  hover_image_drag trans_05 mar_b_1 r1">
                                                        <img class="w100p" src="@(item.FileLocation == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Application", new { FileUrl = item.FileLocation}))">

                                                        <div class="absolute top_100p_240_st left_0_240_st right_0_240_st mar_auto">
                                                            <div class="arrow bck_black_01_arrow"></div>
                                                        </div>

                                                        <div class="absolute_bl_240_st fs_08 pad_1 w100p box_sizing">
                                                            <div class="relative">
                                                                <a class="block ellipsis w100p pad_b_05 pad_t_3 pad_lr_1 text-right italic c_white box_sizing z1 relative cursor_default">@item.Name</a>
                                                                <div class="vertical_degrade_black absolute_default wh100p opa_50"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="RequestFile-InputView_@files" class="btn_ovalo bck_turkey_light relative image_drag inline w100p_240_st wauto_480_st mar_05 FileContainer RequestFile">
                                                    <div class="absolute top_0_240_st bottom_0_240_st right_05_240_st mar_auto block wh1p5 bck_pos_green icon_close_1 multi_icon z1 pointer" onclick="deleteFile(this);"></div>
                                                    <div class="pad_r_1_240_st pad_r_2_480_st ellipsis italic fs_09 max_w_10">@item.Name</div>
                                                </div>
                                            }

                                            files++;
                                        }
                                    }



                                    @*<div class="relative image_drag mar_05 w5 bck_turkey_light r2 z5 pad_03">
                                            <div class="bck_body relative circle wh2 overflow_h">
                                                <img id="SendFile-InputView_0" class="w100p pointer absolute_default scale_15" onclick="deleteFile(this);" src="">
                                            </div>
                                            <!--close-->
                                            <div class="absolute top_0_240_st right_05_240_st bottom_0_240_st mar_auto block wh1p5 bck_pos_green icon_close_1 multi_icon z1 pointer"></div>

                                            <!--hover tooltip-->
                                            <div class="z2 absolute left_-5p5_240_st bottom_100p_240_st w15 bck_black_01 pad_1 box_sizing  hover_image_drag trans_05 mar_b_1 r1">
                                                <img id="SendFile-InputView_0" class="w100p" onclick="deleteFile(this);" src="">

                                                <div class="absolute top_100p_240_st left_0_240_st right_0_240_st mar_auto">
                                                    <div class="arrow bck_black_01_arrow"></div>
                                                </div>

                                                <!--name-->
                                                <div class="absolute_bl_240_st fs_08 pad_1 w100p box_sizing">
                                                    <div class="relative">
                                                        <a href="#" class="block ellipsis w100p pad_b_05 pad_t_3 pad_lr_1 text-right italic c_white box_sizing z1 relative">
                                                            nombre de la foto.jpg
                                                        </a>
                                                        <div class="vertical_degrade_black absolute_default wh100p opa_50"></div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>*@

                                    @*<div class="btn_ovalo bck_turkey_light relative inline w100p_240_st wauto_480_st mar_05">
                                            <div class="absolute top_0_240_st bottom_0_240_st right_05_240_st mar_auto block wh1p5 bck_pos_green icon_close_1 multi_icon z1 pointer"></div>
                                            <div class="pad_r_1_240_st pad_r_2_480_st ellipsis italic fs_09 max_w_10">
                                                askkask  askflksjfh kasdjfh.doc
                                            </div>
                                        </div>*@




                                    <div class="inline_divs v_mid_all pointer button_drag fileSelector" onclick="document.getElementById('SendFile_0').click()">
                                        <div class="wh2 bck_turkey_light bck_turkey_light_hover hover_to_green pointer relative circle">
                                            <span class="wh1 center_absolute icon_add multi_icon inline bck_pos_green"></span>
                                        </div>
                                        <div class="mar_lr_05 italic c_gray fs_08 trans_05 label_button_drag">Agregue el archivo</div>
                                    </div>

                                </div>
                            </div>

                            <div class="pad_t_1 text-right">
                                <div class="relative pad_r_15 inline c_gray italic fs_09">
                                    <div class="absolute right_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1p5 bck_pos_green icon_clip multi_icon"></div>
                                    <div>Adjuntar archivos</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pad_t_3 text-right">
                    <div class="inline_divs v_mid_all w100p">
                        <a href="@Url.Action("Requests", "CRM")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2">Cancelar</a>

                        <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
                            <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                        </button>
                        <div class="mdl-tooltip" for="BtnSave"><strong>Guardar solicitud</strong></div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>




@section Scripts{
    @*@Scripts.Render("~/Content/assets/javascripts/bootstrap-tagsinput.js")*@
    @Scripts.Render("~/Scripts/Views/CRM/Requests/Create.js")
}