﻿@using CR.CGC.GuiasScoutsWeb.Common
@model Entities.Request
@{
    ViewBag.Title = "Ver solicitud";
}
@Html.Hidden("Url_SaveComment", Url.Action("SaveRequestComment", "CRM"))
@Html.HiddenFor(m => m.RequestId, new { @id = "RequestId" })
@Html.Hidden("CommentatorId", CustomSession.CurrentSession.CurrentUser.Member.User.UserId, new { @id = "CommentatorId" })

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <a href="@Url.Action("Requests", "CRM")" id="DivToList">Registros</a>
    <span>/ @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver solicitudes</strong></div>

<div class="content_wrap_body">
    <div class="action_toggle_container unselected" id="action_toggle_container">

        <div class="relative max_w_80 trans_05">
            <div class="relative pad_b_3 pad_b_3_1366_st">
                <div class="v_mid_all">
                    <div class="text-left inline_divs inline">
                        <a href="@Url.Action("Requests", "CRM")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green" data-ajax="false"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
                    </div>

                    <div class=" text-right absolute top_5_240_st right_0_240_st only_1366 z2  mar_t_3">
                        <div class="circle_hover pointer relative pad_1 unselected icon_hover_all" onclick="javascript:unhide('action_toggle_panel');unhide('action_toggle_body');unhide('action_toggle_buttons');unhide('action_toggle_container');" id="action_toggle_buttons">
                            <div class="pad_1">
                                <div class="icon_expand_container wh1p5 center_absolute" id="div_icon_expand"><div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div></div>
                                <div class="icon_compress_container wh1p5 center_absolute" id="div_icon_compress"><div class="icon_visibility multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-tooltip" for="div_icon_expand"><strong>Ocultar</strong></div>
                    <div class="mdl-tooltip" for="div_icon_compress"><strong>Mostrar</strong></div>
                </div>
            </div>
        </div>

        <div class="italic fs_12 text-left pad_b_4">Solicitud en modo lectura</div>

        <div class="text-center relative overflow_h max_w_80 trans_05 min_h_60">

            <div class="pad_b_2 pad_b_0_1366_st pad_r_3_1366_st relative unselected body_plus_panelright" id="action_toggle_body">
                <div class=" pad_r_25r_1366_st  body_plus_panelright_content scroll-container">
                    <div class="container text-left">
                        <div class="bolder mar_b_2 c_gray fs_12 italic">@Model.Name</div>
                        <div class="c_gray">@Html.Raw(Model.Description.Replace("\\n", "<br/>"))</div>

                        <div class="italic fs_12 mar_t_2">Archivos adjuntos</div>

                        <div class="text-left relative">
                            <div class="text-left w100p pad_tb_1 inline_divs border_w_2px relative v_mid_all">
                                @if (Model.RequestFiles.Count == 0)
                                {
                                    <label for="" class="midd_container absolute_default wh100p">
                                        <span class="c_gray pad_tb_05">No existen archivos adjuntos</span>
                                    </label>
                                }
                                else
                                {
                                    foreach (var item in Model.RequestFiles)
                                    {
                                        <div id="RequestFile_@item.RequestFileId" class="btn_ovalo bck_turkey_light relative image_drag inline w100p_240_st wauto_480_st mar_r_05 FileContainer pointer" onclick="downloadFile('@(item.FileLocation == null ? Url.Action("DownloadFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("DownloadFile", "Application", new { FileUrl = item.FileLocation}))');">
                                            <div class="ellipsis italic fs_09 max_w_10">@item.Name</div>
                                        </div>
                                        <div class="mdl-tooltip" for="RequestFile_@item.RequestFileId"><strong>Descargar archivo</strong></div>
                                    }
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="absolute top_0_240_st right_25_240_st only_1366 h100p split_v_panel trans_05"><div class="split_icon h100p"></div></div>

            <div class="text-left w25_1366_st absolute_tr_1366_st pad_l_3_1366_st z1 panelright unselected h100p overflow_y_auto overflow_x_h" id="action_toggle_panel">
                <div class="split_bottom mar_tb_2 to_1366"></div>

                <div class="relative ">

                    <div class="vertical_toggle_panel unselected trans_05  pad_t_2_240_st pad_t_0_1366_st" id="vertical_toggle_panel">

                        <div class="">
                            <div class="fs_08 pad_b_05">Estado</div>
                            <div class="relative pad_t_05">
                                <div class="pad_l_2 relative">
                                    <span class="circle w4px h4px absolute_240_st top_0_240_st bottom_0_240_st left_0_240_st mar_auto" style="background-color: @Model.RequestStatus.Color; -moz-box-shadow: 0px 0px 10px 0px @Model.RequestStatus.Color; -webkit-box-shadow: 0px 0px 10px 0px @Model.RequestStatus.Color; box-shadow:0px 0px 10px 0px @Model.RequestStatus.Color"></span>
                                    @Model.RequestStatus.Name
                                </div>
                            </div>
                        </div>

                        <div class="text-left pad_t_2">
                            <div class="fs_08">Prioridad</div>
                            <div class="c_gray pad_tb_05">@Model.Priority.Name</div>
                        </div>

                        <div class="text-left pad_t_2">
                            <div class="fs_08">Tipo de solicitud</div>
                            <div class="c_gray pad_tb_05">@Model.Topic.TopicType.Name</div>
                        </div>

                        <div class="text-left pad_t_2">
                            <div class="fs_08">Temática</div>
                            <div class="c_gray pad_tb_05">@Model.Topic.Name</div>
                        </div>

                        <div class="text-left pad_tb_2">
                            <div class="fs_08">Complejidad</div>
                            <div class="c_gray pad_tb_05">@(Model.ComplexityId == null ? "---" : Model.Complexity.Name)</div>
                        </div>

                        <div class="split_bottom"></div>
                    </div>

                    <div class="pad_t_2 relative pad_b_4 icon_hover_all">
                        <div class="italic c_black fs_12">
                            Comentarios
                            <div class="absolute top_1_240_st right_0_240_st circle_hover pointer relative pad_1  icon_hover_all unselected action_toggle_container" onclick="javascript:unhide('vertical_toggle_panel');unhide('vertical_toggle_panel_expand');" id="vertical_toggle_panel_expand">
                                <div class="pad_1">
                                    <div class="icon_expand_container wh1p5 center_absolute" id="div_icon_expand_chat"><div class="icon_expand multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div></div>
                                    <div class="icon_compress_container wh1p5 center_absolute" id="div_icon_compress_chat"><div class="icon_compress multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-tooltip" for="div_icon_expand_chat"><strong>Expandir</strong></div>
                        <div class="mdl-tooltip" for="div_icon_compress_chat"><strong>Contraer</strong></div>

                        <div class="pad_t_2 pad_b_1">
                            <div class="pad_03 fs_08 bck_body c_gray inline lh_08">Asignado a:</div>
                            <a class="c_turkey block italic cursor_default">@(Model.AssignedTo == null ? "---" : Model.Assigned.Names + " " + Model.Assigned.Surnames )</a>

                            <div class="mar_t_1 h15 container_chat overflow_auto relative trans_05" id="RequestCommentContainer">
                                @if (Model.AssignedTo == null)
                                {
                                    <label for="comentarios" class="midd_container absolute_default wh100p">
                                        <span class="midd_cell uppercase text-center c_gray opa_50">Solicitud sin asignar</span>
                                    </label>
                                }
                                else
                                {
                                    if (Model.RequestComments.Count == 0)
                                    {
                                        <label for="comentarios" class="midd_container absolute_default wh100p">
                                            <span class="midd_cell uppercase text-center c_gray opa_50">No existen comentarios</span>
                                        </label>
                                    }
                                    else
                                    {
                                        List<DateTime> dates = Model.RequestComments.GroupBy(x => x.DateTimeComment.Date).Select(x => x.Key).ToList();
                                        foreach (var date in dates.OrderBy(x => x).ToList())
                                        {
                                            <div class=" text-center mar_tb_15 c_gray opa_50 relative">
                                                <div class="bck_white z1 relative inline pad_lr_1 fs_09">@date.ToString("dd-MM-yyyy")</div>
                                                <div class="absolute  top_07_240_st left_0_240_st w100p h1px"><div class="split_bottom"></div></div>
                                            </div>

                                            foreach (var comment in Model.RequestComments.Where(x => x.DateTimeComment.Date == date.Date).OrderBy(x => x.DateTimeComment).ToList())
                                            {
                                                if (comment.Commentator == CustomSession.CurrentSession.CurrentUser.Member.User.UserId)
                                                {
                                                    <div class="text-right pad_l_5 mar_tb_05 view_hr_container ">
                                                        <div class="pad_05 text-left bck_turkey_light inline relative">
                                                            @Html.Raw(comment.Comment.Replace("\\n", "<br/>"))
                                                            <div class="fs_08 absolute w5 right_100p_240_st top_05_240_st pad_r_1 italic view_hr trans_05 c_gray"><div class="opa_50">@comment.DateTimeComment.ToString("hh:mm tt")</div></div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="text-left pad_r_5 mar_tb_05">
                                                        <div class="pad_05 text-left bck_gray0 inline relative c_gray view_hr_container">
                                                            @Html.Raw(comment.Comment.Replace("\\n", "<br/>"))
                                                            <div class="fs_08 absolute w5 left_100p_240_st top_05_240_st pad_l_1 italic view_hr trans_05 c_gray"><div class="opa_50">@comment.DateTimeComment.ToString("hh:mm tt")</div></div>
                                                        </div>
                                                    </div>
                                                }
                                            }

                                        }
                                    }
                                }

                            </div>
                        </div>

                        <div class="text-left absolute_bl_240_st w100p">
                            @if (Model.AssignedTo == null)
                            {
                                <div class="mdc-text-field mdc-text-field--textarea w100p msn_text pad_r_2 mdc-text-field--disabled" data-mdc-auto-init="MDCTextField">
                                    <textarea id="comment" type="text" class="mdc-text-field__input fs_1 noresize" cols="30" rows="1" disabled readonly></textarea>
                                    <label for="comentarios" class="mdc-text-field__label hide_focus">Escribir comentario</label>
                                    <div class="mdc-line-ripple"></div>
                                </div>
                            }
                            else
                            {
                                <div class="mdc-text-field mdc-text-field--textarea w100p msn_text pad_r_2" data-mdc-auto-init="MDCTextField">
                                    <textarea id="comment" type="text" class="mdc-text-field__input fs_1 noresize" cols="30" rows="1"></textarea>
                                    <label for="comentarios" class="mdc-text-field__label hide_focus">Escribir comentario</label>
                                    <div class="mdc-line-ripple"></div>
                                </div>
                            }

                        </div>
                        @if (Model.AssignedTo == null)
                        {
                            <div class="absolute right_0_240_st bottom_2_240_st z1">
                                <span class="icon_send multi_icon inline wh1p5 bck_pos_gray"></span>
                            </div>
                        }
                        else
                        {
                            <div class="absolute right_0_240_st bottom_2_240_st z1 pointer" id="BtnSendComment">
                                <span class="icon_send multi_icon icon_hover_fade inline wh1p5 bck_pos_gray bck_hover_green"></span>
                            </div>
                            <div class="mdl-tooltip" for="BtnSendComment"><strong>Enviar comentario</strong></div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/CRM/Requests/Details.js")
}