﻿@{
    ViewBag.Title = "Solicitudes";
}

@Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
@Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

@Html.Hidden("Url_Delete", Url.Action("DeleteRequests", "CRM"))

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>Registros</span>
</div>

<div class="content_wrap_body">

    <div id="GridRequests">
        @Html.Action("GetGridRequests", "CRM")
    </div>

</div>

@Scripts.Render("~/Scripts/Views/CRM/Requests/Index.js")