﻿@model List<Entities.Request>
@{
    ViewBag.Title = "Gestionar solicitudes";
    bool Managed = ViewBag.Managed ?? false;
}

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>Gestión</span>
</div>

<div class="content_wrap_body">

    <div class="b_bottom_gray tab_icon_colors">
        <div class="no_highlighting icon_tab top_indicator">
            <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                    <a class="mdc-tab-bar-scroller__indicator__inner pointer"><span class="wh1 relative icon_back multi_icon bck_pos_gray icon_hover_fade inline"></span></a>
                </div>

                <div class="mdc-tab-bar-scroller__scroll-frame">
                    <nav class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0">

                        <a href="@Url.Action("Assigned", "CRM")" class="mdc-tab management_tab" data-rel="tab_1">
                            <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline pad_tb_13_1024_st">
                                <span class="italic">Solicitudes asignadas a tí</span>
                            </span>
                        </a>

                        <a class="mdc-tab @(Managed ? "" : "mdc-tab--active")" data-rel="tab_2">
                            <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline pad_tb_13_1024_st">
                                <span class="italic">Gestionar solicitudes no asignadas</span>
                            </span>
                        </a>

                        <a class="mdc-tab @(Managed ? "mdc-tab--active" : "")" data-rel="tab_3">
                            <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline pad_tb_13_1024_st">
                                <span class="italic">Gestionar solicitudes asignadas</span>
                            </span>
                        </a>

                        <span class="mdc-tab-bar__indicator"></span>
                    </nav>
                </div>

                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                    <a class="mdc-tab-bar-scroller__indicator__inner pointer"><span class="wh1 relative icon_next multi_icon bck_pos_gray icon_hover_fade inline"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="pad_t_25">

        <div id="tab_1" class="display_select tab_1"></div>

        <div id="tab_2" class="display_select @(Managed ? "" : "active") tab_2">
            <div id="GridRequests">

                <div class="overflow_auto">
                    <table class="mdl-data-table mdl-js-data-table w100p overflow_h">
                        <thead class="c_purple01_all bolder fs_1">
                            <tr class="pad_1_divs">
                                <th class="mdl-data-table__cell--non-numeric">N°</th>
                                <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                                <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                                <th class="mdl-data-table__cell--non-numeric">Prioridad</th>
                                <th class="mdl-data-table__cell--non-numeric">Temática</th>
                                <th class="mdl-data-table__cell--non-numeric">Usuario solicitante</th>
                                <th class="mdl-data-table__cell--non-numeric">F. Creación</th>
                                <th class="mdl-data-table__cell--non-numeric">Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Where(x => x.AssignedTo == null).ToList().Count > 0)
                            {
                                foreach (var item in Model.Where(x => x.AssignedTo == null).ToList())
                                {
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric">@item.RequestId</td>
                                        <td class="mdl-data-table__cell--non-numeric">@item.Name</td>
                                        <td class="mdl-data-table__cell--non-numeric">@item.Topic.TopicType.Name</td>
                                        <td class="mdl-data-table__cell--non-numeric">@item.Priority.Name</td>
                                        <td class="mdl-data-table__cell--non-numeric">@item.Topic.Name</td>
                                        <td class="mdl-data-table__cell--non-numeric">@(item.Requesting.Names + " " + item.Requesting.Surnames)</td>
                                        <td class="mdl-data-table__cell--non-numeric">@item.CreationDate.ToString("dd-MM-yyyy")</td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <div class="pad_l_2 relative h1">
                                                <span class="circle w4px h4px absolute_240_st top_05_240_st left_05_240_st" style="background-color: @item.RequestStatus.Color; -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); box-shadow:0px 0px 10px 1px @item.RequestStatus.Color"></span>
                                                @item.RequestStatus.Name
                                            </div>
                                        </td>
                                        <td class="pad_lr_1">

                                            <div class="relative">
                                                <div class="actions h4 z1 absolute_tr_240_st text-right">
                                                    <div class="wh2 inline multi_icon bck_pos_gray absolute_tr_240_st icon_points mar_auto bottom_0_240_st"></div>

                                                    <div class="action_buttons text-right absolute h2p5 inline_divs v_mid_all w10 inline_divs">
                                                        <a class="circle_hover pointer relative pad_05" id="BtnEdit@(item.RequestId)" href="@Url.Action("AssignRequest", "CRM", new { RequestId = item.RequestId })">
                                                            <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mdl-tooltip" for="BtnEdit@(item.RequestId)"><strong>Asignar solicitud</strong></div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric" colspan="8">No existen registros.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div id="tab_3" class="display_select @(Managed ? "active" : "") tab_3">
            <div id="GridManagedRequests">

                <div class="overflow_auto">
                    <table class="mdl-data-table mdl-js-data-table w100p overflow_h">
                        <thead class="c_purple01_all bolder fs_1">
                            <tr class="pad_1_divs">
                                <th class="mdl-data-table__cell--non-numeric">N°</th>
                                <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                                <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                                <th class="mdl-data-table__cell--non-numeric">F. Creación</th>
                                <th class="mdl-data-table__cell--non-numeric">F. Atención</th>
                                <th class="mdl-data-table__cell--non-numeric">Prioridad</th>
                                <th class="mdl-data-table__cell--non-numeric">Asignado a</th>
                                <th class="mdl-data-table__cell--non-numeric">Usuario solicitante</th>
                                <th class="mdl-data-table__cell--non-numeric">Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Where(x => x.AssignedTo != null).ToList().Count > 0)
                            {
                                foreach (var item in Model.Where(x => x.AssignedTo != null).ToList())
                                {
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric">@item.RequestId</td>
                                        <td class="mdl-data-table__cell--non-numeric">@item.Name</td>
                                        <td class="mdl-data-table__cell--non-numeric">@item.Topic.TopicType.Name</td>
                                        <td class="mdl-data-table__cell--non-numeric">@item.CreationDate.ToString("dd-MM-yyyy")</td>
                                        <td class="mdl-data-table__cell--non-numeric">@(item.AttentionDate != null ? ((DateTime)item.AttentionDate).ToString("dd-MM-yyyy") : "")</td>
                                        <td class="mdl-data-table__cell--non-numeric">@item.Priority.Name</td>
                                        <td class="mdl-data-table__cell--non-numeric">@(item.AssignedTo != null ? item.Assigned.Names + " " + item.Assigned.Surnames : "")</td>
                                        <td class="mdl-data-table__cell--non-numeric">@(item.Requesting.Names + " " + item.Requesting.Surnames)</td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <div class="pad_l_2 relative h1">
                                                <span class="circle w4px h4px absolute_240_st top_05_240_st left_05_240_st" style="background-color: @item.RequestStatus.Color; -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); box-shadow:0px 0px 10px 1px @item.RequestStatus.Color"></span>
                                                @item.RequestStatus.Name
                                            </div>
                                        </td>
                                        <td class="pad_lr_1">

                                            <div class="relative">
                                                <div class="actions h4 z1 absolute_tr_240_st text-right">
                                                    <div class="wh2 inline multi_icon bck_pos_gray absolute_tr_240_st icon_points mar_auto bottom_0_240_st"></div>

                                                    <div class="action_buttons text-right absolute h2p5 inline_divs v_mid_all w10 inline_divs">
                                                        <a class="circle_hover pointer relative pad_05" id="BtnEdit@(item.RequestId)" href="@Url.Action("AssignRequest", "CRM", new { RequestId = item.RequestId })">
                                                            <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mdl-tooltip" for="BtnEdit@(item.RequestId)"><strong>Reasignar solicitud</strong></div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric" colspan="8">No existen registros.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Views/CRM/Requests/Management.js")
}
