﻿@model List<Entities.Event>
@{
    string searchText = ViewBag.SearchText;
    string tabId = ViewBag.TabId;
}

<div class="relative trans_05">
    <div class="pad_b_1 relative">
        <div class="text-right inline_divs column_container">
            <div class="inline_divs text-right @(searchText == null ? "hide" : "")" id="filterContainerDiv_Att">
                <div class="relative max_w_25 text-left h2p5 mar_lr_1" style="margin-top:5px;">
                    <a class=" pointer absolute left_0_240_st top_05_240_st z1 icon_view multi_icon icon_hover_fade inline wh1p5 bck_pos_gray" id="SearchDiv_Att"></a>

                    <div class="mdc-text-field w100p mdc-text-field--upgraded mar_tb_0" data-mdc-auto-init="MDCTextField" style="height:2.5rem;">
                        <input class="mdc-text-field__input pad_lr_25" type="text" placeholder="Buscar" id="inputGridSearch_Att" value="@(searchText != null ? searchText : "")">
                        <div class="mdc-line-ripple"></div>
                    </div>


                    <a class="pointer absolute right_0_240_st top_05_240_st z1 icon_close_3 multi_icon inline wh1p5 bck_pos_gray" onclick="javascript:pageFunctions.unhideElem('filterButtonDiv_Att');pageFunctions.unhideElem('filterContainerDiv_Att');" id="SearchCloseDiv_Att"></a>

                </div>
            </div>
            <div class="mdl-tooltip" for="SearchDiv_Att"><strong>Buscar</strong></div>

            <div class="@(searchText != null ? "hide" : "")" id="filterButtonDiv_Att">
                <div class="circle_hover pointer relative pad_1" id="FiltDiv_Att" onclick="javascript:pageFunctions.unhideElem('filterButtonDiv_Att');pageFunctions.unhideElem('filterContainerDiv_Att');"><a class="icon_filter multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></a></div>
                <div class="mdl-tooltip" for="FiltDiv_Att"><strong>Buscar</strong></div>
            </div>
        </div>
    </div>
</div>

<div class="panels">
    <div id="panel-all" class="display_select menu-item-all panel @(tabId == null ? "active" : (tabId == "panel-all" ? "active" : ""))" role="tabpanel" aria-hidden="@(tabId == null ? "false" : (tabId == "panel-all" ? "false" : "true"))">
        <div class="column_container text-center text-left_1024_st ">

            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    bool confirmed = ((List<int>)ViewBag.ListIndividual).Contains((int)item.EventId);

                    <div class="pad_tb_15 pad_1_700_st max_w_20 post g_s240_100p g_s900_50p g_s1024_100p mar_auto text-left">
                        <div class="r5px border_gray overflow_h">
                            <span class="relative block hover_to_green_all c_black bck_cover h10" style="background-image: url('@(item.EventImage == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.EventImage}))')"></span>

                            <div class="pad_15 b_bottom_gray relative">
                                <a href="@Url.Action("AttendanceDetails", "Activity", new { EventId = item.EventId})" class="hover_to_green c_black night_white fs_12">@item.Name</a>

                                <div class="pad_tb_1 pad_r_5_700_st relative">
                                    <div class="w10">
                                        <div class="fs_09 c_turkey pad_b_1 bolder capitalize">@item.StartDateTime.ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("es"))</div>
                                        <div class="fs_3 c_purple01">@item.StartDateTime.ToString("dd")</div>
                                    </div>

                                    <div class="absolute_700_st right_0_700_st bottom_05_700_st pad_t_1 pad_l_5_700_st w100p text-right_700_st">
                                        <div class="c_gray opa_50 fs_08">Finaliza el</div>
                                        <div class="ellipsis c_gray italic fs_11 capitalize">@item.EndDateTime.ToString("dd \\de MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("es"))</div>
                                    </div>
                                </div>

                                <div class="c_gray pad_t_1 break_word">@Html.Raw(item.Place.Replace("\\n", "<br/>"))</div>

                                @{
                                    item.EventAssessments = item.EventAssessments.Where(x => x.Enabled).ToList();
                                }
                                <div class="relative pad_t_15 inline_divs">
                                    <div class="rate_lm" data-rateyo_rate="@(item.EventAssessments.Count == 0 ? (decimal)0.0 : Decimal.Round((item.EventAssessments.Sum(x => x.Assessment) / item.EventAssessments.Count), 1))"></div>
                                    <div class="c_gray opa_50 pad_l_05">@(item.EventAssessments.Count == 0 ? (decimal)0.0 : Decimal.Round((item.EventAssessments.Sum(x => x.Assessment) / item.EventAssessments.Count), 1)) (@item.EventAssessments.Count)</div>
                                </div>
                            </div>

                            <div class="relative pad_lr_15 pad_tb_1 column_container v_mid_all">
                                <div class="g_s240_50p">
                                    <div class="no_padding uppercase bold block c_gray fs_08 relative pad_l_15 ellipsis">
                                        <span class="absolute left_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1 bck_pos_gray icon_person_2 multi_icon"></span>
                                        @(item.MemberEvents.Where(x => x.Enabled).ToList().Count() + (item.MemberEvents.Where(x => x.Enabled).ToList().Count() > 1 ? " asistirán" : " asistirá"))
                                    </div>
                                </div>

                                @if (item.EndDateTime >= DateTime.Now)
                                {
                                    <div class="g_s240_50p text-right">
                                        <button type="button" class="no_padding" id="BtnConfirmed_@item.EventId" onclick="@(confirmed ? "removeAttendance(" + item.EventId +")" : "addAttendance(" + item.EventId +")")">
                                            <div class="wh2 relative pointer icon_like_degrade multi_icon bck_pos_gray opa_100 icon_hover_fade @(confirmed ? "active" : "")"></div>
                                        </button>
                                    </div>
                                    <div class="mdl-tooltip" for="BtnConfirmed_@item.EventId"><strong>@(confirmed ? "Cancelar asistencia" : "Confirmar asistencia")</strong></div>
                                }
                            </div>
                        </div>
                    </div>

                }
            }
            else
            {
                <div class="italic fs_12">No existen registros.</div>
            }

        </div>
    </div>
    <div id="panel-me" class="display_select menu-item-all panel @(tabId != null ? (tabId == "panel-me" ? "active" : "") : "")" role="tabpanel" aria-hidden="@(tabId == null ? "true" : (tabId == "panel-me" ? "false" : "true"))">
        <div class="column_container text-center text-left_1024_st ">

            @if (Model.Where(x => ((List<int>)ViewBag.ListIndividual).Contains((int)x.EventId)).ToList().Count > 0)
            {
                foreach (var item in Model.Where(x => ((List<int>)ViewBag.ListIndividual).Contains((int)x.EventId)).ToList())
                {
                    <div class="pad_tb_15 pad_1_700_st max_w_20 post g_s240_100p g_s900_50p g_s1024_100p mar_auto text-left">
                        <div class="r5px border_gray overflow_h">
                            <span class="relative block hover_to_green_all c_black bck_cover h10" style="background-image: url('@(item.EventImage == null ? Url.Action("ViewFile", "Publication", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.EventImage}))')"></span>

                            <div class="pad_15 b_bottom_gray relative">
                                <a href="@Url.Action("AttendanceDetails", "Activity", new { EventId = item.EventId})" class="hover_to_green c_black night_white fs_12">@item.Name</a>

                                <div class="pad_tb_1 pad_r_5_700_st relative">
                                    <div class="w10">
                                        <div class="fs_09 c_turkey pad_b_1 bolder capitalize">@item.StartDateTime.ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("es"))</div>
                                        <div class="fs_3 c_purple01">@item.StartDateTime.ToString("dd")</div>
                                    </div>

                                    <div class="absolute_700_st right_0_700_st bottom_05_700_st pad_t_1 pad_l_5_700_st w100p text-right_700_st">
                                        <div class="c_gray opa_50 fs_08">Finaliza el</div>
                                        <div class="ellipsis c_gray italic fs_11 capitalize">@item.EndDateTime.ToString("dd \\de MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("es"))</div>
                                    </div>
                                </div>

                                <div class="c_gray pad_t_1 break_word">@Html.Raw(item.Place.Replace("\\n", "<br/>"))</div>

                                @{
                                    item.EventAssessments = item.EventAssessments.Where(x => x.Enabled).ToList();
                                }
                                <div class="relative pad_t_15 inline_divs">
                                    <div class="rate_lm" data-rateyo_rate="@(item.EventAssessments.Count == 0 ? (decimal)0.0 : Decimal.Round((item.EventAssessments.Sum(x => x.Assessment) / item.EventAssessments.Count), 1))"></div>
                                    <div class="c_gray opa_50 pad_l_05">@(item.EventAssessments.Count == 0 ? (decimal)0.0 : Decimal.Round((item.EventAssessments.Sum(x => x.Assessment) / item.EventAssessments.Count), 1)) (@item.EventAssessments.Count)</div>
                                </div>
                            </div>

                            <div class="relative pad_lr_15 pad_tb_1 column_container v_mid_all">
                                <div class="g_s240_50p">
                                    <div class="no_padding uppercase bold block c_gray fs_08 relative pad_l_15 ellipsis">
                                        <span class="absolute left_0_240_st top_0_240_st bottom_0_240_st mar_auto block wh1 bck_pos_gray icon_person_2 multi_icon"></span>
                                        @(item.MemberEvents.Where(x => x.Enabled).ToList().Count() + (item.MemberEvents.Where(x => x.Enabled).ToList().Count() > 1 ? " asistirán" : " asistirá"))
                                    </div>
                                </div>

                                @if (item.EndDateTime >= DateTime.Now)
                                {
                                    <div class="g_s240_50p text-right">
                                        <button type="button" class="no_padding" id="BtnConfirmed_Me_@item.EventId" onclick="removeAttendance(@item.EventId);">
                                            <div class="wh2 relative pointer icon_like_degrade multi_icon bck_pos_gray opa_100 icon_hover_fade active"></div>
                                        </button>
                                    </div>
                                    <div class="mdl-tooltip" for="BtnConfirmed_Me_@item.EventId"><strong>Cancelar asistencia</strong></div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="italic fs_12">No existen registros.</div>
            }

        </div>
    </div>
</div>

