﻿@model List<Entities.Event>
@{
    ViewBag.Title = "Eventos";
    string searchText = ViewBag.SearchText;
}

@Html.Hidden("Url_Get_Pagination", Url.Action("GetGridAttendances", "Activity"), new { @id = "Url_Get_Pagination" })
@Html.Hidden("Url_Add", Url.Action("SaveAttendance", "Activity"), new { @id = "Url_Add" })
@Html.Hidden("Url_Delete", Url.Action("DeleteAttendance", "Activity"), new { @id = "Url_Delete" })

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>@ViewBag.Title</span>
</div>
<a href="@Url.Action("Attendances", "Activity")" class="hide" id="Url_toAttendances"></a>

<div class="content_wrap_body">
    @Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
    @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

    <div class="b_bottom_gray tab_icon_colors">
        <div class="no_highlighting icon_tab top_indicator">
            <div class="mdc-tab-bar-scroller mdc-tab-bar--icon-tab-bar bck_white">

                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
                    <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_back multi_icon icon_hover_fade inline"></span></a>
                </div>

                <div class="mdc-tab-bar-scroller__scroll-frame">
                    <nav id="tab-bar-attendances" class="body-menu mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs mar_0" role="tablist">

                        <a class="mdc-tab w2p5 h2p5 mdc-tab--active" role="tab" aria-controls="panel-all">
                            <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline">
                                <span class="italic inline_divs v_mid_all">
                                    <span class="pad_l_05">Todos</span>
                                </span>
                            </span>
                        </a>

                        <a class="mdc-tab w2p5 h2p5" role="tab" aria-controls="panel-me">
                            <span class="fs_11 capitalize inline_divs v_mid_all pad_b_3 inline">
                                <span class="italic inline_divs v_mid_all">
                                    <span class="pad_05_1">Confirmaciones</span>
                                </span>
                            </span>
                        </a>

                        <span class="mdc-tab-bar__indicator"></span>
                    </nav>
                </div>

                <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
                    <a class="mdc-tab-bar-scroller__indicator__inner" href="#"><span class="wh1 relative icon_next multi_icon icon_hover_fade inline"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="pad_t_25" id="panels_attendance_container">
        @Html.Action("GetGridAttendances", "Activity", new { SearchText = searchText })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/assets/javascripts/rateyo_min.js")
    @Scripts.Render("~/Scripts/Views/Activity/Attendances/Index.js")
}
