﻿@model CR.CGC.GuiasScoutsWeb.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Primer Usuario";
}

<div class="midd_container relative wh100p z3">
    <div class="midd_cell w100p">
        <!-- container login -->
        <div class="pad_2_360_st mar_auto max_w_30">

            <!-- title -->
            <div class="uppercase black fs_12 sl_01 c_white night_text">@ViewBag.Title</div>

            <!-- text description -->
            <div class="row_lm text_login">Cree la primer cuenta.</div>

            <!-- form -->
            <section id="loginForm">
                @using (Html.BeginForm("FirstUser", "Account", FormMethod.Post, new { @class = "text-center block row_lm", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="text-left">
                        <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p" data-mdc-auto-init="MDCTextField">

                            <div class="multi_icon icon_person icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "mdc-text-field__input fs_1", @id = "user", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$", oninvalid = "this.setCustomValidity('formato no válido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                            @Html.LabelFor(m => m.Email, "Usuario", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "user" })
                            <div class="mdc-line-ripple"></div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="text-left">
                        <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p" data-mdc-auto-init="MDCTextField">

                            <label for="pass" class="multi_icon icon_lock icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                            @Html.PasswordFor(m => m.Password, new { @class = "mdc-text-field__input fs_1", @id = "pass", @required = "true", aria_controls = "pw-validation-msg", autocomplete = "current-password", pattern = "^(?=.*\\d)(?=.*\\W)(?=.*[A-Z])\\S{8,12}$", oninvalid = "this.setCustomValidity('Debe coincidir con el formato de solicitud.')", oninput = "this.setCustomValidity('')", MaxLength = 12 })
                            @Html.LabelFor(m => m.Password, "Contraseña", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "pass" })
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text_login" id="pw-validation-msg">Este campo es requerido / Debe coincidir con el formato de contraseña: al menos una letra mayúscula, un número, un carácter especial y contar con un mínimo de 8 caracteres.</p>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="text-left">
                        <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p" data-mdc-auto-init="MDCTextField">

                            <label for="confirmPass" class="multi_icon icon_lock icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "mdc-text-field__input fs_1", @id = "confirmPass", @required = "true", aria_controls = "pw-validation-msg-confirm", autocomplete = "current-password", pattern = "^(?=.*\\d)(?=.*\\W)(?=.*[A-Z])\\S{8,12}$", oninvalid = "this.setCustomValidity('Debe coincidir con el formato de solicitud.')", oninput = "this.setCustomValidity('')", MaxLength = 12 })
                            @Html.LabelFor(m => m.ConfirmPassword, "Confirmar contraseña", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "confirmPass" })
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text_login" id="pw-validation-msg-confirm">Este campo es requerido / Debe coincidir con el formato de contraseña: al menos una letra mayúscula, un número, un carácter especial y contar con un mínimo de 8 caracteres.</p>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="row_lm">
                        <button type="submit" class="btn_ovalo_xl bck_guias uppercase bold"><span class="fs_08">Registrar</span></button>
                    </div>

                }
            </section>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
