﻿@model CR.CGC.GuiasScoutsWeb.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Restablecer Contraseña";
}

<div class="midd_container relative wh100p z3">
    <div class="midd_cell w100p">
        <!-- container login -->
        <div class="pad_2_360_st mar_auto max_w_30">


            <!-- title -->
            <div class="uppercase black fs_12 sl_01 c_white night_text">@ViewBag.Title</div>
            <!-- text description -->
            <div class="row_lm text_login">Por favor ingrese el correo asociado a su usuario</div>

            <!-- form -->
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new
            {
                @class = "text-center block row_lm",
                @id = "resetPasswordForm",
                role = "form",
                autocomplete = "off"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Source, new { Id = "Source" })
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <!-- email -->
                <div class="text-left">
                    <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p" data-mdc-auto-init="MDCTextField">

                        <!-- icon -->
                        <div class="multi_icon icon_email icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></div>

                        <!-- input -->
                        @Html.TextBoxFor(m => m.Email, new { @class = "mdc-text-field__input fs_1", @id = "email", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$", oninvalid = "this.setCustomValidity('formato no válido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })

                        <!-- label -->
                        @Html.LabelFor(m => m.Email, "Correo", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "email" })
                        <div class="mdc-line-ripple"></div>

                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <!-- submit -->
                <div class="row_lm">
                    <button type="submit" id="resetPasswordClick" class="btn_ovalo_xl bck_guias uppercase bold"><span class="fs_08">Enviar</span></button>
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        document.getElementById('resetPasswordForm').addEventListener('submit', function (evt) {
            evt.preventDefault();
            evt.stopImmediatePropagation();

            var Source = {};
            $.ajax({
                //url: 'https://freegeoip.net/json/', type: "GET", async: false, data: null,
                url: 'https://ipapi.co/json/',
                type: "GET",
                async: false,
                data: null,
                success: function (res) {
                    if (res) {
                        res['OSName'] = getOSName();
                        res['Browser'] = browser();
                        Source = JSON.stringify(res);
                    }
                    document.getElementById('Source').value = Source;

                    $('#resetPasswordForm').trigger(evt.type, { 'send': true });
                },
                error: function (res) {
                    console.log(res)
                },
                complete: function (res) {
                    
                }
            });
        });
    </script>
}
