﻿@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Confirmación de contraseña olvidada";
}

<div class="midd_container relative wh100p z3">
    <div class="midd_cell w100p">
        <!-- container login -->
        <div class="pad_2_360_st mar_auto max_w_30">


            <!-- title -->
            <div class="uppercase black fs_12 sl_01 c_white night_text">@ViewBag.Title</div>
            <!-- text description -->
            <div class="row_lm text_login">Compruebe el correo electrónico para restablecer la contraseña.</div>

        </div>
    </div>
</div>
	
