﻿@model CR.CGC.GuiasScoutsWeb.Models.ForgotPasswordTokenViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
}

<div class="midd_container relative wh100p z3">
    <div class="midd_cell w100p">
        <div class="pad_2_360_st mar_auto max_w_30">

            <div class="uppercase black fs_12 sl_01 c_white night_text">@ViewBag.Title</div>
            <div class="row_lm text_login">Restablezca la contraseña.</div>

            @using (Html.BeginForm("ForgotPasswordToken", "Account", FormMethod.Post, new { @class = "text-center block row_lm", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.Token)

                <div class="text-left">
                    <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p" data-mdc-auto-init="MDCTextField">

                        <label for="pass" class="multi_icon icon_lock icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                        @Html.PasswordFor(m => m.Password, new { @class = "mdc-text-field__input fs_1", @id = "pass", @required = "true", aria_controls = "pw-validation-msg", autocomplete = "current-password", MaxLength = 12, pattern = "^(?=.*\\d)(?=.*\\W)(?=.*[A-Z])\\S{8,12}$" })
                        @Html.LabelFor(m => m.Password, "Contraseña", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "pass" })
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text_login" id="pw-validation-msg">Este campo es requerido / Debe coincidir con el formato de contraseña: al menos una letra mayúscula, un número, un carácter especial y contar con un mínimo de 8 caracteres.</p>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="text-left">
                    <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p" data-mdc-auto-init="MDCTextField">

                        <label for="confirmpass" class="multi_icon icon_check_1 icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "mdc-text-field__input fs_1", @id = "confirmpass", @required = "true", aria_controls = "pw-validation-msg-confirm", autocomplete = "current-password", MaxLength = 12, pattern = "^(?=.*\\d)(?=.*\\W)(?=.*[A-Z])\\S{8,12}$" })
                        @Html.LabelFor(m => m.ConfirmPassword, "Confirmar Contraseña", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "confirmpass" })
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text_login" id="pw-validation-msg-confirm">Este campo es requerido / Debe coincidir con el formato de contraseña: al menos una letra mayúscula, un número, un carácter especial y contar con un mínimo de 8 caracteres.</p>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div class="row_lm">
                    <button type="submit" class="btn_ovalo_xl bck_guias uppercase bold"><span class="fs_08">Restablecer</span></button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
