﻿@using CR.CGC.GuiasScoutsWeb.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Iniciar sesión";
}

<div class="midd_container relative wh100p z3">
    <div class="midd_cell w100p">
        <!-- container login -->
        <div class="pad_2_360_st mar_auto max_w_30">


            <!-- title -->
            <div class="uppercase black fs_12 sl_01 c_white night_text">@ViewBag.Title</div>
            <!-- text description -->
            <div class="row_lm text_login">Por favor ingrese usuario y contraseña</div>

            <!-- form -->
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "text-center block row_lm", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <!-- user -->
                <div class="text-left">
                    <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p" data-mdc-auto-init="MDCTextField">

                        <!-- icon -->
                        <div class="multi_icon icon_person icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></div>

                        <!-- input -->
                        @Html.TextBoxFor(m => m.Email, new { @class = "mdc-text-field__input fs_1", @id = "user", @required = "true", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })

                        <!-- label -->
                        @Html.LabelFor(m => m.Email, "Usuario", new { @class = "mdc-text-field__label uppercase fs_08 bolder" })
                        <div class="mdc-line-ripple"></div>

                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <!-- pass -->
                <div class="text-left">
                    <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p" data-mdc-auto-init="MDCTextField">

                        <!-- icon -->
                        <label for="pass" class="multi_icon icon_lock icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>

                        <!-- input -->
                        @Html.PasswordFor(m => m.Password, new { @class = "mdc-text-field__input fs_1", @id = "pass", @required = "true", aria_controls = "pw-validation-msg", autocomplete = "current-password", pattern = ".{8,}", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido.", MaxLength = 12 })

                        <!-- label -->
                        @Html.LabelFor(m => m.Password, "Contraseña", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "pass" })
                        <div class="mdc-line-ripple"></div>

                    </div>
                    <!-- msn -->
                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text_login" id="pw-validation-msg">
                        Debe tener al menos 8 caracteres
                    </p>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <!-- recordar -->
                <div class="text-left row_lm inline_divs">
                    <div class="mdc-switch  v_mid">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @id = "remember", @class = "mdc-switch__native-control" })
                        <div class="mdc-switch__background">
                            <div class="mdc-switch__knob"></div>
                        </div>
                    </div>
                    <label for="remember" class="mdc-switch-label italic pad_l_05 v_mid fs_09 opa_50 text_login">Recordarme</label>
                </div>

                <!-- submit -->
                <div class="row_lm">
                    <button type="submit" class="btn_ovalo_xl bck_guias uppercase bold"><span class="fs_08">Iniciar Sesión</span></button>
                </div>

                <!-- link -->
                <div class="pad_t_1 text-center">
                    <a href="@Url.Action("ForgotPassword")" class="underline italic">
                        Restablecer contraseña
                    </a>
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}