﻿@model CR.CGC.GuiasScoutsWeb.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Cambiar contraseña";
}


<div class="midd_container relative wh100p z3">
    <div class="midd_cell w100p">
        <!-- container login -->
        <div class="pad_2_360_st mar_auto max_w_30">

            <!-- title -->
            <div class="uppercase black fs_12 sl_01 c_white night_text">@ViewBag.Title</div>
            <!-- text description -->
            <div class="row_lm text_login">Cambiar la contraseña.</div>

            <!-- form -->
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "text-center block row_lm", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <!-- current pass -->
                <div class="text-left">
                    <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p" data-mdc-auto-init="MDCTextField">

                        <!-- icon -->
                        <label for="pass" class="multi_icon icon_lock icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>

                        <!-- input -->
                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "mdc-text-field__input fs_1", @id = "pass", @required = "true", aria_controls = "pw-validation-msg", autocomplete = "current-password", pattern = ".{8,}", MaxLength = 12 })

                        <!-- label -->
                        @Html.LabelFor(m => m.CurrentPassword, "Contraseña actual", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "pass" })
                        <div class="mdc-line-ripple"></div>

                    </div>
                    <!-- msn -->
                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text_login" id="pw-validation-msg">
                        Debe tener almenos 8 caracteres
                    </p>
                    @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                </div>

                <!-- pass -->
                <div class="text-left">
                    <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p" data-mdc-auto-init="MDCTextField">

                        <!-- icon -->
                        <label for="newpass" class="multi_icon icon_lock icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>

                        <!-- input -->
                        @Html.PasswordFor(m => m.Password, new { @class = "mdc-text-field__input fs_1", @id = "newpass", @required = "true", aria_controls = "pw-validation-msg", autocomplete = "current-password", pattern = ".{8,}", MaxLength = 12 })

                        <!-- label -->
                        @Html.LabelFor(m => m.Password, "Nueva contraseña", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "pass" })
                        <div class="mdc-line-ripple"></div>

                    </div>
                    <!-- msn -->
                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text_login" id="pw-validation-msg">
                        Debe tener almenos 8 caracteres
                    </p>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <!-- confirm pass -->
                <div class="text-left">
                    <div class="mdc-text-field mdc-text-field--with-trailing-icon w100p" data-mdc-auto-init="MDCTextField">

                        <!-- icon -->
                        <label for="confirmpass" class="multi_icon icon_check icon_hover_fade wh2  absolute right_0_240_st bottom_05_240_st"></label>

                        <!-- input -->
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "mdc-text-field__input fs_1", @id = "confirmpass", @required = "true", aria_controls = "pw-validation-msg-confirm", autocomplete = "current-password", pattern = ".{8,}", MaxLength = 12 })

                        <!-- label -->
                        @Html.LabelFor(m => m.ConfirmPassword, "Confirmar nueva contraseña", new { @class = "mdc-text-field__label uppercase fs_08 bolder", @for = "confirmpass" })
                        <div class="mdc-line-ripple"></div>

                    </div>
                    <!-- msn -->
                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text_login" id="pw-validation-msg-confirm">
                        Debe tener almenos 8 caracteres
                    </p>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <!-- submit -->
                <div class="row_lm">
                    <button type="submit" class="btn_ovalo_xl bck_guias uppercase bold"><span class="fs_08">Actualizar</span></button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
