﻿@using CR.CGC.GuiasScoutsWeb.Common
@model List<CR.CGC.GuiasScoutsWeb.Models.ItemBinnacleViewModel>

@foreach (var item in Model)
{
    switch (item.ItemType)
    {
        case ItemBinnacleConstants.DefaultType:
            <div class="pad_b_2px">
                <div class="pad_15 pad_2_700_st bck_body">
                    <div class="pad_r_2 relative">
                        <span class="block absolute_tr_240_st"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionType) multi_icon bck_pos_gray"></span></span>

                        <div class="bolder pad_b_1 pad_b_15_700_st">Cambio de <span class="lowercase">@item.DisplayName</span></div>

                        <div class="column_container max_w_30">

                            <div class="g_s240_100p g_s700_50p pad_r_15_700_st">
                                <div class="c_gray pad_b_05">@item.DisplayName:</div>
                                <div class="c_gray pad_b_05 break_all">@Html.Raw(item.NewData.IsBool() ? (Convert.ToBoolean(item.NewData) ? "<span class=\"wh1p5 mar_l_1 block icon_check_3 multi_icon bck_pos_gray\"></span>" : "<span class=\"wh1p5 mar_l_1 block icon_close_3 multi_icon bck_pos_gray\"></span>") : item.NewData )</div>
                                <div class="c_turkey pad_t_1 bolder">Registro actual</div>
                            </div>

                            <div class="relative w100p h1px mar_tb_15 to_700"><div class="split_bottom w100p"></div></div>

                            <div class="g_s240_100p g_s700_50p pad_l_15_700_st">
                                <div class="c_gray pad_b_05">@item.DisplayName:</div>
                                <div class="c_gray pad_b_05 break_all">@Html.Raw(item.OldData.IsBool() ? (Convert.ToBoolean(item.OldData) ? "<span class=\"wh1p5 mar_l_1 block icon_check_3 multi_icon bck_pos_gray\"></span>" : "<span class=\"wh1p5 mar_l_1 block icon_close_3 multi_icon bck_pos_gray\"></span>") : item.OldData)</div>
                                <div class="pad_t_1">Registro anterior</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            break;

        case ItemBinnacleConstants.ImageType:
            <div class="pad_b_2px">
                <div class="pad_15 pad_2_700_st bck_body">
                    <div class="pad_r_2 relative">
                        <span class="block absolute_tr_240_st"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionType) multi_icon bck_pos_gray"></span></span>

                        <div class="bolder pad_b_1 pad_b_15_700_st">@item.DisplayName</div>

                        <div class="column_container max_w_30">

                            <div class="g_s240_100p g_s700_50p pad_r_15_700_st text-center text-left_700_st">
                                <div class="wh5 wh8_700_st circle overflow_h mar_auto mar_0_700_st">
                                    <img class="wh100p of_cover" src="@(item.NewData == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.NewData }))" />
                                </div>
                                <div class="c_turkey pad_t_1 bolder w8_700_st text-center_700_st">Registro actual</div>
                            </div>

                            <div class="relative w100p h1px mar_tb_15 to_700"><div class="split_bottom w100p"></div></div>

                            <div class="g_s240_100p g_s700_50p pad_l_15_700_st text-center text-left_700_st">
                                <div class="wh5 wh8_700_st circle overflow_h mar_auto mar_0_700_st">
                                    <img class="wh100p of_cover" src="@(item.OldData == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.OldData }))" />
                                </div>
                                <div class="pad_t_1 w8_700_st text-center_700_st">Registro anterior</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            break;
        case ItemBinnacleConstants.ExternalType:
            <div class="pad_b_2px">
                <div class="pad_15 pad_2_700_st bck_body">
                    <div class="pad_r_2 relative">
                        <span class="block absolute_tr_240_st"><span class="wh1p5 block relative @BinnacleConstants.GetActionTypeIcon(item.ActionType) multi_icon bck_pos_gray"></span></span>

                        @{
                            switch (item.ActionType)
                            {
                                case BinnacleConstants.Insert:
                                    <div class="bolder pad_b_1 pad_b_15_700_st">Inserción de  <span class="lowercase">@item.DisplayName</span></div>
                                    break;
                                case BinnacleConstants.Update:
                                    <div class="bolder pad_b_1 pad_b_15_700_st">Cambio de  <span class="lowercase">@item.DisplayName</span></div>
                                    break;
                                case BinnacleConstants.Delete:
                                    <div class="c_red bolder pad_b_1 pad_b_15_700_st">Eliminación de  <span class="lowercase">@item.DisplayName</span></div>
                                    break;
                                default:
                                    <div class="bolder pad_b_1 pad_b_15_700_st">@item.DisplayName</div>
                                    break;
                            }
                        }

                        @if (item.Details.Where(x => x.ItemType == ItemBinnacleConstants.ImageType).ToList().Count > 0)
                        {
                            <div class="inline_divs v_mid_all">
                                @{
                                    var GUIDString = Guid.NewGuid().ToString();
                                }
                                <div class="wh2p5 circle overflow_h mar_r_1" id="@GUIDString">
                                    <img class="w100p of_cover" src="@(item.Details.Where(x => x.ItemType == ItemBinnacleConstants.ImageType).ToList().First().NewData == null ? Url.Action("ViewFile", "Application", new { FileUrl = "~/Documents/Default/default_image_2.png" }) : Url.Action("ViewFile", "Publication", new { FileUrl = item.Details.Where(x => x.ItemType == ItemBinnacleConstants.ImageType).ToList().First().NewData }))">
                                </div>

                                <div class="mdl-tooltip" for="@GUIDString">
                                    @foreach (var prop in item.Details.Where(x => x.ItemType == ItemBinnacleConstants.DefaultType).ToList())
                                    {
                                        <strong>@(prop.DisplayName + ": " + prop.NewData)</strong><br>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="column_container">
                                @foreach (var subItem in item.Details)
                                {
                                    switch (subItem.ItemType)
                                    {
                                        case ItemBinnacleConstants.DefaultType:
                                            <div class="g_s240_100p g_s700_50p g_s1366_25p pad_r_15_700_st">
                                                <div class="c_gray pad_b_05">@subItem.DisplayName:</div>
                                                <div class="c_gray pad_b_05 break_all">@subItem.NewData</div>
                                            </div>

                                            <div class="relative w100p h1px mar_tb_15 to_700"><div class="split_bottom w100p"></div></div>
                                            break;
                                        default:
                                            break;
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            break;
        default:
            break;
    }
}
