﻿@using CR.CGC.GuiasScoutsWeb.Models
@model List<Entities.Member>
@{
    PaginationToolsViewModel pagination = (PaginationToolsViewModel)ViewBag.Pagination;
    pagination.ActualRows = Model.Count;
}

@Html.Hidden("Url_Get_Pagination", Url.Action("GetGridUsers", "Configuration"))
@Html.Hidden("Container_Grid_Pagination", "GridUsers")

<div class="inline_divs pad_b_1 column_container v_mid_all pad_t_1">

    <div class="text-left inline_divs column_2">
        <div class="circle_hover pointer relative pad_1" id="DelDiv" onclick="DeleteUsers()"><div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div></div>
        <div class="mdl-tooltip" for="DelDiv"><strong>Activar / Desactivar miembros</strong></div>
    </div>

    <!-- filter + download -->
    <div class="column_2">
        <div class="text-right inline_divs">
            <div class="inline_divs text-right @(pagination.SearchText != null ? (pagination.SearchText != "" ? "" : "hide") : "hide")" id="filterContainerDiv">
                <div class="relative max_w_25 text-left h2p5 mar_lr_1" style="margin-top:5px;">
                    <a class=" pointer absolute left_0_240_st top_05_240_st z1 icon_view multi_icon icon_hover_fade inline wh1p5 bck_pos_gray" id="SearchDiv"></a>

                    <div class="mdc-text-field w100p mdc-text-field--upgraded mar_tb_0" data-mdc-auto-init="MDCTextField" style="height:2.5rem;">
                        <input class="mdc-text-field__input pad_lr_25" type="text" placeholder="Buscar" id="inputGridSearch" value="@pagination.SearchText">
                        <div class="mdc-line-ripple"></div>
                    </div>


                    <a class=" pointer absolute right_0_240_st top_05_240_st z1 icon_close_3 multi_icon inline wh1p5 bck_pos_gray" onclick="javascript:pageFunctions.unhideElem('filterButtonDiv');pageFunctions.unhideElem('filterContainerDiv');" id="SearchCloseDiv"></a>

                </div>
            </div>
            <div class="mdl-tooltip" for="SearchDiv"><strong>Buscar</strong></div>

            <div class="@(pagination.SearchText != null ? (pagination.SearchText != "" ? "hide" : "") : "")" id="filterButtonDiv">
                <div class="circle_hover pointer relative pad_1" id="FiltDiv" onclick="javascript:pageFunctions.unhideElem('filterButtonDiv');pageFunctions.unhideElem('filterContainerDiv');"><a class="icon_filter multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></a></div>
                <div class="mdl-tooltip" for="FiltDiv"><strong>Buscar</strong></div>
            </div>


            <div class="toolbar mdc-menu-anchor">
                <div class="circle_hover pointer relative pad_1 menu-button" data-menuel="download-menu" id="exportButtonDiv">
                    <!-- icon -->
                    <div class="icon_download multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                </div>
                <div class="mdc-menu mdc-menu--animating-open zoom_font mar_t_4" tabindex="-1" id="download-menu" style="min-width:8rem;">
                    <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                        <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                            <a href="#" class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1">
                                <span class="inline wh1p5 bck_pos_gray icon_excel multi_icon mar_r_1 icon_hover_fade"></span>Excel
                            </a>
                        </li>
                        <li class="mdc-list-item text-left no_padding" role="menuitem" tabindex="0">
                            <a href="#" class="c_gray v_mid_all hover_icon_all hover_to_green w100p pad_1">
                                <span class="inline wh1p5 bck_pos_gray icon_pdf multi_icon mar_r_1 icon_hover_fade"></span>Pdf
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mdl-tooltip" for="exportButtonDiv"><strong>Exportar</strong></div>

        </div>

    </div>

</div>

<div class="overflow_auto">
    <table class="mdl-data-table mdl-js-data-table @((Model.Count > 0) ? "mdl-data-table--selectable" : "") w100p overflow_h">
        <thead class="c_purple01_all bolder fs_1">
            <tr class="pad_1_divs">
                <th class="mdl-data-table__cell--non-numeric w2"></th>
                <th class="mdl-data-table__cell--non-numeric">Usuario</th>
                <th class="mdl-data-table__cell--non-numeric">Rol</th>
                <th class="mdl-data-table__cell--non-numeric">Miembro</th>
                <th class="mdl-data-table__cell--non-numeric">Estado de Miembro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr class="@(item.Enabled ? "" : "disable")" data="@item.User.UserId">
                        <td class="mdl-data-table__cell--non-numeric">
                            <div class="@(item.Enabled ? "" : "multi_icon")">
                                <div class="wh2 icon circle" style="background-image: url('@Url.Action("ViewFile", "Configuration", new { FileUrl = item.Photo })');"></div>
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">@item.User.UserName</td>
                        <td class="mdl-data-table__cell--non-numeric">@(item.User.RoleId != null ? item.User.Role.Name : "" )</td>
                        <td class="mdl-data-table__cell--non-numeric">@(item.Names + " " + item.Surnames)</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <div class="pad_l_2 relative h1">
                                <span class="circle w4px h4px absolute_240_st top_05_240_st left_05_240_st" style="background-color: @item.MemberStatus.Color; -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); box-shadow:0px 0px 10px 1px @item.MemberStatus.Color"></span>
                                @item.MemberStatus.Name
                            </div>
                        </td>
                        <td class="pad_lr_1">

                            <div class="relative">
                                <div class="actions h4 z1 absolute_tr_240_st text-right">
                                    <div class="wh2 inline multi_icon bck_pos_gray absolute_tr_240_st icon_points mar_auto bottom_0_240_st"></div>

                                    <div class="action_buttons text-right absolute h2p5 inline_divs v_mid_all w10 inline_divs">
                                        <a class="circle_hover pointer relative pad_05" id="BtnEdit@(item.MemberId)" href="@(item.Enabled ? Url.Action("EditRole", "Configuration", new { MemberId = item.MemberId }) : "#")">
                                            <div class="icon_edit multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </a>

                                        <a class="circle_hover pointer relative pad_05" id="BtnPass@(item.MemberId)" href="@(item.Enabled ? Url.Action("EditPassword", "Configuration", new { MemberId = item.MemberId }) : "#")">
                                            <div class="icon_lock multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </a>

                                        <div class="circle_hover pointer relative pad_05 disable_container" id="BtnDel@(item.MemberId)" onclick="DeleteUser(@item.User.UserId)">
                                            <div class="icon_disable multi_icon icon_hover_fade inline wh1p5 bck_pos_gray"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mdl-tooltip" for="BtnEdit@(item.MemberId)"><strong>Editar rol</strong></div>
                            <div class="mdl-tooltip" for="BtnPass@(item.MemberId)"><strong>Restablecer contraseña</strong></div>
                            <div class="mdl-tooltip" for="BtnDel@(item.MemberId)"><strong>@(item.Enabled ? "Desactivar" : "Activar") registro</strong></div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric" colspan="6">No existen registros.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.Count > 0)
{
    @Html.Partial("_TablePaginationPartial", pagination)
}


