﻿@model Entities.Member

@{
    ViewBag.Title = "Editar Rol";
}

@Html.Partial("~/Views/Configuration/Security/Roles/_AdminPartial.cshtml", "Users")

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_bottom_all c_black_all lh_2">
    <a href="@Url.Action("Users", "Configuration")" id="DivToList">Usuarios / @(Model.Names + " " + Model.Surnames)</a>
    <span> / @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver Usuarios</strong></div>

<div class="content_wrap_body">
    <div>
        <a href="@Url.Action("Users", "Configuration")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
    </div>
    <div class="italic fs_12 c_black row_lm">Restablecer contraseña</div>

    @using (Ajax.BeginForm("SaveUserPass", "Configuration", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "CreateContainer",
        OnSuccess = "OnSuccess_UserPass",
        OnFailure = "OnFailure",

    }, new { OnBegin = "OnBegin", validateFunc = "ValidateUserPass", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.Hidden("AlertTitle", "Usuarios", new { @id = "AlertTitle" })
        @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

        @Html.HiddenFor(m => m.User.UserId)

        <div class="relative pad_t_2_240_st ">

            <div class="relative pad_r_3_1366_st max_w_35">
                <div class="pad_b_2_240_st">
                    <div class="row_lm">

                        <div class="btn_ovalo bck_turkey_light relative inline w100p_240_st wauto_480_st">
                            <div class="profile circle absolute_tl_240_st w2p5 h2p5 overflow_h only_480">
                                <div class="center_absolute wh100p z1 bck_cover" style="background-image: url('@Url.Action("ViewFile", "Configuration", new { FileUrl = Model.Photo })');"></div>
                                <div class="absolute_default wh100p midd_container black fs_13 fs_2_1024_st text-center c_white"><div class="midd_cell">P</div></div>
                            </div>

                            <div class="pad_l_1_240_st pad_l_3_480_st pad_r_1 ellipsis">@(Model.Names + " " + Model.Surnames)</div>
                        </div>

                        <div class="mar_t_1">

                            <div class="text-left">
                                <div class="mdc-text-field w100p mar_0" data-mdc-auto-init="MDCTextField">
                                    <label for="Password" class="multi_icon icon_lock bck_pos_gray icon_hover_fade wh2 absolute right_0_240_st bottom_05_240_st"></label>
                                    @Html.TextBoxFor(m => m.User.Password, new
                                    {
                                        @id = "Password",
                                        @class = "mdc-text-field__input fs_1 pad_r_2",
                                        @type = "password",
                                        required = true,
                                        aria_controls = "Password-helper-text",
                                        pattern = "^(?=.*\\d)(?=.*\\W)(?=.*[A-Z])\\S{8,12}$",
                                        MaxLength = "12",
                                        oninvalid = "this.setCustomValidity('Debe contener un minimo de 8 caracteres.')",
                                        oninput = "this.setCustomValidity('')",
                                        title = "Este campo es requerido."
                                    })
                                    @Html.LabelFor(m => m.User.Password, "Contraseña", new { @for = "Password", @class = "mdc-text-field__label uppercase fs_08 bolder" })
                                    <div class="mdc-line-ripple"></div>
                                </div>
                                <p id="Password-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg text_login" aria-hidden="true">Este campo es requerido / Debe coincidir con el formato de contraseña: al menos una letra mayúscula, un número, un carácter especial y contar con un mínimo de 8 caracteres.</p>
                            </div>

                            <div class="text-left">
                                <div class="mdc-text-field w100p mar_0" data-mdc-auto-init="MDCTextField">
                                    <label for="PasswordResetToken" class="multi_icon icon_check_1 bck_pos_gray icon_hover_fade wh1p5  absolute right_0_240_st bottom_05_240_st"></label>
                                    @Html.TextBoxFor(m => m.User.PasswordResetToken, new
                                    {
                                        @id = "PasswordResetToken",
                                        @class = "mdc-text-field__input fs_1 pad_r_2",
                                        @type = "password",
                                        required = true,
                                        aria_controls = "PasswordResetToken-helper-text",
                                        pattern = "^(?=.*\\d)(?=.*\\W)(?=.*[A-Z])\\S{8,12}$",
                                        MaxLength = "12",
                                        oninvalid = "this.setCustomValidity('Debe contener un minimo de 8 caracteres.')",
                                        oninput = "this.setCustomValidity('')",
                                        title = "Este campo es requerido."
                                    })
                                    @Html.LabelFor(m => m.User.PasswordResetToken, "Confirmar", new { @for = "PasswordResetToken", @class = "mdc-text-field__label uppercase fs_08 bolder" })
                                    <div class="mdc-line-ripple"></div>
                                </div>
                                <p id="PasswordResetToken-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg text_login" aria-hidden="true">Este campo es requerido / Debe coincidir con el formato de contraseña: al menos una letra mayúscula, un número, un carácter especial y contar con un mínimo de 8 caracteres.</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="pad_t_4 text-right">
                <div class="inline_divs v_mid_all w100p">
                    <a href="@Url.Action("Users", "Configuration")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2" data-ajax="false">Cancelar</a>

                    <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
                        <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                    </button>
                    <div class="mdl-tooltip" for="BtnSave"><strong>Guardar Usuario</strong></div>
                </div>
            </div>

        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/Configuration/Users/EditPassword.js")
}
