﻿@model Entities.Member

@{
    ViewBag.Title = "Editar Rol";
}

@Html.Partial("~/Views/Configuration/Security/Roles/_AdminPartial.cshtml", "Users")

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_bottom_all c_black_all lh_2">
    <a href="@Url.Action("Users", "Configuration")" id="DivToList">Usuarios / @(Model.Names + " " + Model.Surnames)</a>
    <span> / @ViewBag.Title</span>
</div>
<div class="mdl-tooltip" for="DivToList"><strong>Ver Usuarios</strong></div>

<div class="content_wrap_body">
    <div>
        <a href="@Url.Action("Users", "Configuration")" class="italic fs_12 v_mid_all c_black icon_hover_all hover_to_green"><span class="icon_back multi_icon bck_pos_black inline wh1p2 mar_r_05 icon_hover_fade"></span> Volver</a>
    </div>
    <div class="italic fs_12 c_black row_lm">Información general</div>

    <div class="relative pad_t_2_240_st pad_t_3_480_st ">

        @using (Ajax.BeginForm("SaveUserRole", "Configuration", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "CreateContainer",
            OnSuccess = "OnSuccess_UserRole",
            OnFailure = "OnFailure",

        }, new { OnBegin = "OnBegin", validateFunc = "ValidateUserRole", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.Hidden("AlertTitle", "Usuarios", new { @id = "AlertTitle" })
            @Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

            @Html.HiddenFor(m => m.User.UserId)

            <div class="relative w40_1366_st pad_r_3_1366_st max_w_40 max_w_none_1366_st">
                <div class="pad_b_2_240_st">
                    <div class="pad_lr_2">

                        <div class="relative w8 h8">
                            <div class="profile circle relative w8 h8 overflow_h">
                                <div class="center_absolute wh100p z1 bck_cover" style="background-image: url('@Url.Action("ViewFile", "Configuration", new { FileUrl = Model.Photo })');"></div>
                                <div class="absolute_default wh100p midd_container black fs_13 fs_2_1024_st text-center c_white"><div class="midd_cell">P</div></div>
                            </div>
                        </div>

                        <div class="row_lm">
                            <div class="fs_12 relative pad_r_5_700_st">
                                <div class="pad_r_2_700_st ellipsis pad_b_1_240_st pad_b_0_700_st bolder">@(Model.Names + " " + Model.Surnames)</div>

                                <div class="pad_l_2 relative_240_st absolute_tr_700_st fs_09 italic">
                                    <span class="circle w4px h4px absolute_240_st top_05_240_st left_05_240_st" style="background-color: @Model.MemberStatus.Color; -moz-box-shadow: 0px 0px 10px 1px @Model.MemberStatus.Color; -webkit-box-shadow: 0px 0px 10px 1px @Model.MemberStatus.Color; box-shadow:0px 0px 10px 1px @Model.MemberStatus.Color"></span>
                                    <span class="opa_50 c_gray">@Model.MemberStatus.Name</span>
                                </div>
                            </div>

                            <div class="pad_t_1_700_st">
                                <div class="hide">
                                    @Html.DropDownListFor(m => m.User.RoleId, (SelectList)ViewBag.RoleList, "Seleccione una Opción", new { @id = "RoleId", @name = "RoleId", placeholder = "Rol" })
                                </div>
                                <div id="RoleIdSelectDiv"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="pad_t_4 text-right">
                <div class="inline_divs v_mid_all w100p">
                    <a href="@Url.Action("Users", "Configuration")" class="uppercase c_gray_to_purple_all bolder fs_08 pad_r_2" data-ajax="false">Cancelar</a>

                    <button type="submit" class="btn_ovalo bck_guias uppercase bold pointer pad_lr_09" id="BtnSave">
                        <span class="wh1p3 icon_save multi_icon bck_pos_white block z1 relative"></span>
                    </button>
                    <div class="mdl-tooltip" for="BtnSave"><strong>Guardar Usuario</strong></div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/Configuration/Users/EditRole.js")
}
