﻿@using CR.CGC.GuiasScoutsWeb.Common
@{
    ViewBag.Title = "Usuarios";
}

@Html.Hidden("AlertTitle", (string)ViewBag.Title, new { @id = "AlertTitle" })
@Html.Hidden("VerificationText", "¿Desea continuar con la operación?", new { @id = "VerificationText" })

@Html.Hidden("Url_Delete", Url.Action("DeleteUser", "Configuration"))

@Html.Partial("~/Views/Configuration/Security/Roles/_AdminPartial.cshtml", "Users")

<div class="content_wrap_body nav_title b_bottom_gray inline_divs v_mid_all c_black_all lh_2">
    <span>Usuarios</span>
</div>

<div class="content_wrap_body">
    <div id="GridUsers">
        @Html.Action("GetGridUsers", "Configuration")
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/Views/Configuration/Users/Index.js")
}


